Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fix(rome_js_formatter): Fix arrow binding parameter in test call (#3399)
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_test_callback.js
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_test_callback.js.snap
Owners: @ematipico, @MichaReiser

refactor(rome_formater): Inline `FormatElement::Text`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/utils/jsx.rs
Owners: @ematipico, @MichaReiser

Fix tests
  crates/rome_formatter/src/arguments.rs
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/macros.rs
Owners: @ematipico, @MichaReiser

chore: code suggestions
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

chore: use workspace metadata
  Cargo.toml
  crates/rome_analyze/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_console/Cargo.toml
  crates/rome_control_flow/Cargo.toml
  crates/rome_css_factory/Cargo.toml
  crates/rome_css_syntax/Cargo.toml
  crates/rome_diagnostics/Cargo.toml
  crates/rome_diagnostics_categories/Cargo.toml
  crates/rome_diagnostics_macros/Cargo.toml
  crates/rome_flags/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_factory/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_syntax/Cargo.toml
  crates/rome_json_factory/Cargo.toml
  crates/rome_json_syntax/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_markup/Cargo.toml
  crates/rome_rowan/Cargo.toml
  crates/rome_service/Cargo.toml
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_size/Cargo.toml
  crates/rome_wasm/Cargo.toml
  crates/tests_macros/Cargo.toml
  xtask/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/contributors/Cargo.toml
  xtask/coverage/Cargo.toml
  xtask/libs_bench/Cargo.toml
  xtask/lintdoc/Cargo.toml
Owners: @rome/staff, @leops, @xunilrj, @ematipico, @MichaReiser

fix: revert wasm changes.. wasm-pack is outdated
  crates/rome_wasm/Cargo.toml
Owners: @rome/staff

docs(website): small QoL for rules page
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

feat(rome_js_formatter): Object Pattern Formatting
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/js/statements/empty_statement.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/types/union_type.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/object_pattern_like.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/destructuring-heuristic.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/destructuring/issue-5988.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/break-last-member.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/location.ts.snap
  crates/rome_js_formatter/tests/specs/ts/declaration/variable_declaration.ts.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

Restore lib.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element.rs
Owners: @ematipico, @MichaReiser

Documentation
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/source_map.rs
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_js_formatter/src/utils/object_pattern_like.rs
Owners: @ematipico, @MichaReiser

fix: version of the website
  website/.eleventy.js
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

fix: outdated documentation
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

format
  website/.eleventy.js
  website/package.json
Owners: @rome/staff

Doc link
  crates/rome_formatter/src/source_map.rs
Owners: @ematipico, @MichaReiser

Documentation
  crates/rome_js_formatter/src/utils/assignment_like.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_syntax): Remove `JsIdentifierBinding` from object pattern member
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_dupe_args.rs
  crates/rome_js_formatter/src/js/any/object_binding_pattern_member.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  xtask/codegen/js.ungram
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

docs(website): small QoL for rules page (#3407)
  website/.eleventy.js
  website/package.json
  website/src/_includes/docs/project-config.md
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

perf(rome_formater): Inline `FormatElement::Text` (#3403)
  crates/rome_formatter/src/arguments.rs
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/utils/jsx.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Object Pattern Formatting (#3405)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/js/statements/empty_statement.rs
  crates/rome_js_formatter/src/ts/types/union_type.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/object_pattern_like.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/destructuring-heuristic.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/destructuring/issue-5988.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/break-last-member.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/location.ts.snap
  crates/rome_js_formatter/tests/specs/ts/declaration/variable_declaration.ts.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

fix(rome_js_syntax): Remove `JsIdentifierBinding` from object binding pattern member union (#3408)
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_dupe_args.rs
  crates/rome_js_formatter/src/js/any/object_binding_pattern_member.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  xtask/codegen/js.ungram
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

feat(rome_js_analyze): compute `AnalyzerOptions` from `Workspace` (#3381)
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @xunilrj, @ematipico

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
Owners: @leops, @xunilrj

fix(rome_diagnostics): fix unknown rule warning false positive
  Cargo.lock
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/registry.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/codegen/src/generate_analyzer.rs
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

address PR review
  crates/rome_analyze/src/registry.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

feat(rome_js_analyze): new rule `noExplicitAny`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_explicit_any.rs
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidClass.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidClass.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidFunction.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidFunction.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidTypeAndInterface.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidTypeAndInterface.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidVariable.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidVariable.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noExplicitAny.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
  crates/rome_js_analyze/tests/specs/nursery/useAnchorContent.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAnchorContent.jsx.snap
  website/src/docs/lint/rules/useAnchorContent.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_diagnostics): fix unknown rule warning false positive (#3412)
  Cargo.lock
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/registry.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: address PR feedback
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_explicit_any.rs
Owners: @leops, @xunilrj

fix(rome_cli): prevent the socket transport from printing an error on shutdown
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/mod.rs
Owners: @leops

fix(rome_cli): improve the main help text
  crates/rome_cli/src/commands/help.rs
Owners: @leops

Apply suggestions from code review
  crates/rome_diagnostics/CONTRIBUTING.md
Owners: @rome/staff

Move more constants to test specific files
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/main.rs
Owners: @leops

address PR review
  crates/rome_diagnostics/CONTRIBUTING.md
Owners: @rome/staff

address PR review
  crates/rome_cli/src/commands/help.rs
Owners: @leops

fix(rome_cli): prevent the socket transport from printing an error on shutdown (#3417)
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/mod.rs
Owners: @leops

fix(rome_cli): improve the main help text (#3418)
  crates/rome_cli/src/commands/help.rs
Owners: @leops

fix: version number
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_explicit_any.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noExplicitAny.md
Owners: @leops, @xunilrj, @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
