Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

Fix vite
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

Fix workers for firefox
  website/playground/src/App.tsx
Owners: @rome/staff

Fix rome check
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
Owners: @rome/staff

chore(website): fix incorrect command
  website/package.json
  website/pnpm-lock.yaml
Owners: @rome/staff

chore(website): fix incorrect command (#2875)
  website/package.json
  website/pnpm-lock.yaml
Owners: @rome/staff

feat(rome_js_analyze): noCatchAssign (#2849)
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_catch_assign.rs
  crates/rome_js_analyze/tests/specs/js/noCatchAssign.js
  crates/rome_js_analyze/tests/specs/js/noCatchAssign.js.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noCatchAssign.md
Owners: @leops, @xunilrj, @rome/staff

Fix
  website/playground/src/App.tsx
  website/playground/src/MobilePlayground.tsx
Owners: @rome/staff

perf(playground): code improvements (#2863)
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/App.tsx
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/prettierWorker.ts
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
  website/playground/vite.config.ts
Owners: @rome/staff

fix(playground): correct placeholder
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

fix(playground): correct placeholder (#2877)
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

feat(rome_js_semantic): Enrich the semantic model with read/write information (#2874)
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

chore: deploy rust doc to github pages
  .github/workflows/main.yml
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_console/Cargo.toml
  crates/rome_control_flow/Cargo.toml
  crates/rome_css_factory/Cargo.toml
  crates/rome_css_syntax/Cargo.toml
  crates/rome_diagnostics/Cargo.toml
  crates/rome_flags/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_factory/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_syntax/Cargo.toml
  crates/rome_json_factory/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_markup/Cargo.toml
  crates/rome_service/Cargo.toml
  crates/rome_text_edit/Cargo.toml
  website/playground/Cargo.toml
Owners: @rome/staff, @leops, @xunilrj, @ematipico, @MichaReiser

chore: add file to turn off jekyll
  .nojekyll
Owners: @rome/staff

chore: deploy rust doc to github pages (#2879)
  .github/workflows/main.yml
  .nojekyll
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_console/Cargo.toml
  crates/rome_control_flow/Cargo.toml
  crates/rome_css_factory/Cargo.toml
  crates/rome_css_syntax/Cargo.toml
  crates/rome_diagnostics/Cargo.toml
  crates/rome_flags/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_factory/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_syntax/Cargo.toml
  crates/rome_json_factory/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_markup/Cargo.toml
  crates/rome_service/Cargo.toml
  crates/rome_text_edit/Cargo.toml
  website/playground/Cargo.toml
Owners: @rome/staff, @leops, @xunilrj, @ematipico, @MichaReiser

refactor: 💡 (rome_js_analyze)
  crates/rome_js_analyze/src/semantic_analyzers/js/no_catch_assign.rs
Owners: @leops, @xunilrj

refactor: 💡 use model.all_writes
  crates/rome_js_analyze/src/semantic_analyzers/js/no_catch_assign.rs
Owners: @leops, @xunilrj

feat(rome_service, rome_cli): linter via configuration (#2866)
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/linter.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

feat(rome_cli): read configuration file
  crates/rome_cli/src/lib.rs
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

chore: remove old files
  crates/rome_cli/tests/configs/disabled_format.json
  crates/rome_cli/tests/configs/format.json
Owners: @leops

refactor: read configuration file via file system trait
  crates/rome_cli/src/lib.rs
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

chore: clippy suggestions
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

test: disabled format
  crates/rome_cli/tests/configs/disabled_format.json
  crates/rome_cli/tests/configs/format.json
Owners: @leops

chore: better error handling, test and code review
  crates/rome_cli/tests/main.rs
Owners: @leops

feat(rome_service, rome_cli): linter via configuration
  crates/rome_cli/tests/main.rs
Owners: @leops

chore: clippy
  crates/rome_lsp/src/session.rs
Owners: @ematipico

feat(rome_lsp): load and use configuration from file system
  crates/rome_fs/src/fs.rs
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
Owners: @leops, @ematipico

feat(rome_rowan): batch mutation for syntax nodes (#2852)
  Cargo.lock
  crates/rome_rowan/Cargo.toml
  crates/rome_rowan/benches/mutation.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/syntax_node_text.rs
  crates/rome_rowan/src/tree_builder.rs
Owners: @rome/staff

refactor(rome_analyze): merge analyzer phases
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/services.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_arguments.rs
  crates/rome_js_analyze/src/semantic_services.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

feat(rome_lsp): read configuration file (#2872)
  crates/rome_fs/src/fs.rs
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
Owners: @leops, @ematipico

feat(rome_cli): init command
  .cargo/config.toml
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_fs/src/lib.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/load_config.rs
Owners: @rome/staff, @leops, @ematipico

chore: rebase
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_service/src/configuration/linter.rs
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

chore: code review
  .cargo/config.toml
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_fs/src/lib.rs
  crates/rome_service/src/configuration/mod.rs
Owners: @rome/staff, @leops, @ematipico

chore: rebase
  crates/rome_cli/src/commands/format.rs
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/settings.rs
Owners: @leops, @ematipico

feat(rome_cli): init command (#2876)
  .cargo/config.toml
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_fs/src/lib.rs
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/linter.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/load_config.rs
  crates/rome_service/src/settings.rs
Owners: @rome/staff, @leops, @ematipico

fix: 🐛 fix wrong prettier format result
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

feat: 🎸 make lint rule and category more recognizable
  website/src/styles/_content.scss
Owners: @rome/staff

feat: 🎸 (vscode): add a trace channel for better debugging
  crates/rome_diagnostics/src/lib.rs
  crates/rome_lsp/src/utils.rs
  editors/vscode/package.json
  editors/vscode/src/main.ts
Owners: @rome/staff, @ematipico

fix: 🐛 remove redundant comment
  editors/vscode/src/main.ts
Owners: @rome/staff

lint rule no shouty constants
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @leops, @xunilrj, @rome/staff

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js.snap
  crates/rome_rowan/src/ast/batch.rs
Owners: @leops, @xunilrj, @rome/staff
