Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

feat(rome_js_analyze): no unused starting with underscore; small hack for React and removing suggested fix (#3124)
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

ci: add action to install wasm-pack globally
  .github/workflows/runtime.yml
  crates/rome_service/src/workspace_types.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/src/daemon.ts
Owners: @rome/staff, @leops, @ematipico

feat(rome_formatter): Custom separator per `Fill` item (#3125)
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
Owners: @ematipico, @MichaReiser

feat(npm): allow to set global settings (#3123)
  .cargo/config.toml
  .github/workflows/runtime.yml
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_js_syntax/src/suppression.rs
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_wasm/build.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/daemon.ts
  npm/rome/src/index.ts
  npm/rome/src/nodeWasm.ts
  npm/rome/src/utils.ts
  npm/rome/tests/wasm/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/wasm/formatContent.test.mjs
  npm/rome/tests/wasm/formatFiles.test.mjs
  website/playground/package.json
  website/playground/src/romeWorker.ts
  xtask/codegen/src/generate_bindings.rs
Owners: @rome/staff, @leops, @ematipico

feat(rome_js_formatter): Heuristic for flat arrays
  crates/rome_js_formatter/src/js/declarations/for_variable_declaration.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/array/array_nested.js.snap
  crates/rome_js_formatter/tests/specs/js/module/array/empty_lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/issue-10159.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers-negative.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers-with-tricky-comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers2.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers3.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/preserve_empty_lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each-template-string.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/trailing-comma/trailing_whitespace.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/cast/generic-cast.ts.snap
Owners: @ematipico, @MichaReiser

feat(rome_formatter): Flatten with entry specific separator
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
Owners: @ematipico, @MichaReiser

Merge with main
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  website/api/constants.js
Owners: @ematipico, @MichaReiser, @rome/staff

Update crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
Owners: @ematipico, @MichaReiser

Documentation
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Heuristic for fill arrays (#3126)
  crates/rome_js_formatter/src/js/declarations/for_variable_declaration.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/array/array_nested.js.snap
  crates/rome_js_formatter/tests/specs/js/module/array/empty_lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/issue-10159.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers-negative.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers-with-tricky-comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers2.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers3.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/preserve_empty_lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each-template-string.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/trailing-comma/trailing_whitespace.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/cast/generic-cast.ts.snap
  website/api/constants.js
Owners: @ematipico, @MichaReiser, @rome/staff

My beloved friend clippy
  crates/rome_js_formatter/src/parentheses.rs
Owners: @ematipico, @MichaReiser

Format files
  crates/rome_js_formatter/src/ts/types/type_operator_type.rs
Owners: @ematipico, @MichaReiser

test(rome_js_formatter): Document array-fill comments difference
  crates/rome_js_formatter/tests/specs/js/module/prettier-differences/fill-array-comments.js
  crates/rome_js_formatter/tests/specs/js/module/prettier-differences/fill-array-comments.js.snap
Owners: @ematipico, @MichaReiser

test(rome_js_formatter): Document array-fill comments difference (#3130)
  crates/rome_js_formatter/tests/specs/js/module/prettier-differences/fill-array-comments.js
  crates/rome_js_formatter/tests/specs/js/module/prettier-differences/fill-array-comments.js.snap
Owners: @ematipico, @MichaReiser

Update Node tests
  npm/rome/tests/daemon.test.mjs
  npm/rome/tests/wasm.test.mjs
  npm/rome/tests/wasm/formatContent.test.mjs
Owners: @rome/staff

fix(rome_lsp, vscode): load config from custom base path
  Cargo.lock
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/mod.rs
  editors/vscode/package-lock.json
  editors/vscode/package.json
Owners: @rome/staff, @leops, @ematipico

chore: clippy
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

fix(rome_lsp, vscode): load config from custom base path (#3131)
  Cargo.lock
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/mod.rs
  editors/vscode/package-lock.json
  editors/vscode/package.json
Owners: @rome/staff, @leops, @ematipico

Format generated files
  .github/workflows/pull_request.yml
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

Only use single align
  crates/rome_js_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

Format JS files
  npm/rome/src/nodeWasm.ts
  website/playground/workers-site/index.js
  website/src/_includes/scripts/index.js
Owners: @rome/staff

Add tests for `is_doc_comment`
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Indent Doc comments
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/comment-in-the-middle.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/binary-expressions-parens.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/multi-comments-on-same-line.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/single-star-jsdoc.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/trailing-jsdocs.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/empty-paren-comment/class.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_async.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_fakeAsync.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_waitForAsync.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angularjs_inject.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/abstract_class.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/methods.ts.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Indent Doc comments (#3129)
  .github/workflows/pull_request.yml
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/comment-in-the-middle.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/binary-expressions-parens.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/multi-comments-on-same-line.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/single-star-jsdoc.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/trailing-jsdocs.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/empty-paren-comment/class.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_async.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_fakeAsync.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_waitForAsync.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angularjs_inject.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/abstract_class.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/methods.ts.snap
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/src/nodeWasm.ts
  website/playground/workers-site/index.js
  website/src/_includes/scripts/index.js
Owners: @rome/staff, @ematipico, @MichaReiser

perf(rome_formatter): Make source maps optional
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/tests/spec_test.rs
  xtask/bench/src/lib.rs
Owners: @ematipico, @MichaReiser, @rome/staff

feat(rome_js_formatter): Format Arrow Chains
  crates/rome_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/auxiliary/initializer_clause.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/argument-expansion/arrow-with-return-type.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/arrow/issue-6107-curry.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/compiler/contextualSignatureInstantiation2.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conformance/classes/mixinClassesAnnotated.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/generic/arrow-return-type.ts.snap
  crates/rome_js_formatter/tests/specs/ts/arrow_chain.ts
  crates/rome_js_formatter/tests/specs/ts/arrow_chain.ts.snap
Owners: @ematipico, @MichaReiser

Rephrase `should_expand` documentation
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
Owners: @ematipico, @MichaReiser

Add quotes around `true`
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

no unused variables supporting ts overload
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_formatter): Format Arrow Chains (#3122)
  crates/rome_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/auxiliary/initializer_clause.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/argument-expansion/arrow-with-return-type.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/arrow/issue-6107-curry.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/compiler/contextualSignatureInstantiation2.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conformance/classes/mixinClassesAnnotated.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/generic/arrow-return-type.ts.snap
  crates/rome_js_formatter/tests/specs/ts/arrow_chain.ts
  crates/rome_js_formatter/tests/specs/ts/arrow_chain.ts.snap
Owners: @ematipico, @MichaReiser

chore: update contribution guidelines
  CONTRIBUTING.md
Owners: @rome/staff

fix(rome_bin): improve error handling for Unix domain sockets
  crates/rome_bin/src/service/unix.rs
Owners: @rome/staff

no unused variables supporting ts overload (#3135)
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_bin): improve error handling for Unix domain sockets (#3137)
  crates/rome_bin/src/service/unix.rs
Owners: @rome/staff

feat(vscode): add a status bar item for the language server
  editors/vscode/src/commands/index.ts
  editors/vscode/src/main.ts
  editors/vscode/src/status_bar.ts
Owners: @rome/staff

feat(rome_service): allow workspace clients to provide a language ID as a hint for paths without a file extension
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_js_syntax/src/source_type.rs
  crates/rome_lsp/src/documents.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/src/main.ts
Owners: @leops, @rome/staff, @ematipico

address PR review
  editors/vscode/src/main.ts
  editors/vscode/src/statusBar.ts
Owners: @rome/staff
