Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

style: 💄 fmt
  crates/rome_js_analyze/src/lib.rs
Owners: @leops, @xunilrj

test: 💍 add more test case
  crates/rome_js_analyze/src/analyzers/use_template.rs
  crates/rome_js_analyze/tests/specs/useTemplate.js
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap
Owners: @leops, @xunilrj

chore: 🤖 remove unnecessary dep
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
Owners: @rome/staff, @leops, @xunilrj

docs: ✏️ add some doc
  crates/rome_js_analyze/src/analyzers/use_template.rs
Owners: @leops, @xunilrj

scope ancestors, scope equality and improved declaration method for the semantic model
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

chore: 🤖 update doc
  website/src/docs/lint/rules/index.md
Owners: @rome/staff

test: 💍 add extra test case
  crates/rome_js_analyze/tests/specs/useTemplate.js
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap
Owners: @leops, @xunilrj

chore: 🤖 rebase main
  crates/rome_js_analyze/src/analyzers.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/tests/specs/js/useTemplate.js
  crates/rome_js_analyze/tests/specs/js/useTemplate.js.snap
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTemplate.md
Owners: @leops, @xunilrj, @rome/staff

test: 💍 udpate doc and test
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/tests/specs/js/useTemplate.js.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTemplate.md
Owners: @leops, @xunilrj, @rome/staff

feature(rome_js_formatter): Track suppression handling (#2780)
  Cargo.lock
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/classes/property_class_member.rs
  crates/rome_js_formatter/src/js/module/import_named_clause.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/format_conditional.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_rowan/src/syntax/token.rs
Owners: @rome/staff, @ematipico, @MichaReiser

chore(playground): remove TreeStyle and related functionality (#2892)
  Cargo.lock
  website/playground/Cargo.toml
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/App.tsx
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/TreeStyleSelect.tsx
  website/playground/src/TreeView.tsx
  website/playground/src/lib.rs
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @rome/staff

ci: remove double quotes from the version (#2893)
  npm/rome/scripts/update-nightly-version.mjs
Owners: @rome/staff

ci: using the preview version (#2894)
  .github/workflows/pull_request_js.yml
Owners: @rome/staff

fix: 🐛 cr issues
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/src/utils.rs
Owners: @leops, @xunilrj

PR review
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_services.rs
Owners: @leops, @xunilrj

feat(rome_js_analyze): useTemplate (#2803)
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/js/useTemplate.js
  crates/rome_js_analyze/tests/specs/js/useTemplate.js.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTemplate.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

chore(website): Tweak lint rule page UI, make category more recognizable (#2884)
  website/src/styles/_content.scss
Owners: @rome/staff

feat(rome_service): auto generate configuration for rules (#2890)
  CONTRIBUTING.md
  Cargo.lock
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/linter.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/main.rs
Owners: @rome/staff, @leops, @ematipico

wip
  crates/rome_analyze/src/rule.rs
  crates/rome_js_analyze/src/analyzers/js/no_async_promise_executor.rs
Owners: @leops, @xunilrj

chore: code review
  .cargo/config.toml
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_js_analyze/src/analyzers/js/no_compare_neg_zero.rs
  crates/rome_js_analyze/src/analyzers/js/no_dead_code.rs
  crates/rome_js_analyze/src/analyzers/js/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/js/no_delete.rs
  crates/rome_js_analyze/src/analyzers/js/no_double_equals.rs
  crates/rome_js_analyze/src/analyzers/js/no_empty_pattern.rs
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
  crates/rome_js_analyze/src/analyzers/js/no_sparse_array.rs
  crates/rome_js_analyze/src/analyzers/js/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/js/no_unsafe_negation.rs
  crates/rome_js_analyze/src/analyzers/js/no_unused_template_literal.rs
  crates/rome_js_analyze/src/analyzers/js/use_block_statements.rs
  crates/rome_js_analyze/src/analyzers/js/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_case_statement.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_var_declarator.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/src/analyzers/js/use_valid_typeof.rs
  crates/rome_js_analyze/src/analyzers/js/use_while.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_comment_text.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_implicit_boolean.rs
  crates/rome_js_analyze/src/analyzers/jsx/use_self_closing_elements.rs
  crates/rome_js_analyze/src/analyzers/regex/no_multiple_spaces_in_regular_expression_literals.rs
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/src/assists/js/flip_bin_exp.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_arguments.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_catch_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_label_var.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTemplate.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj

chore: move configuration generation in another command
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/main.rs
Owners: @leops, @ematipico, @rome/staff

docs: move documentation inside crates
  CONTRIBUTING.md
  crates/rome_cli/src/bin/rome.rs
  crates/rome_cli/src/lib.rs
  crates/rome_js_formatter/docs/implement_the_formatter.md
  crates/rome_js_formatter/docs/write_tests.md
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_parser/docs/authoring_parse_rules.md
  crates/rome_js_parser/docs/write_tests.md
  crates/rome_js_parser/src/lib.rs
  crates/rome_service/src/lib.rs
Owners: @rome/staff, @leops, @ematipico, @MichaReiser, @xunilrj

chore: code review
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
Owners: @leops, @xunilrj

chore: clippy is now happy
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_parser/src/lib.rs
Owners: @ematipico, @MichaReiser, @xunilrj

Apply suggestions from code review
  crates/rome_js_parser/src/lib.rs
Owners: @MichaReiser, @xunilrj

chore: code review
  crates/rome_js_parser/src/lib.rs
Owners: @MichaReiser, @xunilrj

feat: replace the system allocator with mimalloc on Windows
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/bin/rome.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/main.rs
  xtask/bench/Cargo.toml
  xtask/bench/src/main.rs
Owners: @rome/staff, @leops, @ematipico

remove useless implementation
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
Owners: @leops, @xunilrj

formatting lint examples
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
Owners: @leops, @xunilrj

hoisting function declaration for no function reassign lint rule
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @leops, @xunilrj

lint documentation
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noFunctionAssign.md
Owners: @rome/staff

rebase
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noFunctionAssign.md
Owners: @leops, @xunilrj, @rome/staff

feat: replace the system allocator with mimalloc on Windows (#2900)
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/bin/rome.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/main.rs
  xtask/bench/Cargo.toml
  xtask/bench/src/main.rs
Owners: @rome/staff, @leops, @ematipico

feat(vscode): add a trace channel for better debugging (#2885)
  crates/rome_diagnostics/src/lib.rs
  crates/rome_lsp/src/utils.rs
  editors/vscode/package.json
  editors/vscode/src/main.ts
Owners: @rome/staff, @ematipico

ci: 🎡 fix broken ci result
  editors/vscode/package-lock.json
  editors/vscode/package.json
Owners: @rome/staff

chore: 🤖 update rome to `next`
  website/api/server.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/_includes/scripts/funding.js
Owners: @rome/staff

fix: 🐛 CI in vscode
  editors/vscode/package.json
  editors/vscode/scripts/updateVersionForPrerelease.mjs
Owners: @rome/staff

fix(CI): broken format result (#2901)
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/scripts/updateVersionForPrerelease.mjs
  website/api/server.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/_includes/scripts/funding.js
Owners: @rome/staff

note when reassignment is from hoisted reference
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
