Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

Implement prefer-numeric-literals rule
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/style.rs
  crates/rome_js_analyze/src/analyzers/style/prefer_numeric_literals.rs
  crates/rome_js_analyze/tests/specs/style/preferNumericLiterals.js
  crates/rome_js_analyze/tests/specs/style/preferNumericLiterals.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

reorder
  crates/rome_js_analyze/src/analyzers/style/prefer_numeric_literals.rs
Owners: @leops, @xunilrj

lint
  crates/rome_js_analyze/src/analyzers/style/prefer_numeric_literals.rs
Owners: @leops, @xunilrj

bindings
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

More polish
  website/.eleventy.js
  website/package.json
  website/src/_includes/blog-post-info.liquid
  website/src/_includes/docs/cli-screenshots/noUnreachable-example.md
  website/src/_includes/docs/getting-started.md
  website/src/_includes/layouts/base.liquid
  website/src/_includes/layouts/blog.liquid
  website/src/_includes/layouts/page.liquid
  website/src/_includes/scripts/index.js
  website/src/_includes/svg/homepage/lightning.svg
  website/src/blog/posts/2022-11-08-rome-10.md
  website/src/docsearch-css.liquid
  website/src/docsearch-js.liquid
  website/src/index.md
  website/src/styles/_blog.scss
  website/src/styles/_content.scss
  website/src/styles/_footer.scss
  website/src/styles/_global.scss
  website/src/styles/_header.scss
  website/src/styles/_homepage.scss
  website/src/styles/_sidebar.scss
  website/src/styles/index.scss
  website/static/img/homepage-vscode-screenshot-dark.png
  website/static/img/homepage-vscode-screenshot-light.png
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

Update pnpm
  website/pnpm-lock.yaml
Owners: @rome/staff

Fix variable
  website/src/_includes/scripts/index.js
Owners: @rome/staff

Fix misc bugs
  website/src/_includes/scripts/index.js
  website/src/styles/_homepage.scss
  website/static/img/homepage-vscode-screenshot-light.png
Owners: @rome/staff

Add alt text for SVGs
  website/src/_includes/layouts/base.liquid
  website/src/index.md
Owners: @rome/staff

Blog post polish
  website/src/_includes/layouts/blog.liquid
  website/src/blog/posts/2022-11-08-rome-10.md
  website/src/styles/_blog.scss
  website/src/styles/_buttons.scss
  website/src/styles/_content.scss
  website/src/styles/_homepage.scss
  website/src/styles/index.scss
Owners: @rome/staff

update
  crates/rome_js_analyze/src/analyzers/style/prefer_numeric_literals.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/preferNumericLiterals.md
Owners: @leops, @xunilrj, @rome/staff

codegen schema
  editors/vscode/configuration_schema.json
Owners: @rome/staff

More polish
  website/src/_includes/inner-footer.liquid
  website/src/_includes/layouts/base-page.liquid
  website/src/_includes/layouts/base.liquid
  website/src/_includes/layouts/docs.liquid
  website/src/_includes/scripts/index.js
  website/src/styles/_docs.scss
  website/src/styles/_footer.scss
  website/src/styles/_grid.scss
  website/src/styles/_header.scss
  website/src/styles/_homepage.scss
  website/src/styles/_team.scss
Owners: @rome/staff

More polish
  website/src/_includes/layouts/docs.liquid
  website/src/_includes/layouts/page.liquid
  website/src/_includes/scripts/index.js
  website/src/blog/posts/2022-11-08-rome-10.md
  website/src/docs/index.md
  website/src/styles/_blog.scss
  website/src/styles/_buttons.scss
  website/src/styles/_docs.scss
  website/src/styles/_global.scss
  website/src/styles/_homepage.scss
  website/static/img/homepage-vscode-screenshot-light.png
Owners: @rome/staff

More polish
  npm/rome/README.md
  website/.eleventy.js
  website/src/_includes/layouts/docs.liquid
  website/src/blog/posts/2022-11-08-rome-10.md
  website/src/docs/index.md
  website/src/docs/lint/rules/index.md
  website/src/styles/_content.scss
  website/src/styles/_docs.scss
Owners: @rome/staff

Add lint example
  website/src/_includes/scripts/index.js
  website/src/index.liquid
  website/src/styles/_homepage.scss
Owners: @rome/staff

feat(playground): add settings button and group IR
  website/playground/src/App.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/Playground.tsx
  website/playground/src/SettingsMenu.tsx
Owners: @rome/staff

update
  crates/rome_js_analyze/src/analyzers/style/prefer_numeric_literals.rs
  crates/rome_js_analyze/tests/specs/style/preferNumericLiterals.js
  crates/rome_js_analyze/tests/specs/style/preferNumericLiterals.js.snap
Owners: @leops, @xunilrj

chore: Upgrade to Rust 1.65.0 (#3557)
  crates/rome_analyze/src/services.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_function_assign.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/cst.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_formatter/src/utils/array.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/tests/specs/prettier/js/shebang/shebang.js.snap
  crates/rome_js_parser/src/parser/parse_error.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/src/syntax/js_parse_error.rs
  crates/rome_js_parser/src/syntax/stmt.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/src/test_utils.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_syntax/src/numbers.rs
  crates/rome_rowan/src/cow_mut.rs
  crates/rome_rowan/src/green/node.rs
  crates/rome_rowan/src/green/token.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  rust-toolchain.toml
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/contributors/src/main.rs
  xtask/coverage/src/js/test262.rs
  xtask/coverage/src/runner.rs
  xtask/libs_bench/benches/contains.rs
  xtask/libs_bench/benches/contains_criterion.rs
  xtask/src/glue.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

bug fix
  crates/rome_js_analyze/src/analyzers/style/prefer_numeric_literals.rs
  crates/rome_js_analyze/tests/specs/style/preferNumericLiterals.js.snap
Owners: @leops, @xunilrj

fix
  crates/rome_js_analyze/src/analyzers/style/prefer_numeric_literals.rs
Owners: @leops, @xunilrj

refactor
  crates/rome_js_analyze/src/analyzers/style/prefer_numeric_literals.rs
Owners: @leops, @xunilrj

update test
  crates/rome_js_analyze/tests/specs/style/preferNumericLiterals.js.snap
Owners: @leops, @xunilrj

update
  website/src/docs/lint/rules/preferNumericLiterals.md
Owners: @rome/staff

More polish
  website/src/_includes/docs/_old_cli.md
  website/src/_includes/docs/_old_diagnostic-anatomy-fixable.md
  website/src/_includes/docs/_old_diagnostic-anatomy.md
  website/src/_includes/docs/_old_diagnostics.md
  website/src/_includes/docs/_old_linting.md
  website/src/_includes/docs/reference/groups.md
  website/src/_includes/layouts/base-page.liquid
  website/src/_includes/layouts/blog.liquid
  website/src/_includes/layouts/docs.liquid
  website/src/_includes/layouts/page.liquid
  website/src/_includes/scripts/index.js
  website/src/blog/index.liquid
  website/src/blog/posts/2022-04-05_rome_formatter_release.md
  website/src/docs/cli.md
  website/src/docs/configuration.md
  website/src/docs/formatter/index.md
  website/src/docs/guides/getting-started.md
  website/src/docs/index.md
  website/src/docs/lint/rules/index.md
  website/src/index.liquid
  website/src/standalone-executable.md
  website/src/styles/_content.scss
  website/src/styles/_docs.scss
  website/src/styles/_homepage.scss
  website/src/styles/_page.scss
  website/src/styles/index.scss
  website/static/_redirects
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

Format files
  website/.eleventy.js
  website/src/_includes/scripts/index.js
  website/src/blog/posts/2022-11-08-rome-10.md
Owners: @rome/staff

Darker dark mode
  website/src/styles/_docs.scss
  website/src/styles/_footer.scss
  website/src/styles/_homepage.scss
  website/src/styles/_prism.scss
  website/src/styles/index.scss
Owners: @rome/staff

Make twitter embed respect initial load theme
  website/src/_includes/scripts/index.js
  website/src/blog/posts/2022-11-08-rome-10.md
  website/src/styles/_homepage.scss
Owners: @rome/staff

WIP feat(rome_js_analyze): lint/correctness/noDupeKeys
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDupeKeys.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

multi failure test
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js
Owners: @leops, @xunilrj

ci fixes
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDupeKeys.md
Owners: @leops, @xunilrj, @rome/staff

perf(rome_analyze): Reuse walk events
  crates/rome_analyze/src/lib.rs
Owners: @leops, @xunilrj

review
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/analyzers/style.rs
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js.snap
  crates/rome_js_analyze/tests/specs/style/preferNumericLiterals.js
  crates/rome_js_analyze/tests/specs/style/preferNumericLiterals.js.snap
  crates/rome_js_parser/src/lexer/tables.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useNumericLiterals.md
Owners: @rome/staff, @leops, @xunilrj, @MichaReiser, @ematipico

feat: add ignore option for file config
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

refactor
  crates/rome_cli/src/main.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/ast_utils.rs
  crates/rome_js_analyze/src/lib.rs
Owners: @leops, @xunilrj

fix space issue
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js.snap
Owners: @leops, @xunilrj

remove parentheses
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/ast_utils.rs
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js.snap
Owners: @leops, @xunilrj

Add prettier animation
  website/src/_includes/scripts/index.js
  website/src/index.liquid
  website/src/styles/_homepage.scss
Owners: @rome/staff

fix space issue
  crates/rome_cli/src/main.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js.snap
Owners: @leops, @xunilrj

refactor
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
Owners: @leops, @xunilrj
