Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore: 🤖 update snapshot
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.rast
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.ts
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
Owners: @MichaReiser, @xunilrj

fix: 🐛 lint
  crates/rome_js_formatter/src/ts/expressions/expression_with_type_arguments.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
Owners: @ematipico, @MichaReiser, @xunilrj

test: 💍 new operator
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/ok/ts_new_operator.rast
  crates/rome_js_parser/test_data/inline/ok/ts_new_operator.ts
Owners: @MichaReiser, @xunilrj

chore: 🤖 update snapshot
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
Owners: @MichaReiser, @xunilrj

chore: 🤖 update snapshot
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
Owners: @MichaReiser, @xunilrj

fix: 🐛 cr issues
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type2.rast
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type2.tsx
Owners: @MichaReiser, @xunilrj

chore: 🤖 rename ExpressionWithArguments to TsInstantiationExpr
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/any/expression.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/expressions/instantiation_expression.rs
  crates/rome_js_formatter/src/ts/expressions/mod.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_syntax/src/generated/kind.rs
  crates/rome_js_syntax/src/generated/macros.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/kinds_src.rs
Owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj

chore: 🤖 fmt
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
Owners: @MichaReiser, @xunilrj

chore: 🤖 cr issues
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/ts_new_operator.rast
  crates/rome_js_parser/test_data/inline/err/ts_new_operator.ts
Owners: @MichaReiser, @xunilrj

chore: 🤖 lint
  crates/rome_js_parser/src/main.rs
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

fix: 🐛 change expected_node to expected_token
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.rast
Owners: @MichaReiser, @xunilrj

chore: 🤖 clean up
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

feat: 🎸 checkpoint
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/any/left_hand_side_expression.rs
  crates/rome_js_formatter/src/js/any/mod.rs
  crates/rome_js_formatter/src/ts/expressions/instantiation_expression.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Owners: @rome/staff, @ematipico, @MichaReiser

chore: 🤖 fmt
  crates/rome_js_formatter/src/ts/expressions/instantiation_expression.rs
Owners: @ematipico, @MichaReiser

feat: 🎸 more strict constraint
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/any/left_hand_side_expression.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  xtask/codegen/js.ungram
Owners: @ematipico, @MichaReiser, @rome/staff

chore: 🤖 compile error
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @rome/staff

feat: add `JsReferenceIdentifier::has_name`
  crates/rome_js_analyze/src/analyzers/js/no_new_symbol.rs
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @leops, @xunilrj, @rome/staff

chore: update test case
  crates/rome_js_analyze/tests/specs/js/noNewSymbol.js
  crates/rome_js_analyze/tests/specs/js/noNewSymbol.js.snap
Owners: @leops, @xunilrj

feat(rome_js_formatter): TS Intersection & Union types #3162
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/expressions/type_arguments.rs
  crates/rome_js_formatter/src/ts/lists/intersection_type_element_list.rs
  crates/rome_js_formatter/src/ts/lists/union_type_variant_list.rs
  crates/rome_js_formatter/src/ts/types/intersection_type.rs
  crates/rome_js_formatter/src/ts/types/union_type.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/typescript.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-10846.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-10848.tsx.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-12413.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/cast/generic-cast.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/issues.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/custom/typeParameters/variables.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/inlining.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/prettier-ignore.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/union-parens.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/with-type-params.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/within-tuple.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/union_type.ts
  crates/rome_js_formatter/tests/specs/ts/type/union_type.ts.snap
  npm/rome/src/index.ts
  website/playground/src/types.ts
Owners: @ematipico, @MichaReiser, @rome/staff

fix: 🐛 remove lefthandsideexpression
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/any/left_hand_side_expression.rs
  crates/rome_js_formatter/src/js/any/mod.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Owners: @rome/staff, @ematipico, @MichaReiser

feat(rome_js_formatter): TS Intersection & Union types #3162 (#3206)
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/expressions/type_arguments.rs
  crates/rome_js_formatter/src/ts/lists/intersection_type_element_list.rs
  crates/rome_js_formatter/src/ts/lists/union_type_variant_list.rs
  crates/rome_js_formatter/src/ts/types/intersection_type.rs
  crates/rome_js_formatter/src/ts/types/union_type.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/typescript.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-10846.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-10848.tsx.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-12413.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/cast/generic-cast.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/issues.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/custom/typeParameters/variables.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/inlining.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/prettier-ignore.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/union-parens.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/with-type-params.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/within-tuple.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/union_type.ts
  crates/rome_js_formatter/tests/specs/ts/type/union_type.ts.snap
  npm/rome/src/index.ts
  website/playground/src/types.ts
Owners: @ematipico, @MichaReiser, @rome/staff

feat(rome_js_parser): instantiation expressions (#3152)
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/any/expression.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/expressions/instantiation_expression.rs
  crates/rome_js_formatter/src/ts/expressions/mod.rs
  crates/rome_js_formatter/src/ts/types/typeof_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/new.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/typeof.ts.snap
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.rast
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.ts
  crates/rome_js_parser/test_data/inline/err/ts_new_operator.rast
  crates/rome_js_parser/test_data/inline/err/ts_new_operator.ts
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
  crates/rome_js_parser/test_data/inline/ok/ts_new_operator.rast
  crates/rome_js_parser/test_data/inline/ok/ts_new_operator.ts
  crates/rome_js_parser/test_data/inline/ok/ts_type_instantiation_expression.rast
  crates/rome_js_parser/test_data/inline/ok/ts_type_instantiation_expression.ts
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type.rast
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type.ts
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type2.rast
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type2.tsx
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/generated/kind.rs
  crates/rome_js_syntax/src/generated/macros.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/kinds_src.rs
Owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj

chore: 🤖 checkpoint
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

feat(rome_service): ignore files
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_when_file_is_ignored.snap
  crates/rome_cli/tests/snapshots/main_format/does_not_format_ignored_files.snap
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/matcher/LICENSE-APACHE
  crates/rome_service/src/matcher/LICENSE-MIT
  crates/rome_service/src/matcher/mod.rs
  crates/rome_service/src/matcher/pattern.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_wasm/src/lib.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/credits.md
Owners: @leops, @ematipico, @MichaReiser, @rome/staff

chore: code suggestions
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/matcher/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

chore: rebase
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

fix: regressions
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

chore: code review
  crates/rome_analyze/src/categories.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @xunilrj, @ematipico

fix: try to preserve comments
  crates/rome_js_analyze/src/analyzers/js/no_new_symbol.rs
Owners: @leops, @xunilrj

chore: merge
  crates/rome_js_analyze/src/analyzers/correctness.rs
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useOptionalChain.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: revert change
  crates/rome_cli/src/termination.rs
Owners: @leops

test(npm): create only one instance of `Rome`
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/daemon/formatFiles.test.mjs
Owners: @rome/staff

chore: update snapshots after merge
  crates/rome_js_analyze/tests/specs/correctness/useOptionalChain/complexLogicalAndCases.ts.snap
  crates/rome_js_analyze/tests/specs/correctness/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useOptionalChain/nullishAndLogicalOr.ts.snap
Owners: @leops, @xunilrj

chore: move `noNegationElse` to `style` group
  crates/rome_js_analyze/src/analyzers/correctness.rs
  crates/rome_js_analyze/src/analyzers/style.rs
  crates/rome_js_analyze/src/analyzers/style/no_negation_else.rs
  crates/rome_js_analyze/tests/specs/correctness/noNegationElse/default.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noNegationElse/issue_2999.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noNegationElse.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

feature(vscode): add rules to the schema
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

fix: handle the options filed
  crates/rome_service/src/workspace_types.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

chore: code review
  crates/rome_js_analyze/src/assists.rs
  crates/rome_js_analyze/src/assists/correctness.rs
  crates/rome_js_analyze/src/assists/correctness/flip_bin_exp.rs
  crates/rome_js_analyze/src/assists/correctness/inline_variable.rs
  crates/rome_js_analyze/src/assists/refactor.rs
  crates/rome_js_analyze/src/registry.rs
  crates/rome_js_analyze/tests/specs/correctness/flipBinExp.js.snap
  crates/rome_js_analyze/tests/specs/correctness/inlineVariable.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noNegationElse/default.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noNegationElse/issue_2999.js.snap
  crates/rome_js_analyze/tests/specs/style/noNegationElse/default.js
  crates/rome_js_analyze/tests/specs/style/noNegationElse/default.js.snap
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_2999.js
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_2999.js.snap
Owners: @leops, @xunilrj

feature(vscode): add rules to the schema (#3209)
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/workspace_types.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: merge
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

test(npm): create only one instance of `Rome` (#3208)
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/daemon/formatFiles.test.mjs
Owners: @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
