Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fallback to default debug impl
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

removing todo
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

fixing comments
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

fixing comments
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

refactor(rome_rowan): change `splice_slots` and `replace_child` to return a detached node
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/ast/mutation.rs
  crates/rome_rowan/src/cursor.rs
  crates/rome_rowan/src/cursor/element.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @rome/staff

chore(cargo): always enable LTO in release mode
  .cargo/config.toml
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
Owners: @rome/staff

fix(rome_rowan): Slots iterator
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/green/node.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @rome/staff

fix(rome_js_semantic): bug when hoisting function scope (#2940)
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/functions.rs
  crates/rome_js_semantic/src/tests/mod.rs
Owners: @leops, @xunilrj

chore(website): upgrade eleventy (#2934)
  website/.eleventy.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noArguments.md
  website/src/docs/lint/rules/noAsyncPromiseExecutor.md
  website/src/docs/lint/rules/noCatchAssign.md
  website/src/docs/lint/rules/noCommentText.md
  website/src/docs/lint/rules/noCompareNegZero.md
  website/src/docs/lint/rules/noDebugger.md
  website/src/docs/lint/rules/noDelete.md
  website/src/docs/lint/rules/noDoubleEquals.md
  website/src/docs/lint/rules/noEmptyPattern.md
  website/src/docs/lint/rules/noFunctionAssign.md
  website/src/docs/lint/rules/noImplicitBoolean.md
  website/src/docs/lint/rules/noLabelVar.md
  website/src/docs/lint/rules/noMultipleSpacesInRegularExpressionLiterals.md
  website/src/docs/lint/rules/noNegationElse.md
  website/src/docs/lint/rules/noShoutyConstants.md
  website/src/docs/lint/rules/noSparseArray.md
  website/src/docs/lint/rules/noUnnecessaryContinue.md
  website/src/docs/lint/rules/noUnsafeNegation.md
  website/src/docs/lint/rules/noUnusedTemplateLiteral.md
  website/src/docs/lint/rules/useBlockStatements.md
  website/src/docs/lint/rules/useSelfClosingElements.md
  website/src/docs/lint/rules/useShorthandArrayType.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
  website/src/docs/lint/rules/useSingleCaseStatement.md
  website/src/docs/lint/rules/useSingleVarDeclarator.md
  website/src/docs/lint/rules/useTemplate.md
  website/src/docs/lint/rules/useValidTypeof.md
  website/src/docs/lint/rules/useWhile.md
  website/src/sitemap.liquid
  website/src/styles/_content.scss
  website/src/styles/index.scss
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

fix(rome_rowan): Slots iterator `last` and `size_hint` (#2951)
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/green/node.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @rome/staff

lint useCamelCase working
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/benches/iai.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
Owners: @rome/staff, @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/src/utils.rs
Owners: @leops, @xunilrj

updating lintdoc
  website/src/docs/lint/rules/useCamelCase.md
Owners: @rome/staff

lint documentation
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useCamelCase.md
Owners: @leops, @xunilrj, @rome/staff

better retries when renaming
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/rename.rs
Owners: @leops, @xunilrj

chore(cargo): always enable LTO in release mode (#2950)
  .cargo/config.toml
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
Owners: @rome/staff

refactor(rome_rowan): change `splice_slots` and `replace_child` to return a detached node (#2949)
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/ast/mutation.rs
  crates/rome_rowan/src/cursor.rs
  crates/rome_rowan/src/cursor/element.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @rome/staff

rebasing
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/src/utils/rename.rs
Owners: @leops, @xunilrj

typo
  crates/rome_js_analyze/src/utils/rename.rs
Owners: @leops, @xunilrj

dealing with symbols that start with underscore
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useCamelCase.md
Owners: @leops, @xunilrj, @rome/staff

changing to recommended false
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
Owners: @leops, @xunilrj

lintdoc
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useCamelCase.md
Owners: @rome/staff

fix(rome_js_analyze): improve trivia handling in useSingleVarDeclarator
  crates/rome_cli/tests/main.rs
  crates/rome_css_factory/src/generated/node_factory.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_var_declarator.rs
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/tests/specs/js/useSingleVarDeclarator.js
  crates/rome_js_analyze/tests/specs/js/useSingleVarDeclarator.js.snap
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/make.rs
  crates/rome_json_factory/src/generated/node_factory.rs
  xtask/codegen/src/generate_node_factory.rs
Owners: @leops, @rome/staff, @xunilrj

fix(rome_lsp): silently ignore FormatWithErrorsDisabled errors in the language server
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/tests/server.rs
Owners: @ematipico

feat(rome_js_formatter): If Statement Formatting
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/any/function.rs
  crates/rome_js_formatter/src/js/auxiliary/else_clause.rs
  crates/rome_js_formatter/src/js/classes/extends_clause.rs
  crates/rome_js_formatter/src/js/expressions/number_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/string_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/unary_expression.rs
  crates/rome_js_formatter/src/js/statements/if_statement.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_nested.js.snap
  crates/rome_js_formatter/tests/specs/js/module/invalid/if_stmt_err.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/if_chain.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/if_else.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/call.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/ternary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/if.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/multiple.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/do/do.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/comment_before_else.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/else.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/expr_and_same_line_comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/if_comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/trailing_comment.js
  crates/rome_js_formatter/tests/specs/prettier/js/if/trailing_comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/no-semi/no-semi.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/record/spread.js
  crates/rome_js_formatter/tests/specs/prettier/js/record/spread.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/sloppy-mode/function-declaration-in-if.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/tab-width/class.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/non-null/braces.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/range/issue-4926.ts.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): If Statement Formatting (#2957)
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/any/function.rs
  crates/rome_js_formatter/src/js/auxiliary/else_clause.rs
  crates/rome_js_formatter/src/js/classes/extends_clause.rs
  crates/rome_js_formatter/src/js/expressions/number_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/string_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/unary_expression.rs
  crates/rome_js_formatter/src/js/statements/if_statement.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_nested.js.snap
  crates/rome_js_formatter/tests/specs/js/module/invalid/if_stmt_err.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/if_chain.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/if_else.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/call.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/ternary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/if.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/multiple.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/do/do.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/comment_before_else.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/else.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/expr_and_same_line_comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/if_comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/trailing_comment.js
  crates/rome_js_formatter/tests/specs/prettier/js/if/trailing_comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/no-semi/no-semi.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/record/spread.js
  crates/rome_js_formatter/tests/specs/prettier/js/record/spread.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/sloppy-mode/function-declaration-in-if.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/tab-width/class.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/non-null/braces.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/range/issue-4926.ts.snap
Owners: @ematipico, @MichaReiser

feat(playground): Pretty Print Rome IR
  crates/rome_formatter/src/format_element.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  website/playground/src/lib.rs
Owners: @ematipico, @MichaReiser, @rome/staff

feat(rome_analyze): improve the extensibility of the `declare_rule` macro
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/src/analyzers/js/no_async_promise_executor.rs
  crates/rome_js_analyze/src/analyzers/js/no_compare_neg_zero.rs
  crates/rome_js_analyze/src/analyzers/js/no_dead_code.rs
  crates/rome_js_analyze/src/analyzers/js/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/js/no_delete.rs
  crates/rome_js_analyze/src/analyzers/js/no_double_equals.rs
  crates/rome_js_analyze/src/analyzers/js/no_empty_pattern.rs
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
  crates/rome_js_analyze/src/analyzers/js/no_sparse_array.rs
  crates/rome_js_analyze/src/analyzers/js/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/js/no_unsafe_negation.rs
  crates/rome_js_analyze/src/analyzers/js/no_unused_template_literal.rs
  crates/rome_js_analyze/src/analyzers/js/use_block_statements.rs
  crates/rome_js_analyze/src/analyzers/js/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_case_statement.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_var_declarator.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/src/analyzers/js/use_valid_typeof.rs
  crates/rome_js_analyze/src/analyzers/js/use_while.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_comment_text.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_implicit_boolean.rs
  crates/rome_js_analyze/src/analyzers/jsx/use_self_closing_elements.rs
  crates/rome_js_analyze/src/analyzers/regex/no_multiple_spaces_in_regular_expression_literals.rs
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/src/assists/js/flip_bin_exp.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_arguments.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_catch_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_label_var.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

chore(tests): Use Pretty Printed IR
  crates/rome_js_formatter/src/check_reformat.rs
  crates/rome_js_formatter/tests/check_reformat.rs
Owners: @ematipico, @MichaReiser

chore(tests): Fix doc links and formatting
  crates/rome_formatter/src/format_element.rs
  crates/rome_js_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

chore(tests): Fix label id formatting in release mode and revert static member expr changes
  crates/rome_formatter/src/format_element.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
Owners: @ematipico, @MichaReiser

update documentation
  website/src/docs/lint/rules/useSingleVarDeclarator.md
Owners: @rome/staff

fix(rome_lsp): silently ignore FormatWithErrorsDisabled errors in the language server (#2956)
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/tests/server.rs
Owners: @ematipico

fix: 🐛 add test case for js_analyze
  crates/rome_js_analyze/tests/specs/jsx/noImplicitBoolean.jsx
  crates/rome_js_analyze/tests/specs/jsx/noImplicitBoolean.jsx.snap
  crates/rome_js_parser/src/syntax/jsx/mod.rs
Owners: @leops, @xunilrj, @MichaReiser

fix: 🐛 error recover
  crates/rome_js_parser/src/syntax/jsx/mod.rs
  crates/rome_js_parser/test_data/inline/err/jsx_element_attribute_expression_error.jsx
  crates/rome_js_parser/test_data/inline/err/jsx_element_attribute_expression_error.rast
Owners: @MichaReiser, @xunilrj

Update crates/rome_js_parser/src/syntax/jsx/mod.rs
  crates/rome_js_parser/src/syntax/jsx/mod.rs
Owners: @MichaReiser, @xunilrj

fix: 🐛 parser error
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap.new
  crates/rome_js_parser/src/syntax/jsx/mod.rs
Owners: @ematipico, @MichaReiser, @xunilrj

fix: 🐛 lint
  crates/rome_js_parser/src/syntax/jsx/mod.rs
Owners: @MichaReiser, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
