Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

docs: ✏️ update doc
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTsExpectError.md
Owners: @leops, @xunilrj, @rome/staff

docs: ✏️ update doc comment
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

chore: 🤖 remove empty comment
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

chore: 🤖 update doc
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

fix: 🐛 cr issues
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTsExpectError.md
Owners: @leops, @xunilrj, @rome/staff

fix: 🐛 fix complie
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

style: 💄 fmt
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

docs: ✏️ update doc comment
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

Update crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

docs: ✏️ update doc
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

docs: ✏️ udpate doc
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTsExpectError.md
Owners: @rome/staff

chore: 🤖 merge main
  crates/rome_js_analyze/src/analyzers/ts.rs
  crates/rome_js_analyze/src/analyzers/ts/use_ts_expect_error.rs
  crates/rome_js_analyze/tests/specs/js/noLabelVar.js
  crates/rome_js_analyze/tests/specs/js/noLabelVar.js.snap
  crates/rome_js_analyze/tests/specs/noLabelVar.js.snap
  crates/rome_js_analyze/tests/specs/ts/useTsExpectError.ts
  crates/rome_js_analyze/tests/specs/ts/useTsExpectError.ts.snap
Owners: @leops, @xunilrj

docs: ✏️ update doc comment
  crates/rome_js_analyze/src/analyzers/ts/use_ts_expect_error.rs
Owners: @leops, @xunilrj

fix: 🐛 cr issues
  crates/rome_js_analyze/src/analyzers/ts/use_ts_expect_error.rs
  crates/rome_js_analyze/tests/specs/ts/useTsExpectError.ts.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTsExpectError.md
Owners: @leops, @xunilrj, @rome/staff

fix: 🐛 cr issues
  crates/rome_js_analyze/src/analyzers/ts/use_ts_expect_error.rs
Owners: @leops, @xunilrj

docs: ✏️ update do c
  website/src/docs/lint/rules/useTsExpectError.md
Owners: @rome/staff

docs: ✏️ update doc comment
  crates/rome_js_analyze/src/analyzers/ts/use_ts_expect_error.rs
Owners: @leops, @xunilrj

fix(rome_cli): better printing of message (#2929)
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_diagnostics/src/lib.rs
Owners: @leops, @rome/staff

fix(rome_js_syntax): Don't panic on unclosed block comment
  crates/rome_js_syntax/src/suppression.rs
Owners: @rome/staff

chore: init message using newlines and tabs (#2931)
  crates/rome_cli/src/commands/init.rs
Owners: @leops

chore: code review
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

add unit test
  crates/rome_js_syntax/src/suppression.rs
Owners: @rome/staff

chore: upgrade eleventy
  website/.eleventy.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/sitemap.liquid
Owners: @rome/staff

fix(rome_lsp): fix panics on out of bounds formatting range
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/documents.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/src/line_index.rs
  crates/rome_lsp/src/main.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @ematipico, @MichaReiser, @leops

chore(vscode): upgrade dependencies
  editors/vscode/package-lock.json
  editors/vscode/package.json
Owners: @rome/staff

fix(rome_js_analyze): include the exception handlers in the complexity score of the CFG (#2930)
  crates/rome_js_analyze/src/analyzers/js/no_dead_code.rs
  crates/rome_js_analyze/tests/specs/js/noDeadCode/HighComplexity.js
  crates/rome_js_analyze/tests/specs/js/noDeadCode/HighComplexity.js.snap
Owners: @leops, @xunilrj

better distinction between scope and scope_hoisted_to
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
Owners: @xunilrj

test for inner function scope problem
  callgrind.out.8186
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/functions.rs
Owners: @rome/staff, @leops, @xunilrj

chore(vscode): upgrade dependencies (#2936)
  editors/vscode/package-lock.json
  editors/vscode/package.json
Owners: @rome/staff

fix(rome_lsp): fix panics on out of bounds formatting range (#2935)
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/documents.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/src/line_index.rs
  crates/rome_lsp/src/main.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @ematipico, @MichaReiser, @leops

fix(rome_js_syntax): Don't panic on unclosed block comment (#2933)
  crates/rome_js_syntax/src/suppression.rs
Owners: @rome/staff

docs(website): show recommended rules in the website
  website/package.json
  website/pnpm-lock.yaml
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noArguments.md
  website/src/docs/lint/rules/noAsyncPromiseExecutor.md
  website/src/docs/lint/rules/noCatchAssign.md
  website/src/docs/lint/rules/noCommentText.md
  website/src/docs/lint/rules/noCompareNegZero.md
  website/src/docs/lint/rules/noDebugger.md
  website/src/docs/lint/rules/noDelete.md
  website/src/docs/lint/rules/noDoubleEquals.md
  website/src/docs/lint/rules/noEmptyPattern.md
  website/src/docs/lint/rules/noFunctionAssign.md
  website/src/docs/lint/rules/noImplicitBoolean.md
  website/src/docs/lint/rules/noLabelVar.md
  website/src/docs/lint/rules/noMultipleSpacesInRegularExpressionLiterals.md
  website/src/docs/lint/rules/noNegationElse.md
  website/src/docs/lint/rules/noShoutyConstants.md
  website/src/docs/lint/rules/noSparseArray.md
  website/src/docs/lint/rules/noUnnecessaryContinue.md
  website/src/docs/lint/rules/noUnsafeNegation.md
  website/src/docs/lint/rules/noUnusedTemplateLiteral.md
  website/src/docs/lint/rules/useBlockStatements.md
  website/src/docs/lint/rules/useSelfClosingElements.md
  website/src/docs/lint/rules/useShorthandArrayType.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
  website/src/docs/lint/rules/useSingleCaseStatement.md
  website/src/docs/lint/rules/useSingleVarDeclarator.md
  website/src/docs/lint/rules/useTemplate.md
  website/src/docs/lint/rules/useValidTypeof.md
  website/src/docs/lint/rules/useWhile.md
  website/src/styles/_content.scss
  website/src/styles/index.scss
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

refactor(vscode): remove beta formatter options
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/mod.rs
  editors/vscode/package.json
Owners: @ematipico, @leops, @rome/staff

docs(website): show recommended rules in the website (#2937)
  website/package.json
  website/pnpm-lock.yaml
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noArguments.md
  website/src/docs/lint/rules/noAsyncPromiseExecutor.md
  website/src/docs/lint/rules/noCatchAssign.md
  website/src/docs/lint/rules/noCommentText.md
  website/src/docs/lint/rules/noCompareNegZero.md
  website/src/docs/lint/rules/noDebugger.md
  website/src/docs/lint/rules/noDelete.md
  website/src/docs/lint/rules/noDoubleEquals.md
  website/src/docs/lint/rules/noEmptyPattern.md
  website/src/docs/lint/rules/noFunctionAssign.md
  website/src/docs/lint/rules/noImplicitBoolean.md
  website/src/docs/lint/rules/noLabelVar.md
  website/src/docs/lint/rules/noMultipleSpacesInRegularExpressionLiterals.md
  website/src/docs/lint/rules/noNegationElse.md
  website/src/docs/lint/rules/noShoutyConstants.md
  website/src/docs/lint/rules/noSparseArray.md
  website/src/docs/lint/rules/noUnnecessaryContinue.md
  website/src/docs/lint/rules/noUnsafeNegation.md
  website/src/docs/lint/rules/noUnusedTemplateLiteral.md
  website/src/docs/lint/rules/useBlockStatements.md
  website/src/docs/lint/rules/useSelfClosingElements.md
  website/src/docs/lint/rules/useShorthandArrayType.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
  website/src/docs/lint/rules/useSingleCaseStatement.md
  website/src/docs/lint/rules/useSingleVarDeclarator.md
  website/src/docs/lint/rules/useTemplate.md
  website/src/docs/lint/rules/useValidTypeof.md
  website/src/docs/lint/rules/useWhile.md
  website/src/styles/_content.scss
  website/src/styles/index.scss
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

chore: revert old change
  crates/rome_lsp/Cargo.toml
Owners: @ematipico

refactor(vscode): remove beta formatter options (#2939)
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/mod.rs
  editors/vscode/package.json
Owners: @ematipico, @leops, @rome/staff

fixing function hoisting
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/functions.rs
Owners: @xunilrj

removing callgrind
  callgrind.out.8186
Owners: @rome/staff

removing dbg
  crates/rome_js_analyze/src/utils/rename.rs
Owners: @leops, @xunilrj

fix scope id when pusing bindings
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj
