Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fix(docs): set correct version for NoPositiveTabindex rule
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noPositiveTabindex.md
Owners: @leops, @xunilrj, @rome/staff

fix: update docs
  website/src/docs/lint/rules/index.md
Owners: @rome/staff

feat(rome_js_analyze): new rule `noExplicitAny` (#3413)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_explicit_any.rs
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidClass.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidClass.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidFunction.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidFunction.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidTypeAndInterface.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidTypeAndInterface.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidVariable.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/invalidVariable.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noExplicitAny/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noExplicitAny.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_analyze): adjust rule, refactor existing code
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_key_with_mouse_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx.snap
  website/src/docs/lint/rules/useKeyWithMouseEvents.md
Owners: @leops, @xunilrj, @rome/staff

fix(docs): set correct version for NoPositiveTabindex rule (#3422)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noPositiveTabindex.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_cli): Version command
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/commands/version.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/commands/mod.rs
  crates/rome_cli/tests/commands/version.rs
  crates/rome_cli/tests/snapshots/main_commands_version/version_full.snap
  crates/rome_cli/tests/snapshots/main_commands_version/version_ok.snap
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

Update release workflow
  .github/workflows/release_lsp.yml
Owners: @rome/staff

Fix directory of script
  .github/workflows/release_lsp.yml
Owners: @rome/staff

Clippy
  crates/rome_service/src/workspace/client.rs
Owners: @leops, @ematipico

wip: add new lsp_proxy command
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/service/mod.rs
Owners: @leops

feat(rome_js_analyzer): rule `useKeyWithClickEvents`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_analyze): adjust rule based on suggestions
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @ematipico, @rome/staff

fix(rome_js_analyzer): fix the formatting
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
Owners: @leops, @xunilrj

feat(rome_js_analyze): rule `useAnchorContent` (#3370)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
  crates/rome_js_analyze/tests/specs/nursery/useAnchorContent.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAnchorContent.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useAnchorContent.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

ci: fix codegen
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

ci: fix codegen (#3427)
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

ci: non-parsable markdown
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
  website/src/docs/lint/rules/useAnchorContent.md
Owners: @leops, @xunilrj, @rome/staff

ci: non-parsable markdown (#3428)
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
  website/src/docs/lint/rules/useAnchorContent.md
Owners: @leops, @xunilrj, @rome/staff

refactor(rome_js_analyze): adjust function
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_key_with_mouse_events.rs
Owners: @leops, @xunilrj

feat(rome_js_analyze): rule `useKeyWithMouseEvents` (#3373)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_key_with_mouse_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useKeyWithMouseEvents.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_analyzer): adjust the codes
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
Owners: @leops, @xunilrj

fix(rome_js_analyzer): fix the lint error on the website playground
  website/playground/src/LineWidthInput.tsx
Owners: @rome/staff

docs: update useKeyWithClickEvents doc
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @rome/staff

fix(rome_js_formatter): assignment layout #3386
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/non-null/member-chain.ts.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment.ts
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment.ts.snap
  crates/rome_js_formatter/tests/specs/ts/class/assigment_layout.ts
  crates/rome_js_formatter/tests/specs/ts/class/assigment_layout.ts.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): JSX Expression child closing parentheses #3376
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/specs/jsx/arrow_function.jsx
  crates/rome_js_formatter/tests/specs/jsx/arrow_function.jsx.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): assignment layout #3386 (#3431)
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/non-null/member-chain.ts.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment.ts
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment.ts.snap
  crates/rome_js_formatter/tests/specs/ts/class/assigment_layout.ts
  crates/rome_js_formatter/tests/specs/ts/class/assigment_layout.ts.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): JSX Expression child closing parentheses #3376 (#3432)
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/specs/jsx/arrow_function.jsx
  crates/rome_js_formatter/tests/specs/jsx/arrow_function.jsx.snap
Owners: @ematipico, @MichaReiser

ci: publish workflow (#3402)
  .github/workflows/release_js_api.yml
  editors/vscode/scripts/update-nightly-version.mjs
  npm/js-api/README.md
  npm/js-api/package.json
  npm/js-api/scripts/updateVersionForPrerelease.mjs
Owners: @rome/staff

fix(rome_diagnostics_macros): correctly ignore unknown attributes
  crates/rome_diagnostics/tests/macros/unknown_field_attr.stderr
  crates/rome_diagnostics_macros/src/parse.rs
Owners: @rome/staff

feat(rome_js_analyzer): rule `useKeyWithClickEvents` (#3426)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/LineWidthInput.tsx
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_analyze): rule `noConstAssign`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_const_assign.rs
  crates/rome_js_analyze/tests/specs/nursery/noConstAssign.js
  crates/rome_js_analyze/tests/specs/nursery/noConstAssign.js.snap
  editors/vscode/configuration_schema.json
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noConstAssign.md
Owners: @rome/staff, @leops, @xunilrj

chore: rebase
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

fix(rome_diagnostics_macros): correctly ignore unknown attributes (#3433)
  crates/rome_diagnostics/tests/macros/unknown_field_attr.stderr
  crates/rome_diagnostics_macros/src/parse.rs
Owners: @rome/staff

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_const_assign.rs
  crates/rome_js_analyze/tests/specs/nursery/noConstAssign.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/noConstAssign.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

Change *disconnected* to *not connected*
  crates/rome_cli/src/commands/version.rs
Owners: @leops

feat(rome_cli): Add `version` command (#3421)
  .github/workflows/release_lsp.yml
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/commands/version.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/commands/mod.rs
  crates/rome_cli/tests/commands/version.rs
  crates/rome_cli/tests/snapshots/main_commands_version/version_full.snap
  crates/rome_cli/tests/snapshots/main_commands_version/version_ok.snap
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
Owners: @rome/staff, @leops, @ematipico

feat(rome_cli): Add `rage` command
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/src/commands/version.rs
  crates/rome_cli/src/lib.rs
  crates/rome_console/src/lib.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  rome.json
Owners: @leops, @rome/staff, @ematipico

Add tests, cleanup code
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/src/commands/version.rs
  crates/rome_cli/tests/commands/mod.rs
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

Make tests platform independent
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
Owners: @leops

Address code review feedback
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/workspace.rs
Owners: @ematipico, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
