Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

refactor to use util method
  crates/rome_js_analyze/src/analyzers/complexity/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
Owners: @leops, @xunilrj

rename
  crates/rome_js_analyze/src/analyzers/complexity/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/ast_utils.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
Owners: @leops, @xunilrj

reuse code
  crates/rome_js_analyze/src/analyzers/correctness/no_async_promise_executor.rs
Owners: @leops, @xunilrj

bad commit
  crates/rome_js_parser/src/lexer/tables.rs
Owners: @MichaReiser, @xunilrj

lint
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
Owners: @leops, @xunilrj

Clean up playground
  website/playground/README.md
  website/playground/workers-site/.cargo-ok
  website/playground/workers-site/.gitignore
  website/playground/workers-site/index.js
  website/playground/workers-site/package.json
  website/playground/workers-site/pnpm-lock.yaml
  website/playground/wrangler.toml
Owners: @rome/staff

Add dedicated about page
  website/src/_includes/contributors.md
  website/src/_includes/layouts/base-page.liquid
  website/src/_includes/layouts/docs.liquid
  website/src/_includes/scripts/index.js
  website/src/about.md
  website/src/blog/posts/2020-08-08_introducing_rome.md
  website/src/blog/posts/2022-04-05_rome_formatter_release.md
  website/src/blog/posts/2022-11-08-rome-10.md
  website/src/changelog.md
  website/src/docs/credits.md
  website/src/docs/index.md
  website/src/docs/lint/rules/index.md
  website/src/index.liquid
  website/src/styles/_about.scss
  website/src/styles/_credits.scss
  website/src/styles/_docs.scss
  website/src/styles/_homepage.scss
  website/src/styles/index.scss
  xtask/contributors/src/main.rs
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

Update links
  website/docs/src/guides/getting-started.md
  website/docs/src/standalone-executable.md
  website/docs/static/_redirects
Owners: @rome/staff

Fix dark mode logo
  website/docs/src/styles/_docs.scss
Owners: @rome/staff

Fix mobile code blocks
  website/docs/src/formatter/index.md
  website/docs/src/styles/_content.scss
  website/docs/src/styles/_global.scss
Owners: @rome/staff

peel parentheses from obj
  crates/rome_js_analyze/src/ast_utils.rs
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js.snap
Owners: @leops, @xunilrj

refactor
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/ast_utils.rs
Owners: @leops, @xunilrj

fix
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  crates/rome_diagnostics/src/emit.rs
Owners: @leops, @rome/staff

doc: Fix install command
  website/docs/src/cli.md
  website/docs/src/guides/getting-started.md
Owners: @rome/staff

perf(rome_js_semantic): Use FX Hash function
  Cargo.lock
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @rome/staff, @xunilrj

Clean up mobile navigation
  website/docs/src/_includes/external-links.liquid
  website/docs/src/_includes/layout.liquid
  website/docs/src/_includes/layouts/svg/chevron-left.svg
  website/docs/src/styles/_docs.scss
Owners: @rome/staff

fix
  crates/rome_diagnostics_categories/src/categories.rs
  website/docs/src/lint/rules/index.md
  website/docs/src/lint/rules/useNumericLiterals.md
Owners: @rome/staff

fix(rome_js_parser): improve await handling in non-async context
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/await_in_non_async_function.js
  crates/rome_js_parser/test_data/inline/err/await_in_non_async_function.rast
  crates/rome_js_parser/test_data/inline/err/await_in_parameter_initializer.rast
  crates/rome_js_parser/test_data/inline/err/no_top_level_await_in_scripts.rast
  crates/rome_js_parser/test_data/inline/ok/reparse_await_as_identifier.js
  crates/rome_js_parser/test_data/inline/ok/reparse_await_as_identifier.rast
Owners: @MichaReiser, @xunilrj

refactor
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

chore(website): update documentation for `noInvalidConstructorSuper`
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  website/docs/src/lint/rules/noInvalidConstructorSuper.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_js_analyzer): `noInvalidConstructorSuper` false positive for class expressions
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js.snap
Owners: @leops, @xunilrj

fix(rome_js_analyzer): `noInvalidConstructorSuper` false positive for class expressions (#3561)
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js.snap
  website/docs/src/lint/rules/noInvalidConstructorSuper.md
Owners: @leops, @xunilrj, @rome/staff

perf(rome_js_semantic): Use FX Hash function (#3565)
  Cargo.lock
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @rome/staff, @xunilrj

perf(rome_js_semantic): POC Reduce writes
  crates/rome_js_analyze/src/semantic_services.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

Remove `@next` tag
  website/docs/src/guides/getting-started.md
Owners: @rome/staff

doc(rome_cli): Document `--files-max-size` option
  crates/rome_cli/src/commands/help.rs
Owners: @leops

Link to documentation instead of repeating installation instructions
  npm/rome/README.md
Owners: @rome/staff

Remove no longer needed documentation anchor
  npm/rome/README.md
Owners: @rome/staff

refactor(rome_cli): refactor the threading of parallel traversal to increase occupancy
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
Owners: @leops

move the initialization of the remaining_diagnostics counter
  crates/rome_cli/src/traversal.rs
Owners: @leops

Add navigation dropdown for docs
  website/docs/src/_includes/layout.liquid
  website/docs/src/_includes/scripts/index.js
  website/docs/src/styles/_docs.scss
Owners: @rome/staff

Add google analytics
  website/docs/src/_includes/layout.liquid
Owners: @rome/staff

Format
  website/docs/src/_includes/scripts/index.js
Owners: @rome/staff

[docs] Add navigation dropdown for docs (#3578)
  website/docs/src/_includes/layout.liquid
  website/docs/src/_includes/scripts/index.js
  website/docs/src/styles/_docs.scss
Owners: @rome/staff

doc: VS Code extension
  editors/vscode/README.md
Owners: @rome/staff

refactor(rome_cli): refactor the threading of parallel traversal to increase occupancy (#3577)
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
Owners: @leops

benchmark
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/run.js
Owners: @rome/staff

add perf directory
  benchmark/run.js
Owners: @rome/staff

Add linter benchmarks
  benchmark/bench.eslint.js
  benchmark/bench.rome.json
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/run.js
Owners: @rome/staff

Improve benchmarks
  benchmark/run.js
Owners: @rome/staff
