Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

Fix release build
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

fix(rome_formatter): Printer fill fits (#3307)
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/jsx/tag/closing_element.rs
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
Owners: @ematipico, @MichaReiser

fix(website): incorrect IR for jsx input
  website/playground/src/utils.ts
Owners: @rome/staff

closures for classes and objects
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

fix(rome_formatter): Best fitting start entry
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

documentation
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

fix(rome_formatter): Best fitting start entry (#3310)
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

fix(website): incorrect IR for jsx input (#3309)
  website/playground/src/utils.ts
Owners: @rome/staff

address PR review
  .gitattributes
  crates/rome_diagnostics/src/v2/display/diff.rs
Owners: @rome/staff

refactor(rome_diagnostics): refactor the display of diffs to how it worked in Rome JS
  Cargo.lock
  crates/rome_analyze/src/signals.rs
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/traversal.rs
  crates/rome_console/Cargo.toml
  crates/rome_console/src/diff.rs
  crates/rome_console/src/lib.rs
  crates/rome_console/src/markup.rs
  crates/rome_diagnostics/Cargo.toml
  crates/rome_diagnostics/examples/lint.rs
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics/src/suggestion.rs
  crates/rome_diagnostics/src/v2/advice.rs
  crates/rome_diagnostics/src/v2/context.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics/src/v2/display/diff.rs
  crates/rome_diagnostics/src/v2/display/frame.rs
  crates/rome_diagnostics/src/v2/location.rs
  crates/rome_diagnostics/src/v2/serde.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/workspace.rs
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_edit/src/lib.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

docs: better contribution write-up for lint rules
  .cargo/config.toml
  CONTRIBUTING.md
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_js_analyze/src/globals/mod.rs
Owners: @rome/staff, @leops, @xunilrj

fix: broken codes
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_analyze/src/rule.rs
Owners: @leops, @xunilrj

chore: 🤖 recover
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Owners: @rome/staff

chore: 🤖 recover
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_parser/test_data/inline/err/ts_abstract_member_ansi.rast
  crates/rome_js_parser/test_data/inline/err/ts_abstract_property_cannot_have_initiliazers.rast
  crates/rome_js_parser/test_data/inline/err/ts_property_initializer_ambient_context.rast
  crates/rome_js_parser/test_data/inline/ok/ts_abstract_classes.rast
  crates/rome_js_parser/test_data/inline/ok/ts_abstract_property_can_be_optional.rast
  crates/rome_js_parser/test_data/inline/ok/ts_class_property_member_modifiers.rast
  crates/rome_js_parser/test_data/inline/ok/ts_decorated_class_members.rast
Owners: @ematipico, @MichaReiser, @xunilrj

chore: 🤖 fiinsh
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases6.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases6.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr2.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr2.ts.snap
Owners: @leops, @xunilrj

chore: 🤖 add test case
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases6.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr2.ts.snap
Owners: @leops, @xunilrj

chore(rome_js_anlayze): split test case of useOptionalChain into multiple parts (#3312)
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases6.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases6.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr2.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr2.ts.snap
Owners: @leops, @xunilrj

feat(rome_js_analyzer): rule `noDangerouslySetInnerHtmlWithChildren`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html_with_children.rs
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtmlWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtmlWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtmlWithChildren/inJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtmlWithChildren/inJsx.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDangerouslySetInnerHtmlWithChildren.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: clippy
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html_with_children.rs
Owners: @leops, @xunilrj

chore: workaround for failing parsing
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html_with_children.rs
  website/src/docs/lint/rules/noDangerouslySetInnerHtmlWithChildren.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_diagnostics): refactor existing diagnostics to the new Diagnostic trait
  crates/rome_cli/src/reports/mod.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics/src/v2/adapters.rs
  crates/rome_diagnostics/src/v2/context.rs
  crates/rome_diagnostics/src/v2/diagnostic.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics/src/v2/serde.rs
  crates/rome_diagnostics_categories/src/lib.rs
  crates/rome_diagnostics_macros/src/generate.rs
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @rome/staff, @ematipico

chore: code review
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_analyze/src/rule.rs
Owners: @leops, @xunilrj

address PR review
  crates/rome_lsp/tests/server.rs
Owners: @ematipico

update snapshots
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/wasm/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/wasm/formatContent.test.mjs
Owners: @rome/staff

docs: better contribution write-up for lint rules (#3311)
  .cargo/config.toml
  CONTRIBUTING.md
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_js_analyze/src/globals/mod.rs
Owners: @rome/staff, @leops, @xunilrj

chore: code review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html_with_children.rs
  rome.json
  website/playground/src/romeWorker.ts
Owners: @leops, @xunilrj, @rome/staff

no unused variables accepting ts public/private constructor parameters
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
Owners: @leops, @xunilrj

fixing snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
Owners: @leops, @xunilrj

fixing snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
Owners: @leops, @xunilrj

fixing snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
Owners: @leops, @xunilrj

correctly push/pop scopes for ts function types
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @xunilrj

clippy and fmt issues
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

feat(rome_js_analyzer): rule `noDangerouslySetInnerHtmlWithChildren` (#3314)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html_with_children.rs
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtmlWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtmlWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtmlWithChildren/inJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtmlWithChildren/inJsx.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDangerouslySetInnerHtmlWithChildren.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_semantic): correctly push/pop scopes for ts function types (#3317)
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @xunilrj

fix(rome_js_analyze): no unused variables accepting ts public/private constructor parameters (#3316)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
Owners: @leops, @xunilrj

chore: new fixes
  CHANGELOG.md
Owners: @rome/staff

release: 0.10.0 (#3287)
  CHANGELOG.md
  editors/vscode/package.json
  npm/rome/package.json
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/project-config.md
Owners: @rome/staff
