Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore: clippy
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
Owners: @leops

fix CI and extension packaging
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/mod.rs
  editors/vscode/.vscodeignore
  website/playground/src/romeWorker.ts
Owners: @leops, @ematipico, @rome/staff

feat: 🎸 finish
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/test_data/inline/ok/ts_ambient_export_default_function.d.rast
  crates/rome_js_syntax/src/generated/kind.rs
  crates/rome_js_syntax/src/generated/macros.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/kinds_src.rs
Owners: @rome/staff, @MichaReiser, @xunilrj

support for module.exports in the semantic model
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

refactor: move traversal and stdin logic in execute code
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
Owners: @leops

fix: log when formatter is disabled
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/does_not_format_if_disabled.snap
  crates/rome_cli/tests/snapshots/format_stdin_with_errors.snap
Owners: @leops

fix function/class expression bindings
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

more tests for function/class expression bindings
  crates/rome_js_semantic/src/tests/references.rs
Owners: @xunilrj

semantic model accepting exports global property
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

feature(rome_js_semantic): Semantic model supporting "module.exports" (#3045)
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @xunilrj

fix(cargo): fix a typo in cargo manifests and add a repository field
  crates/rome_analyze/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_console/Cargo.toml
  crates/rome_control_flow/Cargo.toml
  crates/rome_css_factory/Cargo.toml
  crates/rome_css_syntax/Cargo.toml
  crates/rome_flags/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_factory/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
  crates/rome_json_factory/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_markup/Cargo.toml
  crates/rome_service/Cargo.toml
  website/playground/Cargo.toml
Owners: @leops, @xunilrj, @rome/staff, @ematipico, @MichaReiser

de-duplicate repository field
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
Owners: @MichaReiser, @xunilrj

chore: change function signature
  crates/rome_cli/src/commands/format.rs
  crates/rome_console/src/lib.rs
Owners: @leops

fix(cargo): fix a typo in cargo manifests and add a repository field (#3051)
  crates/rome_analyze/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_console/Cargo.toml
  crates/rome_control_flow/Cargo.toml
  crates/rome_css_factory/Cargo.toml
  crates/rome_css_syntax/Cargo.toml
  crates/rome_flags/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_factory/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
  crates/rome_json_factory/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_markup/Cargo.toml
  crates/rome_service/Cargo.toml
  website/playground/Cargo.toml
Owners: @leops, @xunilrj, @rome/staff, @ematipico, @MichaReiser

feat(rome_cli): format code via `stdin` (#3043)
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/apply_noop.snap
  crates/rome_cli/tests/snapshots/apply_ok.snap
  crates/rome_cli/tests/snapshots/does_not_format_if_disabled.snap
  crates/rome_cli/tests/snapshots/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/format_stdin_successfully.snap
  crates/rome_cli/tests/snapshots/format_stdin_with_errors.snap
  crates/rome_cli/tests/snapshots/lint_error.snap
  crates/rome_cli/tests/snapshots/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/upgrade_severity.snap
  crates/rome_console/src/codespan/mod.rs
  crates/rome_console/src/diff.rs
  crates/rome_console/src/lib.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_service/src/lib.rs
Owners: @leops, @rome/staff, @ematipico

fix test name generation
  crates/tests_macros/src/lib.rs
Owners: @rome/staff

moving linter to support ts
  crates/rome_js_analyze/src/registry.rs
  crates/rome_js_analyze/src/semantic_analyzers.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/no_unused_variables.rs
  crates/rome_js_analyze/src/semantic_analyzers/no_unused_variables/no_unused_variables.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariablesTypescript.ts.snap
  crates/rome_js_analyze/tests/specs/no_unused_variables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/no_unused_variables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/no_unused_variables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/no_unused_variables/noUnusedVariables.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/tests_macros/src/lib.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

incorporate is_exported into noUnusedVariables
  crates/rome_js_analyze/src/semantic_analyzers/no_unused_variables/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/no_unused_variables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/no_unused_variables/noUnusedVariables.js.snap
Owners: @leops, @xunilrj

more typescript test
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariablesTypescript.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariablesTypescript.ts.snap
Owners: @leops, @xunilrj

applicability as maybeincorrect
  crates/rome_js_analyze/src/semantic_analyzers/no_unused_variables/no_unused_variables.rs
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @xunilrj, @ematipico

correctly moving noUnusedVariables to js folder
  crates/rome_js_analyze/src/registry.rs
  crates/rome_js_analyze/src/semantic_analyzers.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/src/semantic_analyzers/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/no_unused_variables/no_unused_variables.rs
Owners: @leops, @xunilrj

improvements to noUnusedVariables to consider catch and typescript
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariablesTypescript.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariablesTypescript.ts.snap
Owners: @leops, @xunilrj

fix cli snap test
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/apply_suggested.snap
  crates/rome_cli/tests/snapshots/apply_suggested_error.snap
Owners: @leops

fixing rebase issue
  crates/rome_cli/tests/snapshots/apply_suggested.snap
Owners: @leops

feat(rome_js_analyze): improvements to noUnusedVariables to consider catch, typescript and export (#3004)
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/apply_suggested.snap
  crates/rome_cli/tests/snapshots/apply_suggested_error.snap
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_service/src/configuration/mod.rs
  crates/tests_macros/src/lib.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

removing println about config file
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

public and private class properties
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap.new
Owners: @leops, @xunilrj

correct flag non camel case class methods
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap.new
Owners: @leops, @xunilrj

better description for the warning
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
Owners: @leops, @xunilrj

website update
  website/src/docs/lint/rules/useCamelCase.md
Owners: @rome/staff

fix(rome_js_analyze): use camel case for class members (#3037)
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
  website/src/docs/lint/rules/useCamelCase.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_service): removing println about config file (#3052)
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

address PR review
  .github/workflows/release_lsp.yml
  crates/rome_bin/Cargo.toml
  crates/rome_bin/README.md
  crates/rome_bin/src/cli.rs
  crates/rome_bin/src/server.rs
  crates/rome_bin/src/service/mod.rs
  crates/rome_cli/tests/main.rs
  editors/vscode/.vscodeignore
  editors/vscode/src/main.ts
Owners: @rome/staff, @leops

rename `run_cli` to `CliSession::run`
  crates/rome_bin/src/cli.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/main.rs
Owners: @rome/staff, @leops

improve the printing of transport errors
  crates/rome_bin/src/service/mod.rs
Owners: @rome/staff

fix CI
  crates/rome_js_analyze/src/utils/rename.rs
  editors/vscode/src/lsp_requests.ts
  editors/vscode/src/main.ts
Owners: @leops, @xunilrj, @rome/staff

address PR review
  Cargo.lock
  crates/rome_bin/Cargo.toml
  crates/rome_bin/src/lib.rs
  crates/rome_bin/src/server.rs
  crates/rome_bin/src/service/mod.rs
  crates/rome_bin/src/service/unix.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace/client.rs
Owners: @rome/staff, @leops, @ematipico

support for jsx reference inside the semantic model
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @leops, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
