Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

clippy and fmt issues
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

feat(rome_js_semantic): Semantic Model support for closures (#3285)
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

fix(rome_fs): improve the messaging of the "unhandled file type" diagnostic (#3332)
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/fs_error_symlink.snap
  crates/rome_cli/tests/snapshots/main_check/fs_error_unknown.snap
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_fs/src/lib.rs
Owners: @leops

feat(rome_analyze): use serde to deserialize rule settings
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/options.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_service/Cargo.toml
Owners: @leops, @xunilrj, @ematipico

fix(rome_service): disallow large files from being parsed and analyzed
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_ci/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_format/file_too_large.snap
  crates/rome_console/src/fmt.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

address PR review
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

fix(rome_service): disallow large files from being parsed and analyzed (#3339)
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_ci/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_format/file_too_large.snap
  crates/rome_console/src/fmt.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

fix(rome_js_analyze): improve the range merging logic in `noDeadCode`
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_js_analyze/src/analyzers/nursery/no_unreachable.rs
  crates/rome_js_analyze/src/control_flow/nodes/switch_stmt.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsSwitchStatement.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsSwitchStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsTryFinallyStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsTryStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsVariableStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/MergeRanges.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/MergeRanges.js.snap
Owners: @leops, @xunilrj

fix the order and wording of advices
  crates/rome_js_analyze/src/analyzers/nursery/no_unreachable.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsBreakStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsContinueStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsDoWhileStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForInStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForOfStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsIfStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsLabeledStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsReturnStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsSwitchStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsThrowStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsTryFinallyStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsTryStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsVariableStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsWhileStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/MergeRanges.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/MergeRanges.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/SuppressionComments.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/TerminatorsPlurals.js.snap
  website/src/docs/lint/rules/noUnreachable.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_wasm): fix the WASM diagnostic printer and add a snapshot test for it
  crates/rome_diagnostics/src/file.rs
  crates/rome_wasm/src/utils.rs
  npm/js-api/tests/wasm/__snapshots__/diagnosticPrinter.test.mjs.snap
  npm/js-api/tests/wasm/diagnosticPrinter.test.mjs
Owners: @rome/staff

fix(rome_lsp): fix the calculation of offsets in the diff to LSP text edit conversion
  crates/rome_lsp/src/utils.rs
Owners: @ematipico

fix the formatting
  npm/js-api/tests/wasm/diagnosticPrinter.test.mjs
Owners: @rome/staff

fix(rome_js_analyze): improve the diagnostics emitted by `noUnreachable` (#3348)
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_js_analyze/src/analyzers/nursery/no_unreachable.rs
  crates/rome_js_analyze/src/control_flow/nodes/switch_stmt.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsBreakStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsContinueStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsDoWhileStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForInStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForOfStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsIfStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsLabeledStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsReturnStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsSwitchStatement.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsSwitchStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsThrowStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsTryFinallyStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsTryStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsVariableStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsWhileStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/MergeRanges.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/MergeRanges.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/SuppressionComments.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/TerminatorsPlurals.js.snap
  website/src/docs/lint/rules/noUnreachable.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_lsp): fix the calculation of offsets in the diff to LSP text edit conversion (#3350)
  crates/rome_lsp/src/utils.rs
Owners: @ematipico

fix(rome_wasm): fix the WASM diagnostic printer (#3349)
  crates/rome_diagnostics/src/file.rs
  crates/rome_wasm/src/utils.rs
  npm/js-api/tests/wasm/__snapshots__/diagnosticPrinter.test.mjs.snap
  npm/js-api/tests/wasm/diagnosticPrinter.test.mjs
Owners: @rome/staff

chore: code suggestions
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
Owners: @leops, @xunilrj

chore(playground): remove red text
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

chore(playground): remove red text (#3351)
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

chore: move to use `serde::Value` to avoid breaking deserialization
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/options.rs
  crates/rome_service/src/configuration/linter/mod.rs
  rome.json
Owners: @leops, @xunilrj, @ematipico, @rome/staff

semantic model support for globals
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @xunilrj, @leops, @ematipico

feat: re-implement the rule
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusValid.jsx.snap
  website/src/docs/lint/rules/noAutofocus.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_formatter): new print fill entries
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/queue.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @rome/staff, @ematipico, @MichaReiser

chore: use cargo workspace dependencies
  Cargo.lock
  Cargo.toml
  crates/rome_analyze/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_rowan/Cargo.toml
  crates/rome_service/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/coverage/Cargo.toml
Owners: @rome/staff, @leops, @xunilrj, @ematipico, @MichaReiser

feat(rome_js_formatter): new print fill entries
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

fmt and clippy issues
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

chore: use cargo workspace dependencies (#3353)
  Cargo.lock
  Cargo.toml
  crates/rome_analyze/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_rowan/Cargo.toml
  crates/rome_service/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/coverage/Cargo.toml
Owners: @rome/staff, @leops, @xunilrj, @ematipico, @MichaReiser

feat(rome_js_analyzer): rule `noAutofocus` (#3333)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusValid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noAutofocus.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_formatter): new print fill entries
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_semantic): simple globals resolution (#3354)
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @xunilrj, @ematipico

chore: 🤖 finish
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_type_instantiation_expression.rast
  crates/rome_js_parser/test_data/inline/ok/ts_type_instantiation_expression.ts
Owners: @MichaReiser, @xunilrj

chore: 🤖 refactor
  crates/rome_js_parser/src/syntax/typescript/types.rs
Owners: @MichaReiser, @xunilrj

feat(rome_js_analyze): rule `useValidAnchor`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useValidAnchor.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_analyze): use serde to deserialize rule settings
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/options.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_service/Cargo.toml
Owners: @leops, @xunilrj, @ematipico

chore: code suggestions
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
Owners: @leops, @xunilrj

feat(rome_js_formatter): new print fill entries
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat: add useAltText lint rule for JSX expression
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_alt_text.rs
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/UseAltText.md
  website/src/docs/lint/rules/index.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_analyzer): rule `useKeyWithClickEvents`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_analyze): rule `useKeyWithMouseEvents`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_key_with_mouse_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useKeyWithMouseEvents.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_analyze): update config and docs for rule
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_key_with_mouse_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/useKeyWithMouseEvents.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

feat(rome_js_formatter): new print fill entries
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
