Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fix(rome_cli): remove unsupported options in the `ci` help text
  crates/rome_cli/src/commands/help.rs
Owners: @leops

chore: code suggestions
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_console/src/lib.rs
  crates/rome_diagnostics/src/v2/advice.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics/src/v2/display/message.rs
  crates/rome_diagnostics/src/v2/mod.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

fix(cli): state correct command to verify code post `rome init`
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
Owners: @leops

better api for picking jsx attributes
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @leops, @xunilrj, @rome/staff

fix(website): website text
  website/src/_includes/docs/cli-screenshots/init.md
Owners: @rome/staff

fix(rome_cli): print the correct subcommand in error messages
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/main.rs
Owners: @leops

refactor(cli): Replace io::copy with manual read
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/mod.rs
Owners: @leops

feat(cli): add lsp-proxy cli help message
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/lib.rs
Owners: @leops

fix(rome_cli): print the correct subcommand in error messages (#3460)
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/main.rs
Owners: @leops

fix(rome_cli): state correct command to verify code post `rome init` (#3459)
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  website/src/_includes/docs/cli-screenshots/init.md
Owners: @leops, @rome/staff

fix(cli): Modify the comments
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/help.rs
Owners: @leops

chore: code suggestions
  crates/rome_cli/tests/commands/format.rs
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

chore: fix test
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

refactor(rome_analyzer): use new diagnostics for `AnalyzerDiagnostic`
  crates/rome_analyze/src/lib.rs
Owners: @leops, @xunilrj

feat(cli): add lsp_proxy command to support stdin/stdout (#3442)
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/service/mod.rs
Owners: @leops

fix(rome_cli): Fix private `open_socket`
  crates/rome_cli/src/service/mod.rs
Owners: @leops

fix(rome_cli): Fix private `open_socket`
  crates/rome_cli/src/service/mod.rs
Owners: @leops

refactor(rome_service): use `serde::Diagnostic` to join diagnostic from parsing and analyzer
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_cli/tests/snapshots/main_commands_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_parse_error.snap
  crates/rome_diagnostics/src/v2/display/message.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_double_equals.rs
  crates/rome_js_analyze/tests/specs/correctness/noDoubleEquals.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  website/src/docs/lint/rules/noDoubleEquals.md
  website/src/docs/lint/rules/useAnchorContent.md
  website/src/docs/lint/rules/useValidTypeof.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

chore: code suggestions
  crates/rome_cli/src/commands/help.rs
Owners: @leops

fix(rome_cli): Fix private `open_socket` (#3464)
  crates/rome_cli/src/service/mod.rs
Owners: @leops

chore: order files
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
Owners: @leops

fix(rome_cli): remove unsupported options in the `ci` help text (#3457)
  crates/rome_cli/src/commands/help.rs
Owners: @leops

adjustments
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @rome/staff

some perf improvements
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @leops, @xunilrj, @rome/staff

fmt and clippy issues
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @leops, @xunilrj, @rome/staff

chore: Re-structure Website
  website/src/_includes/docs/architecture.md
  website/src/_includes/docs/cli.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/post-installation.md
  website/src/_includes/docs/project-config.md
  website/src/_includes/docs/status.md
  website/src/_includes/layouts/base.liquid
  website/src/blog/index.liquid
  website/src/blog/posts/2022-02-08_rome-formatter-and-rust-update.md
  website/src/blog/posts/2022-04-05_rome_formatter_release.md
  website/src/docs.md
  website/src/index.md
  website/src/styles/_sidebar.scss
  website/src/styles/index.scss
Owners: @rome/staff

Some more structure changes
  crates/rome_cli/src/commands/init.rs
  website/src/_includes/docs/cli-commands.md
  website/src/_includes/docs/cli.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/post-installation.md
  website/src/_includes/docs/project-config.md
  website/src/_includes/docs/reference.md
  website/src/docs.md
Owners: @leops, @rome/staff

Improve `init` layout
  crates/rome_cli/src/commands/init.rs
Owners: @leops

Change order of code fixes and ignoring code
  website/src/_includes/docs/linter.md
Owners: @rome/staff

Rename *Global Flags* to *Global Options* for consistency
  website/src/_includes/docs/reference.md
Owners: @rome/staff

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/correctness/no_double_equals.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @xunilrj, @ematipico

Format files to fix indention
  website/src/.editorconfig
  website/src/_includes/docs/architecture.md
  website/src/_includes/docs/configuration.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/intro.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/philosophy.md
  website/src/_includes/docs/reference.md
  website/src/_includes/docs/status.md
  website/src/_includes/layouts/base.liquid
  website/src/docs.md
Owners: @rome/staff

Fix snapshot
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
Owners: @leops

chore: Re-structure Website (#3466)
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  website/src/.editorconfig
  website/src/_includes/docs/architecture.md
  website/src/_includes/docs/cli-commands.md
  website/src/_includes/docs/cli.md
  website/src/_includes/docs/configuration.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/intro.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/philosophy.md
  website/src/_includes/docs/post-installation.md
  website/src/_includes/docs/project-config.md
  website/src/_includes/docs/reference.md
  website/src/_includes/docs/status.md
  website/src/_includes/layouts/base.liquid
  website/src/blog/index.liquid
  website/src/blog/posts/2022-02-08_rome-formatter-and-rust-update.md
  website/src/blog/posts/2022-04-05_rome_formatter_release.md
  website/src/docs.md
  website/src/index.md
  website/src/styles/_sidebar.scss
  website/src/styles/index.scss
Owners: @leops, @rome/staff

chore: code suggestions
  crates/rome_diagnostics/src/v2/display/message.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_double_equals.rs
Owners: @rome/staff, @leops, @xunilrj

ci: fix script and remove "-next" from workflow
  npm/js-api/scripts/update-nightly-version.mjs
  npm/js-api/scripts/updateVersionForPrerelease.mjs
  npm/rome/README.md
Owners: @rome/staff

add test case for correct paths
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
  crates/rome_cli/tests/snapshots/main_commands_format/write_only_files_in_correct_base.snap
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

fmt and clippy issues
  crates/rome_js_analyze/src/utils/tests.rs
Owners: @leops, @xunilrj

doc(website): Show lint groups in TOC
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

Improve rule group wording
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
