Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

fix(rome_cli): correctly account for diff diagnostics in the printed diagnostics count
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
Owners: @leops

doc: Fix configuration example
  website/docs/src/configuration.md
Owners: @rome/staff

add tests
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/commands/format.rs
Owners: @leops

benchmark: Add `pprettier` to comparison
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/run.js
Owners: @rome/staff

fix(rome_js_analyze): improve the logic of jsx_reference_identifier_is_fragment (#3592)
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/fromImportRenameValid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/fromImportRenameValid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/notFragmentValid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/notFragmentValid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/userDefinedValid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/userDefinedValid.jsx.snap
Owners: @leops, @xunilrj

fix obj member removal code action and thus fix snap test
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js.snap
Owners: @leops, @xunilrj

update rule release version
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
Owners: @leops, @xunilrj

consistent diagnostics: always only highlight the last overwriting property definition
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js.snap
Owners: @leops, @xunilrj

Mention `pprettier` and `xargs` in README
  benchmark/README.md
Owners: @rome/staff

codegen
  website/docs/src/lint/rules/index.md
  website/docs/src/lint/rules/noDupeKeys.md
Owners: @rome/staff

Fix footnote syntax
  benchmark/README.md
Owners: @rome/staff

thanks clippy!
  crates/rome_js_analyze/src/utils/tests.rs
Owners: @leops, @xunilrj

refactor
  crates/rome_js_analyze/src/analyzers/complexity/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_syntax/src/expr_ext.rs
  website/docs/src/lint/rules/useNumericLiterals.md
Owners: @leops, @xunilrj, @rome/staff

useValidAnchor considering all possible expressions
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx.snap.new
Owners: @leops, @xunilrj

split tests
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/overriden.js
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/overriden.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/valid.js.snap
Owners: @leops, @xunilrj

update
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  website/docs/src/lint/rules/useNumericLiterals.md
Owners: @leops, @xunilrj, @rome/staff

Remove dead styles
  website/docs/src/styles/_homepage.scss
  website/docs/src/styles/index.scss
Owners: @rome/staff

[website] Add scroll-padding-top
  website/docs/src/styles/_global.scss
Owners: @rome/staff

feat: created json-schema
  website/docs/static/schema.json
Owners: @rome/staff

fix: added `$schema` key to the schema
  website/docs/static/schema.json
Owners: @rome/staff

clippy
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @rome/staff

refactor
  crates/rome_js_analyze/src/react.rs
Owners: @leops, @xunilrj

Add `dprint` to benchmark
  benchmark/dprint.json
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/run.js
Owners: @rome/staff

fix(rome_cli): Respect formatter/linter `enabled` from configuration (#3591)
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter_via_cli.snap
Owners: @leops

Add dprint numbers and explanation
  benchmark/README.md
Owners: @rome/staff

fix(rome_cli): correctly account for diff diagnostics in the printed diagnostics count (#3595)
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/commands/format.rs
Owners: @leops

feat(vscode): display the version of the language server in the status bar
  editors/vscode/package-lock.json
  editors/vscode/src/main.ts
  editors/vscode/src/statusBar.ts
  editors/vscode/src/status_bar.ts
Owners: @rome/staff

Fix eslint benchmark
  benchmark/run.js
Owners: @rome/staff

Update Readme
  benchmark/README.md
Owners: @rome/staff

fmt and clippy issues
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
Owners: @leops, @xunilrj

feat(vscode): display the version of the language server in the status bar (#3616)
  editors/vscode/package-lock.json
  editors/vscode/src/main.ts
  editors/vscode/src/statusBar.ts
  editors/vscode/src/status_bar.ts
Owners: @rome/staff

support for computed member expression
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx.snap.new
Owners: @leops, @xunilrj

fix(rome_js_analyze): Assert `React` symbols resolve to `react` module
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_analyze/tests/specs/a11y/noPositiveTabindex/reactCreateElementInvalid.js
  crates/rome_js_analyze/tests/specs/a11y/noPositiveTabindex/reactCreateElementInvalid.js.snap
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/inObject.js
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/inObject.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropInvalid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropValid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropValid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/noChildren.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/noChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/withChildren.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noVoidElementsWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/correctness/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtml/reactCreateElement.js
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtml/reactCreateElement.js.snap
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtmlWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtmlWithChildren/createElement.js.snap
Owners: @leops, @xunilrj

support for object and array bindings when exporting
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

Support `React` global
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/tests/specs/a11y/noPositiveTabindex/reactCreateElementInvalid.js
  crates/rome_js_analyze/tests/specs/a11y/noPositiveTabindex/reactCreateElementInvalid.js.snap
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/inObject.js
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/inObject.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropInvalid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/noChildren.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/noChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/withChildren.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noVoidElementsWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/correctness/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtml/reactCreateElement.js
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtml/reactCreateElement.js.snap
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtmlWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtmlWithChildren/createElement.js.snap
Owners: @leops, @xunilrj

Restore lib.rs
  crates/rome_js_analyze/src/lib.rs
Owners: @leops, @xunilrj

Fix `noArrayIndexKey` test
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx.snap
Owners: @leops, @xunilrj

yield in non generator function
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/function_decl_err.rast
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_module.js
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_module.rast
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_script.js
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_script.rast
  crates/rome_js_parser/test_data/inline/err/yield_expr_in_parameter_initializer.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_module.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_module.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_script.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_script.rast
  crates/rome_js_parser/test_data/inline/ok/reparse_yield_as_identifier.js
  crates/rome_js_parser/test_data/inline/ok/reparse_yield_as_identifier.rast
  crates/rome_js_parser/test_data/inline/ok/yield_in_generator_function.js
  crates/rome_js_parser/test_data/inline/ok/yield_in_generator_function.rast
Owners: @MichaReiser, @xunilrj

Improve wording on single-threaded
  benchmark/README.md
Owners: @rome/staff
