Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

Pre-review cleanups
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
Owners: @ematipico, @MichaReiser

Fix member chain grouping
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/member_chain/simple_argument.rs
  crates/rome_js_formatter/tests/specs/js/module/expression/member-chain/complex_arguments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/complex-args.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/issue-4125.js.snap
Owners: @ematipico, @MichaReiser

chore: code suggestions
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
Owners: @rome/staff

feat(rome_js_analyzer): implement code action for `noVoidElementsWithChildren`
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx.snap
  website/src/docs/lint/rules/noVoidElementsWithChildren.md
Owners: @leops, @xunilrj, @rome/staff

chore: code suggestion
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
Owners: @leops, @xunilrj

chore: code suggestions
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
Owners: @leops, @xunilrj

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
Owners: @leops, @xunilrj

fix(rome_js_analyzer): precedence for `useOptionalChain` (#3277)
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
Owners: @leops, @xunilrj, @rome/staff

Update crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/buffer.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/context.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/context.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
Owners: @ematipico, @MichaReiser

Small formatting improvements
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_formatter/src/ts/declarations/enum_declaration.rs
  crates/rome_js_formatter/src/ts/lists/enum_member_list.rs
  crates/rome_js_formatter/src/ts/lists/type_member_list.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/interface.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/compiler/functionOverloadsOnGenericArity1.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conformance/types/constKeyword/constKeyword.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conformance/types/enumDeclaration/enumDeclaration.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/enum/computed-members.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/inferface-asi.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/keywords/keywords.ts.snap
  crates/rome_js_formatter/tests/specs/ts/suppressions.ts.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_analyzer): code action for `noVoidElementsWithChildren` (#3286)
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx.snap
  website/src/docs/lint/rules/noVoidElementsWithChildren.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyzer): rule `noArrayIndex`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/specs/nursery/noArrayIndexKey.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noArrayIndexKey.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: code suggestions
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noArrayIndexKey.jsx.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noArrayIndexKey.md
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/tests/specs/nursery/noArrayIndexKey.jsx.snap
Owners: @leops, @xunilrj

Extract test call
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/ts/expressions/type_arguments.rs
  crates/rome_js_formatter/src/ts/lists/enum_member_list.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/test_call.rs
Owners: @ematipico, @MichaReiser

Code review feedback
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printed_tokens.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
Owners: @ematipico, @MichaReiser

chore: code suggestions
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_array_index_key.rs
  website/src/docs/lint/rules/noArrayIndexKey.md
Owners: @leops, @xunilrj, @rome/staff

chore: code review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxExpressionChildInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxTextInvalid.jsx.snap
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyzer): code action `noUselessFragments` (#3288)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxElementInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxElementInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxExpressionChildInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxExpressionChildInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxTextInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxTextInvalid.jsx.snap
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyzer): rule `noArrayIndex` (#3293)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/specs/nursery/noArrayIndexKey.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noArrayIndexKey.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_analyzer): rule `noUndeclaredVariables`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_shadow_restricted_names.rs
  crates/rome_js_analyze/src/globals/browser.rs
  crates/rome_js_analyze/src/globals/mod.rs
  crates/rome_js_analyze/src/globals/node.rs
  crates/rome_js_analyze/src/globals/runtime.rs
  crates/rome_js_analyze/src/globals/typescript.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_undeclared_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js.snap
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUndeclaredVariables.md
Owners: @rome/staff, @leops, @xunilrj

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

feat(rome_js_analyzer): rule `noUndeclaredVariables` (#3282)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_shadow_restricted_names.rs
  crates/rome_js_analyze/src/globals/browser.rs
  crates/rome_js_analyze/src/globals/mod.rs
  crates/rome_js_analyze/src/globals/node.rs
  crates/rome_js_analyze/src/globals/runtime.rs
  crates/rome_js_analyze/src/globals/typescript.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_undeclared_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUndeclaredVariables.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

release: 0.10.0
  CHANGELOG.md
  editors/vscode/package.json
  npm/rome/package.json
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

fix: grammar
  CHANGELOG.md
Owners: @rome/staff

Update CHANGELOG.md
  CHANGELOG.md
Owners: @rome/staff

Update CHANGELOG.md
  CHANGELOG.md
Owners: @rome/staff

Update CHANGELOG.md
  CHANGELOG.md
Owners: @rome/staff

chore: code review
  CHANGELOG.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

Update CHANGELOG.md
  CHANGELOG.md
Owners: @rome/staff

chore: added more
  CHANGELOG.md
Owners: @rome/staff

refactor(rome_diagnostics): port the display of code frames over from Rome JS
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_console/src/codespan/LICENSE
  crates/rome_console/src/codespan/mod.rs
  crates/rome_console/src/codespan/render.rs
  crates/rome_console/src/lib.rs
  crates/rome_diagnostics/examples/serde.rs
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics/src/file.rs
  crates/rome_diagnostics/src/lib.rs
  crates/rome_diagnostics/src/v2/context.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics/src/v2/display/frame.rs
  crates/rome_diagnostics/src/v2/location.rs
  crates/rome_diagnostics/src/v2/mod.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

fix the alignment of tab characters
  crates/rome_diagnostics/src/v2/display/frame.rs
Owners: @rome/staff

Update crates/rome_diagnostics/src/v2/display/frame.rs
  crates/rome_diagnostics/src/v2/display/frame.rs
Owners: @rome/staff

fix(rome_formatter): Printer fill fits
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/jsx/tag/closing_element.rs
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
Owners: @ematipico, @MichaReiser

Undo unintended change
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
