Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

chore: update snapshots
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js.snap
Owners: @leops, @xunilrj

chore: add more valid cases
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx.snap
Owners: @leops, @xunilrj

chore: add missing config for the rule
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

chore: handle unary expression
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx.snap
Owners: @leops, @xunilrj

fix: show diagnostic on the property value
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js.snap
Owners: @leops, @xunilrj

chore: update tests/snapshots
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx.snap
Owners: @leops, @xunilrj

Update crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @leops, @xunilrj

chore: update doc files
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noPositiveTabindex.md
Owners: @rome/staff

Update crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @leops, @xunilrj

Update crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @leops, @xunilrj

chore: update tests and snapshots
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx.snap
Owners: @leops, @xunilrj

chore: update snapshots to match with diagnostic changes
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js.snap
Owners: @leops, @xunilrj

chore: add missing codegen files
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noPositiveTabindex.md
Owners: @rome/staff

chore: address PR review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @leops, @xunilrj

fix: lint issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @leops, @xunilrj

Update crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @leops, @xunilrj

chore: add Options to rule
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @ematipico, @rome/staff

fix(rome_diagnostics): fix the printing of empty diff lines (#3382)
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_linter.snap
  crates/rome_diagnostics/src/v2/display/diff.rs
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/style/noShoutyConstants.js.snap
  website/src/docs/lint/rules/noShoutyConstants.md
Owners: @leops, @rome/staff, @xunilrj

fix(rome_js_parser): Allow `arguments` in `d.ts` files
  crates/rome_js_parser/src/state.rs
  crates/rome_js_parser/test_data/inline/ok/arguments_in_definition_file.d.rast
  crates/rome_js_parser/test_data/inline/ok/arguments_in_definition_file.d.ts
  crates/rome_js_syntax/src/source_type.rs
  xtask/codegen/src/parser_tests.rs
Owners: @MichaReiser, @xunilrj, @rome/staff

feat(rome_analyzer): add `noPositiveTabindex` rule (#3336)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noPositiveTabindex.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_diagnostics): force the diagnostics separator line to be at least 10 characters wide
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_js_analyze/tests/specs/correctness/noMultipleSpacesInRegularExpressionLiterals.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js.snap
  website/src/docs/lint/rules/noDangerouslySetInnerHtmlWithChildren.md
  website/src/docs/lint/rules/noMultipleSpacesInRegularExpressionLiterals.md
  website/src/docs/lint/rules/noUnusedTemplateLiteral.md
  website/src/docs/lint/rules/noVoidElementsWithChildren.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
  website/src/docs/lint/rules/useSingleCaseStatement.md
  website/src/docs/lint/rules/useSingleVarDeclarator.md
Owners: @rome/staff, @leops, @xunilrj

chore: todo for track diagnostic error
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @xunilrj, @ematipico

chore: fix link
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

fix(rome_js_formatter): Fix dropped initializer comments
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment_comments.ts
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment_comments.ts.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/property_assignment_comments.ts
  crates/rome_js_formatter/tests/specs/ts/assignment/property_assignment_comments.ts.snap
Owners: @ematipico, @MichaReiser

Restore lib.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_parser): Allow `arguments` in `d.ts` files (#3389)
  crates/rome_js_parser/src/state.rs
  crates/rome_js_parser/test_data/inline/ok/arguments_in_definition_file.d.rast
  crates/rome_js_parser/test_data/inline/ok/arguments_in_definition_file.d.ts
  crates/rome_js_syntax/src/source_type.rs
  xtask/codegen/src/parser_tests.rs
Owners: @MichaReiser, @xunilrj, @rome/staff

chore: fix test
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

fix(rome_js_formatter): Arrow chain trailing comments
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_chain_comments.js
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_chain_comments.js.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): Arrow chain trailing comments (#3398)
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_chain_comments.js
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_chain_comments.js.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): Fix dropped initializer comments (#3397)
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment_comments.ts
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment_comments.ts.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/property_assignment_comments.ts
  crates/rome_js_formatter/tests/specs/ts/assignment/property_assignment_comments.ts.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): Fix arrow binding parameter in test call
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_test_callback.js
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_test_callback.js.snap
Owners: @ematipico, @MichaReiser

Extract helper for testing if inside a test call expression
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/utils/test_call.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_analyze): fix the debug bound checks of the CFG visitor
  crates/rome_js_analyze/src/control_flow/visitor.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/NestedBlocks.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/NestedBlocks.js.snap
Owners: @leops, @xunilrj

docs(rome_diagnostics): add a contributor documentation file for diagnostics
  crates/rome_diagnostics/CONTRIBUTING.md
Owners: @rome/staff

feat(rome_js_analyze): rule `useAnchorContent`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
  crates/rome_js_analyze/tests/specs/nursery/useAnchorContent.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAnchorContent.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useAnchorContent.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: code review
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
  crates/rome_js_analyze/tests/specs/nursery/useAnchorContent.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAnchorContent.jsx.snap
  website/src/docs/lint/rules/useAnchorContent.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_diagnostics): force the diagnostics separator line to be at least 10 characters wide (#3396)
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_js_analyze/tests/specs/correctness/noMultipleSpacesInRegularExpressionLiterals.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js.snap
  website/src/docs/lint/rules/noDangerouslySetInnerHtmlWithChildren.md
  website/src/docs/lint/rules/noMultipleSpacesInRegularExpressionLiterals.md
  website/src/docs/lint/rules/noUnusedTemplateLiteral.md
  website/src/docs/lint/rules/noVoidElementsWithChildren.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
  website/src/docs/lint/rules/useSingleCaseStatement.md
  website/src/docs/lint/rules/useSingleVarDeclarator.md
Owners: @rome/staff, @leops, @xunilrj

fix(rome_js_analyze): fix the debug bound checks of the CFG visitor (#3400)
  crates/rome_js_analyze/src/control_flow/visitor.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/NestedBlocks.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/NestedBlocks.js.snap
Owners: @leops, @xunilrj

chore: adjust doc comment
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
Owners: @leops, @xunilrj

ci: publish workflow
  .github/workflows/release_js_api.yml
  editors/vscode/scripts/update-nightly-version.mjs
  npm/js-api/README.md
  npm/js-api/package.json
  npm/js-api/scripts/updateVersionForPrerelease.mjs
Owners: @rome/staff
