Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

batch mutation calculating text edits
  crates/rome_rowan/src/ast/batch.rs
Owners: @rome/staff

fmt and clippy issues
  crates/rome_rowan/src/ast/batch.rs
Owners: @rome/staff

fmt and clippy issues
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_rowan/src/ast/batch.rs
Owners: @leops, @xunilrj, @rome/staff

perf(rome_cli): replace global allocator with jemalloc (#3237)
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/main.rs
  xtask/bench/Cargo.toml
  xtask/bench/src/main.rs
Owners: @rome/staff, @leops

chore: rename the rule using plural
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportNamespaceInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportNamespaceInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/noChildren.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/noChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withCommentsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withCommentsInvalid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

rebase
  crates/rome_js_analyze/src/utils/batch.rs
Owners: @leops, @xunilrj

move "Fatal" from a diagnostic tag to a severity level
  crates/rome_diagnostics/src/v2/diagnostic.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics/src/v2/serde.rs
Owners: @rome/staff

chore: 🤖 update parser test
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

chore: cover another case
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/userDefinedValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/userDefinedValid.jsx.snap
Owners: @leops, @xunilrj

fix(rome_js_parser): Adding syntax error for new A?.b() (#3118)
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.rast
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.ts
Owners: @leops, @xunilrj, @MichaReiser

feat(rome_js_analyze): `noUselessFragments` (#3256)
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBindingInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBindingInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBindingValid.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBindingValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportNamespaceInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportNamespaceInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/noChildren.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/noChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/userDefinedValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/userDefinedValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withCommentsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withCommentsInvalid.jsx.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

fix(rome_js_analyzer): #3261
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.jsx
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.jsx.snap
Owners: @leops, @xunilrj

trying to improve performance
  crates/rome_rowan/src/ast/batch.rs
Owners: @rome/staff

trying to improve performance
  crates/rome_rowan/src/ast/batch.rs
Owners: @rome/staff

Clippy
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Bindings comments generator
  Cargo.lock
  crates/rome_service/src/workspace_types.rs
  xtask/bench/Cargo.toml
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_bindings.rs
Owners: @rome/staff, @leops, @ematipico

Fix codegen for unknown nodes
  xtask/codegen/src/formatter.rs
Owners: @rome/staff

Document Comments API
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
Owners: @ematipico, @MichaReiser

Empty File to create placeholder PR
  empty.txt
Owners: @rome/staff

refactor(rome_formatter): Delete `FormatElement::Comment`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

feat(rome_formatter): Comments multi map (#3230)
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/map.rs
Owners: @rome/staff, @ematipico, @MichaReiser

Empty File to create placeholder PR
  empty.txt
Owners: @rome/staff

refactor(rome_formatter): Move verbatim formatting to `rome_formatter`
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/verbatim.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Comments infrastructure
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
Owners: @rome/staff, @ematipico, @MichaReiser

Rename `cst` back to `token`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/token.rs
  crates/rome_formatter/src/verbatim.rs
Owners: @ematipico, @MichaReiser

refactor(rome_js_formatter): Part 6: JS Comments formatting
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/prelude.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

chore(xtask): Part 8: Add line breaks before doc comments (#3246)
  Cargo.lock
  crates/rome_service/src/workspace_types.rs
  xtask/bench/Cargo.toml
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_bindings.rs
Owners: @rome/staff, @leops, @ematipico

Documentation
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Documentation and naming
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

Rename `soft_line_indent_or_spaced` to `soft_space_or_block_indent`
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

refactor(rome_diagnostics): refactor legacy diagnostics to use the v2 display logic
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_console/src/codespan/mod.rs
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics/src/lib.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_diagnostics_macros/src/generate.rs
  crates/rome_diagnostics_macros/src/parse.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

fix(website): Update `noUselessFragments` documentation
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @rome/staff

Clippy
  crates/rome_formatter/src/verbatim.rs
Owners: @ematipico, @MichaReiser

feat(rome_formatter): Assert formatting of comments
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/map.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
Owners: @rome/staff, @ematipico, @MichaReiser

chore: better refactor
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
Owners: @leops, @xunilrj

fix(rome_js_analyzer): fix false positive #3261 (#3262)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.jsx
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.jsx.snap
Owners: @leops, @xunilrj

refactor(rome_diagnostics): refactor legacy diagnostics to use the v2 display logic
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_console/src/codespan/mod.rs
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics/src/lib.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_diagnostics_macros/src/generate.rs
  crates/rome_diagnostics_macros/src/parse.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

address PR review
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics_categories/src/categories.rs
Owners: @leops, @xunilrj, @rome/staff

chore: 🤖 codegen
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
