Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

Format try statement comments
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/declarations/catch_declaration.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/js/statements/try_finally_statement.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/js/module/number/number_with_space.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/if_else.js
  crates/rome_js_formatter/tests/specs/js/module/statement/if_else.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/try.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/try/try.js.snap
Owners: @ematipico, @MichaReiser

Fix same line comments inside of empty class bodies
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/method_types.ts.snap
Owners: @ematipico, @MichaReiser

Format arrow comments
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/jsx/attribute/spread_attribute.rs
  crates/rome_js_formatter/src/jsx/auxiliary/spread_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/arrow.js.snap
Owners: @ematipico, @MichaReiser

Switch comments
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/auxiliary/default_clause.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/js/module/statement/switch.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/module-blocks/comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/switch/comments.js.snap
Owners: @ematipico, @MichaReiser

Start for statement comments
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/statements/for_statement.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/for/comment.js.snap
Owners: @ematipico, @MichaReiser

Small refactors
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

Format type arguments/parameters, format leading trivia of cleaned name
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/bindings/type_parameters.rs
  crates/rome_js_formatter/src/ts/expressions/type_arguments.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/object.rs
  crates/rome_js_formatter/tests/specs/prettier/js/object-property-comment/after-key.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/type-parameters.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/keywords/keywords.ts.snap
Owners: @ematipico, @MichaReiser

Format interfaces
  crates/rome_formatter/src/comments.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/classes/extends_clause.rs
  crates/rome_js_formatter/src/ts/declarations/interface_declaration.rs
  crates/rome_js_formatter/src/utils/format_class.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/interface2/break.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/interface2/comments.ts.snap
  crates/rome_js_formatter/tests/specs/ts/declaration/interface.ts.snap
  crates/rome_js_syntax/src/generated/kind.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Format union type comments
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/lists/union_type_variant_list.rs
  crates/rome_js_formatter/src/ts/types/union_type.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments/function-declaration.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/union.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/prettier-ignore/mapped-types.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/inlining.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/prettier-ignore.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/intersection_type.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/union_type.ts.snap
Owners: @ematipico, @MichaReiser

static initializer block
  crates/rome_js_formatter/src/js/classes/static_initialization_block_class_member.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

refactor(formatter): Member chain part 1
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/classes/extends_clause.rs
  crates/rome_js_formatter/src/js/expressions/call_expression.rs
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/js/lists/parameter_list.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/js/lists/variable_declarator_list.rs
  crates/rome_js_formatter/src/js/unknown/unknown.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/ts/declarations/interface_declaration.rs
  crates/rome_js_formatter/src/utils/format_class.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/member_chain/chain_member.rs
  crates/rome_js_formatter/src/utils/member_chain/groups.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/first-argument-expansion/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/function-first-param/function_expression.js.snap
Owners: @ematipico, @MichaReiser

Various fixes
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/js/assignments/object_assignment_pattern.rs
  crates/rome_js_formatter/src/js/auxiliary/function_body.rs
  crates/rome_js_formatter/src/js/bindings/object_binding_pattern.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/classes/static_initialization_block_class_member.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/module/import_assertion.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/src/ts/bindings/type_parameters.rs
  crates/rome_js_formatter/src/utils/object_like.rs
  crates/rome_js_formatter/src/utils/object_pattern_like.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/call.js.snap
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment.js
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment.js.snap
  crates/rome_js_formatter/tests/specs/js/module/comments.js.snap
Owners: @ematipico, @MichaReiser

Format TS mapped types
  crates/rome_formatter/src/comments.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/types/mapped_type.rs
  crates/rome_js_formatter/src/ts/types/union_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/mapped_types.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conformance/types/mappedType/mappedType.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/mapped-type/mapped-type.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/prettier-ignore/mapped-types.ts.snap
Owners: @ematipico, @MichaReiser

Format import & export comments
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/module/export_named_clause.rs
  crates/rome_js_formatter/src/js/module/import_assertion_entry.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/js/module/import/bare_import.js
  crates/rome_js_formatter/tests/specs/js/module/import/bare_import.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/export-and-import.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/export.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/import/comments.js.snap
Owners: @ematipico, @MichaReiser

Member chain comments
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/expressions/call_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/member_chain/groups.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/return/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/throw_statement/comment.js.snap
Owners: @ematipico, @MichaReiser

Format function conditional comments
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/auxiliary/function_body.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/tests/specs/prettier/js/conditional/comments.js.snap
Owners: @ematipico, @MichaReiser

Format JSX comments
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/js/module/template/template.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/issues.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/tagged-template-literal.js.snap
Owners: @ematipico, @MichaReiser

Move some things around
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/comments/multimap.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/js/statements/break_statement.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/prelude.rs
  crates/rome_js_formatter/src/ts/declarations/interface_declaration.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/format_class.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/member_chain/groups.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Owners: @ematipico, @MichaReiser

Module blocks, comments before call arguments
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/auxiliary/module_block.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/closure-compiler-type-cast.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/comment-in-the-middle.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/break-continue-statements.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/edge_case.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/error-recovery/generic.ts.snap
Owners: @ematipico, @MichaReiser

Fix range formatting with leading comments
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Format classes
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/declarations/class_declaration.rs
  crates/rome_js_formatter/src/js/declarations/class_export_default_declaration.rs
  crates/rome_js_formatter/src/js/expressions/class_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/format_class.rs
  crates/rome_js_formatter/tests/specs/prettier/js/class-comment/superclass.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/class-comment/class-implements.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/class-comment/declare.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/class/extends_implements.ts.snap
Owners: @ematipico, @MichaReiser

If formatting
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/member_chain/groups.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/function.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/pipeline-operator-hack.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/expr_and_same_line_comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/if/trailing_comment.js
  crates/rome_js_formatter/tests/specs/prettier/js/if/trailing_comment.js.snap
  xtask/codegen/src/kinds_src.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Constructor and call signature formatting
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/auxiliary/call_signature_type_member.rs
  crates/rome_js_formatter/src/ts/auxiliary/construct_signature_type_member.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/custom/typeParameters/variables.ts.snap
Owners: @ematipico, @MichaReiser

Refactor multimap to support out of order comments
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/comments/map.rs
  crates/rome_formatter/src/comments/multimap.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/bindings/type_parameters.rs
  crates/rome_js_formatter/tests/specs/prettier/js/destructuring-ignore/ignore.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/object-property-ignore/ignore.js.snap
  xtask/bench/Cargo.toml
Owners: @rome/staff, @ematipico, @MichaReiser

Format `for` comments
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/statements/break_statement.rs
  crates/rome_js_formatter/src/js/statements/continue_statement.rs
  crates/rome_js_formatter/src/js/statements/for_statement.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-1.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-without-blocks.js.snap
Owners: @ematipico, @MichaReiser

Label statement comments
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/tests/specs/prettier/js/label/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-comments/comment-inside.js.snap
Owners: @ematipico, @MichaReiser

Use `FxHashMap`, Remove dangling formatted state with `formats_dangling_comments`
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/comments/map.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/js/auxiliary/function_body.rs
  crates/rome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/classes/static_initialization_block_class_member.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/object_expression.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/js/statements/expression_statement.rs
  crates/rome_js_formatter/src/js/statements/for_statement.rs
  crates/rome_js_formatter/src/js/statements/if_statement.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/js/statements/throw_statement.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/bindings/type_parameters.rs
  crates/rome_js_formatter/src/ts/types/object_type.rs
Owners: @ematipico, @MichaReiser

change `dangling` comments to be for nodes rather than tokens
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/auxiliary/function_body.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/js/statements/break_statement.rs
  crates/rome_js_formatter/src/js/statements/continue_statement.rs
  crates/rome_js_formatter/src/js/statements/for_statement.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/object_like.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/element.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Keep trailing comments with parenthesized node
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/tests/specs/js/module/expression/static_member_expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/unary-expression/comments.js.snap
Owners: @ematipico, @MichaReiser

Accept some snapshots
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/tests/specs/js/module/binding/array-binding-holes.js.snap
  crates/rome_js_formatter/tests/specs/js/module/call_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/function/function_comments.js.snap
  crates/rome_js_formatter/tests/specs/js/module/number/number_with_space.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/if_else.js.snap
  crates/rome_js_formatter/tests/specs/js/module/suppression.js.snap
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment.ts.snap
  crates/rome_js_formatter/tests/specs/ts/decoartors.ts.snap
  crates/rome_js_formatter/tests/specs/ts/suppressions.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/conditional.ts.snap
Owners: @ematipico, @MichaReiser

Clippy & Rustfmt
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/js/unknown/unknown_assignment.rs
  crates/rome_js_formatter/src/js/unknown/unknown_binding.rs
  crates/rome_js_formatter/src/js/unknown/unknown_import_assertion_entry.rs
  crates/rome_js_formatter/src/js/unknown/unknown_member.rs
  crates/rome_js_formatter/src/js/unknown/unknown_named_import_specifier.rs
  crates/rome_js_formatter/src/js/unknown/unknown_parameter.rs
  crates/rome_js_formatter/src/js/unknown/unknown_statement.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_analyze): no new Symbol (#3201)
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_new_symbol.rs
  crates/rome_js_analyze/tests/specs/nursery/noNewSymbol.js
  crates/rome_js_analyze/tests/specs/nursery/noNewSymbol.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noNewSymbol.md
Owners: @leops, @xunilrj, @rome/staff, @ematipico

More clippy
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/comments/map.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_service/src/workspace_types.rs
  xtask/codegen/src/generate_bindings.rs
Owners: @ematipico, @MichaReiser, @leops, @rome/staff

chore(rome_js_syntax): Delete the unused `JsConstructorParameter` kind
  crates/rome_js_syntax/src/generated/kind.rs
  xtask/codegen/src/kinds_src.rs
Owners: @rome/staff

feat(rome_rowan): Expose `SyntaxElementKey`
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/element.rs
Owners: @rome/staff

chore: reword
  website/src/credits.md
Owners: @rome/staff

chore(website): add inspiration section (#3221)
  website/src/credits.md
Owners: @rome/staff

chore: fix rule
  website/api/server.js
  website/playground/package.json
Owners: @rome/staff

chore: code review
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

docs: update some parts of the rules
  CONTRIBUTING.md
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  rome.json
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
