Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

benchmark: Add pprettier and dprint to benchmark (#3597)
  benchmark/README.md
  benchmark/dprint.json
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/run.js
Owners: @rome/staff

fix(rome_js_analyze): Verify method name of React API calls (#3619)
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropInvalid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropValid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noChildrenProp/noChildrenPropValid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/noChildren.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/noChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noVoidElementsWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/correctness/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtml/reactCreateElement.js
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtml/reactCreateElement.js.snap
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtmlWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/security/noDangerouslySetInnerHtmlWithChildren/createElement.js.snap
Owners: @leops, @xunilrj

Update crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
Owners: @leops, @xunilrj

Micha suggestion
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
Owners: @leops, @xunilrj

Another Micha suggestion
  crates/rome_js_analyze/src/utils/batch.rs
Owners: @leops, @xunilrj

codegen
  website/docs/src/lint/rules/noDupeKeys.md
Owners: @rome/staff

fix(rome_js_formatter): Trailing comma inside import #3600
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/import_call_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/import/import_call.js.snap
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/import_trailing_comma.js
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/import_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/dynamic_imports.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/trailing-comma/dynamic-import.js.snap
Owners: @ematipico, @MichaReiser

fix from main
  crates/rome_js_analyze/src/react.rs
Owners: @leops, @xunilrj

more examples of accepted expressions
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx.snap
Owners: @leops, @xunilrj

fix(rome_js_formatter): Trailing comma inside import #3600 (#3624)
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/import_call_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/import/import_call.js.snap
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/import_trailing_comma.js
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/import_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/dynamic_imports.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/trailing-comma/dynamic-import.js.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_analyze): useValidAnchor considering all possible expressions (#3599)
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor.jsx.snap
Owners: @leops, @xunilrj

support recursive navigation from binding to declarator
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

review
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

fix(rome_js_analyze): improve the detection of `ReactDOM.render` calls in `noRenderReturnValue`
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_render_return_value.rs
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidGlobal.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidGlobal.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidImport.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidImport.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validGlobal.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validGlobal.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validImport.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validImport.tsx.snap
Owners: @leops, @xunilrj

address PR review
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validLocal.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validLocal.tsx.snap
Owners: @leops, @xunilrj

checking binding is inside a declarator
  crates/rome_js_semantic/src/events.rs
  website/docs/src/lint/rules/index.md
  website/docs/src/lint/rules/useExhaustiveDependencies.md
Owners: @xunilrj, @rome/staff

push bindings from obj and array bindings
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

review
  crates/rome_js_analyze/src/analyzers/complexity/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @leops, @xunilrj, @rome/staff

chore(npm): add license
  npm/rome/package.json
Owners: @rome/staff

updating lintdoc
  website/docs/src/lint/rules/index.md
  website/docs/src/lint/rules/useExhaustiveDependencies.md
Owners: @rome/staff

Change rust docs to use Netlify
  .github/workflows/main.yml
Owners: @rome/staff

Add environment
  .github/workflows/deploy_playground_on_main.yml
  .github/workflows/main.yml
Owners: @rome/staff

Add rustdocs index
  .github/workflows/main.yml
Owners: @rome/staff

chore(npm): add license (#3629)
  npm/rome/package.json
Owners: @rome/staff

doc(editors): Clarify Rome discovery
  editors/vscode/README.md
Owners: @rome/staff

fix(rome_js_analyze): improve the detection of `ReactDOM.render` calls in `noRenderReturnValue` (#3626)
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_render_return_value.rs
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidGlobal.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidGlobal.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidImport.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/invalidImport.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validGlobal.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validGlobal.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validImport.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validImport.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validLocal.tsx
  crates/rome_js_analyze/tests/specs/correctness/noRenderReturnValue/validLocal.tsx.snap
Owners: @leops, @xunilrj

fix
  crates/rome_js_analyze/src/ast_utils.rs
Owners: @leops, @xunilrj

update
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @rome/staff

fix(rome_cli): ensures the service only connects to compatible versions
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
Owners: @leops

doc(editors): Clarify Rome discovery (#3639)
  editors/vscode/README.md
Owners: @rome/staff

fix(rome_js_semantic): support for object and array bindings when exporting (#3620)
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

fix(rome_js_formatter): Single-line comment below a JSX prop triggers different formatting #3598
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
Owners: @ematipico, @MichaReiser

fix
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_render_return_value.rs
Owners: @leops, @xunilrj

Fix clippy warning. Rename helpers
  crates/rome_js_analyze/src/analyzers/a11y/use_key_with_click_events.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  website/docs/src/lint/rules/index.md
  website/docs/src/lint/rules/useKeyWithClickEvents.md
Owners: @leops, @xunilrj, @rome/staff

Import type from @rometools/backend-jsonrpc
  npm/js-api/src/index.ts
Owners: @rome/staff

start
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_analyze): False positives for interactive elements in `useKeyWithClickEvents` (#3644)
  crates/rome_js_analyze/src/analyzers/a11y/use_key_with_click_events.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  website/docs/src/lint/rules/index.md
  website/docs/src/lint/rules/useKeyWithClickEvents.md
Owners: @leops, @xunilrj, @rome/staff

fix(npm/js_api): Build workflow
  .github/workflows/release_js_api.yml
  npm/js-api/.gitignore
Owners: @rome/staff

release: v10.0.1
  CHANGELOG.md
  editors/vscode/package-lock.json
  editors/vscode/package.json
  npm/js-api/package.json
  npm/rome/package.json
Owners: @rome/staff
