Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

feat(npm): first draft of Node.js API, frontend
  .github/workflows/pull_request_js.yml
  npm/rome/.gitignore
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/error.ts
  npm/rome/src/index.ts
  npm/rome/src/workspace.ts
  npm/rome/tsconfig.json
Owners: @rome/staff

semantic model is_exported query
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @xunilrj

removing unwraps
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

small refactor
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

fixing doc
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

feat: 🎸 finish codemirror formatter ir (#3009)
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
  website/playground/workers-site/pnpm-lock.yaml
Owners: @rome/staff

Code review feedback
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_formatter): `Dedent` IR (#3007)
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_formatter): `align > indent` nesting with `IndentStyle::Space`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_extensions.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/printer_options/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/call.js.snap
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
Owners: @ematipico, @MichaReiser

fix: 🐛 syntax error
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/test_data/inline/ok/ts_parameter_option_binding_pattern.rast
  crates/rome_js_parser/test_data/inline/ok/ts_parameter_option_binding_pattern.ts
Owners: @MichaReiser, @xunilrj

chore(website): add project management section (#3005)
  website/src/_includes/docs/philosophy.md
Owners: @rome/staff

feat(playground): display the control flow graph in the playground
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_js_analyze/src/lib.rs
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/App.tsx
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MermaidGraph.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/lib.rs
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @leops, @xunilrj, @rome/staff

add the CFG tab to the mobile playground
  website/playground/src/MobilePlayground.tsx
Owners: @rome/staff

rename MatcherLayer to InspectMatcher
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_js_analyze/src/lib.rs
  website/playground/src/lib.rs
Owners: @leops, @xunilrj, @rome/staff

update documentation
  crates/rome_analyze/src/matcher.rs
  crates/rome_js_analyze/src/lib.rs
Owners: @leops, @xunilrj

move the rendering of the control flow graph to an iframe
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/public/mermaid.html
  website/playground/src/MermaidGraph.tsx
Owners: @rome/staff

fix the src of the mermaid embed iframe for the temporary PR deployments
  website/playground/src/MermaidGraph.tsx
Owners: @rome/staff

apply suggested fixes and formatter
  editors/vscode/scripts/updateVersionForPrerelease.mjs
  editors/vscode/src/main.ts
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/IndentStyleSelect.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/utils.ts
  website/src/_includes/scripts/funding.js
Owners: @rome/staff

Address code review feedback
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_semantic): semantic model "is_exported" query (#3019)
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
  crates/rome_js_semantic/src/tests/scopes.rs
Owners: @xunilrj

refactor(rome_service): refactor the caching system of the workspace server to use salsa
  Cargo.lock
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/database.rs
  crates/rome_service/src/database/analyzer.rs
  crates/rome_service/src/database/formatter.rs
  crates/rome_service/src/database/parser.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/file_handlers/unknown.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @rome/staff, @ematipico, @MichaReiser, @leops, @xunilrj

feat(rome_formatter): `align > indent` nesting with `IndentStyle::Space` (#3021)
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_extensions.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/printer_options/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/call.js.snap
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_analyze): Only emit diagnostic when alternate of `JsIfStatement` is `JsBlockStatement` (#3001)
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js.snap
  crates/rome_js_analyze/tests/specs/js/noNegationElse/default.js
  crates/rome_js_analyze/tests/specs/js/noNegationElse/default.js.snap
  crates/rome_js_analyze/tests/specs/js/noNegationElse/issue_2999.js
  crates/rome_js_analyze/tests/specs/js/noNegationElse/issue_2999.js.snap
Owners: @leops, @xunilrj

refactor(rome_rowan): Remove `AstNode` constraint from `BatchMutation`
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_rowan/benches/mutation.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

feat(playground): display the control flow graph in the playground (#2969)
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_js_analyze/src/lib.rs
  editors/vscode/scripts/updateVersionForPrerelease.mjs
  editors/vscode/src/main.ts
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/public/mermaid.html
  website/playground/src/App.tsx
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/IndentStyleSelect.tsx
  website/playground/src/MermaidGraph.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/lib.rs
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
  website/src/_includes/scripts/funding.js
Owners: @leops, @xunilrj, @rome/staff

chore: Upgrade Rome
  website/package.json
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/pnpm-lock.yaml
Owners: @rome/staff

add an explicit error type
  crates/rome_js_analyze/src/lib.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/lib.rs
Owners: @leops, @xunilrj, @ematipico

Remove `JsAnyRoot` reference
  crates/rome_js_analyze/src/lib.rs
Owners: @leops, @xunilrj

clippy
  crates/rome_rowan/src/ast/batch.rs
Owners: @rome/staff

refactor(rome_rowan): Remove `Clone` requirement from trivia mutation methods
  crates/rome_rowan/src/syntax/token.rs
Owners: @rome/staff

refactor(rome_rowan): Remove `AstNode` constraint from `BatchMutation` (#3026)
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_rowan/benches/mutation.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/lib.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

feat: add `format` function
  npm/rome/src/index.ts
Owners: @rome/staff

refactor(playground): refactor the playground to use the WASM bindings for the workspace
  Cargo.lock
  crates/rome_analyze/src/categories.rs
  crates/rome_lsp/src/requests/syntax_tree.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/file_handlers/unknown.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  website/playground/Cargo.toml
  website/playground/src/lib.rs
  website/playground/src/romeWorker.ts
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_syntax): Node factories for unknown nodes
  crates/rome_css_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_json_factory/src/generated/node_factory.rs
  xtask/codegen/src/generate_node_factory.rs
Owners: @rome/staff

fix: 🐛 codemirror grammar
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

ci: 🎡 fix ci error
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/rome.json
  website/playground/rome.json
Owners: @rome/staff

ci: 🎡 fix ci error
  website/api/pnpm-lock.yaml
  website/package.json
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/pnpm-lock.yaml
  website/rome.json
Owners: @rome/staff

chore: 🤖 revert
  editors/vscode/package.json
Owners: @rome/staff

ci: 🎡 fix ci
  editors/vscode/rome.json
  rome.json
Owners: @rome/staff
