Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

remove js nodes tests
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js.snap
Owners: @leops, @xunilrj

codegen
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

chore: clippy
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/traversal.rs
Owners: @leops

chore: remove unused code
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
Owners: @leops, @ematipico, @rome/staff

chore: rebase
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

feat(rome_js_analyze): `noUnusedVariable` rule (#2987)
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

address review feedback
  crates/rome_formatter/src/buffer.rs
  crates/rome_js_formatter/src/js/classes/constructor_class_member.rs
  crates/rome_js_formatter/src/js/classes/method_class_member.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/objects/method_object_member.rs
  crates/rome_js_formatter/src/ts/auxiliary/method_signature_type_member.rs
  crates/rome_js_formatter/src/ts/classes/method_signature_class_member.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Function parameter & return type grouping (#2990)
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/classes/constructor_class_member.rs
  crates/rome_js_formatter/src/js/classes/method_class_member.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/objects/method_object_member.rs
  crates/rome_js_formatter/src/ts/auxiliary/method_signature_type_member.rs
  crates/rome_js_formatter/src/ts/classes/constructor_signature_class_member.rs
  crates/rome_js_formatter/src/ts/classes/method_signature_class_member.rs
  crates/rome_js_formatter/src/ts/declarations/declare_function_declaration.rs
  crates/rome_js_formatter/src/ts/types/function_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/method_types.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/type-parameters.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conformance/classes/mixinClassesAnnotated.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/method/issue-10352-consistency.ts.snap
  crates/rome_js_formatter/tests/specs/ts/expression/type_member.ts.snap
Owners: @ematipico, @MichaReiser

address review feedback
  crates/rome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/lists/constructor_parameter_list.rs
  crates/rome_js_formatter/src/js/lists/parameter_list.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Group return type with parameters
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Function Parameters formatting
  crates/rome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/lists/constructor_parameter_list.rs
  crates/rome_js_formatter/src/js/lists/object_assignment_pattern_property_list.rs
  crates/rome_js_formatter/src/js/lists/object_binding_pattern_property_list.rs
  crates/rome_js_formatter/src/js/lists/parameter_list.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/params.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/mobx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/destructuring/destructuring.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/function-single-destructuring/array.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/function-single-destructuring/object.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/assignment-pattern.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/empty-lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/function-expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/issue-10708.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/parameter-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/test_declarations.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-10848.tsx.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/location.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/argument-list-preserve-line.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/inline-decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/function-type/single-parameter.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/function/single_expand.ts.snap
  crates/rome_js_formatter/tests/specs/ts/expression/type_expression.ts.snap
Owners: @ematipico, @MichaReiser

feat(rome_formatter): `Align` IR element
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Hug function parameters (#2993)
  crates/rome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/lists/constructor_parameter_list.rs
  crates/rome_js_formatter/src/js/lists/object_assignment_pattern_property_list.rs
  crates/rome_js_formatter/src/js/lists/object_binding_pattern_property_list.rs
  crates/rome_js_formatter/src/js/lists/parameter_list.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/params.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/mobx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/destructuring/destructuring.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/function-single-destructuring/array.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/function-single-destructuring/object.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/assignment-pattern.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/empty-lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/function-expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/issue-10708.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/parameter-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/test_declarations.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-10848.tsx.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/location.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/argument-list-preserve-line.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/inline-decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/function-type/single-parameter.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/function/single_expand.ts.snap
  crates/rome_js_formatter/tests/specs/ts/expression/type_expression.ts.snap
Owners: @ematipico, @MichaReiser

no shadow restricted lint rule
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/benches/contains.rs
  crates/rome_js_analyze/benches/iai.rs
  crates/rome_js_analyze/benches/to_camel_case.rs
  crates/rome_js_analyze/bins/contains_iai.rs
  crates/rome_js_analyze/src/analyzers.rs
  crates/rome_js_analyze/src/analyzers/jsx.rs
  crates/rome_js_analyze/src/analyzers/regex.rs
  crates/rome_js_analyze/src/analyzers/ts.rs
  crates/rome_js_analyze/src/assists.rs
  crates/rome_js_analyze/src/assists/js.rs
  crates/rome_js_analyze/src/semantic_analyzers.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shadow_restricted_names.rs
  crates/rome_js_analyze/tests/specs/js/noShadowRestrictedNames.js
  crates/rome_js_analyze/tests/specs/js/noShadowRestrictedNames.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noShadowRestrictedNames.md
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

ftm and clippy issues
  crates/rome_js_analyze/benches/contains.rs
Owners: @leops, @xunilrj

memchr to dev-dependencies
  crates/rome_js_analyze/Cargo.toml
Owners: @leops, @xunilrj

memchr benchmark
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/benches/contains.rs
  crates/rome_js_analyze/benches/contains_criterion.rs
  crates/rome_js_analyze/benches/contains_iai.rs
Owners: @rome/staff, @leops, @xunilrj

generating doc and bench using criterion
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/benches/contains.rs
  crates/rome_js_analyze/benches/contains_criterion.rs
  crates/rome_js_analyze/benches/contains_iai.rs
  website/src/docs/lint/rules/noShadowRestrictedNames.md
Owners: @rome/staff, @leops, @xunilrj

no shadow restricted do not need semantic model
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shadow_restricted_names.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

moving all benchmarks to another crate
  Cargo.lock
  Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  xtask/libs_bench/Cargo.toml
  xtask/libs_bench/benches/contains.rs
  xtask/libs_bench/benches/contains_criterion.rs
  xtask/libs_bench/benches/contains_iai.rs
  xtask/libs_bench/benches/to_camel_case.rs
  xtask/libs_bench/bins/contains_iai.rs
  xtask/libs_bench/src/main.rs
Owners: @rome/staff, @leops, @xunilrj

no shadow restricted do not need semantic model
  crates/rome_js_analyze/src/analyzers/js/no_shadow_restricted_names.rs
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/analyzers/js/no_shadow_restricted_names.rs
Owners: @leops, @xunilrj

adjustments
  crates/rome_analyze/src/rule.rs
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/no_shadow_restricted_names.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

fix: 🐛 module name built int type
  crates/rome_js_parser/src/syntax/typescript.rs
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/built_in_module_name.rast
  crates/rome_js_parser/test_data/inline/ok/built_in_module_name.ts
Owners: @MichaReiser, @xunilrj

chore: 🤖 remove premature opt
  crates/rome_js_parser/src/syntax/typescript/types.rs
Owners: @MichaReiser, @xunilrj

fix: 🐛 cr issue, refactor
  crates/rome_js_parser/src/syntax/typescript.rs
  crates/rome_js_parser/src/syntax/typescript/statement.rs
Owners: @MichaReiser, @xunilrj

chore: 🤖 optimize checking
  crates/rome_js_parser/src/syntax/typescript/types.rs
Owners: @MichaReiser, @xunilrj

feat: 🎸 finish
  website/playground/lang-rome-ast/.gitignore
  website/playground/lang-rome-ast/README.md
  website/playground/lang-rome-ast/package.json
  website/playground/lang-rome-ast/pnpm-lock.yaml
  website/playground/lang-rome-ast/src/index.ts
  website/playground/lang-rome-ast/src/syntax.grammar
  website/playground/lang-rome-ast/src/syntax.grammar.d.ts
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 postinstall
  website/playground/lang-rome-ast/package.json
  website/playground/lang-rome-ast/pnpm-lock.yaml
  website/playground/lang-rome-ast/src/index.ts
Owners: @rome/staff

fix: 🐛 tsc ci
  .github/workflows/pull_request_js.yml
  website/playground/lang-rome-ast/src/index.ts
Owners: @rome/staff

chore: 🤖 postinstall
  website/playground/lang-rome-ast/package.json
  website/playground/workers-site/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 postinstaqll
  website/playground/lang-rome-ast/package.json
  website/playground/lang-rome-ast/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 postscripts
  website/api/pnpm-lock.yaml
  website/playground/lang-rome-ast/package.json
  website/playground/package.json
Owners: @rome/staff

fix: 🐛 postinstall
  website/playground/codemirror-lang-rome-ast/.gitignore
  website/playground/codemirror-lang-rome-ast/README.md
  website/playground/codemirror-lang-rome-ast/package.json
  website/playground/codemirror-lang-rome-ast/pnpm-lock.yaml
  website/playground/codemirror-lang-rome-ast/src/index.ts
  website/playground/codemirror-lang-rome-ast/src/syntax.grammar
  website/playground/codemirror-lang-rome-ast/src/syntax.grammar.d.ts
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 postinstall
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 build
  website/playground/lang-rome-ast/.gitignore
  website/playground/lang-rome-ast/README.md
  website/playground/lang-rome-ast/package.json
  website/playground/lang-rome-ast/pnpm-lock.yaml
  website/playground/lang-rome-ast/src/index.ts
  website/playground/lang-rome-ast/src/syntax.grammar
  website/playground/lang-rome-ast/src/syntax.grammar.d.ts
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

fix: 🐛 add types dir
  website/playground/tsconfig.json
  website/playground/types/global.d.ts
Owners: @rome/staff

style: 💄 fmt
  website/playground/types/global.d.ts
Owners: @rome/staff

chore: 🤖 main entry
  website/playground/lang-rome-ast/package.json
Owners: @rome/staff

fix(rome_service): inject defaults for missing globals
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/javascript.rs
Owners: @leops, @ematipico
