Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

feat(rome_cli): add `--json` argument to format command (#3066)
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/reports/formatter.rs
  crates/rome_cli/src/reports/mod.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_write.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/main_format/format_is_disabled.snap
  crates/rome_cli/tests/snapshots/main_reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main_reporter_json/reports_formatter_write.snap
  crates/rome_js_formatter/src/context.rs
Owners: @rome/staff, @leops, @ematipico, @MichaReiser

ci: create new workflow
  .github/workflows/pull_request_js.yml
  .github/workflows/runtime.yml
  npm/rome/src/index.ts
Owners: @rome/staff

chore: code review
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
Owners: @rome/staff

feat(npm): API facade and first compile pipeline
  .github/workflows/pull_request_js.yml
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
  npm/rome/tsconfig.json
  npm/rome/vitest.config.js
Owners: @rome/staff

chore: run format
  npm/rome/src/index.ts
Owners: @rome/staff

feat(npm): API facade and first compile pipeline (#3074)
  .github/workflows/pull_request_js.yml
  .github/workflows/runtime.yml
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
  npm/rome/tsconfig.json
  npm/rome/vitest.config.js
Owners: @rome/staff

feat(npm): API facade and first compile pipeline
  .github/workflows/pull_request_js.yml
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
Owners: @rome/staff

ci: create new workflow
  .github/workflows/pull_request_js.yml
  npm/rome/src/index.ts
Owners: @rome/staff

chore: code review
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
Owners: @rome/staff

feat(npm): hook with WASM bindings
  .github/workflows/pull_request.yml
  .github/workflows/runtime.yml
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/src/index.ts
  npm/backend-jsonrpc/tsconfig.json
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
Owners: @rome/staff

chore: run format
  npm/rome/src/index.ts
Owners: @rome/staff

chore: remove jsonrpc
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
Owners: @rome/staff

refactor: use `std::sync::Mutex` instead of `parking_lot::Mutex` (#3095)
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/metrics.rs
  crates/rome_fs/src/interner.rs
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
Owners: @rome/staff, @leops, @ematipico, @MichaReiser

crate(rome_js_formatter): Add Prettier derivative license
  crates/rome_js_formatter/LICENSE
Owners: @ematipico, @MichaReiser

crate(rome_js_formatter): Add Prettier derivative license (#3096)
  crates/rome_js_formatter/LICENSE
Owners: @ematipico, @MichaReiser

chore: check fixes
  npm/rome/package.json
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
Owners: @rome/staff

chore: revert change
  .github/workflows/pull_request.yml
Owners: @rome/staff

chore: code review
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
Owners: @rome/staff

scope resolution improvements
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
  xtask/coverage/src/symbols/msts.rs
Owners: @leops, @xunilrj, @rome/staff

ci: fix path for artifacts
  .github/workflows/release_cli.yml
Owners: @rome/staff

scope resolution improvements (#3084)
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
  xtask/coverage/src/symbols/msts.rs
Owners: @leops, @xunilrj, @rome/staff

docs(website): turn a rule on
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

ci: fix path for WASM artifacts (#3098)
  .github/workflows/release_cli.yml
Owners: @rome/staff

chore: remove files that break the build
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_write.snap
Owners: @leops

chore: remove files that break the build (#3101)
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_write.snap
Owners: @leops

ci: run install again to resolve package
  .github/workflows/runtime.yml
Owners: @rome/staff

chore: remove state, close file at the end
  npm/rome/src/index.ts
Owners: @rome/staff

Update website/src/_includes/docs/project-config.md
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

docs(website): turn a rule on (#3099)
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

perf(rome_formatter): Improve Printer source map performance
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

perf(rome_formatter): Improve Printer source map performance (#3104)
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

fix: function call
  npm/rome/src/index.ts
Owners: @rome/staff

chore(playground): allow vite to reference npm directory
  website/playground/vite.config.ts
Owners: @rome/staff

feat(npm): hook `*Conent` APIs to WASM bindings (#3097)
  .github/workflows/pull_request.yml
  .github/workflows/runtime.yml
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/src/index.ts
  npm/backend-jsonrpc/tsconfig.json
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
Owners: @rome/staff

chore(playground): allow vite to reference npm directory (#3106)
  website/playground/vite.config.ts
Owners: @rome/staff

refactor(rome_wasm): change method names to be camel case
  crates/rome_wasm/src/lib.rs
  npm/rome/src/index.ts
  website/playground/src/romeWorker.ts
Owners: @rome/staff

chore: wip
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/reports/check.rs
  crates/rome_cli/src/reports/formatter.rs
  crates/rome_cli/src/reports/linter.rs
  crates/rome_cli/src/reports/mod.rs
  crates/rome_cli/src/reports/reporter.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_write.snap
Owners: @leops

chore: 🤖 innit
  website/api/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

refactor: 💡 finish refactor
  website/playground/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @rome/staff

Update website/playground/src/DesktopPlayground.tsx
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff
