Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

chore: 🤖 revert
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

docs: ✏️ update doc comment
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

chore: 🤖 style format
  .cargo/config.toml
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/romeWorker.ts
  website/playground/src/utils.ts
Owners: @rome/staff

chore: 🤖 revert
  website/api/pnpm-lock.yaml
Owners: @rome/staff

refactor: 💡 rename
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

fix: CI command
  .github/workflows/pull_request.yml
Owners: @rome/staff

refactor(rome_wasm): change method names to be camel case (#3105)
  .github/workflows/pull_request.yml
  crates/rome_wasm/src/lib.rs
  npm/rome/src/index.ts
  website/playground/src/romeWorker.ts
Owners: @rome/staff

feat(npm): allow to chose a backend
  .github/workflows/pull_request.yml
  npm/backend-jsonrpc/package.json
  npm/rome/package.json
  npm/rome/src/daemon.ts
  npm/rome/src/types.ts
  npm/rome/src/wasm.ts
  npm/rome/tests/daemon.test.mjs
  npm/rome/tests/wasm.test.mjs
Owners: @rome/staff

chore: 🤖 cr issues
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/types.ts
Owners: @rome/staff

chore: 🤖 cr issues
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/types.ts
Owners: @rome/staff

chore: 🤖 remove alias
  .cargo/config.toml
Owners: @rome/staff

feat(playground): mapping sourcefile editor cursor to ast panel (#3103)
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/types.ts
Owners: @rome/staff

chore: error handling
  crates/rome_wasm/Cargo.toml
  crates/rome_wasm/src/utils.rs
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/daemon.ts
  npm/rome/src/index.ts
  npm/rome/src/nodeWasm.ts
  npm/rome/src/types.ts
  npm/rome/src/wasm.ts
  npm/rome/tests/__snapshots__/daemon.test.mjs.snap
  npm/rome/tests/__snapshots__/wasm.test.mjs.snap
  npm/rome/tests/daemon.test.mjs
  npm/rome/tests/wasm.test.mjs
  npm/rome/tsconfig.json
Owners: @rome/staff

fix: printer kink in playground
  website/playground/src/romeWorker.ts
Owners: @rome/staff

fix: update lock file
  crates/rome_wasm/src/utils.rs
  npm/rome/pnpm-lock.yaml
Owners: @rome/staff

chore: format and ci
  .github/workflows/runtime.yml
  npm/rome/src/daemon.ts
  npm/rome/src/index.ts
  npm/rome/src/nodeWasm.ts
  npm/rome/tests/daemon.test.mjs
  npm/rome/tests/wasm.test.mjs
Owners: @rome/staff

fix: install
  .github/workflows/runtime.yml
Owners: @rome/staff

feat(rome_service, rome_formatter): remove `format_with_errors`
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

chore: update tests
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_configuration/correct_root.snap
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

feat(rome_rowan): Use rowan syntax rewriter
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Implement `map_markers`
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Source map fixes
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/tests/specs/prettier/js/pipeline-operator/fsharp_style_pipeline_operator.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/pipeline-operator/minimal_pipeline_operator.js.snap
Owners: @ematipico, @MichaReiser

Clippy & formatting
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

Fix documentation links
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
Owners: @ematipico, @MichaReiser

Revert playground changes
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

Factor out `FormatOptions`, add `Sourcemap`
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/check_reformat.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/check_reformat.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/js/module/suppression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/destructuring-private-fields/arrow-params.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/do/do.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/object-property-ignore/issue-5678.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/pipeline-operator/fsharp_style_pipeline_operator.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/pipeline-operator/minimal_pipeline_operator.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  crates/rome_wasm/build.rs
  xtask/bench/src/features/formatter.rs
Owners: @ematipico, @MichaReiser, @leops, @rome/staff

Simplify source map
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Fix code gen
  xtask/codegen/src/generate_bindings.rs
Owners: @rome/staff

Source map fixes
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/tests/specs/prettier/js/pipeline-operator/fsharp_style_pipeline_operator.js.snap
Owners: @ematipico, @MichaReiser

Source map fixes
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/pipeline-operator/fsharp_style_pipeline_operator.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/pipeline-operator/minimal_pipeline_operator.js.snap
Owners: @ematipico, @MichaReiser

Rename `preprocessor` to `syntax_rewriter`
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Documentation
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Perf improvements, fix unknown assignment formatting
  crates/rome_js_formatter/src/js/assignments/parenthesized_assignment.rs
  crates/rome_js_formatter/src/js/auxiliary/new_target.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/assignment_expression.rs
  crates/rome_js_formatter/src/js/expressions/big_int_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/boolean_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/identifier_expression.rs
  crates/rome_js_formatter/src/js/expressions/import_call_expression.rs
  crates/rome_js_formatter/src/js/expressions/in_expression.rs
  crates/rome_js_formatter/src/js/expressions/null_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/number_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/post_update_expression.rs
  crates/rome_js_formatter/src/js/expressions/pre_update_expression.rs
  crates/rome_js_formatter/src/js/expressions/regex_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/string_literal_expression.rs
  crates/rome_js_formatter/src/js/expressions/super_expression.rs
  crates/rome_js_formatter/src/js/expressions/this_expression.rs
  crates/rome_js_formatter/src/js/module/import_meta.rs
  crates/rome_js_formatter/src/js/unknown/unknown_assignment.rs
  crates/rome_js_formatter/src/jsx/expressions/tag_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/preprocessor.rs
  crates/rome_js_formatter/src/ts/expressions/as_expression.rs
  crates/rome_js_formatter/src/ts/expressions/type_assertion_expression.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/src/utils/member_chain/chain_member.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Owners: @ematipico, @MichaReiser

Documentation
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Remove obsolete todos
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

ci: install before and after
  .github/workflows/pull_request.yml
  .github/workflows/runtime.yml
  npm/rome/src/index.ts
Owners: @rome/staff

refactor(rome_formatter): Extract `FormatOptions`
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_js_formatter/src/check_reformat.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/object.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/check_reformat.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  crates/rome_wasm/build.rs
  xtask/bench/src/features/formatter.rs
Owners: @ematipico, @MichaReiser, @leops, @rome/staff

Format files
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/check_reformat.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/bench/src/features/formatter.rs
Owners: @ematipico, @MichaReiser, @leops, @rome/staff

Fix codegen, rename some `context` leftovers in `service`
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/codegen/src/generate_bindings.rs
Owners: @leops, @ematipico, @rome/staff

refactor(rome_formatter): Extract `FormatOptions` (#3110)
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_js_formatter/src/check_reformat.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/object.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/check_reformat.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  crates/rome_wasm/build.rs
  xtask/bench/src/features/formatter.rs
  xtask/codegen/src/generate_bindings.rs
Owners: @ematipico, @MichaReiser, @leops, @rome/staff
