Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

refactor(rome_service): more flexibility for rules
  crates/rome_cli/tests/configs.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
Owners: @leops, @ematipico

fix: clippy warnings
  website/playground/src/lib.rs
Owners: @rome/staff

chore: add test
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
Owners: @leops

ci: 🎡 fix
  website/playground/src/lib.rs
Owners: @rome/staff

ci: broken code (#2914)
  website/playground/src/lib.rs
Owners: @rome/staff

docs: adds `rome_rowan` and the `rome_js_parser` to the deployed crates (#2913)
  .cargo/config.toml
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/lossless_tree_sink.rs
  crates/rome_js_parser/src/parse.rs
Owners: @rome/staff, @MichaReiser, @xunilrj

fixing PR issues
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_rowan/src/syntax/trivia.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/lib.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

renaming some functions
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @xunilrj, @ematipico

feat(rome_lsp): renaming symbols (#2910)
  Cargo.lock
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/handlers.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/server.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/file_handlers/unknown.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

refactor(rome_service): move `globals`, refactor `rule` configuration (#2907)
  .cargo/config.toml
  Cargo.lock
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @rome/staff, @leops, @ematipico

rollback markup in diagnostic codes
  Cargo.lock
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_console/src/write/termcolor.rs
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/parser.rs
  crates/rome_lsp/src/utils.rs
Owners: @rome/staff, @leops, @xunilrj, @MichaReiser, @ematipico

feat(rome_analyze): allow rules to dynamically emit local suppressions (#2909)
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
Owners: @rome/staff, @leops, @xunilrj

feat: 🎸 Add Syntax Hightlighting and folding for RomeAst
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
  website/playground/vite.config.ts
Owners: @rome/staff

docs: move documentation inside crates (#2899)
  CONTRIBUTING.md
  crates/rome_cli/src/bin/rome.rs
  crates/rome_cli/src/lib.rs
  crates/rome_js_formatter/docs/implement_the_formatter.md
  crates/rome_js_formatter/docs/write_tests.md
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_parser/docs/authoring_parse_rules.md
  crates/rome_js_parser/docs/write_tests.md
  crates/rome_js_parser/src/lib.rs
  crates/rome_service/src/lib.rs
Owners: @rome/staff, @leops, @ematipico, @MichaReiser, @xunilrj

fix: 🐛 code action wrong DiagnosticRelatedInformation span
  crates/rome_lsp/src/utils.rs
Owners: @ematipico

style: 💄 fmt
  crates/rome_js_parser/src/lib.rs
Owners: @MichaReiser, @xunilrj

feat: 🎸 add version rome_lsp version
  Cargo.lock
  crates/rome_js_parser/src/lib.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/server.rs
Owners: @rome/staff, @MichaReiser, @xunilrj, @ematipico

fix: 🐛 remove redundant config
  website/playground/package.json
Owners: @rome/staff

chore: 🤖 update lock
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

feat(rome_analyze): refactor code actions to use batch mutations
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_cli/tests/main.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/analyzers/js/no_compare_neg_zero.rs
  crates/rome_js_analyze/src/analyzers/js/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/js/no_delete.rs
  crates/rome_js_analyze/src/analyzers/js/no_double_equals.rs
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
  crates/rome_js_analyze/src/analyzers/js/no_sparse_array.rs
  crates/rome_js_analyze/src/analyzers/js/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/js/no_unsafe_negation.rs
  crates/rome_js_analyze/src/analyzers/js/no_unused_template_literal.rs
  crates/rome_js_analyze/src/analyzers/js/use_block_statements.rs
  crates/rome_js_analyze/src/analyzers/js/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_case_statement.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_var_declarator.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/src/analyzers/js/use_valid_typeof.rs
  crates/rome_js_analyze/src/analyzers/js/use_while.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_comment_text.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_implicit_boolean.rs
  crates/rome_js_analyze/src/analyzers/jsx/use_self_closing_elements.rs
  crates/rome_js_analyze/src/analyzers/regex/no_multiple_spaces_in_regular_expression_literals.rs
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/src/assists/js/flip_bin_exp.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/syntax/element.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

refactor the text edit generation from batch mutation to be used in renaming operations
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_parser/src/lib.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_rowan/Cargo.toml
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_edit/src/lib.rs
Owners: @rome/staff, @leops, @xunilrj, @MichaReiser, @ematipico

refactor(rome_service): remove `root` field form configuration
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
Owners: @leops, @ematipico

refactor(rome_service): remove `root` field from configuration (#2927)
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
Owners: @leops, @ematipico

fix hoisting scope when building semantic model
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/functions.rs
  crates/rome_js_semantic/src/tests/mod.rs
Owners: @xunilrj

feat(playground): Add Syntax Hightlighting and folding for RomeAst (#2917)
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
  website/playground/vite.config.ts
Owners: @rome/staff

fix(rome_cli): better printing of message
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_diagnostics/src/lib.rs
Owners: @leops, @rome/staff

fix(rome_js_analyze): include the exception handlers in the complexity score of the CFG
  crates/rome_js_analyze/src/analyzers/js/no_dead_code.rs
  crates/rome_js_analyze/tests/specs/js/noDeadCode/HighComplexity.js
  crates/rome_js_analyze/tests/specs/js/noDeadCode/HighComplexity.js.snap
Owners: @leops, @xunilrj

chore: code review
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/main.rs
Owners: @leops

chore: move diagnostics info outside the loop
  crates/rome_cli/src/traversal.rs
Owners: @leops

chore: code review
  crates/rome_analyze/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

refactor: return the set of rules that are lower in number
  crates/rome_analyze/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: add documentation
  crates/rome_analyze/src/lib.rs
Owners: @leops, @xunilrj

fix: case of remove recommendation of a group
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: rebase
  crates/rome_service/src/workspace.rs
Owners: @leops, @ematipico

chore: init message using newlines and tabs
  crates/rome_cli/src/commands/init.rs
Owners: @leops

fix(rome_lsp): code action wrong diagnosticRelatedInformation span (#2920)
  crates/rome_lsp/src/utils.rs
Owners: @ematipico

feat: 🎸 finish
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
  crates/rome_js_analyze/tests/specs/useTsExpectError.ts
  crates/rome_js_analyze/tests/specs/useTsExpectError.ts.snap
Owners: @leops, @xunilrj

chore: 🤖 update doc comment
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj

docs: ✏️ update doc
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTsExpectError.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

Update crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
  crates/rome_js_analyze/src/analyzers/use_ts_expect_error.rs
Owners: @leops, @xunilrj
