Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

chore: 🤖 update lock file
  editors/vscode/package-lock.json
Owners: @rome/staff

chore: 🤖 revert
  website/api/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 revert lock
  editors/vscode/package-lock.json
Owners: @rome/staff

chore: 🤖 revert
  website/playground/workers-site/pnpm-lock.yaml
  website/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 recover
  website/package.json
Owners: @rome/staff

chore: 🤖 update rome
  website/package.json
  website/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 recover
  website/package.json
Owners: @rome/staff

chore: 🤖 recover
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 revert
  website/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 revert
  editors/vscode/package-lock.json
Owners: @rome/staff

fix: 🐛 fix rome ast grammar error
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 temp rome.json
  rome.json
Owners: @rome/staff

fix(playground): 🐛 fix rome ast grammar error (#3032)
  rome.json
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

test(rome_cli): add snapshots for file system and console session
  .gitattributes
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/apply_noop.snap
  crates/rome_cli/tests/snapshots/apply_ok.snap
  crates/rome_cli/tests/snapshots/apply_suggested.snap
  crates/rome_cli/tests/snapshots/apply_suggested_error.snap
  crates/rome_cli/tests/snapshots/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/lint_error.snap
  crates/rome_cli/tests/snapshots/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/upgrade_severity.snap
  crates/rome_console/src/markup.rs
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
Owners: @rome/staff, @leops

chore: clippy
  crates/rome_cli/tests/snap_test.rs
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

address PR review
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/file_handlers/unknown.rs
  crates/rome_service/src/workspace/server.rs
  website/playground/src/lib.rs
  website/playground/src/romeWorker.ts
Owners: @leops, @ematipico, @rome/staff

refactor(rome_service): change how rules config is shaped
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

rfc: runtime API
  rfcs/002-runtime-api.md
  rfcs/Runtime design.png
Owners: @rome/staff

chore: code review
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/apply_noop.snap
  crates/rome_cli/tests/snapshots/apply_ok.snap
  crates/rome_cli/tests/snapshots/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/lint_error.snap
  crates/rome_cli/tests/snapshots/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled_when_run_apply.snap
Owners: @leops

test(rome_cli): add snapshots for file system and console session (#3035)
  .gitattributes
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/apply_noop.snap
  crates/rome_cli/tests/snapshots/apply_ok.snap
  crates/rome_cli/tests/snapshots/apply_suggested.snap
  crates/rome_cli/tests/snapshots/apply_suggested_error.snap
  crates/rome_cli/tests/snapshots/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/lint_error.snap
  crates/rome_cli/tests/snapshots/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/upgrade_severity.snap
  crates/rome_console/src/markup.rs
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
Owners: @rome/staff, @leops

feat(rome_js_syntax): Node factories for unknown nodes (#3033)
  crates/rome_css_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_json_factory/src/generated/node_factory.rs
  xtask/codegen/src/generate_node_factory.rs
Owners: @rome/staff

Code review feedback
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/src/utils/parens.rs
  crates/rome_rowan/src/ast/mod.rs
Owners: @ematipico, @MichaReiser, @rome/staff

refactor(rome_js_formatter): Refactor conditional formatting
  crates/rome_js_formatter/src/js/expressions/conditional_expression.rs
  crates/rome_js_formatter/src/ts/types/conditional_type.rs
  crates/rome_js_formatter/src/utils/format_conditional.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/issue-1419.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/issue-2482-2.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/issue-9358.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/indent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conditional-types/infer-type.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conditional-types/nested-in-condition.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/tuple/trailing-comma-for-empty-tuples.ts.snap
Owners: @ematipico, @MichaReiser

clippy
  crates/rome_js_formatter/src/utils/conditional.rs
Owners: @ematipico, @MichaReiser

Use string slice to copy other trivia & token text
  crates/rome_rowan/src/syntax/token.rs
Owners: @rome/staff

Add examples
  crates/rome_rowan/src/ast/mod.rs
Owners: @rome/staff

refactor(rome_rowan): Remove `Clone` requirement from trivia mutation methods (#3030)
  crates/rome_rowan/src/syntax/token.rs
Owners: @rome/staff

Add parens around in and instanceof
  crates/rome_js_formatter/src/utils/conditional.rs
Owners: @ematipico, @MichaReiser

refactor(rome_service): change how rules config is shaped (#3016)
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

unify the capabilities variable names
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

ci: update snapshots
  crates/rome_cli/tests/snapshots/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule.snap
Owners: @leops

chore: fix documentation link
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

ci: update snapshots (#3039)
  crates/rome_cli/tests/snapshots/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule.snap
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore(npm): bootstrap npm source code
  npm/rome/.gitignore
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/index.ts
  npm/rome/tsconfig.json
Owners: @rome/staff

refactor(playground): refactor the playground to use the WASM bindings for the workspace (#3018)
  Cargo.lock
  crates/rome_analyze/src/categories.rs
  crates/rome_lsp/src/requests/syntax_tree.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/file_handlers/unknown.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  website/playground/Cargo.toml
  website/playground/src/lib.rs
  website/playground/src/romeWorker.ts
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_cli): format code via stdin
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_console/src/codespan/mod.rs
  crates/rome_console/src/diff.rs
  crates/rome_console/src/lib.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_service/src/lib.rs
Owners: @leops, @rome/staff, @ematipico

fix: 🐛 remove dbg
  crates/rome_js_parser/src/syntax/function.rs
Owners: @MichaReiser, @xunilrj

fix: 🐛 error
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/test_data/inline/ok/ts_ambient_export_default_function.d.rast
  crates/rome_js_parser/test_data/inline/ok/ts_ambient_export_default_function.d.ts
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/parser_tests.rs
Owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj

chore(npm): bootstrap npm source code (#3040)
  npm/rome/.gitignore
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/index.ts
  npm/rome/tsconfig.json
Owners: @rome/staff

chore: better tests and tested functionality
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/apply_noop.snap
  crates/rome_cli/tests/snapshots/apply_ok.snap
  crates/rome_cli/tests/snapshots/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/format_stdin_successfully.snap
  crates/rome_cli/tests/snapshots/format_stdin_with_errors.snap
  crates/rome_cli/tests/snapshots/lint_error.snap
  crates/rome_cli/tests/snapshots/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled.snap
  crates/rome_cli/tests/snapshots/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule.snap
  crates/rome_cli/tests/snapshots/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/upgrade_severity.snap
  crates/rome_console/src/lib.rs
Owners: @leops
