Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

Fix docs path
  xtask/contributors/src/main.rs
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

docs: fix broken links (#3685)
  npm/js-api/README.md
  npm/rome/README.md
  rfcs/002-runtime-api.md
  website/src/components/cli-screenshots/noUnreachable-example.md
Owners: @rome/staff

fix(lindoc): fix generated docs path (#3700)
  xtask/contributors/src/main.rs
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

fix(rome_js_parser): Allow super in constructor parameter #3613 (#3678)
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/test_data/inline/err/super_expression_in_constructor_parameter_list.js
  crates/rome_js_parser/test_data/inline/err/super_expression_in_constructor_parameter_list.rast
  crates/rome_js_parser/test_data/inline/ok/super_expression_in_constructor_parameter_list.js
  crates/rome_js_parser/test_data/inline/ok/super_expression_in_constructor_parameter_list.rast
Owners: @MichaReiser, @xunilrj

add test
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc.snap
Owners: @leops, @xunilrj

fix(rome_js_analyze): improve the detection of invalid cases in `noArrayIndexKey`
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx.snap
Owners: @leops, @xunilrj

refactor
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

more refactor
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

start action
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

docs: Add `repository` field in `package.json` files
  npm/backend-jsonrpc/package.json
  npm/js-api/package.json
  npm/rome/package.json
Owners: @rome/staff

docs: Add `repository` field in `package.json` files of published npm packages (#3703)
  npm/backend-jsonrpc/package.json
  npm/js-api/package.json
  npm/rome/package.json
Owners: @rome/staff

Add mobile styles for package manager selector
  website/src/styles/_package-manager.scss
Owners: @rome/staff

website(docs): Add CodeBlockHeader
  website/src/components/CodeBlockHeader.astro
  website/src/pages/guides/getting-started.mdx
  website/src/styles/_package-manager.scss
  website/src/styles/_pre.scss
  website/src/styles/index.scss
Owners: @rome/staff

update
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc.snap
Owners: @leops, @xunilrj

Add / alias
  website/src/pages/guides/getting-started.mdx
  website/tsconfig.json
Owners: @rome/staff

fix
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

website(docs): Add CodeBlockHeader (#3704)
  website/src/components/CodeBlockHeader.astro
  website/src/pages/guides/getting-started.mdx
  website/src/styles/_package-manager.scss
  website/src/styles/_pre.scss
  website/src/styles/index.scss
  website/tsconfig.json
Owners: @rome/staff

Add color-scheme property
  website/src/styles/_global.scss
Owners: @rome/staff

reverted disabling of diagnostics content based on linter state
  website/src/playground/Playground.tsx
  website/src/playground/tabs/DiagnosticsTab.tsx
Owners: @rome/staff

Increase package manager selector active border to 2px
  website/src/styles/_pre.scss
Owners: @rome/staff

removed unused prop
  website/src/playground/tabs/DiagnosticsTab.tsx
Owners: @rome/staff

Improve formatter docs
  website/src/pages/formatter/index.mdx
Owners: @rome/staff

Clean up configuration headers
  website/src/pages/configuration.mdx
Owners: @rome/staff

Format
  website/astro.config.ts
Owners: @rome/staff

docs(website): added checkbox to toggle linter in playground (#3699)
  website/src/playground/components/SettingsPane.tsx
  website/src/playground/types.ts
  website/src/playground/utils.ts
  website/src/playground/workers/romeWorker.ts
Owners: @rome/staff

fix(rome_js_formatter): new expression attribute (#3686)
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
Owners: @ematipico, @MichaReiser

clippy
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

codegen
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

lintdoc
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useConst.md
Owners: @rome/staff

refactor
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc.snap
Owners: @leops, @xunilrj

lintdoc
  website/src/pages/lint/rules/useConst.md
Owners: @rome/staff

website(docs): More playground IDE features
  website/package.json
  website/pnpm-lock.yaml
  website/src/pages/playground.astro
  website/src/playground/CodeMirror.tsx
  website/src/playground/Collapsible.tsx
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/components/CodePane.tsx
  website/src/playground/components/DiagnosticsPane.tsx
  website/src/playground/components/Resizable.tsx
  website/src/playground/components/SettingsPane.tsx
  website/src/playground/components/Tabs.tsx
  website/src/playground/styles/_code.scss
  website/src/playground/styles/_diagnostics.scss
  website/src/playground/styles/_results.scss
  website/src/playground/styles/_settings.scss
  website/src/playground/styles/_tabs.scss
  website/src/playground/styles/index.scss
  website/src/playground/tabs/DiagnosticsConsoleTab.tsx
  website/src/playground/tabs/DiagnosticsListTab.tsx
  website/src/playground/tabs/DiagnosticsTab.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/tabs/FormatterIRTab.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/types.ts
  website/src/playground/utils.ts
  website/src/playground/workers/prettierWorker.ts
  website/src/playground/workers/romeWorker.ts
  website/src/styles/index.scss
  website/src/styles/playground.scss
  website/src/svg/error.svg
  website/src/svg/info.svg
  website/src/svg/warning.svg
Owners: @rome/staff

Regenerate pnpm lock
  website/pnpm-lock.yaml
Owners: @rome/staff

Fix ts errors
  website/src/playground/Playground.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/workers/prettierWorker.ts
  website/src/playground/workers/romeWorker.ts
Owners: @rome/staff

Fix
  website/src/frontend-scripts/util.ts
  website/src/playground/Playground.tsx
  website/src/playground/tabs/DiagnosticsListTab.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/workers/romeWorker.ts
Owners: @rome/staff

website(docs): More playground IDE features (#3711)
  website/package.json
  website/pnpm-lock.yaml
  website/src/frontend-scripts/util.ts
  website/src/pages/playground.astro
  website/src/playground/CodeMirror.tsx
  website/src/playground/Collapsible.tsx
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/components/CodePane.tsx
  website/src/playground/components/DiagnosticsPane.tsx
  website/src/playground/components/Resizable.tsx
  website/src/playground/components/SettingsPane.tsx
  website/src/playground/components/Tabs.tsx
  website/src/playground/styles/_code.scss
  website/src/playground/styles/_diagnostics.scss
  website/src/playground/styles/_results.scss
  website/src/playground/styles/_settings.scss
  website/src/playground/styles/_tabs.scss
  website/src/playground/styles/index.scss
  website/src/playground/tabs/DiagnosticsConsoleTab.tsx
  website/src/playground/tabs/DiagnosticsListTab.tsx
  website/src/playground/tabs/DiagnosticsTab.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/tabs/FormatterIRTab.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/types.ts
  website/src/playground/utils.ts
  website/src/playground/workers/prettierWorker.ts
  website/src/playground/workers/romeWorker.ts
  website/src/styles/index.scss
  website/src/styles/playground.scss
  website/src/svg/error.svg
  website/src/svg/info.svg
  website/src/svg/warning.svg
Owners: @rome/staff

Add missing width
  website/src/playground/styles/_results.scss
Owners: @rome/staff

Add context about Romes philosophy
  website/src/pages/formatter/index.mdx
Owners: @rome/staff

Reenable compression
  website/astro.config.ts
Owners: @rome/staff

Align docs.rome.tools with rome.tools
  website/src/styles/_docs.scss
Owners: @rome/staff
