Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

run the configuration codegen
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

fix(rome_js_analyze): fix the removal of nodes from syntax lists in batch mutations (#2980)
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/analyzers/js/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/js/no_delete.rs
  crates/rome_js_analyze/src/analyzers/js/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/js/noDelete.js
  crates/rome_js_analyze/tests/specs/js/noDelete.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnnecessaryContinue.js.snap
  crates/rome_js_analyze/tests/specs/js/useBlockStatements.js
  crates/rome_js_analyze/tests/specs/js/useBlockStatements.js.snap
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/test_utils.rs
  crates/rome_js_parser/src/tests.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @MichaReiser, @rome/staff, @ematipico

fix(rome_js_analyze): improve the handling of trivia in `useBlockStatements`
  crates/rome_js_analyze/src/analyzers/js/use_block_statements.rs
  crates/rome_js_analyze/tests/specs/js/useBlockStatements.js
  crates/rome_js_analyze/tests/specs/js/useBlockStatements.js.snap
Owners: @leops, @xunilrj

run lintdoc
  website/src/docs/lint/rules/useBlockStatements.md
Owners: @rome/staff

fix(rome_js_parser): Better error recover for jsx attribute #2944 (#2954)
  crates/rome_js_analyze/tests/specs/jsx/noImplicitBoolean.jsx
  crates/rome_js_analyze/tests/specs/jsx/noImplicitBoolean.jsx.snap
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
  crates/rome_js_parser/src/syntax/jsx/mod.rs
  crates/rome_js_parser/test_data/inline/err/jsx_element_attribute_expression_error.jsx
  crates/rome_js_parser/test_data/inline/err/jsx_element_attribute_expression_error.rast
  crates/rome_rowan/src/cursor/trivia.rs
  crates/rome_rowan/src/syntax/trivia.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

fix: 🐛 CI: broken ci
  crates/rome_js_analyze/tests/specs/jsx/noImplicitBoolean.jsx
  crates/rome_js_analyze/tests/specs/jsx/noImplicitBoolean.jsx.snap
Owners: @leops, @xunilrj

fix: broken ci (#2989)
  crates/rome_js_analyze/tests/specs/jsx/noImplicitBoolean.jsx
  crates/rome_js_analyze/tests/specs/jsx/noImplicitBoolean.jsx.snap
Owners: @leops, @xunilrj

refactor(rome_js_formatter): Extract `JsAnyFunction` formatter into `FormatFunction`
  crates/rome_js_formatter/src/js/any/function.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/declarations/function_export_default_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/function_expression.rs
  xtask/codegen/src/formatter.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Clippy clippy
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
Owners: @ematipico, @MichaReiser

Extract arrow function formatting
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/declarations/function_export_default_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/function_expression.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Closer match Prettier's variable declarations formatting
  crates/rome_js_formatter/src/js/declarations/variable_declaration.rs
  crates/rome_js_formatter/src/js/lists/variable_declarator_list.rs
  crates/rome_js_formatter/src/js/statements/expression_statement.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments/variable_declarator.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/variable_declarator/multiple.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/assignment2.ts.snap
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Fix indent of first variable
  crates/rome_js_formatter/src/js/lists/variable_declarator_list.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments/variable_declarator.js.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): `While` and `Do..While` formatting.
  crates/rome_js_formatter/src/js/auxiliary/else_clause.rs
  crates/rome_js_formatter/src/js/statements/do_while_statement.rs
  crates/rome_js_formatter/src/js/statements/empty_statement.rs
  crates/rome_js_formatter/src/js/statements/if_statement.rs
  crates/rome_js_formatter/src/js/statements/while_statement.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments/while.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/no-semi/no-semi.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/while/indent.js.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): `For` and `With` formatting
  crates/rome_js_formatter/src/js/auxiliary/else_clause.rs
  crates/rome_js_formatter/src/js/statements/do_while_statement.rs
  crates/rome_js_formatter/src/js/statements/empty_statement.rs
  crates/rome_js_formatter/src/js/statements/for_in_statement.rs
  crates/rome_js_formatter/src/js/statements/for_of_statement.rs
  crates/rome_js_formatter/src/js/statements/for_statement.rs
  crates/rome_js_formatter/src/js/statements/if_statement.rs
  crates/rome_js_formatter/src/js/statements/while_statement.rs
  crates/rome_js_formatter/src/js/statements/with_statement.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-without-blocks.js.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): `ForIn`,`continue` and `break` formatting.
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/js/statements/break_statement.rs
  crates/rome_js_formatter/src/js/statements/continue_statement.rs
  crates/rome_js_formatter/src/js/statements/do_while_statement.rs
  crates/rome_js_formatter/src/js/statements/empty_statement.rs
  crates/rome_js_formatter/src/js/statements/for_in_statement.rs
  crates/rome_js_formatter/src/js/statements/while_statement.rs
  crates/rome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-without-blocks.js.snap
Owners: @ematipico, @MichaReiser

rustfmt
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_analyze): improve the handling of trivia in `useBlockStatements` (#2981)
  crates/rome_js_analyze/src/analyzers/js/use_block_statements.rs
  crates/rome_js_analyze/tests/specs/js/useBlockStatements.js
  crates/rome_js_analyze/tests/specs/js/useBlockStatements.js.snap
  website/src/docs/lint/rules/useBlockStatements.md
Owners: @leops, @xunilrj, @rome/staff

chore: fix headings and more documentation
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

chore: remove CI section
  website/src/_includes/docs/_old_cli-commands.md
  website/src/_includes/docs/ci.md
  website/src/_includes/docs/cli-commands.md
  website/src/_includes/docs/cli.md
  website/src/_includes/docs/linter.md
  website/src/index.md
Owners: @rome/staff

chore: added VSCode section changes
  CHANGELOG.md
Owners: @rome/staff

fix: link
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

chore: code review
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

chore: rephrase `options`
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

Apply suggestions from code review
  CHANGELOG.md
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

chore: update documentation
  CHANGELOG.md
  website/src/_includes/docs/_old_project-config.md
  website/src/_includes/docs/project-config.md
  website/src/index.md
Owners: @rome/staff

chore: update versions
  editors/vscode/package.json
  npm/rome/package.json
Owners: @rome/staff

chore: better wording
  CHANGELOG.md
Owners: @rome/staff

release: 0.8.0 (#2925)
  CHANGELOG.md
  editors/vscode/package.json
  npm/rome/package.json
  website/src/_includes/docs/_old_cli-commands.md
  website/src/_includes/docs/_old_project-config.md
  website/src/_includes/docs/ci.md
  website/src/_includes/docs/cli-commands.md
  website/src/_includes/docs/cli.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/project-config.md
  website/src/index.md
Owners: @rome/staff

feat: add no extra boolean cast
  crates/rome_analyze/src/no_extra_boolean_cast.rs
Owners: @leops, @xunilrj

feat: add js call expression query
  crates/rome_analyze/src/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
  crates/rome_js_analyze/tests/specs/js/noExtraBooleanCast.js
Owners: @leops, @xunilrj

feat(rome_js_formatter): Loop formatting (#2970)
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/js/auxiliary/else_clause.rs
  crates/rome_js_formatter/src/js/statements/break_statement.rs
  crates/rome_js_formatter/src/js/statements/continue_statement.rs
  crates/rome_js_formatter/src/js/statements/do_while_statement.rs
  crates/rome_js_formatter/src/js/statements/empty_statement.rs
  crates/rome_js_formatter/src/js/statements/for_in_statement.rs
  crates/rome_js_formatter/src/js/statements/for_of_statement.rs
  crates/rome_js_formatter/src/js/statements/for_statement.rs
  crates/rome_js_formatter/src/js/statements/if_statement.rs
  crates/rome_js_formatter/src/js/statements/while_statement.rs
  crates/rome_js_formatter/src/js/statements/with_statement.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments/while.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/for/continue-and-break-comment-without-blocks.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/no-semi/no-semi.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/while/indent.js.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Refine variable declaration formatting (#2983)
  crates/rome_js_formatter/src/js/declarations/variable_declaration.rs
  crates/rome_js_formatter/src/js/lists/variable_declarator_list.rs
  crates/rome_js_formatter/src/js/statements/expression_statement.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments/variable_declarator.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/variable_declarator/multiple.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/assignment2.ts.snap
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/syntax/node.rs
Owners: @ematipico, @MichaReiser, @rome/staff

refactor(rome_js_formatter): Extract `JsAnyFunction` formatter into `FormatFunction` (#2988)
  crates/rome_js_formatter/src/js/any/function.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/declarations/function_export_default_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/function_expression.rs
  xtask/codegen/src/formatter.rs
Owners: @ematipico, @MichaReiser, @rome/staff

feat(rome_js_formatter): Format `throw` and `return` argument
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/js/expressions/sequence_expression.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/js/statements/throw_statement.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/export/expression_clause.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/return.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/inline-object-array.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/return.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/bind-expressions/await.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/closure-compiler-type-cast.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/comment-in-the-middle.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/issue-4124.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/issue-8045.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/issue-9358.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/non-casts.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/return-statement.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/return/binaryish.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/return/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/throw_statement/binaryish.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/throw_statement/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/as.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/private-fields-in-in/basic.ts.snap
Owners: @ematipico, @MichaReiser

Code review feedback.
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/js/expressions/sequence_expression.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Format `throw` and `return` argument (#2986)
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/js/expressions/sequence_expression.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/js/statements/throw_statement.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/export/expression_clause.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/return.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/inline-object-array.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/return.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/bind-expressions/await.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/closure-compiler-type-cast.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/comment-in-the-middle.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/issue-4124.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/issue-8045.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/issue-9358.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/non-casts.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/return-statement.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/return/binaryish.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/return/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/throw_statement/binaryish.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/throw_statement/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/as.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/private-fields-in-in/basic.ts.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Group return type with parameters
  crates/rome_formatter/src/prelude.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/classes/constructor_class_member.rs
  crates/rome_js_formatter/src/js/classes/method_class_member.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/objects/method_object_member.rs
  crates/rome_js_formatter/src/ts/auxiliary/method_signature_type_member.rs
  crates/rome_js_formatter/src/ts/classes/constructor_signature_class_member.rs
  crates/rome_js_formatter/src/ts/classes/method_signature_class_member.rs
  crates/rome_js_formatter/src/ts/declarations/declare_function_declaration.rs
  crates/rome_js_formatter/src/ts/types/function_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/method_types.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/type-parameters.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conformance/classes/mixinClassesAnnotated.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/method/issue-10352-consistency.ts.snap
  crates/rome_js_formatter/tests/specs/ts/expression/type_member.ts.snap
Owners: @ematipico, @MichaReiser

docs: ✏️ update doc
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noImportAssign.md
Owners: @rome/staff

feat: 🎸 no-import-assign
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noImportAssign.md
Owners: @leops, @xunilrj, @rome/staff

fix: 🐛 cr issues
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js.snap
Owners: @leops, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
