Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fix: 🐛 cr issue
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
  crates/rome_js_parser/src/syntax/jsx/mod.rs
Owners: @ematipico, @MichaReiser, @xunilrj

fix: 🐛 format test case
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap.new
  crates/rome_js_parser/src/syntax/jsx/mod.rs
  crates/rome_rowan/src/cursor/trivia.rs
  crates/rome_rowan/src/syntax/trivia.rs
Owners: @ematipico, @MichaReiser, @xunilrj, @rome/staff

chore: 🤖 update comment
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap.new
Owners: @ematipico, @MichaReiser

fix: 🐛 cr issues
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
Owners: @ematipico, @MichaReiser

fix: 🐛 compile
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
Owners: @ematipico, @MichaReiser

fix: 🐛 accept snapshot
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap.new
Owners: @ematipico, @MichaReiser

feat(rome_analyze): improve the extensibility of the `declare_rule` macro (#2964)
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/src/analyzers/js/no_async_promise_executor.rs
  crates/rome_js_analyze/src/analyzers/js/no_compare_neg_zero.rs
  crates/rome_js_analyze/src/analyzers/js/no_dead_code.rs
  crates/rome_js_analyze/src/analyzers/js/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/js/no_delete.rs
  crates/rome_js_analyze/src/analyzers/js/no_double_equals.rs
  crates/rome_js_analyze/src/analyzers/js/no_empty_pattern.rs
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
  crates/rome_js_analyze/src/analyzers/js/no_sparse_array.rs
  crates/rome_js_analyze/src/analyzers/js/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/js/no_unsafe_negation.rs
  crates/rome_js_analyze/src/analyzers/js/no_unused_template_literal.rs
  crates/rome_js_analyze/src/analyzers/js/use_block_statements.rs
  crates/rome_js_analyze/src/analyzers/js/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_case_statement.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_var_declarator.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/src/analyzers/js/use_valid_typeof.rs
  crates/rome_js_analyze/src/analyzers/js/use_while.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_comment_text.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_implicit_boolean.rs
  crates/rome_js_analyze/src/analyzers/jsx/use_self_closing_elements.rs
  crates/rome_js_analyze/src/analyzers/regex/no_multiple_spaces_in_regular_expression_literals.rs
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/src/assists/js/flip_bin_exp.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_arguments.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_catch_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_label_var.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

PR review
  crates/rome_js_analyze/src/analyzers/js/use_single_var_declarator.rs
Owners: @leops, @xunilrj

fix(rome_js_analyze): improve trivia handling in useSingleVarDeclarator (#2955)
  crates/rome_cli/tests/main.rs
  crates/rome_css_factory/src/generated/node_factory.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_var_declarator.rs
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/tests/specs/js/useSingleVarDeclarator.js
  crates/rome_js_analyze/tests/specs/js/useSingleVarDeclarator.js.snap
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/make.rs
  crates/rome_json_factory/src/generated/node_factory.rs
  website/src/docs/lint/rules/useSingleVarDeclarator.md
  xtask/codegen/src/generate_node_factory.rs
Owners: @leops, @rome/staff, @xunilrj

feat(rome_js_analyze): useCamelCase (#2926)
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/benches/iai.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useCamelCase.md
Owners: @rome/staff, @leops, @xunilrj

fixing broken build
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
Owners: @leops, @xunilrj

fixing broken build (#2971)
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
Owners: @leops, @xunilrj

fix: 🐛 cr issue
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
Owners: @ematipico, @MichaReiser

fix: 🐛 function expression should push new scope
  crates/rome_js_analyze/src/main.rs
Owners: @leops, @xunilrj

fix: 🐛 semantic scope
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/scopes.rs
Owners: @xunilrj

fix: 🐛 remove mainn
  crates/rome_js_analyze/src/main.rs
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js.snap.new
Owners: @leops, @xunilrj

fix: 🐛 pop scope when leave function expr
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js.snap.new
  crates/rome_js_semantic/src/events.rs
Owners: @leops, @xunilrj

style: 💄 fmt
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

chore: 🤖 revert
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
Owners: @leops, @xunilrj

chore: 🤖 rever
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
Owners: @leops, @xunilrj

fix: 🐛 rome ast codemirror grammar
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

test: 💍 more read test case
  crates/rome_js_semantic/src/tests/references.rs
  crates/rome_js_semantic/src/tests/scopes.rs
Owners: @xunilrj

fix(playground): rome ast codemirror grammar (#2974)
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

feat: 🎸 finish
  website/playground/lang-rome-ast/.gitignore
  website/playground/lang-rome-ast/README.md
  website/playground/lang-rome-ast/package.json
  website/playground/lang-rome-ast/pnpm-lock.yaml
  website/playground/lang-rome-ast/src/index.ts
  website/playground/lang-rome-ast/src/syntax.grammar
  website/playground/lang-rome-ast/src/syntax.grammar.d.ts
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

fix: 🐛 tsc ci
  .github/workflows/pull_request_js.yml
  website/playground/lang-rome-ast/src/index.ts
Owners: @rome/staff

chore: 🤖 postinstall
  website/playground/lang-rome-ast/package.json
  website/playground/workers-site/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 postinstall
  website/playground/lang-rome-ast/package.json
  website/playground/lang-rome-ast/pnpm-lock.yaml
  website/playground/lang-rome-ast/src/index.ts
Owners: @rome/staff

chore: 🤖 postinstaqll
  website/playground/lang-rome-ast/package.json
  website/playground/lang-rome-ast/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 postscripts
  website/api/pnpm-lock.yaml
  website/playground/lang-rome-ast/package.json
  website/playground/package.json
Owners: @rome/staff

chore: 🤖 postinstall
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

fix: 🐛 postinstall
  website/playground/codemirror-lang-rome-ast/.gitignore
  website/playground/codemirror-lang-rome-ast/README.md
  website/playground/codemirror-lang-rome-ast/package.json
  website/playground/codemirror-lang-rome-ast/pnpm-lock.yaml
  website/playground/codemirror-lang-rome-ast/src/index.ts
  website/playground/codemirror-lang-rome-ast/src/syntax.grammar
  website/playground/codemirror-lang-rome-ast/src/syntax.grammar.d.ts
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

fix: 🐛 add types dir
  website/playground/tsconfig.json
  website/playground/types/global.d.ts
Owners: @rome/staff

style: 💄 fmt
  website/playground/types/global.d.ts
Owners: @rome/staff

chore: 🤖 build
  website/playground/lang-rome-ast/.gitignore
  website/playground/lang-rome-ast/README.md
  website/playground/lang-rome-ast/package.json
  website/playground/lang-rome-ast/pnpm-lock.yaml
  website/playground/lang-rome-ast/src/index.ts
  website/playground/lang-rome-ast/src/syntax.grammar
  website/playground/lang-rome-ast/src/syntax.grammar.d.ts
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 main entry
  website/playground/lang-rome-ast/package.json
Owners: @rome/staff

fix(rome_js_analyze): fix the removal of nodes from syntax lists in batch mutations
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/analyzers/js/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/js/no_delete.rs
  crates/rome_js_analyze/src/analyzers/js/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/js/noDelete.js
  crates/rome_js_analyze/tests/specs/js/noDelete.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnnecessaryContinue.js.snap
  crates/rome_js_analyze/tests/specs/js/useBlockStatements.js
  crates/rome_js_analyze/tests/specs/js/useBlockStatements.js.snap
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/test_utils.rs
  crates/rome_js_parser/src/tests.rs
  crates/rome_rowan/src/ast/batch.rs
Owners: @leops, @xunilrj, @MichaReiser, @rome/staff

fix(rome_js_semantic):should push a new scope when meet a function expression (#2973)
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/references.rs
  crates/rome_js_semantic/src/tests/scopes.rs
Owners: @xunilrj

chore(git): mark additional generated files in the gitattributes
  .gitattributes
  .github/workflows/pull_request.yml
Owners: @rome/staff

chore(git): mark additional generated files in the gitattributes (#2982)
  .gitattributes
  .github/workflows/pull_request.yml
Owners: @rome/staff

address PR review
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_parser/src/test_utils.rs
Owners: @leops, @xunilrj, @MichaReiser

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
