Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

lintdoc
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noShadowRestrictedNames.md
Owners: @rome/staff

feat(rome_js_analyze): no shadow restricted lint rule (#2975)
  Cargo.lock
  Cargo.toml
  crates/rome_analyze/src/rule.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/benches/iai.rs
  crates/rome_js_analyze/src/analyzers.rs
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/no_shadow_restricted_names.rs
  crates/rome_js_analyze/src/analyzers/jsx.rs
  crates/rome_js_analyze/src/analyzers/regex.rs
  crates/rome_js_analyze/src/analyzers/ts.rs
  crates/rome_js_analyze/src/assists.rs
  crates/rome_js_analyze/src/assists/js.rs
  crates/rome_js_analyze/src/semantic_analyzers.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/tests/specs/js/noShadowRestrictedNames.js
  crates/rome_js_analyze/tests/specs/js/noShadowRestrictedNames.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noShadowRestrictedNames.md
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/main.rs
  xtask/libs_bench/Cargo.toml
  xtask/libs_bench/benches/contains.rs
  xtask/libs_bench/benches/contains_criterion.rs
  xtask/libs_bench/benches/contains_iai.rs
  xtask/libs_bench/benches/to_camel_case.rs
  xtask/libs_bench/bins/contains_iai.rs
  xtask/libs_bench/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: 🤖 change require
  website/playground/lang-rome-ast/package.json
Owners: @rome/staff

Address code review feedback
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_parser): allow readonly property with initializer in ambient context
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/test_data/inline/ok/ts_property_readonly_initializer_ambient_context.ts
Owners: @MichaReiser, @xunilrj

feat(rome_service): `--apply-suggested` argument to `rome check` (#2952)
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

fix(rome_service): inject defaults for missing globals (#2998)
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/javascript.rs
Owners: @leops, @ematipico

feat(rome_formatter): `Align` IR element (#2995)
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_parser): 🐛TsModuleDeclaration name should allow builtin types (#2962)
  crates/rome_js_parser/src/syntax/typescript.rs
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/built_in_module_name.rast
  crates/rome_js_parser/test_data/inline/ok/built_in_module_name.ts
Owners: @MichaReiser, @xunilrj

feat: 🎸 init
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_parser/test_data/inline/err/ts_abstract_member_ansi.rast
  crates/rome_js_parser/test_data/inline/err/ts_abstract_property_cannot_have_initiliazers.rast
  crates/rome_js_parser/test_data/inline/err/ts_property_initializer_ambient_context.rast
  crates/rome_js_parser/test_data/inline/ok/ts_abstract_classes.rast
  crates/rome_js_parser/test_data/inline/ok/ts_abstract_property_can_be_optional.rast
  crates/rome_js_parser/test_data/inline/ok/ts_class_property_member_modifiers.rast
  crates/rome_js_parser/test_data/inline/ok/ts_decorated_class_members.rast
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Owners: @rome/staff, @MichaReiser, @xunilrj

feat(rome_js_formatter): Binary parentheses
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/specs/js/module/comments.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binaryish_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/identifier.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/bigint.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/private-fields-in-in.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/equality.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/exp.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/math.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary_math/parens.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/return-statement.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/functional-composition/rxjs_pipe.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/in/arrow-function.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/issue-4125.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/private-fields-in-in/basic.ts.snap
  crates/rome_js_parser/src/syntax.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/util.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
Owners: @ematipico, @MichaReiser, @xunilrj, @rome/staff

chore: 🤖 fix
  crates/rome_js_formatter/src/utils/assignment_like.rs
Owners: @ematipico, @MichaReiser

feat(rome_service): diagnostic severity for rules
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_js_analyze/src/analyzers/js/no_async_promise_executor.rs
  crates/rome_js_analyze/src/analyzers/js/no_compare_neg_zero.rs
  crates/rome_js_analyze/src/analyzers/js/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/js/no_delete.rs
  crates/rome_js_analyze/src/analyzers/js/no_double_equals.rs
  crates/rome_js_analyze/src/analyzers/js/no_empty_pattern.rs
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
  crates/rome_js_analyze/src/analyzers/js/no_sparse_array.rs
  crates/rome_js_analyze/src/analyzers/js/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/js/no_unsafe_negation.rs
  crates/rome_js_analyze/src/analyzers/js/no_unused_template_literal.rs
  crates/rome_js_analyze/src/analyzers/js/use_block_statements.rs
  crates/rome_js_analyze/src/analyzers/js/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_case_statement.rs
  crates/rome_js_analyze/src/analyzers/js/use_single_var_declarator.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/src/analyzers/js/use_valid_typeof.rs
  crates/rome_js_analyze/src/analyzers/js/use_while.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_comment_text.rs
  crates/rome_js_analyze/src/analyzers/jsx/no_implicit_boolean.rs
  crates/rome_js_analyze/src/analyzers/jsx/use_self_closing_elements.rs
  crates/rome_js_analyze/src/analyzers/regex/no_multiple_spaces_in_regular_expression_literals.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_arguments.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_catch_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_label_var.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace/server.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

fix: incorrect logic to deduce recommended rules
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

fix: default diagnostics to error
  crates/rome_service/src/configuration/linter/rules.rs
  website/playground/src/lib.rs
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @ematipico, @rome/staff

chore: rebase
  website/src/docs/lint/rules/useBlockStatements.md
Owners: @rome/staff

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
Owners: @leops, @xunilrj

feat: test workspace for correctly pull severity from rules
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/test.rs
  website/src/docs/lint/rules/noExtraBooleanCast.md
  website/src/docs/lint/rules/noImportAssign.md
  website/src/docs/lint/rules/useShorthandArrayType.md
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: update snapshots
  crates/rome_js_analyze/tests/specs/js/noArguments.cjs.snap
  crates/rome_js_analyze/tests/specs/js/noAsyncPromiseExecutor.js.snap
  crates/rome_js_analyze/tests/specs/js/noCatchAssign.js.snap
  crates/rome_js_analyze/tests/specs/js/noCompareNegZero.js.snap
  crates/rome_js_analyze/tests/specs/js/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/js/noDoubleEquals.js.snap
  crates/rome_js_analyze/tests/specs/js/noEmptyPattern.js.snap
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js.snap
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js.snap
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js.snap
  crates/rome_js_analyze/tests/specs/js/noSparseArray.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnsafeNegation.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedTemplateLiteral.js.snap
  crates/rome_js_analyze/tests/specs/js/useSimplifiedLogicExpression.js.snap
  crates/rome_js_analyze/tests/specs/js/useSingleCaseStatement.js.snap
  crates/rome_js_analyze/tests/specs/js/useTemplate.js.snap
  crates/rome_js_analyze/tests/specs/js/useValidTypeof.js.snap
  crates/rome_js_analyze/tests/specs/js/useWhile.js.snap
  crates/rome_js_analyze/tests/specs/jsx/noCommentText.tsx.snap
  crates/rome_js_analyze/tests/specs/jsx/useSelfClosingElements.tsx.snap
  crates/rome_js_analyze/tests/specs/regex/noMultipleSpacesInRegularExpressionLiterals.js.snap
Owners: @leops, @xunilrj

chore: move test workspace inside xtask
  Cargo.lock
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  xtask/lintdoc/Cargo.toml
  xtask/lintdoc/src/main.rs
  xtask/lintdoc/src/workspace.rs
Owners: @rome/staff, @leops, @ematipico

chore: code suggestions
  crates/rome_analyze/src/lib.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  xtask/lintdoc/src/main.rs
  xtask/lintdoc/src/workspace.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: remove unneeded code
  xtask/lintdoc/src/main.rs
  xtask/lintdoc/src/workspace.rs
Owners: @rome/staff

chore: rebase
  crates/rome_js_analyze/src/analyzers/js/no_shadow_restricted_names.rs
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/noShadowRestrictedNames.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: clippy
  crates/rome_cli/tests/main.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @rome/staff

fix: 🐛 (rome_js_analyze): fix 2999
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js.snap
Owners: @leops, @xunilrj

fix: 🐛 cargo lnit
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
Owners: @leops, @xunilrj

fix: 🐛 cr issue
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js.snap
Owners: @leops, @xunilrj

fix: 🐛 cr issue
  crates/rome_js_analyze/src/analyzers/js/no_negation_else.rs
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js.snap
Owners: @leops, @xunilrj

fix: 🐛 cr issue
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js.snap
Owners: @leops, @xunilrj

fix: 🐛 cr issue
  crates/rome_js_analyze/tests/specs/js/noNegationElse.js.snap
  crates/rome_js_analyze/tests/specs/js/noNegationElse/default.js
  crates/rome_js_analyze/tests/specs/js/noNegationElse/default.js.snap
  crates/rome_js_analyze/tests/specs/js/noNegationElse/issue_2999.js
  crates/rome_js_analyze/tests/specs/js/noNegationElse/issue_2999.js.snap
Owners: @leops, @xunilrj

Address code review feedback
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

chore(website): add project management section
  website/src/_includes/docs/philosophy.md
Owners: @rome/staff

Suppress clippy warning
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Binary parentheses (#3002)
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/specs/js/module/comments.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binaryish_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/identifier.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/bigint.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/private-fields-in-in.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/equality.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/exp.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/math.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary_math/parens.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/return-statement.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/functional-composition/rxjs_pipe.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/in/arrow-function.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/issue-4125.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/private-fields-in-in/basic.ts.snap
  crates/rome_js_parser/src/syntax.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/util.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
Owners: @ematipico, @MichaReiser, @xunilrj, @rome/staff

feat(rome_formatter): `Dedent` IR
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat: 🎸 finish codemirror formatter ir
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
  website/playground/workers-site/pnpm-lock.yaml
Owners: @rome/staff

chore: 🤖 bump lang-rome-formatter-ir version
  website/playground/package.json
Owners: @rome/staff

chore: 🤖 lock file
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

fix: 🐛 ci issue
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

is_exported for functions
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/scopes.rs
Owners: @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
