Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

style: 💄 fmt
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_js_syntax/src/source_type.rs
Owners: @ematipico, @MichaReiser, @xunilrj, @rome/staff

feat(rome_js_formatter): Member assignment formatting (#3061)
  crates/rome_js_formatter/src/js/assignments/computed_member_assignment.rs
  crates/rome_js_formatter/src/js/assignments/static_member_assignment.rs
  crates/rome_js_formatter/src/js/expressions/computed_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/import_meta_expression/import_meta_expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/issue-1966.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/issue-4094.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/assignment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/bracket_0.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/break-last-member.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/lone-arg.ts.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/type_assertion_assignment.ts.snap
Owners: @ematipico, @MichaReiser

chore: 🤖 address cr issue
  crates/rome_js_syntax/src/source_type.rs
Owners: @rome/staff

refactor: Using default derive macro instead of manual implementation for Enum (#3069)
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_js_syntax/src/source_type.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
Owners: @ematipico, @MichaReiser, @xunilrj, @rome/staff, @leops

feat(playground): Use full height for right side panels
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/TreeView.tsx
Owners: @rome/staff

Fix scrolling
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

Fix scrolling
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

Fix scrolling
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

fix(rome_bin): fix the parsing of the internal CLI arguments for the daemon server in debug mode (#3068)
  crates/rome_bin/src/main.rs
Owners: @rome/staff

feat(playground): Use full height for right side panels (#3072)
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/TreeView.tsx
Owners: @rome/staff

test(rome_cli): more snapshot tests
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/ci_ok.snap
  crates/rome_cli/tests/snapshots/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/correct_root.snap
  crates/rome_cli/tests/snapshots/creates_config_file.snap
  crates/rome_cli/tests/snapshots/format_is_disabled.snap
  crates/rome_cli/tests/snapshots/format_with_configuration.snap
  crates/rome_cli/tests/snapshots/formatter_lint_warning.snap
  crates/rome_cli/tests/snapshots/formatter_print.snap
  crates/rome_cli/tests/snapshots/formatter_write.snap
  crates/rome_cli/tests/snapshots/formatting_error.snap
  crates/rome_cli/tests/snapshots/incorrect_globals.snap
  crates/rome_cli/tests/snapshots/incorrect_rule_name.snap
  crates/rome_cli/tests/snapshots/indent_size_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/indent_size_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/indent_style_parse_errors.snap
  crates/rome_cli/tests/snapshots/line_width_error.snap
  crates/rome_cli/tests/snapshots/line_width_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/line_width_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/parse_error.snap
Owners: @leops

Update crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/javascript.rs
Owners: @leops, @ematipico

ci: run ci using the version on `main`
  .github/workflows/pull_request_js.yml
  editors/vscode/scripts/updateVersionForPrerelease.mjs
  editors/vscode/src/commands/index.ts
  editors/vscode/src/commands/syntaxTree.ts
  editors/vscode/src/session.ts
  npm/rome/scripts/generate-packages.mjs
  npm/rome/scripts/postinstall.js
  npm/rome/scripts/update-nightly-version.mjs
  rome.json
  website/api/server.js
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MermaidGraph.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
  website/playground/workers-site/index.js
  website/src/_includes/scripts/funding.js
Owners: @rome/staff

fix: 🐛 (rome_js_analyze): fix false positive case
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js.snap
  website/src/docs/lint/rules/noShoutyConstants.md
Owners: @leops, @xunilrj, @rome/staff

chore: 🤖 update doc
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
Owners: @leops, @xunilrj

fix: 🐛 function expression should push new scope
  crates/rome_js_analyze/src/main.rs
Owners: @leops, @xunilrj

fix: 🐛 remove mainn
  crates/rome_js_analyze/src/main.rs
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js.snap.new
Owners: @leops, @xunilrj

fix: 🐛 pop scope when leave function expr
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js.snap.new
  crates/rome_js_semantic/src/events.rs
Owners: @leops, @xunilrj

style: 💄 fmt
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

chore: 🤖 init
  crates/rome_js_analyze/src/main.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
Owners: @leops, @xunilrj

chore: 🤖 revert
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
Owners: @leops, @xunilrj

chore: 🤖 rever
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
Owners: @leops, @xunilrj

test: 💍 add more testcase
  crates/rome_js_analyze/src/main.rs
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDupeArgs.md
Owners: @leops, @xunilrj, @rome/staff

fix: 🐛 test case for export_default_function_declaration
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
  crates/rome_js_semantic/src/tests/scopes.rs
Owners: @leops, @xunilrj

chore: 🤖 update snapshot
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
Owners: @leops, @xunilrj

chore: 🤖 codegen
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/noDupeArgs.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

test: 💍 add more testcases about JsObjectBindingPatternProperty
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
Owners: @leops, @xunilrj

style: 💄 fmt
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
Owners: @leops, @xunilrj

chore: 🤖 revert
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
Owners: @leops, @xunilrj

style: 💄 fmt
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
Owners: @leops, @xunilrj

chore: 🤖 using traverse algorithm instead of semantic model
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
Owners: @leops, @xunilrj

chore: 🤖 change version and configuration
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDupeArgs.md
Owners: @leops, @xunilrj, @rome/staff

chore: code review
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_js.yml
  editors/vscode/src/commands/syntaxTree.ts
Owners: @rome/staff

chore: 🤖 fix cr issues
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
Owners: @leops, @xunilrj

chore: 🤖 recover
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

chore: 🤖 revert
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
Owners: @leops, @xunilrj

chore: 🤖 update snapshot
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
Owners: @leops, @xunilrj

ci: run ci using the version on `main` (#3076)
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_js.yml
  editors/vscode/scripts/updateVersionForPrerelease.mjs
  editors/vscode/src/commands/index.ts
  editors/vscode/src/commands/syntaxTree.ts
  editors/vscode/src/session.ts
  npm/rome/scripts/generate-packages.mjs
  npm/rome/scripts/postinstall.js
  npm/rome/scripts/update-nightly-version.mjs
  rome.json
  website/api/server.js
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MermaidGraph.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
  website/playground/workers-site/index.js
  website/src/_includes/scripts/funding.js
Owners: @rome/staff

chore: update insta
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
Owners: @rome/staff, @leops, @xunilrj, @ematipico, @MichaReiser

test: 💍 add more test case about objectMethod and class method
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap.new
Owners: @leops, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
