Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore: 🤖 fix broken_intra_doc_links
  crates/rome_analyze/src/visitor.rs
  crates/rome_js_analyze/src/analyzers/correctness/use_template.rs
Owners: @leops, @xunilrj

chore: 🤖 init
  crates/rome_formatter/src/buffer.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/correctness/use_template.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_dupe_args.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_service/src/configuration/linter/rules.rs
  rust-toolchain.toml
Owners: @ematipico, @MichaReiser, @leops, @xunilrj, @rome/staff

chore: 🤖 codegen
  crates/rome_js_parser/src/lexer/tables.rs
Owners: @MichaReiser, @xunilrj

chore: 🤖 fix cargo doc
  crates/rome_analyze/src/visitor.rs
  crates/rome_service/src/file_handlers/mod.rs
Owners: @leops, @xunilrj, @ematipico

chore: 🤖 update doc
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @leops, @ematipico, @rome/staff

chore: 🤖 lint
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

chore: 🤖 make lint happy
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: 🤖 recover
  crates/rome_js_parser/src/lexer/tables.rs
Owners: @MichaReiser, @xunilrj

chore: 🤖 update configuration
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

chore: 🤖 update configuration
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

chore: 🤖 update lintdoc
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @rome/staff

chore: 🤖 update toolchain to 1.64.0 (#3265)
  crates/rome_analyze/src/visitor.rs
  crates/rome_formatter/src/buffer.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/correctness/use_template.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_dupe_args.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/mod.rs
  rust-toolchain.toml
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

feat(rome_Formatter): Assert formatting of comments (#3250)
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/map.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
Owners: @rome/staff, @ematipico, @MichaReiser

refactor(rome_formatter): Flat IR
  crates/rome_formatter/src/arguments.rs
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/format_element/signal.rs
  crates/rome_formatter/src/format_extensions.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/intersperse.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/printer/call_stack.rs
  crates/rome_formatter/src/printer/line_suffixes.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/queue.rs
  crates/rome_formatter/src/printer/stack.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/check_reformat.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/src/ts/lists/type_member_list.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/check_reformat.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/prettier/js/sloppy-mode/eval-arguments-binding.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_wasm/Cargo.toml
  crates/rome_wasm/build.rs
  xtask/bench/src/features/formatter.rs
Owners: @ematipico, @MichaReiser, @leops, @rome/staff

Rename `Signal` to `Tag`
  crates/rome_formatter/src/arguments.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/format_element/tag.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/printer/call_stack.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/queue.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/ts/lists/type_member_list.rs
  crates/rome_js_formatter/src/utils/mod.rs
  xtask/contributors/src/main.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Fix codegen and node api tests
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  npm/rome/tests/daemon/formatContent.test.mjs
  xtask/codegen/src/generate_bindings.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Update snapshots
  npm/rome/tests/wasm/formatContent.test.mjs
Owners: @rome/staff

Use `Rc::as_ptr(..).hash(..)`
  crates/rome_formatter/src/format_element.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_analyzer): add newline if statement has comments
  crates/rome_js_analyze/src/analyzers/correctness/use_block_statements.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/correctness/useBlockStatements.js
  crates/rome_js_analyze/tests/specs/correctness/useBlockStatements.js.snap
Owners: @leops, @xunilrj

feat(rome_js_analyzer): rule `useFragmentSyntax`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_fragment_syntax.rs
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useFragmentSyntax.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: code review
  crates/rome_js_analyze/src/analyzers/correctness/use_block_statements.rs
Owners: @leops, @xunilrj

fix(rome_js_analyzer): add newline if statement has comments in `useBlockStatements` (#3276)
  crates/rome_js_analyze/src/analyzers/correctness/use_block_statements.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/correctness/useBlockStatements.js
  crates/rome_js_analyze/tests/specs/correctness/useBlockStatements.js.snap
Owners: @leops, @xunilrj

refactor(rome_formatter): Best fitting fits definition
  crates/rome_formatter/src/arguments.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/format_element/tag.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/verbatim.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/js/lists/directive_list.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/object_like.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
Owners: @ematipico, @MichaReiser

chore: code review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_fragment_syntax.rs
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyzer): rule `useFragmentSyntax` (#3279)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_fragment_syntax.rs
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useFragmentSyntax.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_analyzer): rule `noChildrenProp`
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx.snap
Owners: @leops, @xunilrj

chore: expand rules and fix false positive
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  rome.json
  website/playground/src/romeWorker.ts
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx.snap
Owners: @rome/staff, @leops, @xunilrj

chore: format
  website/playground/src/romeWorker.ts
Owners: @rome/staff

chore: code suggestions
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx.snap
Owners: @leops, @xunilrj

feat(rome_js_analyzer): partial fix for noUselessFragments
  crates/rome_js_analyze/src/analyzers/style/use_self_closing_elements.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/valid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/valid.jsx.snap
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_syntax/src/generated/nodes.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

fix: incorrect change
  crates/rome_js_analyze/src/analyzers/style/use_self_closing_elements.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_syntax/src/generated/nodes.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

chore: remove comments handling
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
Owners: @leops, @xunilrj

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportNamespaceInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/noChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withCommentsInvalid.jsx.snap
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @leops, @xunilrj, @rome/staff

chore: code review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/utils/batch.rs
Owners: @leops, @xunilrj

chore: code review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/utils/batch.rs
Owners: @leops, @xunilrj

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
Owners: @leops, @xunilrj

chore: rebase
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx.snap
Owners: @leops, @xunilrj

feat(rome_js_analyzer): rule `noChildrenProp` (#3269)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  rome.json
  website/playground/src/romeWorker.ts
Owners: @rome/staff, @leops, @xunilrj

Undo literalline
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/verbatim.rs
  crates/rome_js_formatter/src/js/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
Owners: @ematipico, @MichaReiser

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
