Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

explain attributes names must be JsxName
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @rome/staff

Improve rule group wording
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

Clippy clip
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

Fix Acknowledgments heading
  website/src/credits.md
Owners: @rome/staff

Format files
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

refactor(rome_service): use `serde::Diagnostic` in the workspace (#3450)
  crates/rome_analyze/src/signals.rs
  crates/rome_cli/tests/snapshots/main_commands_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_parse_error.snap
  crates/rome_diagnostics/src/v2/display/message.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_double_equals.rs
  crates/rome_js_analyze/tests/specs/correctness/noDoubleEquals.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  website/src/docs/lint/rules/noDoubleEquals.md
  website/src/docs/lint/rules/useAnchorContent.md
  website/src/docs/lint/rules/useValidTypeof.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

explanation for limit of 16 attributes
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @rome/staff

chore: update script path
  .github/workflows/release_js_api.yml
  npm/js-api/scripts/update-nightly-version.mjs
Owners: @rome/staff

fmt and clippy issues
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @rome/staff

feat(rome_js_syntax): better api for picking jsx attributes (#3458)
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @leops, @xunilrj, @rome/staff

fix(rome_js_formatter): Empty external module formatting
  crates/rome_js_formatter/src/ts/declarations/external_module_declaration.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/module/empty.ts.snap
  crates/rome_js_formatter/tests/specs/ts/declare.ts
  crates/rome_js_formatter/tests/specs/ts/declare.ts.snap
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/test_data/inline/err/ts_module_err.rast
  crates/rome_js_parser/test_data/inline/ok/ts_external_module_declaration.rast
  crates/rome_js_parser/test_data/inline/ok/ts_external_module_declaration.ts
Owners: @ematipico, @MichaReiser, @xunilrj

fix(rome_js_formatter, rome_js_parser): Empty external module declaration formatting (#3472)
  crates/rome_js_formatter/src/ts/declarations/external_module_declaration.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/module/empty.ts.snap
  crates/rome_js_formatter/tests/specs/ts/declare.ts
  crates/rome_js_formatter/tests/specs/ts/declare.ts.snap
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/test_data/inline/err/ts_module_err.rast
  crates/rome_js_parser/test_data/inline/ok/ts_external_module_declaration.rast
  crates/rome_js_parser/test_data/inline/ok/ts_external_module_declaration.ts
Owners: @ematipico, @MichaReiser, @xunilrj

chore: fix suppression diagnostic
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

doc(website): Show lint groups in TOC (#3470)
  website/src/credits.md
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

rename off by default for vscode
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/server.rs
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/src/main.ts
Owners: @ematipico, @rome/staff

removing unwrap
  crates/rome_lsp/src/server.rs
Owners: @ematipico

small refactor
  crates/rome_lsp/src/server.rs
Owners: @ematipico

fmt and clippy issues
  crates/rome_lsp/src/server.rs
Owners: @ematipico

feat(rome_js_formatter): trailing comma none
  crates/rome_cli/src/commands/help.rs
  crates/rome_js_formatter/src/context/trailing_comma.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/array.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/js/module/array/trailing-comma/array_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/array/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/export/trailing-comma/export_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/export/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/import_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/object/trailing-comma/object_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/object/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/ts/class/trailing_comma/class_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/class/trailing_comma/options.json
  crates/rome_js_formatter/tests/specs/ts/enum/enum_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/enum/options.json
  crates/rome_js_formatter/tests/specs/ts/function/function_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/function/options.json
  crates/rome_js_formatter/tests/specs/ts/object/object_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/object/options.json
  crates/rome_js_formatter/tests/specs/ts/type/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/ts/type/trailing-comma/type_trailing_comma.ts.snap
  crates/rome_service/src/configuration/javascript.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/playground/src/TrailingCommaSelect.tsx
  website/playground/src/types.ts
Owners: @leops, @ematipico, @MichaReiser, @rome/staff

feat(rome_js_formatter): trailing comma none
  website/playground/src/TrailingCommaSelect.tsx
Owners: @rome/staff

feat: initial implementation for this rule
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
  crates/rome_js_analyze/tests/specs/nursery/useValidForDirection.js
  crates/rome_js_analyze/tests/specs/nursery/useValidForDirection.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @rome/staff, @leops, @xunilrj

feat: run code generation
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
  crates/rome_js_analyze/tests/specs/nursery/useValidForDirection.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  website/src/docs/lint/rules/useValidForDirection.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

refactor: refactor run method for UseValidForDirection
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
Owners: @leops, @xunilrj

fix: ci error
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: bump dependencies version
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

fix: memoize CodeMirror extensions to reduce input slowness
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
Owners: @rome/staff

fix: lint issues
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
Owners: @rome/staff

fix: lint error
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
Owners: @leops, @xunilrj

fix: properly escape ${
  crates/rome_js_analyze/src/analyzers/correctness/use_template.rs
  crates/rome_js_analyze/tests/specs/correctness/useTemplate.js
  crates/rome_js_analyze/tests/specs/correctness/useTemplate.js.snap
Owners: @leops, @xunilrj

fix: add more test cases
  crates/rome_js_analyze/src/analyzers/correctness/use_template.rs
  crates/rome_js_analyze/tests/specs/correctness/useTemplate.js
  crates/rome_js_analyze/tests/specs/correctness/useTemplate.js.snap
Owners: @leops, @xunilrj

chore(playground): reduce CodeMirror input slowness (#3476)
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
Owners: @rome/staff

feat(rome_js_formatter): trailing comma none (#3474)
  crates/rome_cli/src/commands/help.rs
  crates/rome_js_formatter/src/context/trailing_comma.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/array.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/js/module/array/trailing-comma/array_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/array/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/export/trailing-comma/export_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/export/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/import_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/object/trailing-comma/object_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/object/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/ts/class/trailing_comma/class_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/class/trailing_comma/options.json
  crates/rome_js_formatter/tests/specs/ts/enum/enum_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/enum/options.json
  crates/rome_js_formatter/tests/specs/ts/function/function_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/function/options.json
  crates/rome_js_formatter/tests/specs/ts/object/object_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/object/options.json
  crates/rome_js_formatter/tests/specs/ts/type/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/ts/type/trailing-comma/type_trailing_comma.ts.snap
  crates/rome_service/src/configuration/javascript.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/playground/src/TrailingCommaSelect.tsx
  website/playground/src/types.ts
Owners: @leops, @ematipico, @MichaReiser, @rome/staff

chore: use new data structure to provide message
  crates/rome_diagnostics/src/v2/display/message.rs
  crates/rome_js_parser/src/lib.rs
  npm/backend-jsonrpc/src/index.ts
  npm/js-api/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/wasm/__snapshots__/formatContent.test.mjs.snap
Owners: @rome/staff, @MichaReiser, @xunilrj

chore(rome_cli): trailing comma cli tests
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snapshots/main_commands_format/applies_custom_trailing_comma.snap
  crates/rome_cli/tests/snapshots/main_commands_format/trailing_comma_parse_errors.snap
Owners: @leops

test(rome_cli): trailing comma cli tests (#3479)
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snapshots/main_commands_format/applies_custom_trailing_comma.snap
  crates/rome_cli/tests/snapshots/main_commands_format/trailing_comma_parse_errors.snap
Owners: @leops

chore: use `BTreeMap` to keep order
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
Owners: @leops

fix(rome_cli): correctly compute file to handle in `rome ci` (#3453)
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
  crates/rome_cli/tests/snapshots/main_commands_format/write_only_files_in_correct_base.snap
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

fix; refactor according to review comments
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
  crates/rome_js_analyze/tests/specs/nursery/useValidForDirection.js.snap
Owners: @leops, @xunilrj

fix: lint error
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
Owners: @leops, @xunilrj

fix: add more refactoring
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
Owners: @leops, @xunilrj
