Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

chore: refactor testing
  crates/rome_cli/src/commands/format.rs
  crates/rome_service/src/file_handlers/javascript.rs
  npm/rome/tests/__snapshots__/wasm.test.mjs.snap
  npm/rome/tests/daemon.test.mjs
  npm/rome/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/daemon/formatFiles.test.mjs
  npm/rome/tests/wasm.test.mjs
Owners: @leops, @ematipico, @rome/staff

fix(rome_cli): issue #3175
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration_over_config_file_issue_3175_v1.snap
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration_over_config_file_issue_3175_v2.snap
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @ematipico

chore: add timeout
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/daemon/formatFiles.test.mjs
Owners: @rome/staff

fix(rome_cli): issue #3175 (#3189)
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration_over_config_file_issue_3175_v1.snap
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration_over_config_file_issue_3175_v2.snap
  crates/rome_service/src/configuration/javascript.rs
  npm/rome/tests/__snapshots__/wasm.test.mjs.snap
  npm/rome/tests/daemon.test.mjs
  npm/rome/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/daemon/formatFiles.test.mjs
Owners: @leops, @ematipico, @rome/staff

release: 0.9.2
  CHANGELOG.md
  npm/rome/package.json
Owners: @rome/staff

release: 0.9.2 (#3191)
  CHANGELOG.md
  npm/rome/package.json
Owners: @rome/staff

documentation when it is ok to be non camel
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
Owners: @leops, @xunilrj

test(rome_cli): snap termination error
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_check/apply_suggested_error.snap
  crates/rome_cli/tests/snapshots/main_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_linter.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/main_ci/formatting_error.snap
  crates/rome_cli/tests/snapshots/main_configuration/incorrect_globals.snap
  crates/rome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/rome_cli/tests/snapshots/main_configuration/line_width_error.snap
  crates/rome_cli/tests/snapshots/main_format/format_stdin_with_errors.snap
  crates/rome_cli/tests/snapshots/main_format/indent_size_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/main_format/indent_size_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/main_format/indent_style_parse_errors.snap
  crates/rome_cli/tests/snapshots/main_format/line_width_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/main_format/line_width_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/main_format/quote_properties_parse_errors_letter_case.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: clippy
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: fix issue with command name during test
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/snapshots/main_format/format_stdin_with_errors.snap
Owners: @rome/staff, @leops

chore: fix
  crates/rome_cli/tests/snap_test.rs
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: rebase
  crates/rome_cli/tests/main.rs
Owners: @leops

enabling camel case rule again
  rome.json
Owners: @rome/staff

test(rome_cli): snap termination error (#3186)
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_check/apply_suggested_error.snap
  crates/rome_cli/tests/snapshots/main_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_linter.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/main_ci/formatting_error.snap
  crates/rome_cli/tests/snapshots/main_configuration/incorrect_globals.snap
  crates/rome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/rome_cli/tests/snapshots/main_configuration/line_width_error.snap
  crates/rome_cli/tests/snapshots/main_format/format_stdin_with_errors.snap
  crates/rome_cli/tests/snapshots/main_format/indent_size_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/main_format/indent_size_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/main_format/indent_style_parse_errors.snap
  crates/rome_cli/tests/snapshots/main_format/line_width_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/main_format/line_width_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/main_format/quote_properties_parse_errors_letter_case.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @rome/staff, @leops, @ematipico

more bindings cases
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
Owners: @leops, @xunilrj

small comment fix
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
Owners: @leops, @xunilrj

docs: fix link to download latest asset on
  website/src/_includes/docs/getting-started.md
Owners: @rome/staff

fix(rome_js_analyze): accept const as non camel case (#3190)
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
  rome.json
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyze): no new Symbol
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/no_new_symbol.rs
  crates/rome_js_analyze/tests/specs/js/noNewSymbol.js
  crates/rome_js_analyze/tests/specs/js/noNewSymbol.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

feat: add fix suggestion
  crates/rome_js_analyze/src/analyzers/js/no_new_symbol.rs
  crates/rome_js_analyze/tests/specs/js/noNewSymbol.js.snap
Owners: @leops, @xunilrj

test: update CLI snapshots
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_check/should_disable_a_rule.snap
  crates/rome_cli/tests/snapshots/main_check/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_configuration/correct_root.snap
  crates/rome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
Owners: @leops

chore: update other places
  crates/rome_analyze/src/lib.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/SuppressionComments.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/SuppressionComments.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase.js.snap
  rome.json
  website/api/server.js
  website/playground/src/MermaidGraph.tsx
  website/src/_includes/docs/linter.md
  xtask/codegen/src/formatter.rs
Owners: @leops, @xunilrj, @rome/staff

chore: codegen
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

docs: fix link to download latest asset (#3200)
  website/src/_includes/docs/getting-started.md
Owners: @rome/staff

chore
  crates/rome_js_analyze/src/analyzers/js/no_new_symbol.rs
  crates/rome_js_analyze/tests/specs/js/noNewSymbol.js
  crates/rome_js_analyze/tests/specs/js/noNewSymbol.js.snap
Owners: @leops, @xunilrj

test: refactor function name
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/snap_test.rs
Owners: @rome/staff, @leops

chore: format
  crates/rome_js_analyze/src/analyzers/js/no_new_symbol.rs
Owners: @leops, @xunilrj

chore: gen website
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noNewSymbol.md
Owners: @rome/staff

test: refactor function name (#3203)
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/snap_test.rs
Owners: @rome/staff, @leops

feat(rome_js_analyze): useOptionalChain #2748
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/use_optional_chain.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/complexLogicalAndCases.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/complexLogicalAndCases.ts.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/logicalAndCases.js
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/validCases.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/validCases.ts.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useOptionalChain.md
Owners: @leops, @xunilrj, @rome/staff, @ematipico

feat(rome_js_analyze): useOptionalChain #2748 (#3085)
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/use_optional_chain.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/complexLogicalAndCases.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/complexLogicalAndCases.ts.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/logicalAndCases.js
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/validCases.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/validCases.ts.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useOptionalChain.md
Owners: @leops, @xunilrj, @rome/staff, @ematipico

chore: 🤖 finish parser
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/any/expression.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/expressions/expression_with_type_arguments.rs
  crates/rome_js_formatter/src/ts/expressions/mod.rs
  crates/rome_js_formatter/src/ts/types/typeof_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/new.ts.snap
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
Owners: @ematipico, @MichaReiser, @xunilrj

feat: 🎸 finish type of type
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type.rast
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type.ts
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Owners: @rome/staff, @MichaReiser, @xunilrj

chore: 🤖 update snapshot
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.rast
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.ts
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
Owners: @MichaReiser, @xunilrj

chore: 🤖 update snapshot
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
Owners: @MichaReiser, @xunilrj

chore: 🤖 add more type
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
  crates/rome_js_syntax/src/generated/kind.rs
  crates/rome_js_syntax/src/generated/macros.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/kinds_src.rs
Owners: @rome/staff, @MichaReiser, @xunilrj

chore: 🤖 update snapshot
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
Owners: @MichaReiser, @xunilrj

chore: 🤖 udpate snapshot
  crates/rome_js_parser/src/main.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
Owners: @MichaReiser, @xunilrj

feat: 🎸 js format
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/expressions/expression_with_type_arguments.rs
  crates/rome_js_formatter/src/ts/types/typeof_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/typeof.ts.snap
  crates/rome_js_parser/src/main.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type.rast
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type.ts
Owners: @ematipico, @MichaReiser, @xunilrj

test: 💍 update test snapshot
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_type_instantiation_expression.rast
  crates/rome_js_parser/test_data/inline/ok/ts_type_instantiation_expression.ts
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type.rast
  crates/rome_js_parser/test_data/inline/ok/ts_typeof_type.ts
Owners: @MichaReiser, @xunilrj
