Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore: turn off rule
  rome.json
Owners: @rome/staff

chore: fix codegen
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @rome/staff

chore: fix recommendation inside test
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
Owners: @leops

chore: rebase
  crates/rome_js_analyze/src/analyzers/nursery/no_new_symbol.rs
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noNewSymbol.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

docs: update metadata of rules (#3215)
  CONTRIBUTING.md
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_js_analyze/src/analyzers/nursery/no_new_symbol.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_service/src/configuration/linter/rules.rs
  rome.json
  website/api/server.js
  website/playground/package.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noNewSymbol.md
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_rowan): Expose `SyntaxElementKey` (#3229)
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/element.rs
Owners: @rome/staff

chore(rome_js_syntax): Delete the unused `JsConstructorParameter` kind (#3228)
  crates/rome_js_syntax/src/generated/kind.rs
  xtask/codegen/src/kinds_src.rs
Owners: @rome/staff

Empty File to create placeholder PR
  empty.txt
Owners: @rome/staff

Empty File to create placeholder PR
  empty.txt
Owners: @rome/staff

feat(rome-formatter): Comments Map
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/map.rs
Owners: @rome/staff, @ematipico, @MichaReiser

fix: 🐛 cr issues
  editors/helix/manual.md
Owners: @rome/staff

run the bindings codegen
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

Update editors/helix/manual.md
  editors/helix/manual.md
Owners: @rome/staff

Update editors/helix/manual.md
  editors/helix/manual.md
Owners: @rome/staff

Documentation
  crates/rome_formatter/src/comments/map.rs
Owners: @ematipico, @MichaReiser

Rename `ValuesIterator` to `PartsIterator`
  crates/rome_formatter/src/comments/map.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_analyze): `noDanger` rule
  crates/rome_js_analyze/src/semantic_analyzers/jsx.rs
  crates/rome_js_analyze/src/semantic_analyzers/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/react/no_danger.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/react/noDanger/createElementBinding.js
  crates/rome_js_analyze/tests/specs/react/noDanger/createElementBinding.js.snap
  crates/rome_js_analyze/tests/specs/react/noDanger/insideJsx.jsx
  crates/rome_js_analyze/tests/specs/react/noDanger/insideJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/react/noDanger/reactCreateElement.js
  crates/rome_js_analyze/tests/specs/react/noDanger/reactCreateElement.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  website/src/docs/lint/rules/noDanger.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

chore: clippy
  crates/rome_js_analyze/src/utils.rs
Owners: @leops, @xunilrj

chore: rebase
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
Owners: @rome/staff

fix: example not parsed
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  website/src/docs/lint/rules/noDangerouslySetInnerHtml.md
Owners: @leops, @xunilrj, @rome/staff

chore: clippy
  crates/rome_js_analyze/src/utils.rs
Owners: @leops, @xunilrj

chore: merge
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_danger.rs
  crates/rome_js_analyze/src/semantic_analyzers/react.rs
  website/src/docs/lint/rules/noDanger.md
Owners: @leops, @xunilrj, @rome/staff

chore: merge
  crates/rome_service/src/configuration/linter/rules.rs
  rome.json
Owners: @leops, @ematipico, @rome/staff

chore: change rule name and applied code review suggestion
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBinding.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBinding.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/insideJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/insideJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/reactCreateElement.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/reactCreateElement.js.snap
  website/src/docs/lint/rules/noDangerouslySetInnerHtml.md
Owners: @leops, @xunilrj, @rome/staff

fix: suppression
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

chore: suppress rule
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

fix: suppression
  website/playground/src/DesktopPlayground.tsx
Owners: @rome/staff

feat(rome_text_size): implement the JsonSchema trait on TextRange and TextSize
  Cargo.lock
  crates/rome_diagnostics/src/file.rs
  crates/rome_diagnostics/src/suggestion.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/serde_impls.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_edit/src/lib.rs
  crates/rome_text_size/Cargo.toml
  crates/rome_text_size/src/lib.rs
  crates/rome_text_size/src/schemars_impls.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff, @ematipico, @MichaReiser, @leops

docs: fix line break in `noUnusedVariables` lint rule
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @rome/staff

add documentation
  crates/rome_text_size/src/schemars_impls.rs
Owners: @rome/staff

remove an unnecessary ts-ignore
  npm/rome/src/index.ts
Owners: @rome/staff

perf(rome_formatter): Use `TextSize` in printer
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

perf: jamalloc
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/main.rs
  xtask/bench/Cargo.toml
  xtask/bench/src/main.rs
Owners: @rome/staff, @leops

fix(rome_formatter): Panic for out of order group id (#3236)
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_text_size): implement the JsonSchema trait on TextRange and TextSize (#3234)
  Cargo.lock
  crates/rome_diagnostics/src/file.rs
  crates/rome_diagnostics/src/suggestion.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/serde_impls.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_edit/src/lib.rs
  crates/rome_text_size/Cargo.toml
  crates/rome_text_size/src/lib.rs
  crates/rome_text_size/src/schemars_impls.rs
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/src/index.ts
Owners: @rome/staff, @ematipico, @MichaReiser, @leops

feat(rome_js_analyze): `noDangerouslySetInnerHtml` rule (#3207)
  crates/rome_js_analyze/src/semantic_analyzers/jsx.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBinding.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBinding.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/insideJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/insideJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/reactCreateElement.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/reactCreateElement.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/DesktopPlayground.tsx
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDangerouslySetInnerHtml.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

feat(rome_formatter): Comments multi map (#3230)
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/map.rs
Owners: @rome/staff, @ematipico, @MichaReiser

feat(playground): enable nursery lint rules
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/NurseryRules.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @rome/staff

format
  website/playground/src/NurseryRules.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @rome/staff

fix rome check
  website/playground/package.json
  website/playground/src/NurseryRules.tsx
  website/playground/src/romeWorker.ts
Owners: @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
