Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

support for jsx reference inside the semantic model (#3055)
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @leops, @xunilrj

feat: 🎸 refactor regex flag
  crates/rome_js_parser/src/lexer/mod.rs
Owners: @MichaReiser, @xunilrj

fix: 🐛 cr issues
  crates/rome_js_parser/src/lexer/mod.rs
Owners: @MichaReiser, @xunilrj

Fix typo in project-config.md
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

Fix typo in project-config.md (#3059)
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

refactor(rome_js_parser): refactor regex flag (#3058)
  crates/rome_js_parser/src/lexer/mod.rs
Owners: @MichaReiser, @xunilrj

chore: 🤖 update rust-toolchain to 1.63.0
  crates/rome_cli/tests/snap_test.rs
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_formatter/src/js/auxiliary/case_clause.rs
  crates/rome_rowan/src/green/node.rs
  crates/rome_rowan/src/green/token.rs
  crates/rome_rowan/src/syntax/trivia.rs
  crates/rome_rowan/src/utility_types.rs
  rust-toolchain.toml
  xtask/coverage/src/lib.rs
Owners: @leops, @rome/staff, @ematipico, @MichaReiser, @xunilrj

style: 💄 fmt
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_analyze/src/lib.rs
  xtask/coverage/src/lib.rs
Owners: @rome/staff, @ematipico, @MichaReiser, @leops, @xunilrj

chore: 🤖 workaround allow rustdoc
  crates/rome_analyze/src/visitor.rs
Owners: @leops, @xunilrj

chore: 🤖 recover
  crates/rome_js_analyze/src/lib.rs
Owners: @leops, @xunilrj

chore: 🤖 revert
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

style: 💄 fmt
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

fix: 🐛 cr issues
  crates/rome_js_parser/src/syntax/function.rs
Owners: @MichaReiser, @xunilrj

chore: 🤖 lint tag
  crates/rome_js_analyze/src/lib.rs
Owners: @leops, @xunilrj

style: 💄 fmt
  crates/rome_js_analyze/src/lib.rs
Owners: @leops, @xunilrj

fix(rome_js_parser): Syntax error when using optional binding on .d.ts (#3023)
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/test_data/inline/ok/ts_parameter_option_binding_pattern.rast
  crates/rome_js_parser/test_data/inline/ok/ts_parameter_option_binding_pattern.ts
Owners: @MichaReiser, @xunilrj

chore: update rust-toolchain to 1.63.0 (#3053)
  crates/rome_analyze/src/visitor.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_formatter/src/js/auxiliary/case_clause.rs
  crates/rome_rowan/src/green/node.rs
  crates/rome_rowan/src/green/token.rs
  crates/rome_rowan/src/syntax/trivia.rs
  crates/rome_rowan/src/utility_types.rs
  rust-toolchain.toml
  xtask/coverage/src/lib.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico, @MichaReiser

support unused bindings inside typescript function type
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
Owners: @leops, @xunilrj

feat(rome_formatter): Dedent Root IR
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

Code review feedback
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_formatter): Dedent to Root IR (#3062)
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): implement option preserve_quotes
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/file_handlers/javascript.rs
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/project-config.md
Owners: @leops, @ematipico, @MichaReiser, @rome/staff

test: add option preserve_quotes
  crates/rome_js_formatter/tests/specs/js/module/string/directives.js.snap
  crates/rome_js_formatter/tests/specs/js/module/string/options.json
  crates/rome_js_formatter/tests/specs/js/module/string/properties_quotes.js.snap
  crates/rome_js_formatter/tests/specs/js/module/string/string.js.snap
  crates/rome_js_formatter/tests/specs/ts/string/options.json
  crates/rome_js_formatter/tests/specs/ts/string/parameter_quotes.ts.snap
Owners: @ematipico, @MichaReiser

test(rome_js_formatter): Ignore unsupported syntax from coverage
  crates/rome_js_formatter/tests/prettier_tests.rs
Owners: @ematipico, @MichaReiser

test(rome_js_formatter): Ignore unsupported syntax from coverage (#3064)
  crates/rome_js_formatter/tests/prettier_tests.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Template formatting
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/printer_options/mod.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/template.rs
  crates/rome_js_formatter/src/js/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/ts/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/ts/expressions/template_element.rs
  crates/rome_js_formatter/src/ts/lists/template_element_list.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/template/template.js
  crates/rome_js_formatter/tests/specs/js/module/template/template.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/template-literal.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/line-suffix-boundary/boundary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-comments/comment-inside.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-css/issue-5697.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-css/styled-components.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-graphql/graphql-tag.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-html/lit-html.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/template-literals.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-align/indent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-literals/expressions.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/arrow.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/faulty-locations.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/graphql.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/indent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/inline.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/multiparser-css/issue-6259.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/template-literals/expressions.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/template_type.ts.snap
  website/playground/Cargo.toml
Owners: @ematipico, @MichaReiser, @rome/staff

address code review feedback
  crates/rome_formatter/src/printer/printer_options/mod.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
Owners: @ematipico, @MichaReiser

fix(rome_formatter): `write` dropped while still borrowed
  crates/rome_formatter/src/macros.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

fix(rome_bin): fix the parsing of the internal CLI arguments for the daemon server in debug mode
  crates/rome_bin/src/main.rs
Owners: @rome/staff

support unused bindings inside typescript function type (#3060)
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
Owners: @leops, @xunilrj

fix(rome_formatter): `write!` dropped while still borrowed (#3067)
  crates/rome_formatter/src/macros.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

chore: PR review
  rfcs/002-runtime-api.md
Owners: @rome/staff

Code review feedback
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/tests/specs/js/module/template/template.js
  crates/rome_js_formatter/tests/specs/js/module/template/template.js.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Template formatting (#3063)
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/printer_options/mod.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/template.rs
  crates/rome_js_formatter/src/js/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/ts/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/ts/expressions/template_element.rs
  crates/rome_js_formatter/src/ts/lists/template_element_list.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/template/template.js
  crates/rome_js_formatter/tests/specs/js/module/template/template.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/template-literal.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/line-suffix-boundary/boundary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-comments/comment-inside.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-css/issue-5697.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-css/styled-components.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-graphql/graphql-tag.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-html/lit-html.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/template-literals.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-align/indent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-literals/expressions.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/arrow.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/faulty-locations.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/graphql.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/indent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/inline.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/multiparser-css/issue-6259.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/template-literals/expressions.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/template_type.ts.snap
  website/playground/Cargo.toml
Owners: @ematipico, @MichaReiser, @rome/staff

rfc: runtime API (#3036)
  rfcs/002-runtime-api.md
  rfcs/Runtime design.png
Owners: @rome/staff

feat(rome_js_formatter): Static member assignment formatting
  crates/rome_js_formatter/src/js/assignments/static_member_assignment.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/import_meta_expression/import_meta_expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/issue-1966.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/issue-4094.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/assignment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/lone-arg.ts.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/type_assertion_assignment.ts.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Computed member assignment formatting
  crates/rome_js_formatter/src/js/assignments/computed_member_assignment.rs
  crates/rome_js_formatter/src/js/expressions/computed_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/bracket_0.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/break-last-member.js.snap
Owners: @ematipico, @MichaReiser

Revert document stuff
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

fix: bool `PreserveQuotes` to enum `QuoteProperties`
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/js/module/string/options.json
  crates/rome_js_formatter/tests/specs/ts/string/options.json
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  editors/vscode/configuration_schema.json
Owners: @leops, @ematipico, @MichaReiser, @rome/staff

refactor: 💡 enum default
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_js_syntax/src/source_type.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
Owners: @ematipico, @MichaReiser, @xunilrj, @rome/staff, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
