Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

chore: code review
  crates/rome_cli/src/traversal.rs
Owners: @leops

perf(rome_service): increase the throughput of the daemon server transport
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_wasm/src/lib.rs
Owners: @rome/staff, @leops, @ematipico, @MichaReiser

address PR review
  crates/rome_cli/src/service/mod.rs
  crates/rome_lsp/src/server.rs
Owners: @leops, @ematipico

remove unused import
  crates/rome_cli/src/service/unix.rs
Owners: @leops

add additional documentation
  crates/rome_cli/src/service/mod.rs
  crates/rome_lsp/src/server.rs
Owners: @leops, @ematipico

chore(website): add RSS feed
  website/.eleventy.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/blog/feed.liquid
Owners: @rome/staff

fix(rome_cli): do not pull diagnostics if linter is turned off (#3171)
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/apply_noop.snap
  crates/rome_cli/tests/snapshots/main_check/apply_ok.snap
  crates/rome_cli/tests/snapshots/main_check/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/main_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_formatter.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_linter.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/main_ci/formatting_error.snap
  crates/rome_cli/tests/snapshots/main_format/does_not_format_if_disabled.snap
  crates/rome_cli/tests/snapshots/main_format/format_stdin_successfully.snap
  crates/rome_cli/tests/snapshots/main_format/formatter_lint_warning.snap
  crates/rome_cli/tests/snapshots/main_format/formatter_print.snap
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  crates/rome_cli/tests/snapshots/main_reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main_reporter_json/reports_formatter_write.snap
Owners: @leops

Apply suggestions from code review
  website/src/_includes/docs/linter.md
Owners: @rome/staff

fix(rome_cli): incorrectly compute configuration
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration.snap
  crates/rome_cli/tests/snapshots/main_format/applies_custom_quote_style.snap
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

feat(rome_js_formatter): TS Intersection & Union types #3162
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/lists/intersection_type_element_list.rs
  crates/rome_js_formatter/src/ts/types/intersection_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/assignment2.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/issues.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/mapped-type/intersection.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/inlining.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/union-parens.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/intersection_type.ts
  crates/rome_js_formatter/tests/specs/ts/type/intersection_type.ts.snap
Owners: @ematipico, @MichaReiser

chore: rome check
  website/.eleventy.js
Owners: @rome/staff

release: 0.9.1
  CHANGELOG.md
  npm/rome/package.json
Owners: @rome/staff

chore(website): add RSS feed (#3174)
  website/.eleventy.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/blog/feed.liquid
Owners: @rome/staff

feat(rome_js_formatter): TS Intersection & Union types #3162 format website
  website/playground/src/types.ts
Owners: @rome/staff

Update website/src/_includes/docs/linter.md
  website/src/_includes/docs/linter.md
Owners: @rome/staff

chore(website): add section for suppression comments for linter (#3172)
  website/src/_includes/docs/linter.md
Owners: @rome/staff

feat(rome_js_formatter): TS Intersection & Union types #3162 format vscode
  editors/vscode/src/utils.ts
Owners: @rome/staff

docs(website): add section to explain how fixes work
  website/src/_includes/docs/linter.md
Owners: @rome/staff

chore: code review
  website/src/_includes/docs/linter.md
Owners: @rome/staff

chore(website): add section for suppression comments for linter (#3172)
  website/src/_includes/docs/linter.md
Owners: @rome/staff

docs(website): add section to explain how fixes work
  website/src/_includes/docs/linter.md
Owners: @rome/staff

docs(website): add section to explain how fixes work (#3173)
  website/src/_includes/docs/linter.md
Owners: @rome/staff

chore(website): update status section
  website/src/_includes/docs/status.md
Owners: @rome/staff

chore: removes clippy macro, not needed
  xtask/bench/src/features/formatter.rs
Owners: @rome/staff

chore: removes clippy macro, not needed (#3181)
  xtask/bench/src/features/formatter.rs
Owners: @rome/staff

Update help.rs
  crates/rome_cli/src/commands/help.rs
Owners: @leops

Update formatter.md
  website/src/_includes/docs/formatter.md
Owners: @rome/staff

fix(rome_lsp): fix the parsing of the Workspace root URI on Windows
  crates/rome_lsp/src/session.rs
Owners: @ematipico

chore: add additional test
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration_over_config_file.snap
Owners: @leops

chore: include VSCode fix
  CHANGELOG.md
Owners: @rome/staff

fix(rome_lsp): fix the parsing of the Workspace root URI on Windows (#3185)
  crates/rome_lsp/src/session.rs
Owners: @ematipico

fix(rome_cli): correctly compute configuration (#3176)
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration.snap
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration_over_config_file.snap
  crates/rome_cli/tests/snapshots/main_format/applies_custom_quote_style.snap
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

docs: fix typo in formatter help section (#3184)
  crates/rome_cli/src/commands/help.rs
  website/src/_includes/docs/formatter.md
Owners: @leops, @rome/staff

chore: code review
  CHANGELOG.md
  editors/vscode/package.json
Owners: @rome/staff

release: 0.9.1 (#3179)
  CHANGELOG.md
  editors/vscode/package.json
  npm/rome/package.json
Owners: @rome/staff

Update crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/mod.rs
Owners: @leops

feat(rome_js_formatter): TS Intersection & Union types #3162 (#3177)
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/lists/intersection_type_element_list.rs
  crates/rome_js_formatter/src/ts/types/intersection_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/assignment2.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/issues.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/mapped-type/intersection.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/inlining.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/union/union-parens.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/intersection_type.ts
  crates/rome_js_formatter/tests/specs/ts/type/intersection_type.ts.snap
  editors/vscode/src/utils.ts
  website/playground/src/types.ts
Owners: @ematipico, @MichaReiser, @rome/staff

perf(rome_service): increase the throughput of the remote daemon transport (#3151)
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_wasm/src/lib.rs
Owners: @rome/staff, @leops, @ematipico, @MichaReiser

chore(website): update status section (#3180)
  website/src/_includes/docs/status.md
Owners: @rome/staff

accept const as non camel case
  crates/rome_js_analyze/src/semantic_analyzers/js/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js
  crates/rome_js_analyze/tests/specs/js/useCamelCase.js.snap
Owners: @leops, @xunilrj
