Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore: code suggestions
  crates/rome_cli/src/traversal.rs
Owners: @leops

fix(ci): fix the pre-release tag for nightly versions (#3501)
  npm/js-api/scripts/update-nightly-version.mjs
  npm/rome/package.json
  npm/rome/scripts/update-nightly-version.mjs
Owners: @rome/staff

fix: refactoring and vscode config add
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_alt_text.rs
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/UseAltText.md
  website/src/docs/lint/rules/index.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

feat: add useAltText lint rule for JSX expression
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_alt_text.rs
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/UseAltText.md
  website/src/docs/lint/rules/index.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: code suggestions
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_alt_text.rs
Owners: @leops, @xunilrj

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_alt_text.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/UseAltText.md
  website/src/docs/lint/rules/index.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

fix: rebase
  crates/rome_js_analyze/src/analyzers/nursery/use_alt_text.rs
Owners: @leops, @xunilrj

fix: rebase
  crates/rome_js_analyze/src/analyzers/nursery/use_alt_text.rs
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx.snap
  website/src/docs/lint/rules/UseAltText.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_cli): correctly compute `can_handle` in CI mode (#3500)
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
Owners: @leops

fix: rebase
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/useAltText.md
Owners: @rome/staff

feat(rome_lsp): add support for incremental document sync in the language server
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/documents.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/tests/server.rs
Owners: @ematipico

feat: add useAltText lint rule for JSX expression (#3502)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_alt_text.rs
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useAltText.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_analyze): add support for spread props in various rules
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
Owners: @leops, @xunilrj

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
Owners: @leops, @xunilrj

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
Owners: @leops, @xunilrj

chore: rebase
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyze): add support for spread props in various rules
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @leops, @xunilrj, @rome/staff

chore: better auto focus code action
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusInvalid.jsx.snap
  crates/rome_rowan/src/ast/batch.rs
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_diagnostics_categories/src/categories.rs
  website/src/docs/lint/rules/useBlankTarget.md
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @rome/staff

chore: update json file and playground
  rome.json
  website/api/server.js
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MermaidGraph.tsx
  website/playground/src/romeWorker.ts
Owners: @rome/staff

fix(website): Search (#3498)
  website/src/_includes/scripts/index.js
Owners: @rome/staff

feat: support spread props
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/a11y/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/a11y/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/a11y/useAltText/img.jsx.snap
Owners: @leops, @xunilrj

fix(rome_js_formatter): Arrow with JSX Body
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow-comments.js
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow-comments.js.snap
  crates/rome_js_formatter/tests/specs/jsx/arrow_function.jsx
  crates/rome_js_formatter/tests/specs/jsx/arrow_function.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/js/trailing-comma/jsx.js.snap
  website/playground/src/QuotePropertiesSelect.tsx
  website/playground/src/TrailingCommaSelect.tsx
Owners: @ematipico, @MichaReiser, @rome/staff

poc for profiling individual lint rules
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/main.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix const dependency in react hooks
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/is_constant.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @leops, @xunilrj

codegen
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_semantic/src/semantic_model.rs
  website/src/docs/lint/rules/useExhaustiveDependencies.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_lsp): add support for incremental document sync in the language server (#3504)
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/documents.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/tests/server.rs
Owners: @ematipico

feat: support spread props
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_commands_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_commands_check/should_disable_a_rule.snap
  crates/rome_cli/tests/snapshots/main_commands_check/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
  crates/rome_cli/tests/snapshots/main_configuration/correct_root.snap
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/src/semantic_analyzers/style.rs
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.jsx
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useCamelCase.md
Owners: @leops, @rome/staff, @xunilrj, @ematipico

feat(rome_service): add a `max_diagnostics` parameter to `pull_diagnostics`
  crates/rome_cli/src/traversal.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

feat(rome_js_analyze): add `banType` rule
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/ban_types.rs
  crates/rome_js_analyze/tests/specs/nursery/banTypes/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/banTypes/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/banTypes/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/banTypes/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/banTypes.md
  website/src/docs/lint/rules/index.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: improve rule description
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_banned_types.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noBannedTypes.md
Owners: @leops, @xunilrj, @rome/staff

chore: rename rule `banTypes` to `noBannedTypes`
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_banned_types.rs
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/noBannedTypes.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: sync codegen files with main
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noBannedTypes.md
Owners: @rome/staff

chore: move messages advices to footer_note
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_banned_types.rs
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/invalid.ts.snap
Owners: @leops, @xunilrj

chore: use struct instead of tuple for rule state
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_banned_types.rs
Owners: @leops, @xunilrj

chore: reword messages
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_banned_types.rs
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/invalid.ts.snap
Owners: @leops, @xunilrj

chore: address PR feedback
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_banned_types.rs
Owners: @leops, @xunilrj

chore: group types that yield same message
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_banned_types.rs
Owners: @leops, @xunilrj

chore: move rule from semantics_analyzers to analyzers
  crates/rome_js_analyze/src/analyzers/nursery/no_banned_types.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  website/src/docs/lint/rules/noBannedTypes.md
Owners: @leops, @xunilrj, @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
