Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

Fix benchmarks on mac
  benchmark/run.js
Owners: @rome/staff

Fix pull diagnostics
  benchmark/run.js
Owners: @rome/staff

Document benchmark setup
  benchmark/README.md
  benchmark/run.js
Owners: @rome/staff

Document benchmark setup
  benchmark/README.md
Owners: @rome/staff

add test
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/await_in_module.js
  crates/rome_js_parser/test_data/inline/err/await_in_module.rast
Owners: @MichaReiser, @xunilrj

feat(rome_v8): implement a wrapper for the V8 runtime
  .cargo/config.toml
  Cargo.lock
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_idl/Cargo.toml
  crates/rome_idl/src/lib.rs
  crates/rome_rowan/src/cursor.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/cursor/token.rs
  crates/rome_rowan/src/serde_impls.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/utility_types.rs
  crates/rome_v8/Cargo.toml
  crates/rome_v8/build.rs
  crates/rome_v8/examples/codemod.rs
  crates/rome_v8/examples/script.js
  crates/rome_v8/examples/src/test.js
  crates/rome_v8/examples/src/test.ts
  crates/rome_v8/src/bindings.rs
  crates/rome_v8/src/bindings/css.rs
  crates/rome_v8/src/bindings/js.rs
  crates/rome_v8/src/bindings/json.rs
  crates/rome_v8/src/bindings/rowan.idl
  crates/rome_v8/src/bindings/rowan.idl.rs
  crates/rome_v8/src/bindings/rowan_idl.rs
  crates/rome_v8/src/convert.rs
  crates/rome_v8/src/inspector.rs
  crates/rome_v8/src/lib.rs
  crates/rome_v8/src/registry.rs
  crates/rome_v8/src/registry/class.rs
  crates/rome_v8/src/registry/enum_.rs
  crates/rome_v8/src/registry/interface.rs
  crates/rome_v8/src/registry/namespace.rs
  crates/rome_v8/src/support.rs
  xtask/codegen/src/ast.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/codegen/src/generate_v8.rs
  xtask/codegen/src/lib.rs
Owners: @rome/staff, @leops

Set num_threads to 1 now that rome uses a dedicated thread in the CLI and use powershell
  benchmark/run.js
Owners: @rome/staff

Update editors/vscode/README.md
  editors/vscode/README.md
Owners: @rome/staff

Format with Rome
  benchmark/run.js
Owners: @rome/staff

doc: VS Code extension (#3579)
  editors/vscode/README.md
Owners: @rome/staff

perf: End-to-end Linter and Formatter benchmarks (#3570)
  benchmark/README.md
  benchmark/bench.eslint.js
  benchmark/bench.rome.json
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/run.js
Owners: @rome/staff

Fix mobile docs regressions
  website/docs/src/styles/_docs.scss
Owners: @rome/staff

support for properties in useExhaustiveDependencies
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/propertiesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/propertiesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
Owners: @leops, @xunilrj

update
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/await_in_static_initialization_block_member.js
  crates/rome_js_parser/test_data/inline/err/await_in_static_initialization_block_member.rast
Owners: @MichaReiser, @xunilrj

expr update
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

Fix logo container margin
  website/docs/src/styles/_docs.scss
Owners: @rome/staff

update
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/test_data/inline/err/async_arrow_expr_await_parameter.js
  crates/rome_js_parser/test_data/inline/err/async_arrow_expr_await_parameter.rast
  crates/rome_js_parser/test_data/inline/err/await_in_static_initialization_block_member.rast
Owners: @MichaReiser, @xunilrj

Update node development instructions
  CONTRIBUTING.md
Owners: @rome/staff

Fix readme links
  npm/rome/README.md
Owners: @rome/staff

fix(ci): fix the release workflows for the stable release
  .github/workflows/release_cli.yml
  .github/workflows/release_js_api.yml
Owners: @rome/staff

fix from review
  crates/rome_js_analyze/src/analyzers/complexity/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_async_promise_executor.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/ast_utils.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @leops, @xunilrj, @rome/staff

fix(ci): fix the release workflows for the stable release (#3583)
  .github/workflows/release_cli.yml
  .github/workflows/release_js_api.yml
Owners: @rome/staff

fix(docs): use the standard picture element to display the logo
  .github/workflows/release_js_api.yml
  npm/rome/README.md
Owners: @rome/staff

fix(docs): use the standard picture element to display the logo (#3585)
  .github/workflows/release_js_api.yml
  npm/rome/README.md
Owners: @rome/staff

fix(playground): lint issue
  website/playground/src/App.tsx
  website/playground/src/Playground.tsx
  website/playground/src/SettingsMenu.tsx
Owners: @rome/staff

release: 10.0.0 (#3526)
  .github/ISSUE_TEMPLATE/01_bug.yml
  CHANGELOG.md
  CONTRIBUTING.md
  crates/rome_service/src/configuration/mod.rs
  editors/vscode/configuration_schema.json
  editors/vscode/package.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/js-api/package.json
  npm/rome/README.md
  npm/rome/package.json
  website/docs/src/guides/getting-started.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @ematipico

Fix, Refactor, Comments
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @rome/staff

maybe incorrect
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
Owners: @leops, @xunilrj

feat: add test for ignore option
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/no_lint_if_files_are_listed_in_ignore_option.snap
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_if_files_are_listed_in_ignore_option.snap
  crates/rome_cli/tests/snapshots/main_configuration/correct_root.snap
Owners: @leops

fix diagnostic copy
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
Owners: @leops, @xunilrj

feat: update configuration_schema.json
  editors/vscode/configuration_schema.json
Owners: @rome/staff

feat: update condegen
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

Improve font performance
  website/docs/src/_includes/layout.liquid
  website/docs/src/styles/_fonts.scss
Owners: @rome/staff

Add crossorigin header
  website/docs/src/_includes/layout.liquid
Owners: @rome/staff

fix(rome_js_analyze): improve the logic of jsx_reference_identifier_is_fragment
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/fromImportRenameValid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/fromImportRenameValid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/notFragmentValid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/notFragmentValid.jsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/userDefinedValid.jsx
  crates/rome_js_analyze/tests/specs/correctness/noUselessFragments/userDefinedValid.jsx.snap
Owners: @leops, @xunilrj

fix(rome_cli): Respect formatter/linter `enabled` from configuration
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter_via_cli.snap
Owners: @leops

update docs
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals.js.snap
  website/docs/src/lint/rules/useNumericLiterals.md
Owners: @leops, @xunilrj, @rome/staff

Update
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @rome/staff

fix
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @leops, @xunilrj, @rome/staff
