Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

fix: codegen error
  website/src/docs/lint/rules/useValidForDirection.md
Owners: @rome/staff

chore: code suggestions
  crates/rome_js_formatter/Cargo.toml
Owners: @ematipico, @MichaReiser

feat(rome_js_analyze): new rule useValidForDirection (#3475)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
  crates/rome_js_analyze/tests/specs/nursery/useValidForDirection.js
  crates/rome_js_analyze/tests/specs/nursery/useValidForDirection.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useValidForDirection.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

react exhaustive deps lint rule
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingCapturesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingCapturesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js.snap
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
Owners: @leops, @xunilrj

filtering out declaration captures
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.ts.snap
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @leops, @xunilrj

support for stable react dependencies
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @leops, @xunilrj

support for stable captures
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingCapturesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingCapturesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js.snap
Owners: @leops, @xunilrj

support for dependencies not captured
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingCapturesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js.snap
Owners: @leops, @xunilrj

support for any react hook
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingCapturesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingCapturesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js.snap
Owners: @leops, @xunilrj

rebase issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
Owners: @leops, @xunilrj

version and options
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
Owners: @leops, @xunilrj

update codegen
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

update codegen
  website/src/docs/lint/rules/reactExtensiveDependencies.md
Owners: @rome/staff

support for inner closures
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @leops, @xunilrj

support for imported dependencies
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/reactExtensiveDependencies/valid.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

support for imported dependencies
  crates/rome_js_analyze/src/semantic_analyzers/nursery/react_extensive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @leops, @xunilrj

renaming the rule
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.ts.snap
Owners: @rome/staff, @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @leops, @xunilrj

pr adjustments
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @leops, @xunilrj

rule documentation
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/useExhaustiveDependencies.md
Owners: @leops, @ematipico, @rome/staff

codegen
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

codegen
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

better example on stable returns
  crates/rome_js_analyze/src/utils/react.rs
Owners: @leops, @xunilrj

renaming trait CanBeImportedExported
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

lint rules examples
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_semantic/src/semantic_model.rs
  website/src/docs/lint/rules/useExhaustiveDependencies.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

improve doc
  crates/rome_js_analyze/src/utils/react.rs
Owners: @leops, @xunilrj

removing with_capacity
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

remove dependency fix being aggregated
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
Owners: @leops, @xunilrj

all_dependencies returning lazy iterator
  crates/rome_js_analyze/src/utils/react.rs
Owners: @leops, @xunilrj

lazy all_captures
  crates/rome_js_analyze/src/utils/react.rs
Owners: @leops, @xunilrj

merging react modules
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/src/utils.rs
Owners: @leops, @xunilrj

optimized argument retrieve using get_arguments_by_index
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/src/utils/react.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

fmt and clippy issues
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
Owners: @leops, @xunilrj

codegen
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

codegen
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

dynamic configuration for renaming
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/server.rs
Owners: @ematipico
