Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

fix: 🐛 cr issues
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
Owners: @leops, @xunilrj

chore: Upgrade rust dependencies (#3082)
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_js_formatter/src/check_reformat.rs
  crates/rome_js_formatter/tests/check_reformat.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_rowan/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/coverage/Cargo.toml
  xtask/coverage/src/reporters.rs
  xtask/coverage/src/results.rs
Owners: @rome/staff, @leops, @ematipico, @MichaReiser

fix: 🐛 cr issue
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
Owners: @leops, @xunilrj

chore: renaming
  crates/rome_cli/src/reports/mod.rs
  crates/rome_cli/src/traversal.rs
Owners: @leops

fix(rome_js_analyze): fix noShoutyConstants with lowercase and being exported (#3081)
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js.snap
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/syntax_node_text.rs
  website/src/docs/lint/rules/noShoutyConstants.md
Owners: @leops, @xunilrj, @rome/staff

semantic model is_exported support for type alias, enum, interface
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

remove suppresion from our code
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  editors/vscode/src/commands/index.ts
  editors/vscode/src/session.ts
  website/playground/src/types.ts
Owners: @leops, @xunilrj, @rome/staff

debug_assert messages
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

feat(rome_js_semantic): semantic model is_exported support for type alias, enum, interface (#3086)
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  editors/vscode/src/commands/index.ts
  editors/vscode/src/session.ts
  website/playground/src/types.ts
Owners: @leops, @xunilrj, @rome/staff

fix(rome_service): the property for config should be camelCase
  crates/rome_service/src/configuration/javascript.rs
  editors/vscode/configuration_schema.json
Owners: @leops, @ematipico, @rome/staff

fix(rome_service): the property for config should be camelCase (#3090)
  crates/rome_service/src/configuration/javascript.rs
  editors/vscode/configuration_schema.json
Owners: @leops, @ematipico, @rome/staff

feat(rome_rowan): `with_*_trivia_pieces`
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/ast/mutation.rs
  crates/rome_rowan/src/cursor/trivia.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/syntax/trivia.rs
Owners: @rome/staff

feat(rome_js_formatter): Parenthesize assignments (#3083)
  crates/rome_js_formatter/src/js/assignments/array_assignment_pattern.rs
  crates/rome_js_formatter/src/js/assignments/computed_member_assignment.rs
  crates/rome_js_formatter/src/js/assignments/identifier_assignment.rs
  crates/rome_js_formatter/src/js/assignments/object_assignment_pattern.rs
  crates/rome_js_formatter/src/js/assignments/parenthesized_assignment.rs
  crates/rome_js_formatter/src/js/assignments/static_member_assignment.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/js/unknown/unknown_assignment.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/assignments/as_assignment.rs
  crates/rome_js_formatter/src/ts/assignments/non_null_assertion_assignment.rs
  crates/rome_js_formatter/src/ts/assignments/type_assertion_assignment.rs
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/for-of/async-identifier.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/parenthesized.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/compiler/decrementAndIncrementOperators.ts.snap
Owners: @ematipico, @MichaReiser

Fix clippy warning
  crates/rome_rowan/src/syntax/token.rs
Owners: @rome/staff

feat(rome_js_analyze): rule `noDupeArgs` (#2972)
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_dupe_args.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
  crates/rome_js_semantic/src/tests/scopes.rs
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDupeArgs.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

More clippy
  crates/rome_js_analyze/src/analyzers/jsx/no_implicit_boolean.rs
Owners: @leops, @xunilrj

feat(rome_rowan): `with_*_trivia_pieces` (#3091)
  crates/rome_js_analyze/src/analyzers/jsx/no_implicit_boolean.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/ast/mutation.rs
  crates/rome_rowan/src/cursor/trivia.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/syntax/trivia.rs
Owners: @leops, @xunilrj, @rome/staff

feat: 🎸 finish
  crates/rome_json_parser/Cargo.toml
  crates/rome_json_parser/src/lexer.rs
  crates/rome_json_parser/src/lib.rs
  crates/rome_json_parser/src/main.rs
Owners: @rome/staff

chore: 🤖 more test
  crates/rome_json_parser/src/lexer.rs
Owners: @rome/staff

style: 💄 fmt
  Cargo.lock
  crates/rome_json_parser/src/lexer.rs
  crates/rome_json_parser/src/lib.rs
Owners: @rome/staff

chore: 🤖 finish test migrate
  crates/rome_json_parser/src/lexer.rs
Owners: @rome/staff

chore: 🤖 remove main
  crates/rome_json_parser/src/main.rs
Owners: @rome/staff

chore: 🤖 remove unnecessary from impl
  crates/rome_json_parser/src/lexer.rs
Owners: @rome/staff

chore: 🤖 clean up
  crates/rome_json_parser/src/lexer.rs
Owners: @rome/staff

style: 💄 fmt
  crates/rome_json_parser/src/lexer.rs
Owners: @rome/staff

semantic read events for self invoking functions
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @leops, @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/events.rs
Owners: @xunilrj

chore: 🤖 collecting error info
  crates/rome_json_parser/src/lexer.rs
Owners: @rome/staff

chore: 🤖 lint
  crates/rome_json_parser/src/lexer.rs
Owners: @rome/staff

feat(rome_rowan): `SyntaxRewriter`
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax/element.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/syntax_rewriter.rs
Owners: @rome/staff

Fix doc link
  crates/rome_rowan/src/syntax_rewriter.rs
Owners: @rome/staff

feat(rome_js_semantic): semantic read events for self invoking functions (#3071)
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
Owners: @leops, @xunilrj

feat(rome_rowan): `SyntaxRewriter` (#3093)
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax/element.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/syntax_rewriter.rs
Owners: @rome/staff

docs(website): fix typo on project-config.md
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

refactor: 💡 use std::sync::Mutex instead of parking_lot
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/metrics.rs
  crates/rome_fs/src/interner.rs
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
Owners: @rome/staff, @leops, @ematipico, @MichaReiser

chore: 🤖 update lock
  Cargo.lock
Owners: @rome/staff

chore: wip
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/reports/formatter.rs
  crates/rome_cli/src/reports/linter.rs
  crates/rome_cli/src/reports/mod.rs
  crates/rome_cli/src/reports/reporter.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_diagnostics/src/file.rs
  crates/rome_service/src/workspace.rs
Owners: @rome/staff, @leops, @ematipico

chore: code review
  crates/rome_cli/src/reports/formatter.rs
  crates/rome_cli/src/reports/mod.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_js_formatter/src/context.rs
Owners: @leops, @ematipico, @MichaReiser

feat(node-api): create a node.js wrapper library for the JSON-RPC workspace protocol (#3070)
  .cargo/config.toml
  .gitattributes
  .github/workflows/pull_request.yml
  Cargo.lock
  crates/rome_service/Cargo.toml
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_wasm/build.rs
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/pnpm-lock.yaml
  npm/backend-jsonrpc/src/command.ts
  npm/backend-jsonrpc/src/index.ts
  npm/backend-jsonrpc/src/socket.ts
  npm/backend-jsonrpc/src/transport.ts
  npm/backend-jsonrpc/src/workspace.ts
  npm/backend-jsonrpc/tests/transport.test.mjs
  npm/backend-jsonrpc/tests/workspace.test.mjs
  npm/backend-jsonrpc/tsconfig.json
  npm/rome/scripts/generate-packages.mjs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_bindings.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/main.rs
Owners: @rome/staff, @leops, @ematipico

docs(website): fix typo on project-config.md (#3094)
  website/src/_includes/docs/project-config.md
Owners: @rome/staff
