Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

lintdoc
  website/src/docs/lint/rules/noFunctionAssign.md
Owners: @rome/staff

feature(rome_js_analyze): no function reassign lint rule (#2895)
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_function_assign.rs
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js
  crates/rome_js_analyze/tests/specs/js/noFunctionAssign.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/references.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noFunctionAssign.md
Owners: @leops, @xunilrj, @rome/staff

refactor(rome_formatter): Pre-compute suppressions
  Cargo.lock
  crates/rome_css_syntax/src/lib.rs
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/module/import_named_clause.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/format_conditional.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_js_syntax/src/suppression.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_rowan/src/raw_language.rs
  crates/rome_rowan/src/syntax.rs
Owners: @rome/staff, @ematipico, @MichaReiser

refactor(rome_analyze): merge analyzer phases (#2882)
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/query.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/services.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_arguments.rs
  crates/rome_js_analyze/src/semantic_services.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

feat(rome_wasm_bindings): new crate
  Cargo.lock
  crates/rome_wasm_bindings/.gitignore
  crates/rome_wasm_bindings/Cargo.toml
  crates/rome_wasm_bindings/package.json
  crates/rome_wasm_bindings/pnpm-lock.yaml
  crates/rome_wasm_bindings/src/formatter.rs
  crates/rome_wasm_bindings/src/lib.rs
  crates/rome_wasm_bindings/src/parser.rs
Owners: @rome/staff

chore: Add tests for fixed ignore cases.
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment_ignore.js
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment_ignore.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_expression.js
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/block_statement.js
  crates/rome_js_formatter/tests/specs/js/module/statement/block_statement.js.snap
Owners: @ematipico, @MichaReiser

chore: Refine documentation
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/module/import_named_clause.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/format_conditional.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Owners: @ematipico, @MichaReiser

chore: Extend `Rc` explanation
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

fix: 🐛 (playground) potential xss attack
  website/playground/src/lib.rs
Owners: @rome/staff

refactor: 💡 adjust position of code
  website/playground/src/lib.rs
Owners: @rome/staff

fix: 🐛 fix testcase comments in trivia
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/tests/specs/js/useTemplate.js
  crates/rome_js_analyze/tests/specs/js/useTemplate.js.snap
Owners: @leops, @xunilrj

docs: ✏️ udpate doc
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
Owners: @leops, @xunilrj

docs: ✏️ update doc comment
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
Owners: @leops, @xunilrj

style: 💄 fmt
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
Owners: @leops, @xunilrj

fix: 🐛 cr issues
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
Owners: @leops, @xunilrj

Update crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
Owners: @ematipico, @MichaReiser

Add comment to empty leave token branch
  crates/rome_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

Fix doc warning
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

feat(rome_analyze): allow rules to dynamically emit local suppressions
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
Owners: @rome/staff, @leops, @xunilrj

refactor(rome_formatter): Pre-compute suppressions (#2902)
  Cargo.lock
  crates/rome_css_syntax/src/lib.rs
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/module/import_named_clause.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/format_conditional.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment_ignore.js
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment_ignore.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_expression.js
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/block_statement.js
  crates/rome_js_formatter/tests/specs/js/module/statement/block_statement.js.snap
  crates/rome_js_syntax/src/lib.rs
  crates/rome_js_syntax/src/suppression.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_rowan/src/raw_language.rs
  crates/rome_rowan/src/syntax.rs
Owners: @rome/staff, @ematipico, @MichaReiser

chore: add paragraph to our technical documentation
  npm/rome/README.md
  website/src/_includes/layouts/base.liquid
Owners: @rome/staff

fix: 🐛 cr issues
  website/playground/src/lib.rs
Owners: @rome/staff

rename as batchmutation extension method
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/syntax/trivia.rs
Owners: @leops, @xunilrj, @rome/staff

rename in lsp
  Cargo.lock
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/handlers.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/file_handlers/unknown.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fmt and clippy issues
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @xunilrj, @ematipico

better renaming error
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/lib.rs
Owners: @leops, @xunilrj, @ematipico

Update npm/rome/README.md
  npm/rome/README.md
Owners: @rome/staff

chore: add paragraph to our technical documentation (#2908)
  npm/rome/README.md
  website/src/_includes/layouts/base.liquid
Owners: @rome/staff

fixing pr issues
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

fix(rome_js_analyze/useTemplate): comments in trivia when merge `Vec<JsAnyExpression>` into a `JsTemplate` (#2898)
  crates/rome_js_analyze/src/analyzers/js/use_template.rs
  crates/rome_js_analyze/tests/specs/js/useTemplate.js
  crates/rome_js_analyze/tests/specs/js/useTemplate.js.snap
Owners: @leops, @xunilrj

PR review
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
Owners: @leops, @xunilrj

fix(playground): potential xss attack (#2906)
  website/playground/src/lib.rs
Owners: @rome/staff

docs: adds `rome_rowan` and the `rome_js_parser` to the deployed crates
  .cargo/config.toml
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/lossless_tree_sink.rs
  crates/rome_js_parser/src/parse.rs
Owners: @rome/staff, @MichaReiser, @xunilrj

chore: code review
  Cargo.lock
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_lsp/src/config.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/settings.rs
Owners: @rome/staff, @leops, @ematipico

chore: update codegen
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: enable raw value from serde
  crates/rome_cli/tests/configs.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

fix: issue with LSP
  crates/rome_lsp/src/session.rs
Owners: @ematipico

chore: apply `deny_unknown_fields`
  crates/rome_cli/tests/configs.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/linter/mod.rs
Owners: @leops, @ematipico

refactor(rome_service): move `globals` into the language
  .cargo/config.toml
  crates/rome_cli/src/commands/init.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
Owners: @rome/staff, @leops, @ematipico

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
