Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore: sync codegen
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_banned_types.rs
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff, @leops, @xunilrj, @ematipico

code suggestions
  crates/rome_js_analyze/src/analyzers/style/no_negation_else.rs
Owners: @leops, @xunilrj

fix regressions
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

`noDebugger` under `correctness`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers.rs
  crates/rome_js_analyze/src/analyzers/correctness.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/security.rs
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDebugger.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_analyze): fix how control flow edges are generated in for-statements with no test node
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_js_analyze/src/control_flow/nodes/for_stmt.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForStatement.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForStatement.js.snap
Owners: @leops, @xunilrj

chore: quote Eslint reference and link source description
  crates/rome_js_analyze/src/analyzers/nursery/no_banned_types.rs
  website/src/docs/lint/rules/noBannedTypes.md
Owners: @leops, @xunilrj, @rome/staff

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
Owners: @leops, @xunilrj

fix(rome_js_formatter): Arrow with JSX Body (#3505)
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow-comments.js
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow-comments.js.snap
  crates/rome_js_formatter/tests/specs/jsx/arrow_function.jsx
  crates/rome_js_formatter/tests/specs/jsx/arrow_function.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/js/trailing-comma/jsx.js.snap
  website/playground/src/QuotePropertiesSelect.tsx
  website/playground/src/TrailingCommaSelect.tsx
Owners: @ematipico, @MichaReiser, @rome/staff

update the TS bindings
  npm/backend-jsonrpc/src/workspace.ts
  npm/js-api/src/index.ts
  website/playground/src/romeWorker.ts
Owners: @rome/staff

feat(rome_js_analyze): add `noBannedTypes` rule (#3463)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_banned_types.rs
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noBannedTypes/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noBannedTypes.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_analyze): don't check double negation in `noNegationElse` (#3491)
  crates/rome_js_analyze/src/analyzers/style/no_negation_else.rs
Owners: @leops, @xunilrj

fix(rome_js_analyze): additional check for `noNegationElse`
  crates/rome_js_analyze/src/analyzers/style/no_negation_else.rs
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js.snap
Owners: @leops, @xunilrj

chore: move `no_explicit_any` rule from semantic_analyzers to analyzers
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_explicit_any.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
Owners: @leops, @xunilrj

feat(rome_service): add a `max_diagnostics` parameter to `pull_diagnostics` (#3512)
  crates/rome_cli/src/traversal.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  npm/backend-jsonrpc/src/workspace.ts
  npm/js-api/src/index.ts
  website/playground/src/romeWorker.ts
Owners: @leops, @ematipico, @rome/staff

fix(rome_js_analyze): fix how control flow edges are generated in for-statements with no test node (#3516)
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_js_analyze/src/control_flow/nodes/for_stmt.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForStatement.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForStatement.js.snap
Owners: @leops, @xunilrj

fix merge
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

fix(rome_js_analyze): additional check for `noNegationElse` (#3517)
  crates/rome_js_analyze/src/analyzers/style/no_negation_else.rs
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js.snap
Owners: @leops, @xunilrj

chore: move `no_explicit_any` rule from semantic_analyzers to analyzers (#3518)
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_explicit_any.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
Owners: @leops, @xunilrj

fix(rome_diagnostics): improve the handling of newline characters in diffs
  crates/rome_diagnostics/src/v2/display/diff.rs
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnnecessaryContinue.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
Owners: @rome/staff, @leops, @xunilrj

fix(rome_js_parser): Ignore bindings in desctructuring initializers
  crates/rome_js_parser/src/syntax/binding.rs
  crates/rome_js_parser/src/tests.rs
  crates/rome_js_parser/test_data/inline/ok/destructuring_initializer_binding.js
  crates/rome_js_parser/test_data/inline/ok/destructuring_initializer_binding.rast
Owners: @MichaReiser, @xunilrj

Restore tests.rs
  crates/rome_js_parser/src/tests.rs
Owners: @MichaReiser, @xunilrj

refactor(rome_formatter): Remove `next_index` from `Queue`
  crates/rome_formatter/src/printer/queue.rs
Owners: @ematipico, @MichaReiser

update documentation
  website/src/docs/lint/rules/noUnnecessaryContinue.md
Owners: @rome/staff

feat: add Restart LSP Server command
  editors/vscode/package.json
  editors/vscode/src/commands/index.ts
  editors/vscode/src/main.ts
Owners: @rome/staff

chore: merge
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_commands_check/should_disable_a_rule.snap
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/tests/specs/correctness/noUnreachable/JsForStatement.js.snap
Owners: @leops, @xunilrj

feat(rome_service): add a configuration option to set the file size limit of the workspace
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large.snap
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

expose the `file.maxSize` configuration option to the CLI
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/configuration.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/commands/format.rs
Owners: @leops

update snapshots
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_check/files_max_size_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/files_max_size_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_format/files_max_size_parse_error.snap
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @rome/staff

fix the documentation of `to_analyzer_configuration`
  crates/rome_service/src/configuration/mod.rs
Owners: @leops, @ematipico

address PR review
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
Owners: @leops, @ematipico

fix(rome_js_analyze): add code action for unused variables
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
  website/package.json
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_diagnostics): improve the handling of newline characters in diffs (#3523)
  crates/rome_diagnostics/src/v2/display/diff.rs
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnnecessaryContinue.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
  website/src/docs/lint/rules/noUnnecessaryContinue.md
Owners: @rome/staff, @leops, @xunilrj

feat(editors): add Restart LSP Server command (#3533)
  editors/vscode/package.json
  editors/vscode/src/commands/index.ts
  editors/vscode/src/main.ts
Owners: @rome/staff

chore: code suggestion
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_service): add a configuration option to set the file size limit of the workspace (#3530)
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/configuration.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_check/files_max_size_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/files_max_size_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_format/files_max_size_parse_error.snap
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

fix(rome_js_analyze): add code action for `noUnusedVariables` (#3534)
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
  website/package.json
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_lsp): implement the automatic reloading of the configuration file
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
Owners: @ematipico

fix: add escape method to utils
  crates/rome_js_analyze/src/analyzers/correctness/use_template.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/escape.rs
  crates/rome_js_analyze/tests/specs/correctness/useTemplate.js
  crates/rome_js_analyze/tests/specs/correctness/useTemplate.js.snap
Owners: @leops, @xunilrj

fix: update formatter and linter docs
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_js_formatter/src/lib.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser

fix(rome_js_parser): Ignore bindings in desctructuring initializers (#3525)
  crates/rome_js_parser/src/syntax/binding.rs
  crates/rome_js_parser/test_data/inline/ok/destructuring_initializer_binding.js
  crates/rome_js_parser/test_data/inline/ok/destructuring_initializer_binding.rast
Owners: @MichaReiser, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
