Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore: suggestions and more info around daemon debugging
  CONTRIBUTING.md
Owners: @rome/staff

chore: update contribution guidelines (#3136)
  CONTRIBUTING.md
Owners: @rome/staff

Update crates/rome_service/src/workspace/server.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

feat(vscode): add a status bar item for the language server (#3139)
  editors/vscode/src/commands/index.ts
  editors/vscode/src/main.ts
  editors/vscode/src/statusBar.ts
Owners: @rome/staff

fix bindings codegen
  crates/rome_service/src/workspace.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

feat(rome_service): allow workspace clients to provide a language hint (#3140)
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_js_syntax/src/source_type.rs
  crates/rome_lsp/src/documents.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/src/main.ts
  editors/vscode/src/status_bar.ts
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @rome/staff, @ematipico

fix: 🐛 cr issues
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/tests/specs/ts/useShorthandArrayType.ts
  crates/rome_js_analyze/tests/specs/ts/useShorthandArrayType.ts.snap
Owners: @leops, @xunilrj

feat: 🎸 finsish
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/tests/specs/ts/useShorthandArrayType.ts
  crates/rome_js_analyze/tests/specs/ts/useShorthandArrayType.ts.snap
Owners: @leops, @xunilrj

fix(rome_formatter): Skipped token trivia spacing
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
Owners: @ematipico, @MichaReiser

fix(rome_formatter): Skipped token trivia spacing (#3145)
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
Owners: @ematipico, @MichaReiser

Fix member expressions
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/jsx/auxiliary/spread_child.rs
  crates/rome_js_formatter/src/jsx/auxiliary/text.rs
  crates/rome_js_formatter/src/jsx/expressions/tag_expression.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/jsx/tag/fragment.rs
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
  crates/rome_js_formatter/src/jsx/tag/self_closing_element.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/break-parent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/tsx/member-expression.tsx.snap
Owners: @ematipico, @MichaReiser

Fix interned IR printing of strings
  crates/rome_formatter/src/format_element.rs
  crates/rome_js_formatter/src/utils/jsx.rs
Owners: @ematipico, @MichaReiser

Format playground files
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/TreeView.tsx
  website/playground/src/main.tsx
Owners: @ematipico, @MichaReiser, @rome/staff

fix(rome_js_analyze): false positive useShorthandArrayTypes (#3119)
  crates/rome_js_analyze/src/analyzers/ts/use_shorthand_array_type.rs
  crates/rome_js_analyze/tests/specs/ts/useShorthandArrayType.ts
  crates/rome_js_analyze/tests/specs/ts/useShorthandArrayType.ts.snap
Owners: @leops, @xunilrj

test(rome_js_formatter): Make `source_type` mandatory on `JsFormatOptions`
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/ts/string/parameter_quotes.ts.snap
  crates/rome_js_parser/src/lexer/tables.rs
  crates/rome_wasm/build.rs
  xtask/bench/src/features/formatter.rs
  xtask/bench/src/lib.rs
  xtask/codegen/src/generate_bindings.rs
Owners: @ematipico, @MichaReiser, @xunilrj, @rome/staff

Restore tables.rs
  crates/rome_js_parser/src/lexer/tables.rs
Owners: @MichaReiser, @xunilrj

test(rome_js_formatter): Remove `JsFormatOptions` `Default` implementation (#3149)
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/ts/string/parameter_quotes.ts.snap
  crates/rome_wasm/build.rs
  xtask/bench/src/features/formatter.rs
  xtask/bench/src/lib.rs
  xtask/codegen/src/generate_bindings.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Improve documentation
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
Owners: @ematipico, @MichaReiser

Comment suggestion
  crates/rome_formatter/src/printed_tokens.rs
Owners: @ematipico, @MichaReiser

Delete `FillBuilder.flatten_entries`
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Conditional JSX Chain layout
  crates/rome_js_formatter/src/js/expressions/conditional_expression.rs
  crates/rome_js_formatter/src/ts/types/conditional_type.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/jsx/conditional.jsx
  crates/rome_js_formatter/tests/specs/jsx/conditional.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/break-parent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/binary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Fix lint issues
  crates/rome_js_formatter/src/utils/conditional.rs
Owners: @ematipico, @MichaReiser

Update crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/src/utils/conditional.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Conditional JSX Chain layout (#3150)
  crates/rome_js_formatter/src/js/expressions/conditional_expression.rs
  crates/rome_js_formatter/src/ts/types/conditional_type.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/jsx/conditional.jsx
  crates/rome_js_formatter/tests/specs/jsx/conditional.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/break-parent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/binary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @ematipico, @MichaReiser, @rome/staff

feat(rome_cli): add commands for controlling the daemon server lifecycle
  .cargo/config.toml
  .github/workflows/pull_request.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
  Cargo.lock
  crates/rome_bin/Cargo.toml
  crates/rome_bin/README.md
  crates/rome_bin/src/lib.rs
  crates/rome_bin/src/main.rs
  crates/rome_bin/src/server.rs
  crates/rome_cli/Cargo.toml
  crates/rome_cli/README.md
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/main.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  editors/vscode/src/main.ts
  npm/backend-jsonrpc/src/socket.ts
Owners: @rome/staff, @leops, @ematipico

address PR review
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/main.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_cli/src/termination.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  editors/vscode/src/main.ts
  npm/backend-jsonrpc/src/socket.ts
Owners: @leops, @ematipico, @rome/staff

docs: fix broken links
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
Owners: @rome/staff

Remove redirects
  website/static/_redirects
Owners: @rome/staff

docs(website): fix broken links (#3153)
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
Owners: @rome/staff

Remove aws dependency
  .github/workflows/deploy_playground.yml
  .github/workflows/deploy_playground_on_main.yml
Owners: @rome/staff

Format README
  website/playground/README.md
Owners: @rome/staff

Fix
  .github/workflows/deploy_playground.yml
  .github/workflows/deploy_playground_on_main.yml
Owners: @rome/staff

add console messages for the new commands
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
Owners: @leops

ci: stable action
  .github/workflows/stale.yml
Owners: @rome/staff

perf(rome_formatter): Reduce use of `PreambleBuffer`
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/lists/module_item_list.rs
  crates/rome_js_formatter/src/js/lists/statement_list.rs
  crates/rome_js_formatter/src/js/module/export_named_clause.rs
  crates/rome_js_formatter/src/js/module/export_named_from_clause.rs
  crates/rome_js_formatter/src/js/module/import_assertion.rs
  crates/rome_js_formatter/src/js/module/named_import_specifiers.rs
  crates/rome_js_formatter/src/ts/declarations/enum_declaration.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/object_pattern_like.rs
  crates/rome_js_formatter/tests/specs/prettier/js/import-assertions/empty.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/module-blocks/comments.js.snap
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_formatter/src/buffer.rs
Owners: @ematipico, @MichaReiser

chore(rome_service): remove constraints from settings
  crates/rome_cli/src/commands/format.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

perf(rome_js_formatter): Remove unnecessary memoize
  crates/rome_js_formatter/src/utils/assignment_like.rs
Owners: @ematipico, @MichaReiser

chore: enable non recommended rules
  rome.json
Owners: @rome/staff

perf(rome_js_formatter): Remove unnecessary memoize (#3158)
  crates/rome_js_formatter/src/utils/assignment_like.rs
Owners: @ematipico, @MichaReiser

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
