Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

micha feedback refactors
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js.snap
Owners: @leops, @xunilrj

codegen
  website/docs/src/lint/rules/index.md
  website/docs/src/lint/rules/noDupeKeys.md
Owners: @rome/staff

chore: log number of errors in markup
  crates/rome_cli/src/termination.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_commands_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_linter.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_linter_via_cli.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/formatting_error.snap
Owners: @leops

[lsp] Publish extension to Open VSX - closes #3676
  .github/workflows/release_lsp.yml
Owners: @rome/staff

fix(rome_js_parser): Allow super in constructor parameter #3613
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/test_data/inline/err/super_expression_in_constructor_parameter_list.js
  crates/rome_js_parser/test_data/inline/err/super_expression_in_constructor_parameter_list.rast
  crates/rome_js_parser/test_data/inline/ok/super_expression_in_constructor_parameter_list.js
  crates/rome_js_parser/test_data/inline/ok/super_expression_in_constructor_parameter_list.rast
Owners: @MichaReiser, @xunilrj

update
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc.snap.new
  crates/rome_js_syntax/src/source_type.rs
Owners: @rome/staff, @leops, @xunilrj

Remove deploy_playground actions
  .github/workflows/deploy_playground.yml
  .github/workflows/deploy_playground_on_main.yml
Owners: @rome/staff

Merge main
  website/src/pages/formatter/index.mdx
  website/src/pages/guides/getting-started.mdx
Owners: @rome/staff

Use /playground
  website/src/BaseLayout.astro
  website/src/Layout.astro
Owners: @rome/staff

Format files
  website/astro.config.ts
  website/public/docsearch.js
  website/public/script.js
  website/src/docsearch.js
  website/src/navigation-utils.ts
  website/src/playground/CodeMirror.tsx
  website/src/playground/Collapsible.tsx
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/components/LoadingScreen.tsx
  website/src/playground/components/PrettierHeader.tsx
  website/src/playground/components/RomeHeader.tsx
  website/src/playground/settings/SettingsPane.tsx
  website/src/playground/tabs/ControlFlowTab.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/tabs/FormatterIRTab.tsx
  website/src/playground/tabs/LinterTab.tsx
  website/src/playground/tabs/SyntaxTab.tsx
  website/src/playground/utils.ts
Owners: @rome/staff

Add netlify.toml
  netlify.toml
Owners: @rome/staff

Add build-netlify script, clarify development instructions
  netlify.toml
  website/README.md
  website/build-netlify.sh
  website/package.json
Owners: @rome/staff

Fix types
  .github/workflows/pull_request_js.yml
  website/package.json
  website/pnpm-lock.yaml
  website/src/playground/Collapsible.tsx
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/tabs/ControlFlowTab.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/types.ts
  website/src/playground/utils.ts
  website/src/playground/workers/prettierWorker.ts
  website/src/playground/workers/romeWorker.ts
  website/src/type-fixes/index.d.ts
  website/tsconfig.json
Owners: @rome/staff

Update lockfile
  website/pnpm-lock.yaml
Owners: @rome/staff

Fix syntax
  website/src/pages/guides/getting-started.mdx
Owners: @rome/staff

fix
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc.snap
Owners: @leops, @xunilrj

Fix
  website/package.json
  website/src/playground/Playground.tsx
  website/src/playground/utils.ts
  website/src/type-fixes/index.d.ts
Owners: @rome/staff

Fix lint errors
  website/package.json
  website/src/playground/Collapsible.tsx
  website/src/playground/components/PrettierHeader.tsx
  website/src/playground/components/RomeHeader.tsx
  website/src/playground/tabs/ControlFlowTab.tsx
Owners: @rome/staff

Remove tsc from build command
  website/package.json
Owners: @rome/staff

update
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_render_return_value.rs
  crates/rome_js_syntax/src/expr_ext.rs
Owners: @leops, @xunilrj, @rome/staff

Fix import
  website/astro.config.ts
  website/src/BaseLayout.astro
  website/src/pages/playground.astro
Owners: @rome/staff

Try fixing pnpm
  website/build-netlify.sh
Owners: @rome/staff

Fix crate path
  website/package.json
Owners: @rome/staff

Remove constants
  website/astro.config.ts
Owners: @rome/staff

Fix docsearch import
  website/src/BaseLayout.astro
Owners: @rome/staff

Fix scripts
  website/src/BaseLayout.astro
Owners: @rome/staff

check
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.jsonc.snap
Owners: @leops, @xunilrj

Fix double slash
  website/src/BaseLayout.astro
Owners: @rome/staff

chore: wip
  Cargo.lock
  crates/rome_diagnostics/src/v2/display/message.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/deserializer.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

docs: fix broken links
  npm/js-api/README.md
  npm/rome/README.md
  rfcs/002-runtime-api.md
  website/src/components/cli-screenshots/noUnreachable-example.md
Owners: @rome/staff

Rename cli.md to cli.mdx
  website/src/pages/cli.mdx
Owners: @rome/staff

Move SettingsPane
  website/src/playground/components/SettingsPane.tsx
  website/src/styles/playground.scss
Owners: @rome/staff

fix(rome_js_formatter): new expression attribute
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
Owners: @ematipico, @MichaReiser

Fix mobile navigation on playground
  website/src/Layout.astro
  website/src/components/NavigationSidebar.astro
  website/src/pages/playground.astro
  website/src/playground/Playground.tsx
  website/src/styles/_docs.scss
Owners: @rome/staff

Add input styles
  website/src/styles/playground.scss
Owners: @rome/staff

Rename Linter tab to diagnostics
  website/src/playground/Playground.tsx
  website/src/playground/tabs/DiagnosticsTab.tsx
Owners: @rome/staff

Increase mobile navigation gap
  website/src/styles/_docs.scss
Owners: @rome/staff

Add reset options button and remember last options
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/components/SettingsPane.tsx
  website/src/playground/types.ts
  website/src/playground/utils.ts
  website/src/styles/playground.scss
Owners: @rome/staff

Split up frontend scripts
  website/astro.config.ts
  website/src/BaseLayout.astro
  website/src/frontend-scripts/docsearch.ts
  website/src/frontend-scripts/index.js
  website/src/frontend-scripts/util.ts
  website/src/playground/utils.ts
  website/src/styles/_mixins.scss
Owners: @rome/staff

Split up more frontend scripts
  website/src/BaseLayout.astro
  website/src/frontend-scripts/index.ts
  website/src/frontend-scripts/toc.ts
Owners: @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
