Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fmt and clippy issues
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/server.rs
Owners: @ematipico

fix(rome_lsp): rename off by default for vscode (#3473)
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/server.rs
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/src/main.ts
Owners: @ematipico, @rome/staff

chore(rome): remove WASM pacakges from optional dependencies
  npm/rome/scripts/generate-packages.mjs
Owners: @rome/staff

ci: fix script and remove "-next" from workflow (#3467)
  .github/workflows/release_js_api.yml
  npm/js-api/scripts/update-nightly-version.mjs
  npm/js-api/scripts/updateVersionForPrerelease.mjs
  npm/rome/README.md
Owners: @rome/staff

fix(ci): fix the version update scripts for pre-releases
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
  editors/vscode/scripts/update-nightly-version.mjs
  npm/rome/scripts/update-nightly-version.mjs
Owners: @rome/staff

feat(rome_js_analyze): exhaustive deps for React hooks (#3355)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.ts.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useExhaustiveDependencies.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore(rome): remove WASM pacakges from optional dependencies (#3483)
  npm/rome/scripts/generate-packages.mjs
Owners: @rome/staff

feat(rome_js_analyze): add support for spread props in various rules
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_mouse_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
  website/src/docs/lint/rules/useKeyWithClickEvents.md
  website/src/docs/lint/rules/useValidAnchor.md
Owners: @leops, @xunilrj, @rome/staff

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
Owners: @leops, @xunilrj

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
  website/src/docs/lint/rules/useBlankTarget.md
  website/src/docs/lint/rules/useKeyWithClickEvents.md
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_mouse_events.rs
Owners: @leops, @xunilrj

chore: rebase
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
  website/src/docs/lint/rules/useKeyWithClickEvents.md
  website/src/docs/lint/rules/useValidForDirection.md
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
Owners: @leops, @xunilrj

fix(ci): fix the version update scripts for pre-releases (#3484)
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
  editors/vscode/scripts/update-nightly-version.mjs
  npm/rome/scripts/update-nightly-version.mjs
Owners: @rome/staff

feat(rome_js_analyze): add support for spread props in various rules (#3444)
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_mouse_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
  website/src/docs/lint/rules/useBlankTarget.md
  website/src/docs/lint/rules/useKeyWithClickEvents.md
  website/src/docs/lint/rules/useValidAnchor.md
  website/src/docs/lint/rules/useValidForDirection.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyzer): rule `noInvalidConstructorSuper`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noInvalidConstructorSuper.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: clippy and rebase
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @rome/staff

chore: split rule in two
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/registry.rs
  crates/rome_js_analyze/src/syntax.rs
  crates/rome_js_analyze/src/syntax/nursery.rs
  crates/rome_js_analyze/src/syntax/nursery/no_super_without_extends.rs
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noSuperWithoutExtends.js
  crates/rome_js_analyze/tests/specs/nursery/noSuperWithoutExtends.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_analyzer.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_parser): call expression in optional member chain followed by `<`
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/ok/optional_chain_call_less_than.rast
  crates/rome_js_parser/test_data/inline/ok/optional_chain_call_less_than.ts
Owners: @MichaReiser, @xunilrj

fix(rome_js_analyze): remove double negation check
  crates/rome_js_analyze/src/analyzers/correctness/use_simplified_logic_expression.rs
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js.snap
Owners: @leops, @xunilrj

fix(ci): fix the publishing job in the CLI release workflow
  .github/workflows/release_cli.yml
Owners: @rome/staff

codegen
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
Owners: @rome/staff

fix(rome_js_analyze): don't check double negation in `noNegationElse`
  crates/rome_js_analyze/src/analyzers/style/no_negation_else.rs
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js.snap
Owners: @leops, @xunilrj

code suggestions
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/syntax/nursery/no_super_without_extends.rs
  crates/rome_js_analyze/tests/specs/nursery/noSuperWithoutExtends.js.snap
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff, @leops, @xunilrj

chore: update issue template
  .github/ISSUE_TEMPLATE/01_bug.yml
Owners: @rome/staff

fix(ci): fix the publishing job in the CLI release workflow (#3489)
  .github/workflows/release_cli.yml
Owners: @rome/staff

feat(rome_js_analyzer): rule `noInvalidConstructorSuper` (#3465)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/registry.rs
  crates/rome_js_analyze/src/syntax.rs
  crates/rome_js_analyze/src/syntax/nursery.rs
  crates/rome_js_analyze/src/syntax/nursery/no_super_without_extends.rs
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noSuperWithoutExtends.js
  crates/rome_js_analyze/tests/specs/nursery/noSuperWithoutExtends.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noInvalidConstructorSuper.md
  xtask/codegen/src/generate_analyzer.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix(rome_js_parser): call expression in optional member chain followed by `<` (#3487)
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/ok/optional_chain_call_less_than.rast
  crates/rome_js_parser/test_data/inline/ok/optional_chain_call_less_than.ts
Owners: @MichaReiser, @xunilrj

fix(rome_js_analyze): remove double negation check (#3488)
  crates/rome_js_analyze/src/analyzers/correctness/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/analyzers/style/no_negation_else.rs
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js.snap
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_3141.js.snap
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
Owners: @leops, @xunilrj, @rome/staff

chore: update issue template (#3493)
  .github/ISSUE_TEMPLATE/01_bug.yml
Owners: @rome/staff

fix(ci): run the version update script in the publish job of the js-api release workflow
  .github/workflows/release_js_api.yml
Owners: @rome/staff

refactor(rome_service): use `serde::Diagnostic` in the workspace (#3450)
  crates/rome_analyze/src/signals.rs
  crates/rome_cli/tests/snapshots/main_commands_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_parse_error.snap
  crates/rome_diagnostics/src/v2/display/message.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_double_equals.rs
  crates/rome_js_analyze/tests/specs/correctness/noDoubleEquals.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  website/src/docs/lint/rules/noDoubleEquals.md
  website/src/docs/lint/rules/useAnchorContent.md
  website/src/docs/lint/rules/useValidTypeof.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

fix rebase
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
Owners: @leops, @xunilrj

chore: fix rebase
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

fix(website): move default value in the correct section
  website/src/_includes/docs/reference.md
Owners: @rome/staff

fix(ci): run the version update script in the publish job of the js-api release workflow (#3494)
  .github/workflows/release_js_api.yml
Owners: @rome/staff

fix(website): move default value in the correct section (#3496)
  website/src/_includes/docs/reference.md
Owners: @rome/staff

fix(website): Search
  website/src/_includes/scripts/index.js
Owners: @rome/staff

fix(ci): fix the pre-release tag for nightly versions
  npm/js-api/scripts/update-nightly-version.mjs
  npm/rome/package.json
  npm/rome/scripts/update-nightly-version.mjs
Owners: @rome/staff

fix(rome_cli): correctly compute `can_handle` in CI mode
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
Owners: @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
