Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

feat(rome_diagnostics): refactor some existing diagnostics to use the new Diagnostic trait (#3315)
  crates/rome_cli/src/reports/mod.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics/src/v2/adapters.rs
  crates/rome_diagnostics/src/v2/context.rs
  crates/rome_diagnostics/src/v2/diagnostic.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics/src/v2/serde.rs
  crates/rome_diagnostics_categories/src/lib.rs
  crates/rome_diagnostics_macros/src/generate.rs
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/wasm/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/wasm/formatContent.test.mjs
Owners: @leops, @rome/staff, @ematipico

link the rules to their group and category at the type system level
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/src/analyzers.rs
  crates/rome_js_analyze/src/assists.rs
  crates/rome_js_analyze/src/registry.rs
  crates/rome_js_analyze/src/semantic_analyzers.rs
  xtask/codegen/src/generate_analyzer.rs
Owners: @leops, @xunilrj, @rome/staff

correctly do not flag unused on ts ambient files
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.d.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.d.ts.snap
Owners: @leops, @xunilrj

clippy and fmt issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
Owners: @leops, @xunilrj

fixup after rebase
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_analyze/src/rule.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html_with_children.rs
Owners: @leops, @xunilrj

run codegen
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noChildrenProp.md
Owners: @leops, @ematipico, @rome/staff

refactor: move js bindings to a scoped package
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_js.yml
  .github/workflows/runtime.yml
  npm/js-api/.gitignore
  npm/js-api/README.md
  npm/js-api/package.json
  npm/js-api/pnpm-lock.yaml
  npm/js-api/src/daemon.ts
  npm/js-api/src/index.ts
  npm/js-api/src/nodeWasm.ts
  npm/js-api/src/utils.ts
  npm/js-api/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/daemon/formatContent.test.mjs
  npm/js-api/tests/daemon/formatFiles.test.mjs
  npm/js-api/tests/wasm/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/wasm/formatContent.test.mjs
  npm/js-api/tests/wasm/formatFiles.test.mjs
  npm/js-api/tsconfig.json
  npm/js-api/vitest.config.js
  npm/rome/package.json
Owners: @rome/staff

Update crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/rule.rs
Owners: @leops, @xunilrj

applying suggestions
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariablesValid.d.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariablesValid.d.ts.snap
Owners: @leops, @xunilrj

clippy and fmt issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
Owners: @leops, @xunilrj

fix(rome_js_analyze): correctly do not flag unused on ts ambient files (#3322)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariablesValid.d.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariablesValid.d.ts.snap
Owners: @leops, @xunilrj

perf(rome_js_analyze): improve the performance of noUndeclaredVariables by allowing it to directly inspect the semantic model
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/query.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_undeclared_variables.rs
  crates/rome_js_analyze/src/semantic_services.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

address PR review
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

PR review and tests improvements
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_undeclared_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
Owners: @leops, @xunilrj

perf(rome_js_analyze): improve the performance of noUndeclaredVariables (#3320)
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/query.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_undeclared_variables.rs
  crates/rome_js_analyze/src/semantic_services.rs
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
Owners: @leops, @xunilrj

fix(rome_fs): improve the messaging of the "unhandled file type" diagnostic
  crates/rome_fs/src/fs/os.rs
Owners: @leops

feat(rome_js_analyzer): rule `noAutofocus`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAutofocus/noAutoFocusValid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noAutofocus.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

refactor: move js bindings to a scoped package (#3323)
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_js.yml
  .github/workflows/runtime.yml
  npm/js-api/.gitignore
  npm/js-api/README.md
  npm/js-api/package.json
  npm/js-api/pnpm-lock.yaml
  npm/js-api/src/daemon.ts
  npm/js-api/src/index.ts
  npm/js-api/src/nodeWasm.ts
  npm/js-api/src/utils.ts
  npm/js-api/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/daemon/formatContent.test.mjs
  npm/js-api/tests/daemon/formatFiles.test.mjs
  npm/js-api/tests/wasm/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/wasm/formatContent.test.mjs
  npm/js-api/tests/wasm/formatFiles.test.mjs
  npm/js-api/tsconfig.json
  npm/js-api/vitest.config.js
  npm/rome/package.json
Owners: @rome/staff

ci: fix tests
  npm/js-api/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/daemon/formatContent.test.mjs
  npm/js-api/tsconfig.json
Owners: @rome/staff

chore: simplify the query check
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
Owners: @leops, @xunilrj

chore: correctly update snapshot
  npm/js-api/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/daemon/formatContent.test.mjs
Owners: @rome/staff

ci: fix tests (#3335)
  npm/js-api/tsconfig.json
Owners: @rome/staff

chore: further simplify the code
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
Owners: @leops, @xunilrj

fix(rome_js_syntax): pick trimmed text instead the raw text
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @rome/staff

chore: clippy
  crates/rome_analyze/src/lib.rs
Owners: @leops, @xunilrj

chore: code review
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/options.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/jsx.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: clippy
  crates/rome_analyze/src/options.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

feat(rome_analyze): accept options inside analyzer
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/bench/src/features/analyzer.rs
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: fix code based on feedbacks
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
Owners: @leops, @xunilrj

fix(rome_diagnostics): do not print invisible characters on unchanged diff lines
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics/src/v2/display/diff.rs
Owners: @rome/staff

update snapshots
  crates/rome_js_analyze/tests/specs/correctness/noCommentText.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noDelete.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noMultipleSpacesInRegularExpressionLiterals.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnnecessaryContinue.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnusedTemplateLiteral.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useBlockStatements.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useSingleCaseStatement.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useSingleVarDeclarator.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useTemplate.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useValidTypeof.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useWhile.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noNewSymbol.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/complexLogicalAndCases.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases6.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr2.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts.snap
  crates/rome_js_analyze/tests/specs/style/noNegationElse/default.js.snap
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_2999.js.snap
  crates/rome_js_analyze/tests/specs/style/noShoutyConstants.js.snap
  crates/rome_js_analyze/tests/specs/style/useSelfClosingElements.tsx.snap
  crates/rome_js_analyze/tests/specs/style/useShorthandArrayType.ts.snap
  website/src/docs/lint/rules/noDelete.md
  website/src/docs/lint/rules/useBlockStatements.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
  website/src/docs/lint/rules/useSingleCaseStatement.md
  website/src/docs/lint/rules/useWhile.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_js_syntax): pick trimmed text instead the raw text (#3337)
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
Owners: @rome/staff

feat(rome_analyze): accept options inside analyzer (#3325)
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/options.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/jsx.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/bench/src/features/analyzer.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

fix: use text_trimmed_range for diagnostic
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
Owners: @leops, @xunilrj

chore: simplify to one liner
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
Owners: @leops, @xunilrj

fix(rome_js_analyze): consider unary expressions in `useSimplifiedLogicExpression`
  crates/rome_js_analyze/src/analyzers/correctness/use_simplified_logic_expression.rs
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js.snap
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
Owners: @leops, @xunilrj, @rome/staff

implement "error entries" for the memory file system
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/fs_error_symlink.snap
  crates/rome_cli/tests/snapshots/main_check/fs_error_unknown.snap
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_fs/src/lib.rs
Owners: @leops

fix(rome_diagnostics): do not print invisible characters on unchanged diff lines (#3334)
  crates/rome_diagnostics/src/emit.rs
  crates/rome_diagnostics/src/v2/display/diff.rs
  crates/rome_js_analyze/tests/specs/correctness/noCommentText.tsx.snap
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noDelete.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noMultipleSpacesInRegularExpressionLiterals.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnnecessaryContinue.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnusedTemplateLiteral.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useBlockStatements.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useSingleCaseStatement.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useSingleVarDeclarator.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useTemplate.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useValidTypeof.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useWhile.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noNewSymbol.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/complexLogicalAndCases.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases6.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr2.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts.snap
  crates/rome_js_analyze/tests/specs/style/noNegationElse/default.js.snap
  crates/rome_js_analyze/tests/specs/style/noNegationElse/issue_2999.js.snap
  crates/rome_js_analyze/tests/specs/style/noShoutyConstants.js.snap
  crates/rome_js_analyze/tests/specs/style/useSelfClosingElements.tsx.snap
  crates/rome_js_analyze/tests/specs/style/useShorthandArrayType.ts.snap
  website/src/docs/lint/rules/noDelete.md
  website/src/docs/lint/rules/useBlockStatements.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
  website/src/docs/lint/rules/useSingleCaseStatement.md
  website/src/docs/lint/rules/useWhile.md
Owners: @rome/staff, @leops, @xunilrj

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @rome/staff

feat(rome_js_analyze): consider unary expressions in `useSimplifiedLogicExpression` (#3340)
  crates/rome_js_analyze/src/analyzers/correctness/use_simplified_logic_expression.rs
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js
  crates/rome_js_analyze/tests/specs/correctness/useSimplifiedLogicExpression.js.snap
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
Owners: @leops, @xunilrj, @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
