Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

doc(website): Document Versioning
  website/src/pages/internals/philosophy.mdx
  website/src/pages/internals/versioning.mdx
Owners: @rome/staff

doc(website): Document Versioning (#3584)
  website/src/pages/internals/philosophy.mdx
  website/src/pages/internals/versioning.mdx
Owners: @rome/staff

test: update prettier_test snapshot
  crates/rome_js_formatter/tests/specs/prettier/js/export-extension/export.js.snap
Owners: @ematipico, @MichaReiser

Add notes about language-specific config
  website/src/pages/configuration.mdx
  website/src/pages/formatter/index.mdx
Owners: @rome/staff

fix
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_syntax/src/stmt_ext.rs
Owners: @leops, @xunilrj, @rome/staff

Simplify wording slightly
  website/src/pages/configuration.mdx
Owners: @rome/staff

feat(rome_cli): print number of errors in summary (#3651)
  crates/rome_cli/src/termination.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_check/apply_suggested.snap
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_commands_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_linter.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_linter_via_cli.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/formatting_error.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_format/format_with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_format/formatter_write.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

fix(rome_js_formatter): jsx whitespace is meaningful jsx text
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
Owners: @ematipico, @MichaReiser

fix: incorrect test case
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/specs/correctness/noArrayIndexKey.jsx.snap
Owners: @leops, @xunilrj

feat(rome_analyze): extend ActionCategory to allow expressing more code action kinds (#3627)
  crates/rome_analyze/src/categories.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_js_analyze/src/assists/correctness/flip_bin_exp.rs
  crates/rome_js_analyze/src/assists/correctness/inline_variable.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/workspace.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @ematipico, @rome/staff

fix(rome_js_formatter): Unnecessary parentheses for return/unary with verbatim argument
  crates/rome_js_formatter/src/js/expressions/unary_expression.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/tests/specs/js/module/expression/unary_expression_verbatim_argument.js
  crates/rome_js_formatter/tests/specs/js/module/expression/unary_expression_verbatim_argument.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js
  crates/rome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): jsx whitespace is meaningful jsx text (#3732)
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_js_formatter/src/js/expressions/unary_expression.rs
Owners: @ematipico, @MichaReiser

Update snapshots after rebase
  crates/rome_js_formatter/tests/specs/js/module/expression/unary_expression_verbatim_argument.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js.snap
Owners: @ematipico, @MichaReiser

review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc.snap
Owners: @leops, @xunilrj

lintdoc
  website/src/pages/lint/rules/useConst.md
Owners: @rome/staff

docs: update internal documentation links in contributing.md
  CONTRIBUTING.md
Owners: @rome/staff

ci: fix conformance workflow
  .github/workflows/parser_conformance.yml
Owners: @rome/staff

docs(contributing): update internal documentation links (#3742)
  CONTRIBUTING.md
Owners: @rome/staff

ci: fix conformance workflow (#3743)
  .github/workflows/parser_conformance.yml
Owners: @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
