Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

refactor(rome_formatter): `FormatLanguage` trait
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

chore: revert diagnostic printer
  crates/rome_wasm/src/utils.rs
  website/playground/src/romeWorker.ts
Owners: @rome/staff

refactor(rome_formatter): `FormatLanguage` trait (#3112)
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

ci: use build wasm instead
  .github/workflows/pull_request.yml
Owners: @rome/staff

refactor: remove middle-man function for diagnostics
  npm/rome/src/daemon.ts
  npm/rome/src/index.ts
  npm/rome/src/nodeWasm.ts
Owners: @rome/staff

Document TODOs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

feat(rome_rowan): `cast_ref` and `match_ast` macro
  crates/rome_js_formatter/src/js/expressions/assignment_expression.rs
  crates/rome_js_formatter/src/js/expressions/pre_update_expression.rs
  crates/rome_js_formatter/src/js/expressions/unary_expression.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/macros.rs
Owners: @ematipico, @MichaReiser, @rome/staff

chore: rename functions
  npm/rome/src/daemon.ts
  npm/rome/src/index.ts
  npm/rome/src/nodeWasm.ts
Owners: @rome/staff

feat(rome_text_size): fork crate
  Cargo.lock
  crates/rome_console/Cargo.toml
  crates/rome_console/src/codespan/mod.rs
  crates/rome_console/src/codespan/render.rs
  crates/rome_console/src/markup.rs
  crates/rome_rowan/Cargo.toml
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/cursor/element.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/cursor/token.rs
  crates/rome_rowan/src/cursor/trivia.rs
  crates/rome_rowan/src/green/node_cache.rs
  crates/rome_rowan/src/green/trivia.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/element.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/syntax/trivia.rs
  crates/rome_rowan/src/syntax_token_text.rs
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_edit/src/lib.rs
  crates/rome_text_size/Cargo.toml
  crates/rome_text_size/LICENSE-APACHE
  crates/rome_text_size/LICENSE-MIT
  crates/rome_text_size/src/lib.rs
  crates/rome_text_size/src/range.rs
  crates/rome_text_size/src/serde_impls.rs
  crates/rome_text_size/src/size.rs
  crates/rome_text_size/src/traits.rs
  crates/rome_text_size/tests/auto_traits.rs
  crates/rome_text_size/tests/contructors.rs
  crates/rome_text_size/tests/indexing.rs
  crates/rome_text_size/tests/main.rs
  crates/rome_text_size/tests/serde.rs
  website/src/credits.md
Owners: @rome/staff, @leops

Document `visit_parenthesized`
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_rowan/src/syntax/token.rs
Owners: @ematipico, @MichaReiser, @rome/staff

feat(npm): use daemon client and error handling (#3102)
  .github/workflows/pull_request.yml
  .github/workflows/runtime.yml
  crates/rome_wasm/Cargo.toml
  npm/backend-jsonrpc/package.json
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/daemon.ts
  npm/rome/src/index.ts
  npm/rome/src/nodeWasm.ts
  npm/rome/tests/__snapshots__/daemon.test.mjs.snap
  npm/rome/tests/__snapshots__/wasm.test.mjs.snap
  npm/rome/tests/daemon.test.mjs
  npm/rome/tests/wasm.test.mjs
  npm/rome/tsconfig.json
Owners: @rome/staff

Logical expression transformation test
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

More syntax rewriter tests
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

source map unit tests
  crates/rome_formatter/src/source_map.rs
Owners: @ematipico, @MichaReiser

feat(rome_rowan): `cast_ref` and `match_ast` macro (#3113)
  crates/rome_js_formatter/src/js/expressions/assignment_expression.rs
  crates/rome_js_formatter/src/js/expressions/pre_update_expression.rs
  crates/rome_js_formatter/src/js/expressions/unary_expression.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/macros.rs
Owners: @ematipico, @MichaReiser, @rome/staff

feat(rome_text_size): fork crate (#3114)
  Cargo.lock
  crates/rome_console/Cargo.toml
  crates/rome_console/src/codespan/mod.rs
  crates/rome_console/src/codespan/render.rs
  crates/rome_console/src/markup.rs
  crates/rome_rowan/Cargo.toml
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/cursor/element.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/cursor/token.rs
  crates/rome_rowan/src/cursor/trivia.rs
  crates/rome_rowan/src/green/node_cache.rs
  crates/rome_rowan/src/green/trivia.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/element.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/syntax/trivia.rs
  crates/rome_rowan/src/syntax_token_text.rs
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_edit/src/lib.rs
  crates/rome_text_size/Cargo.toml
  crates/rome_text_size/LICENSE-APACHE
  crates/rome_text_size/LICENSE-MIT
  crates/rome_text_size/src/lib.rs
  crates/rome_text_size/src/range.rs
  crates/rome_text_size/src/serde_impls.rs
  crates/rome_text_size/src/size.rs
  crates/rome_text_size/src/traits.rs
  crates/rome_text_size/tests/auto_traits.rs
  crates/rome_text_size/tests/contructors.rs
  crates/rome_text_size/tests/indexing.rs
  crates/rome_text_size/tests/main.rs
  crates/rome_text_size/tests/serde.rs
  website/src/credits.md
Owners: @rome/staff, @leops

More documentation
  crates/rome_formatter/src/source_map.rs
Owners: @ematipico, @MichaReiser

Assertion messages, `transform` api
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Some more documentation
  crates/rome_formatter/src/source_map.rs
Owners: @ematipico, @MichaReiser

feat(playground): implement option quote_properties
  website/playground/src/QuotePropertiesSelect.tsx
  website/playground/src/QuoteStyleSelect.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/prettierWorker.ts
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @rome/staff

feat(rome_formatter): `IndentIfBreak` IR element
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

refactor(rome_formatter): Return reference from `context.comments()`
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/context.rs
Owners: @ematipico, @MichaReiser

Documentation
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Owners: @ematipico, @MichaReiser

Documentation
  crates/rome_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

no unused starting with underscore, react and no fix
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
Owners: @leops, @xunilrj

Update website/playground/src/QuotePropertiesSelect.tsx
  website/playground/src/QuotePropertiesSelect.tsx
Owners: @rome/staff

example of valid code
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

feat(playground): implement option quote_properties (#3121)
  website/playground/src/QuotePropertiesSelect.tsx
  website/playground/src/QuoteStyleSelect.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/prettierWorker.ts
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @rome/staff

Update crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

Apply suggestions from code review
  crates/rome_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

feat(npm): allow to set global settings
  .cargo/config.toml
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_js_syntax/src/suppression.rs
  crates/rome_lsp/src/config.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_wasm/build.rs
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/src/daemon.ts
  npm/rome/src/index.ts
  npm/rome/src/nodeWasm.ts
  npm/rome/src/utils.ts
  npm/rome/tests/wasm/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/wasm/formatContent.test.mjs
  npm/rome/tests/wasm/formatFiles.test.mjs
  website/playground/src/romeWorker.ts
  xtask/codegen/src/generate_bindings.rs
Owners: @rome/staff, @leops, @ematipico

Use `FxHashMap`
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @rome/staff, @ematipico, @MichaReiser

Rename to `indent_if_group_breaks`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

chore: add more configuration
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/tests/wasm/formatContent.test.mjs
  website/playground/package.json
  website/playground/src/romeWorker.ts
Owners: @rome/staff

feat(rome_formatter): Custom separator per `Fill` item
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
Owners: @ematipico, @MichaReiser

Rename `IndentIfBreakBreaks` to `IndentIfGroupBreaks`
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

refactor(rome_formatter): Return reference from `context.comments()` (#3120)
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_formatter): `IndentIfGroupBreaks` IR element (#3116)
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

Change order of `entry` and `separator`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
Owners: @ematipico, @MichaReiser

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
