Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

Fix height
  website/src/playground/styles/index.scss
Owners: @rome/staff

Fix backgrounds
  website/src/playground/styles/_diagnostics.scss
Owners: @rome/staff

More playground polish
  website/src/playground/CodeMirror.tsx
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/styles/_results.scss
  website/src/playground/styles/_settings.scss
  website/src/playground/styles/_tabs.scss
  website/src/playground/styles/index.scss
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/types.ts
  website/src/playground/utils.ts
Owners: @rome/staff

refactor
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

cleanup
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

clippy
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

fix(rome_js_parser): improve yield parsing in non generator function (#3622)
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/function_decl_err.rast
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_module.js
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_module.rast
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_script.js
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_script.rast
  crates/rome_js_parser/test_data/inline/err/yield_expr_in_parameter_initializer.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_module.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_module.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_script.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_script.rast
  crates/rome_js_parser/test_data/inline/ok/reparse_yield_as_identifier.js
  crates/rome_js_parser/test_data/inline/ok/reparse_yield_as_identifier.rast
  crates/rome_js_parser/test_data/inline/ok/yield_in_generator_function.js
  crates/rome_js_parser/test_data/inline/ok/yield_in_generator_function.rast
Owners: @MichaReiser, @xunilrj

fix(rome_js_parser): improve await handling in non-async context (#3573)
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/test_data/inline/err/async_arrow_expr_await_parameter.js
  crates/rome_js_parser/test_data/inline/err/async_arrow_expr_await_parameter.rast
  crates/rome_js_parser/test_data/inline/err/await_in_module.js
  crates/rome_js_parser/test_data/inline/err/await_in_module.rast
  crates/rome_js_parser/test_data/inline/err/await_in_non_async_function.js
  crates/rome_js_parser/test_data/inline/err/await_in_non_async_function.rast
  crates/rome_js_parser/test_data/inline/err/await_in_parameter_initializer.rast
  crates/rome_js_parser/test_data/inline/err/await_in_static_initialization_block_member.js
  crates/rome_js_parser/test_data/inline/err/await_in_static_initialization_block_member.rast
  crates/rome_js_parser/test_data/inline/err/no_top_level_await_in_scripts.rast
  crates/rome_js_parser/test_data/inline/ok/reparse_await_as_identifier.js
  crates/rome_js_parser/test_data/inline/ok/reparse_await_as_identifier.rast
Owners: @MichaReiser, @xunilrj

fix(rome_js_formatter): Single-line comment below a JSX prop triggers… (#3641)
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
Owners: @ematipico, @MichaReiser

doc(website): Add context about Romes philosophy (#3714)
  website/src/pages/formatter/index.mdx
Owners: @rome/staff

feat(rome_js_formatter): jestEach template literals #3308
  Cargo.lock
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/template.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_formatter/src/utils/test_each_template.rs
  crates/rome_js_formatter/tests/specs/js/module/each/each.js
  crates/rome_js_formatter/tests/specs/js/module/each/each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each-template-string.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
Owners: @rome/staff, @ematipico, @MichaReiser

feat(rome_js_formatter): jestEach template literals #3308 (#3582)
  Cargo.lock
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/template.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_formatter/src/utils/test_each_template.rs
  crates/rome_js_formatter/tests/specs/js/module/each/each.js
  crates/rome_js_formatter/tests/specs/js/module/each/each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each-template-string.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
Owners: @rome/staff, @ematipico, @MichaReiser

fix
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

feat(vscode): try to resolve the rome package from the workspace root
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/src/main.ts
Owners: @rome/staff

feat(rome_analyze): add a warning for unused suppression comments
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/correctness/noUnreachable/SuppressionComments.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @rome/staff, @ematipico

feat(rome_js_analyze): Implement prefer-numeric-literals lint (#3558)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/complexity/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_async_promise_executor.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_numeric_literals.rs
  crates/rome_js_analyze/src/ast_utils.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_render_return_value.rs
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/overriden.js
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/overriden.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useNumericLiterals/valid.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useNumericLiterals.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_syntax/src/source_type.rs
  website/src/pages/lint/rules/useConst.md
Owners: @leops, @xunilrj, @rome/staff

website(docs): set `color-scheme` on the root element
  website/src/styles/_global.scss
  website/src/styles/_mixins.scss
Owners: @rome/staff

review
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_syntax/src/stmt_ext.rs
Owners: @leops, @xunilrj, @rome/staff

update
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

Fix `@include dark-mode` selector
  website/src/styles/_global.scss
Owners: @rome/staff

fix
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
Owners: @leops, @xunilrj

feat(rome_cli): add a `--force-colors` argument
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/main.rs
  crates/rome_cli/tests/main.rs
  crates/rome_console/src/lib.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

merge `--no-colors` and `--force-colors` into a single `--colors` argument
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/main.rs
  website/src/pages/cli.mdx
Owners: @leops, @rome/staff

feat(rome_analyze): extent the ActionCategory enum to allow expressing more code action categories
  crates/rome_analyze/src/categories.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_js_analyze/src/assists/correctness/flip_bin_exp.rs
  crates/rome_js_analyze/src/assists/correctness/inline_variable.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/workspace.rs
Owners: @leops, @xunilrj, @ematipico

run codegen
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

update the extension readme
  editors/vscode/README.md
Owners: @rome/staff

feat(rome_analyze): add a warning for unused suppression comments (#3718)
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/correctness/noUnreachable/SuppressionComments.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @rome/staff, @ematipico

fix(rome_lsp): update all diagnostics after a configuration change
  crates/rome_lsp/src/server.rs
Owners: @ematipico

fix
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.jsonc.snap
Owners: @leops, @xunilrj

website(docs): set `color-scheme` on the root element (#3721)
  website/src/styles/_global.scss
  website/src/styles/_mixins.scss
Owners: @rome/staff

fix(rome_js_formatter): restrict export line break for single specifier
  crates/rome_js_formatter/src/js/module/export_named_from_clause.rs
  crates/rome_js_formatter/tests/specs/js/module/export/named_from_clause.js
Owners: @ematipico, @MichaReiser

fix(rome_lsp): update all diagnostics after a configuration change (#3724)
  crates/rome_lsp/src/server.rs
Owners: @ematipico

feat(vscode): try to resolve the rome package from the workspace root (#3717)
  editors/vscode/README.md
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/src/main.ts
Owners: @rome/staff

refactor: handle specifeirs format by its length
  crates/rome_js_formatter/src/js/module/export_named_from_clause.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_analyze): lint/correctness/noDupeKeys (#3562)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noDupeKeys.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

add documentation
  crates/rome_analyze/src/categories.rs
  crates/rome_lsp/src/handlers/analysis.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @ematipico, @rome/staff

feat(rome_cli): add a `--force-colors` argument (#3625)
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/main.rs
  crates/rome_cli/tests/main.rs
  crates/rome_console/src/lib.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  website/src/pages/cli.mdx
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

fix: format single specifier without comma separator
  crates/rome_js_formatter/src/js/module/export_named_from_clause.rs
Owners: @ematipico, @MichaReiser

test: add long string single specifier to export and update snapshot
  crates/rome_js_formatter/tests/specs/js/module/export/named_from_clause.js
  crates/rome_js_formatter/tests/specs/js/module/export/named_from_clause.js.snap
Owners: @ematipico, @MichaReiser
