Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

Restore tests
  crates/rome_formatter/src/format_element.rs
Owners: @ematipico, @MichaReiser

Undo literalline
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-css/issue-11797.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-literals/styled-jsx-with-expressions.js.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_analyze): partial code action for `noUselessFragments` (#3264)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportNamespaceInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/fromImportRenameInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/noChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/valid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/valid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withCommentsInvalid.jsx.snap
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @leops, @xunilrj, @rome/staff

semantic model support for closures
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

documentation and closure extension method
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

feat(rome_js_analyzer): `noVoidElementsWithChildren`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noVoidElementsWithChildren.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: rebase
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
Owners: @leops, @xunilrj

fix: snapshot and text
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

chore: code suggestions
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx.snap
Owners: @leops, @xunilrj

feat(rome_js_analyzer): `noVoidElementsWithChildren` (#3274)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noVoidElementsWithChildren.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

Update crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Owners: @ematipico, @MichaReiser

address code review feedback
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/utils/member_chain/chain_member.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_analyzer): fix false positive for `useOptionalChain`
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyzer): code action `noUselessFragments`
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxElementInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxElementInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxExpressionChildInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxExpressionChildInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxTextInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxTextInvalid.jsx.snap
  website/src/docs/lint/rules/noUselessFragments.md
Owners: @leops, @xunilrj, @rome/staff

smal refactorings to semantic model closure
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

Update crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/format_element/document.rs
Owners: @ematipico, @MichaReiser

fmt and clippy issues
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @xunilrj

address PR review
  crates/rome_analyze/src/rule.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_fragment_syntax.rs
  crates/rome_js_semantic/src/tests/assertions.rs
Owners: @leops, @xunilrj, @rome/staff

lazy all_captures
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

lazy children
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

fmt and clippy issues
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

feat(rome_js_formatter): TS Intersection & Union types #3162
  crates/rome_js_formatter/src/ts/lists/union_type_variant_list.rs
  crates/rome_js_formatter/src/ts/types/union_type.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): TS Intersection & Union types (#3291)
  crates/rome_js_formatter/src/ts/lists/union_type_variant_list.rs
  crates/rome_js_formatter/src/ts/types/union_type.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): In the making, first/last call args
  crates/rome_formatter/src/format_element.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/function_expression.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_nested.js.snap
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/js/break-calls/react.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/break-calls/reduce.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/arrow.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/number-only-array.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/object.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/first_long.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/issue-4125.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/pr-7889.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/objects/assignment-expression/object-value.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/objects/range.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/performance/nested-real.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/binary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/method-chain/comment.ts.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Curried calls
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/functional-composition/ramda_compose.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/functional-composition/redux_connect.js.snap
Owners: @ematipico, @MichaReiser

Remove soft lines & new Format Error
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printed_tokens.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/function_expression.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Test call formatting
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/first-argument-expansion/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_async.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_fakeAsync.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angular_waitForAsync.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/angularjs_inject.js.snap
Owners: @ematipico, @MichaReiser

Add caching of function bodies
  Cargo.lock
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/function_expression.rs
  crates/rome_js_formatter/src/utils/function_body.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/dangling-comment-in-arrow-function.js.snap
Owners: @rome/staff, @ematipico, @MichaReiser

closures for classes methods
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

closures for classes methods
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Owners: @xunilrj

Factor out `FormatGroupedCallArguments`
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/function_expression.rs
Owners: @ematipico, @MichaReiser

Improve caching
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/function_expression.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/function_body.rs
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/utils/function_body.rs
Owners: @ematipico, @MichaReiser

Format JS Files
  npm/backend-jsonrpc/tests/transport.test.mjs
  npm/rome/scripts/generate-packages.mjs
  website/playground/src/App.tsx
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
  website/src/_includes/scripts/index.js
Owners: @rome/staff

Document `RemoveSoftLineBreaks` buffer and use it for template element formatting
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/printer/printer_options/mod.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
Owners: @ematipico, @MichaReiser

Remove `rustc-hash` dependency again
  Cargo.lock
  crates/rome_js_formatter/Cargo.toml
Owners: @rome/staff, @ematipico, @MichaReiser

Restore lib.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Restore separated.rs
  crates/rome_js_formatter/src/separated.rs
Owners: @ematipico, @MichaReiser
