Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore(website): add script to update the code contributors
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  website/src/_includes/contributors.md
  website/src/credits.md
  xtask/contributors/Cargo.toml
  xtask/contributors/src/main.rs
  xtask/src/lib.rs
Owners: @rome/staff

doc(editors): how to use rome as a language server in helix (#3225)
  editors/helix/manual.md
Owners: @rome/staff

chore: code review
  website/src/_includes/contributors.md
  xtask/contributors/src/main.rs
Owners: @rome/staff

clippy
  xtask/contributors/src/main.rs
Owners: @rome/staff

code review
  website/playground/src/NurseryRules.tsx
Owners: @rome/staff

docs(website): add newline
  website/src/docs/lint/rules/noAsyncPromiseExecutor.md
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

docs(website): add newline (#3247)
  website/src/docs/lint/rules/noAsyncPromiseExecutor.md
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

Comments infrastructure
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
Owners: @rome/staff, @ematipico, @MichaReiser

Document Comments API
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
Owners: @ematipico, @MichaReiser

refactor(rome_formatter): Delete `FormatElement::Comment`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

refactor(rome_formatter): Move verbatim formatting to `rome_formatter`
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/verbatim.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Rename `cst` back to `token`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/token.rs
  crates/rome_formatter/src/verbatim.rs
Owners: @ematipico, @MichaReiser

Documentation and naming
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
Owners: @ematipico, @MichaReiser

refactor(rome_js_formatter): Part 6: JS Comments formatting
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/prelude.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Documentation
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Fix file id
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

chore: 🤖 feat
  crates/rome_js_syntax/src/generated/kind.rs
  xtask/codegen/src/ast.rs
  xtask/codegen/src/generate_syntax_kinds.rs
Owners: @rome/staff

poc better batch mutation
  a.txt
  crates/rome_js_analyze/src/assists/correctness/flip_bin_exp.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/correctness/flipBinExp.js
  crates/rome_js_analyze/tests/specs/correctness/flipBinExp.js.snap
  crates/rome_js_analyze/tests/specs/correctness/inlineVariable.js.snap
  crates/rome_rowan/Cargo.toml
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: move to use string
  xtask/contributors/src/main.rs
Owners: @rome/staff

refactor(website): add script to update the code contributors (#3223)
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  website/src/_includes/contributors.md
  website/src/credits.md
  xtask/contributors/Cargo.toml
  xtask/contributors/src/main.rs
  xtask/src/lib.rs
Owners: @rome/staff

chore: move it to another line
  website/playground/src/NurseryRules.tsx
  website/playground/src/SettingsMenu.tsx
Owners: @rome/staff

chore: format
  website/playground/src/NurseryRules.tsx
  website/playground/src/SettingsMenu.tsx
Owners: @rome/staff

refactor(rome_js_analyze): `useOptionalChain` to nursery group
  crates/rome_js_analyze/src/analyzers/correctness.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_optional_chain.rs
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/complexLogicalAndCases.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/complexLogicalAndCases.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useOptionalChain.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

Update crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

test(rome_js_formatter): Add prettier JSX tests
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/13018.js
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/13018.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/13018.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/range/function-body.js
  crates/rome_js_formatter/tests/specs/prettier/js/range/function-body.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/range/function-body.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/multiline-literal.js
  crates/rome_js_formatter/tests/specs/prettier/js/strings/multiline-literal.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/multiline-literal.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/do/do.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/fbt/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/fragment/fragment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/ignore/jsx_ignore.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/newlines/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/significant-space/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/split-attrs/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/spread/attribute.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/spread/child.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/stateless-arrow-fn/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/template/styled-components.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conditional-types/issue-13275.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/conditional-types/issue-13275.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/literal/multiline.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/literal/multiline.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/literal/multiline.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof-this/decorators.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof-this/decorators.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof-this/decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof-this/typeof-this.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof-this/typeof-this.ts.prettier-snap
Owners: @ematipico, @MichaReiser

refactor(rome_js_analyze): `useOptionalChain` to nursery group (#3253)
  crates/rome_js_analyze/src/analyzers/correctness.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_optional_chain.rs
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/complexLogicalAndCases.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/complexLogicalAndCases.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useOptionalChain.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

fix(rome_js_formatter): Fix JSX formatting instabilities
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/jsx/expressions/tag_expression.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/jsx/tag/closing_fragment.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_formatter/src/jsx/tag/opening_fragment.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/tests/specs/js/module/import/bare_import.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/fragment/fragment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/ignore/jsx_ignore.js
  crates/rome_js_formatter/tests/specs/prettier/jsx/ignore/jsx_ignore.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/split-attrs/test.js
  crates/rome_js_formatter/tests/specs/prettier/jsx/split-attrs/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/spread/attribute.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/spread/child.js
  crates/rome_js_formatter/tests/specs/prettier/jsx/spread/child.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/interface2/break.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof-this/decorators.ts.snap
Owners: @rome/staff, @ematipico, @MichaReiser

batch mutation calculating text edits
  crates/rome_rowan/src/ast/batch.rs
Owners: @rome/staff

chore: enable allocator in linux
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/main.rs
  xtask/bench/Cargo.toml
  xtask/bench/src/main.rs
Owners: @leops, @rome/staff

feat(rome_js_analyzer): `useButtonType`
  crates/rome_js_analyze/src/analyzers/correctness/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/correctness/use_template.rs
  crates/rome_js_analyze/src/assists/correctness/inline_variable.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/src/shared/batch.rs
  crates/rome_js_analyze/src/shared/mod.rs
  crates/rome_js_analyze/src/shared/react.rs
  crates/rome_js_analyze/src/shared/rename.rs
  crates/rome_js_analyze/src/shared/tests.rs
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js.snap
  crates/rome_js_syntax/src/jsx.rs
  crates/rome_js_syntax/src/lib.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useButtonType.md
Owners: @leops, @xunilrj, @rome/staff

fix: refactor
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @ematipico

chore: rebase
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/src/shared/mod.rs
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/lib.rs
  xtask/libs_bench/benches/to_camel_case.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: revert shared changes
  crates/rome_js_analyze/src/analyzers/correctness/no_debugger.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/correctness/use_template.rs
  crates/rome_js_analyze/src/assists/correctness/inline_variable.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/src/shared/react.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_service/src/lib.rs
  xtask/libs_bench/benches/to_camel_case.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: one more case
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js.snap
Owners: @leops, @xunilrj

chore: code suggestions
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_factory/src/make.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_js_syntax/src/lib.rs
Owners: @leops, @xunilrj, @rome/staff

chore: code suggestion
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
Owners: @leops, @xunilrj

chore: fixes and test cases
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingValid.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withDefaultNamespaceInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withDefaultNamespaceInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withRenamedImportInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withRenamedImportInvalid.js.snap
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/lib.rs
Owners: @leops, @xunilrj, @rome/staff

chore: refactor message
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js.snap
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useButtonType.md
Owners: @leops, @xunilrj, @rome/staff

Rename `soft_line_indent_or_spaced` to `soft_space_or_block_indent`
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

chore: rebase
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
