Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

chore: 🤖 update snapshot
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap
  crates/rome_js_analyze/tests/specs/js/noDupeArgs.js.snap.new
Owners: @leops, @xunilrj

test: update snapshots
  crates/rome_cli/tests/snapshots/main::configuration/correct_root.snap
Owners: @leops

test: add test rome_cli quote_properties_parse_errors_letter_case
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main::format/quote_properties_parse_errors_letter_case.snap
Owners: @leops

fix noShoutyConstants with lowercase and being exported
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js.snap
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/syntax_node_text.rs
Owners: @leops, @xunilrj, @rome/staff

refactor(rome_wasm): move the WASM bindings for the Workspace to a dedicated crate
  .github/workflows/deploy_playground.yml
  .github/workflows/deploy_playground_on_main.yml
  .github/workflows/release_cli.yml
  Cargo.lock
  Cargo.toml
  crates/rome_wasm/Cargo.toml
  crates/rome_wasm/build.rs
  crates/rome_wasm/src/lib.rs
  crates/rome_wasm/src/utils.rs
  crates/rome_wasm/tests/web.rs
  npm/rome/scripts/generate-packages.mjs
  website/playground/.gitignore
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/romeWorker.ts
Owners: @rome/staff

fix pull_request_js workflow
  .github/workflows/pull_request_js.yml
Owners: @rome/staff

Write docblock comment
  crates/rome_js_formatter/src/js/expressions/assignment_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): parenthesise TsAsExpression
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/computed_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/conditional_expression.rs
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/template.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/expressions/as_expression.rs
  crates/rome_js_formatter/src/ts/expressions/non_null_assertion_expression.rs
  crates/rome_js_formatter/src/ts/expressions/type_assertion_expression.rs
  crates/rome_js_formatter/src/utils/member_chain/groups.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/argument-expansion/argument_expansion.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/as.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/assignment.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/export_default_as.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/as/ternary.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/cast/as-const.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/export-default/function_as.ts.snap
Owners: @ematipico, @MichaReiser

Format editor, website and npm files
  editors/vscode/src/commands/syntaxTree.ts
  website/playground/src/utils.ts
Owners: @rome/staff

rebase
  crates/rome_js_formatter/src/js/classes/extends_clause.rs
  crates/rome_js_formatter/tests/specs/js/module/class/class.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/assignment.js.snap
Owners: @ematipico, @MichaReiser

Fix doclink
  crates/rome_js_formatter/src/js/expressions/assignment_expression.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Owners: @ematipico, @MichaReiser

fix CI
  npm/rome/scripts/generate-packages.mjs
Owners: @rome/staff

Format editor, website and npm files
  npm/rome/scripts/postinstall.js
  npm/rome/scripts/update-nightly-version.mjs
  website/playground/src/romeWorker.ts
  website/playground/src/utils.ts
  website/src/_data/env.js
  website/src/_includes/scripts/funding.js
  website/src/_includes/scripts/index.js
Owners: @rome/staff

Upgrade rust dependencies
  Cargo.lock
  crates/rome_js_formatter/src/check_reformat.rs
  crates/rome_js_formatter/tests/check_reformat.rs
Owners: @rome/staff, @ematipico, @MichaReiser

feat(rome_js_analyze): add an `inlineVariable` code action
  crates/rome_js_analyze/src/assists/js.rs
  crates/rome_js_analyze/src/assists/js/inline_variable.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/js/inlineVariable.js
  crates/rome_js_analyze/tests/specs/js/inlineVariable.js.snap
Owners: @leops, @xunilrj

add additional test cases
  crates/rome_js_analyze/tests/specs/js/inlineVariable.js
  crates/rome_js_analyze/tests/specs/js/inlineVariable.js.snap
Owners: @leops, @xunilrj

fix code assists not being enabled in the code actions query
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @ematipico, @leops

document the state type of `inlineVariable`
  crates/rome_js_analyze/src/assists/js/inline_variable.rs
Owners: @leops, @xunilrj

Update the version ID for the rule
  crates/rome_js_analyze/src/assists/js/inline_variable.rs
Owners: @leops, @xunilrj

chore: remove information that are not needed at the moment
  crates/rome_cli/src/stats/formatter.rs
  crates/rome_cli/src/stats/mod.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/reports_formatter_write.snap
Owners: @leops

chore: use "report" concept instead
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/reports/formatter.rs
  crates/rome_cli/src/reports/mod.rs
  crates/rome_cli/src/traversal.rs
Owners: @leops

chore: update snapshots
  crates/rome_cli/tests/snapshots/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/reports_formatter_write.snap
Owners: @leops

feat(rome_cli): add `--json` argument to format command
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/stats/formatter.rs
  crates/rome_cli/src/stats/mod.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
Owners: @rome/staff, @leops

chore: rebase
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main::reporter_json/reports_formatter_write.snap
Owners: @leops

chore: rebase
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/main_format/format_is_disabled.snap
  crates/rome_cli/tests/snapshots/main_reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main_reporter_json/reports_formatter_write.snap
Owners: @leops

feat(rome_js_formatter): Parenthesize assignments
  crates/rome_js_formatter/src/js/assignments/array_assignment_pattern.rs
  crates/rome_js_formatter/src/js/assignments/computed_member_assignment.rs
  crates/rome_js_formatter/src/js/assignments/identifier_assignment.rs
  crates/rome_js_formatter/src/js/assignments/object_assignment_pattern.rs
  crates/rome_js_formatter/src/js/assignments/parenthesized_assignment.rs
  crates/rome_js_formatter/src/js/assignments/static_member_assignment.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/js/unknown/unknown_assignment.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/assignments/as_assignment.rs
  crates/rome_js_formatter/src/ts/assignments/non_null_assertion_assignment.rs
  crates/rome_js_formatter/src/ts/assignments/type_assertion_assignment.rs
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/for-of/async-identifier.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/parenthesized.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/compiler/decrementAndIncrementOperators.ts.snap
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Owners: @ematipico, @MichaReiser

example of valid constants for noShoutyVariables
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  website/src/docs/lint/rules/noShoutyConstants.md
Owners: @leops, @xunilrj, @rome/staff

Upgrade pico-args, dhat, hashbrown,
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/commands/check.rs
  crates/rome_lsp/Cargo.toml
  crates/rome_rowan/Cargo.toml
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/coverage/Cargo.toml
  xtask/coverage/src/reporters.rs
  xtask/coverage/src/results.rs
Owners: @rome/staff, @leops, @ematipico

Remove `dbg`
  crates/rome_cli/src/commands/check.rs
Owners: @leops

Clippy
  crates/rome_js_formatter/src/js/assignments/parenthesized_assignment.rs
Owners: @ematipico, @MichaReiser

Restore check.rs
  crates/rome_cli/src/commands/check.rs
Owners: @leops

refactor(rome_wasm): move the WASM bindings for the Workspace to a crate (#3056)
  .github/workflows/deploy_playground.yml
  .github/workflows/deploy_playground_on_main.yml
  .github/workflows/pull_request_js.yml
  .github/workflows/release_cli.yml
  Cargo.lock
  Cargo.toml
  crates/rome_wasm/Cargo.toml
  crates/rome_wasm/build.rs
  crates/rome_wasm/src/lib.rs
  crates/rome_wasm/src/utils.rs
  crates/rome_wasm/tests/web.rs
  npm/rome/scripts/generate-packages.mjs
  website/playground/.gitignore
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/romeWorker.ts
Owners: @rome/staff

feat(rome_js_analyze): add an `inlineVariable` code action (#2985)
  crates/rome_js_analyze/src/assists/js.rs
  crates/rome_js_analyze/src/assists/js/inline_variable.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/js/inlineVariable.js
  crates/rome_js_analyze/tests/specs/js/inlineVariable.js.snap
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @xunilrj, @ematipico

feat(node-api): create a node wrapper library for the JSON-RPC daemon server protocol
  .cargo/config.toml
  .github/workflows/pull_request.yml
  Cargo.lock
  crates/rome_service/Cargo.toml
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_wasm/build.rs
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/pnpm-lock.yaml
  npm/backend-jsonrpc/src/command.ts
  npm/backend-jsonrpc/src/index.ts
  npm/backend-jsonrpc/src/socket.ts
  npm/backend-jsonrpc/src/transport.ts
  npm/backend-jsonrpc/src/workspace.ts
  npm/backend-jsonrpc/tsconfig.json
  npm/rome/scripts/generate-packages.mjs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_bindings.rs
  xtask/codegen/src/main.rs
Owners: @rome/staff, @leops, @ematipico

force the tests to exit on completion
  npm/backend-jsonrpc/tests/workspace.mjs
Owners: @rome/staff

fix the test workflow
  .github/workflows/pull_request.yml
Owners: @rome/staff

address PR review
  .gitattributes
  .github/workflows/pull_request.yml
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/pnpm-lock.yaml
  npm/backend-jsonrpc/src/command.ts
  npm/backend-jsonrpc/src/index.ts
  npm/backend-jsonrpc/src/socket.ts
  npm/backend-jsonrpc/src/transport.ts
  npm/backend-jsonrpc/src/workspace.ts
  npm/backend-jsonrpc/tests/transport.test.mjs
  npm/backend-jsonrpc/tests/workspace.mjs
  npm/backend-jsonrpc/tests/workspace.test.mjs
  xtask/codegen/src/generate_bindings.rs
  xtask/codegen/src/lib.rs
Owners: @rome/staff

add tests
  .github/workflows/pull_request.yml
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/tests/workspace.mjs
Owners: @rome/staff

update generated bindings
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
