Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

Temporarily remove branch protection
  .github/workflows/release_js_api.yml
Owners: @rome/staff

Fix dependencies
  .github/workflows/release_js_api.yml
  npm/js-api/package.json
Owners: @rome/staff

Fix extraction path
  .github/workflows/release_js_api.yml
Owners: @rome/staff

enumerate running rome servers in `rome rage`
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
Owners: @leops

release: v10.0.1 (#3649)
  CHANGELOG.md
  editors/vscode/package-lock.json
  editors/vscode/package.json
  npm/js-api/package.json
  npm/rome/package.json
Owners: @rome/staff

Undo testing changes & pump version
  .github/workflows/release_js_api.yml
  npm/js-api/package.json
Owners: @rome/staff

fix the build on unix
  crates/rome_cli/src/service/unix.rs
Owners: @leops

refactor(playground): settings button
  website/playground/src/Playground.tsx
Owners: @rome/staff

feat(playground): add settings button and group IR (#3559)
  website/playground/src/App.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/Playground.tsx
  website/playground/src/SettingsMenu.tsx
Owners: @rome/staff

fix(rome_cli): ensures the service only connects to compatible versions (#3642)
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
Owners: @leops

feat(rome_lsp): shutdown the automatically spawned daemon instance once the last client disconnect
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
Owners: @leops, @ematipico

stop the server immediately if at least one session was initialized
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_lsp/src/server.rs
Owners: @leops, @ematipico

address PR review
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_lsp/src/server.rs
  editors/vscode/README.md
Owners: @leops, @ematipico, @rome/staff

fix(npm/js_api): Ensure JS API build contains `dist` folder (#3648)
  .github/workflows/release_js_api.yml
  npm/js-api/.gitignore
  npm/js-api/package.json
Owners: @rome/staff

build rome using older glibc
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
Owners: @rome/staff

feat(rome_lsp): stop the daemon after the last client disconnects (#3643)
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  editors/vscode/README.md
Owners: @leops, @ematipico, @rome/staff

feat(rome_cli): print number of errors in summary
  crates/rome_cli/src/termination.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

fix aarch64 tag
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
Owners: @rome/staff

fix x86_x64 container name
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
Owners: @rome/staff

fix(npm/js-api): Lazy load backend implementations
  npm/js-api/package.json
  npm/js-api/src/daemon.ts
  npm/js-api/src/nodeWasm.ts
Owners: @rome/staff

install rustup
  .github/workflows/release_cli.yml
Owners: @rome/staff

fix trailing comma
  npm/js-api/src/daemon.ts
Owners: @rome/staff

ignoring arm64 for the moment
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
Owners: @rome/staff

sourcing rust env variables
  .github/workflows/release_lsp.yml
Owners: @rome/staff

chore: update snapshots, format correctly
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/snapshots/main_commands_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_commands_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_linter.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_linter_via_cli.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_runs_linter_not_formatter_issue_3495.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/formatting_error.snap
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @ematipico

sourcing rust env variables
  .github/workflows/release_cli.yml
Owners: @rome/staff

fix(npm/js-api): Lazy load backend implementations (#3652)
  npm/js-api/package.json
  npm/js-api/src/daemon.ts
  npm/js-api/src/nodeWasm.ts
Owners: @rome/staff

doc(npm/js-api): Add experimental warning to README
  npm/js-api/README.md
Owners: @rome/staff

chore: fix codegen
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

fix(npm/js-api): Import type from @rometools/backend-jsonrpc (#3647)
  npm/js-api/src/index.ts
Owners: @rome/staff

change indent-style from tabs to tab
  website/docs/src/formatter/index.md
Owners: @rome/staff

Format files
  website/docs/astro.config.ts
  website/docs/src/navigation-utils.ts
  xtask/contributors/src/main.rs
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

Update discord logo
  website/docs/src/svg/discord.svg
Owners: @rome/staff

docs: change indent-style from tabs to tab (#3657)
  website/docs/src/formatter/index.md
Owners: @rome/staff

using toolchain action
  .github/workflows/release_cli.yml
Owners: @rome/staff

missing required toolchain
  .github/workflows/release_cli.yml
Owners: @rome/staff

install cargo audit
  .github/workflows/release_cli.yml
Owners: @rome/staff

doc(website): Use `pnpm rome` and `yarn rome` instead of longer versions
  website/docs/src/guides/getting-started.md
Owners: @rome/staff

fix(website): fix grammar mistake
  website/docs/src/guides/getting-started.md
Owners: @rome/staff

fix(website): fix grammar mistake (#3666)
  website/docs/src/guides/getting-started.md
Owners: @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
