Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

docs: update formatter and linter docs (#3536)
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_js_formatter/src/lib.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser

doc(rome_js_parser,rome_js_formatter): Move Parser Test documentation to parser
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_parser/src/lib.rs
Owners: @ematipico, @MichaReiser, @xunilrj

fix: simply escape method by reviews
  crates/rome_js_analyze/src/utils/escape.rs
Owners: @leops, @xunilrj

fix: more refactoring
  crates/rome_js_analyze/src/utils/escape.rs
Owners: @leops, @xunilrj

chore: merge
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
  website/src/docs/lint/rules/noUnusedVariables.md
Owners: @leops, @xunilrj, @rome/staff

ci: Fix version on windows build
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
Owners: @rome/staff

doc(rome_js_parser,rome_js_formatter): Move Parser Test documentation (#3540)
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_parser/src/lib.rs
Owners: @ematipico, @MichaReiser, @xunilrj

fix(rome_js_analyze): keep tokens when simplifying logical expression
  crates/rome_js_analyze/src/analyzers/complexity/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression.js
  crates/rome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression.js.snap
  crates/rome_rowan/src/ast/mutation.rs
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
Owners: @leops, @xunilrj, @rome/staff

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/complexity/use_simplified_logic_expression.rs
  crates/rome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression.js
  crates/rome_rowan/src/ast/mutation.rs
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
Owners: @leops, @xunilrj, @rome/staff

ci: Fix version on windows build
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
Owners: @rome/staff

ci: Don't ship node modules
  editors/vscode/.vscodeignore
  editors/vscode/package.json
Owners: @rome/staff

Update package-lock.json
  editors/vscode/package-lock.json
Owners: @rome/staff

feat(rome_cli): allow to skip checks in `rome ci` command
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter_via_cli.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_linter_via_cli.snap
Owners: @leops

docs(website): fix an invalid diagnostic example for `useAnchorContent`
  crates/rome_js_analyze/src/analyzers/a11y/use_anchor_content.rs
  website/src/docs/lint/rules/useAnchorContent.md
Owners: @leops, @xunilrj, @rome/staff

fix: more refactoring
  crates/rome_js_analyze/src/utils/escape.rs
Owners: @leops, @xunilrj

ci: Fix version on windows build (#3543)
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
  editors/vscode/.vscodeignore
  editors/vscode/package-lock.json
  editors/vscode/package.json
Owners: @rome/staff

fix: update snapshot
  crates/rome_js_analyze/tests/specs/style/useTemplate.js.snap
Owners: @leops, @xunilrj

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/complexity/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression.js
  crates/rome_js_analyze/tests/specs/complexity/useSimplifiedLogicExpression.js.snap
Owners: @leops, @xunilrj

doc(website): Rework Getting Started
  website/.eleventy.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/post-installation.md
  website/src/_includes/docs/reference.md
  website/src/funding-contributions.md
  website/src/funding-success.md
  website/src/funding.md
  website/src/index.md
  website/src/standalone-executable.md
Owners: @rome/staff

feat(vscode): watch configuration file
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/requests/configuration_updated.rs
  crates/rome_lsp/src/requests/mod.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/src/lsp_requests.ts
  editors/vscode/src/main.ts
Owners: @ematipico, @leops, @rome/staff

chore: fix compile issue
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/workspace/client.rs
  editors/vscode/src/lsp_requests.ts
Owners: @ematipico, @leops, @rome/staff

chore: send new configuration via client
  crates/rome_lsp/src/requests/configuration_updated.rs
  crates/rome_lsp/src/requests/mod.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  editors/vscode/package.json
  editors/vscode/src/lsp_requests.ts
  editors/vscode/src/main.ts
Owners: @ematipico, @leops, @rome/staff

chore: fix missing feature
  crates/rome_service/Cargo.toml
Owners: @leops, @ematipico

chore: format and check
  editors/vscode/package.json
  editors/vscode/src/lsp_requests.ts
  editors/vscode/src/main.ts
Owners: @rome/staff

chore: format and check
  editors/vscode/README.md
  editors/vscode/package-lock.json
Owners: @rome/staff

chore: code suggestions
  editors/vscode/src/main.ts
Owners: @rome/staff

docs(website): fix an invalid diagnostic example for `useAnchorContent` (#3546)
  crates/rome_js_analyze/src/analyzers/a11y/use_anchor_content.rs
  website/src/docs/lint/rules/useAnchorContent.md
Owners: @leops, @xunilrj, @rome/staff

fix(rome_js_analyzer): escape dollar signs and backticks properly for useTemplate rule (#3477)
  crates/rome_js_analyze/src/analyzers/style/use_template.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/escape.rs
  crates/rome_js_analyze/tests/specs/style/useTemplate.js
  crates/rome_js_analyze/tests/specs/style/useTemplate.js.snap
Owners: @leops, @xunilrj

doc(website): Rework Getting Started (#3547)
  website/.eleventy.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/post-installation.md
  website/src/_includes/docs/reference.md
  website/src/funding-contributions.md
  website/src/funding-success.md
  website/src/funding.md
  website/src/index.md
  website/src/standalone-executable.md
Owners: @rome/staff

Add redirects file
  crates/rome_cli/src/commands/init.rs
  website/src/_includes/docs/configuration.md
  website/src/_includes/docs/getting-started.md
  website/static/_redirects
Owners: @leops, @rome/staff

Use permalink in init command
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
Owners: @leops

Fix formatter options
  website/src/_includes/docs/formatter.md
Owners: @rome/staff

fix(rome_js_analyze): fix const dependency in react hooks (#3508)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/is_constant.rs
  crates/rome_js_semantic/src/tests/references.rs
  website/src/docs/lint/rules/useExhaustiveDependencies.md
Owners: @leops, @xunilrj, @rome/staff

Use `Hyperlink`
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
Owners: @leops

chore: code suggestions
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_errors_for_all_disabled_checks.snap
Owners: @leops

Undo link removal because some terminal don't support Hyperlink
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
Owners: @leops

doc(rome_cli): Use permalinks in `rome init` (#3550)
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  website/src/_includes/docs/configuration.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
  website/static/_redirects
Owners: @leops, @rome/staff

chore: code suggestions
  crates/rome_fs/src/lib.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  editors/vscode/src/main.ts
Owners: @leops, @ematipico, @rome/staff

doc(rome_diagnostics): Move Writing Diagnostics to the top
  crates/rome_diagnostics/CONTRIBUTING.md
Owners: @rome/staff

chore: remove client watcher
  editors/vscode/src/main.ts
Owners: @rome/staff
