Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

fix: merge conflict
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

useCamelCase accepts function when they are used in new or exported
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase.js
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase.js.snap
Owners: @leops, @xunilrj

docs(website): update the configuration rules
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase.js.snap
Owners: @leops, @xunilrj

fix: leading_trivia
  crates/rome_js_analyze/src/analyzers/nursery/no_new_symbol.rs
  crates/rome_js_analyze/tests/specs/nursery/noNewSymbol.js.snap
Owners: @leops, @xunilrj

chore: clean code
  crates/rome_js_analyze/src/analyzers/nursery/no_new_symbol.rs
Owners: @leops, @xunilrj

feat(rome_js_analyze): useCamelCase accepts function when they are used in new or exported (#3210)
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase.js
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase.js.snap
Owners: @leops, @xunilrj

perf(rome_rowan): `SyntaxNodeText` improvements
  crates/rome_diagnostics/src/file.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/syntax_node_text.rs
  crates/rome_rowan/src/syntax_token_text.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_text_size/src/range.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

docs(website): update the configuration rules (#3214)
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

feat(rome_formatter): Source Map iteration over deleted ranges
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

Clippy
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

perf(rome_rowan): `SyntaxNodeText` improvements (#3217)
  crates/rome_diagnostics/src/file.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/syntax_node_text.rs
  crates/rome_rowan/src/syntax_token_text.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_text_size/src/range.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: codegen
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
Owners: @leops, @ematipico, @rome/staff

Use `&str` instead of `&String`
  crates/rome_formatter/src/source_map.rs
Owners: @ematipico, @MichaReiser

chore: update website
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noNewSymbol.md
Owners: @rome/staff

chore: made feature optional
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

docs: update CONTRIBUTING.md file
  CONTRIBUTING.md
Owners: @rome/staff

fix: codegen
  npm/backend-jsonrpc/src/workspace.ts
Owners: @rome/staff

feat(rome_formatter): Source Map iteration over deleted ranges (#3219)
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Owners: @ematipico, @MichaReiser

chore: code review
  CONTRIBUTING.md
Owners: @rome/staff

docs: update CONTRIBUTING.md file (#3220)
  CONTRIBUTING.md
Owners: @rome/staff

feature(vscode): resolve `lspBin` using a relative path
  editors/vscode/package.json
  editors/vscode/src/main.ts
Owners: @rome/staff

chore: remove dirty code
  editors/vscode/src/main.ts
Owners: @rome/staff

feat(rome_service): ignore files (#3146)
  crates/rome_analyze/src/categories.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_when_file_is_ignored.snap
  crates/rome_cli/tests/snapshots/main_format/does_not_format_ignored_files.snap
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/matcher/LICENSE-APACHE
  crates/rome_service/src/matcher/LICENSE-MIT
  crates/rome_service/src/matcher/mod.rs
  crates/rome_service/src/matcher/pattern.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_wasm/src/lib.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/credits.md
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

chore(website): add inspiration section
  website/src/credits.md
Owners: @rome/staff

feature(vscode): resolve `lspBin` using a relative path (#3224)
  editors/vscode/package.json
  editors/vscode/src/main.ts
Owners: @rome/staff

feat: 🎸 init
  editors/helix/manual.md
Owners: @rome/staff

chore: 🤖 update video
  editors/helix/manual.md
Owners: @rome/staff

chore: 🤖 tweak grammar
  editors/helix/manual.md
Owners: @rome/staff

Some more improvements
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/lone-arg.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/break-calls/react.js.snap
Owners: @ematipico, @MichaReiser

Format IfStatement comments
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/js/statements/expression_statement.rs
  crates/rome_js_formatter/src/js/statements/if_statement.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers-with-holes.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/call.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/if.js
  crates/rome_js_formatter/tests/specs/prettier/js/comments/if.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/switch.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/empty-object.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/trailing-comma/trailing_whitespace.js.snap
Owners: @rome/staff, @ematipico, @MichaReiser

Format Unknown nodes
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/comments/map.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/unknown/unknown.rs
  crates/rome_js_formatter/src/js/unknown/unknown_assignment.rs
  crates/rome_js_formatter/src/js/unknown/unknown_binding.rs
  crates/rome_js_formatter/src/js/unknown/unknown_expression.rs
  crates/rome_js_formatter/src/js/unknown/unknown_import_assertion_entry.rs
  crates/rome_js_formatter/src/js/unknown/unknown_member.rs
  crates/rome_js_formatter/src/js/unknown/unknown_named_import_specifier.rs
  crates/rome_js_formatter/src/js/unknown/unknown_parameter.rs
  crates/rome_js_formatter/src/js/unknown/unknown_statement.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/export-default-from.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/dynamic_imports.js.snap
  xtask/codegen/src/formatter.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Format While comments
  crates/rome_js_formatter/src/comments.rs
Owners: @ematipico, @MichaReiser

Skipped Trivia
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/classes.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/multiple.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/inline-decorators.ts.snap
Owners: @ematipico, @MichaReiser

Fix member chain commands handling
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/member_chain/groups.rs
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/issue-4125.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/optional-chaining/comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
Owners: @ematipico, @MichaReiser

Variable declarator formatting
  crates/rome_formatter/src/comments.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/call2.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/identifier.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/string.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/variable_declarator.js.snap
Owners: @ematipico, @MichaReiser

Print comments AFTER the script/module directive
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/js/auxiliary/module.rs
  crates/rome_js_formatter/src/js/auxiliary/script.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments/multi-comments-on-same-line.js.snap
Owners: @ematipico, @MichaReiser

Format function declaration comments
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/issue-8045.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/function-declaration.js.snap
Owners: @ematipico, @MichaReiser

Remove Comment Format Element
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

Fix ignored comment range
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser
