Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

feat(vscode): watch configuration file (#3284)
  crates/rome_fs/src/lib.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/README.md
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/src/lsp_requests.ts
  editors/vscode/src/main.ts
Owners: @leops, @ematipico, @rome/staff

feat(rome_cli): allow to skip checks in `rome ci` command (#3545)
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter_via_cli.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_linter_via_cli.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_errors_for_all_disabled_checks.snap
Owners: @leops

Apply suggestions from code review
  CHANGELOG.md
Owners: @rome/staff

chore: code suggestions
  .github/ISSUE_TEMPLATE/01_bug.yml
  CHANGELOG.md
Owners: @rome/staff

chore: typo
  CHANGELOG.md
Owners: @rome/staff

chore: new feature in LSP
  CHANGELOG.md
Owners: @rome/staff

release: 10.0.0
  .github/ISSUE_TEMPLATE/01_bug.yml
  CHANGELOG.md
  npm/rome/README.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/reference.md
Owners: @rome/staff

Update .github/ISSUE_TEMPLATE/01_bug.yml
  .github/ISSUE_TEMPLATE/01_bug.yml
Owners: @rome/staff

chore: clippy
  xtask/lintdoc/src/main.rs
Owners: @rome/staff

chore: better wording
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/_includes/docs/reference.md
Owners: @rome/staff

chore: add `files.maxSize`
  CHANGELOG.md
  crates/rome_service/src/configuration/mod.rs
  website/src/_includes/docs/reference.md
Owners: @rome/staff, @leops, @ematipico

chore: codegen
  website/src/_includes/docs/reference.md
  website/src/_includes/docs/reference/groups.md
Owners: @rome/staff

fix(rome_js_formatter): unexpected empty_line addition
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/interpreter.js.snap
  crates/rome_js_formatter/tests/specs/js/module/script.js.snap
  crates/rome_js_formatter/tests/specs/js/script/script.js.snap
Owners: @ematipico, @MichaReiser

chore: add `--files-max-size` in the help command
  CHANGELOG.md
  crates/rome_cli/src/commands/help.rs
  website/src/_includes/docs/reference.md
Owners: @rome/staff, @leops

chore: cargo fmt
  crates/rome_js_formatter/src/utils/mod.rs
Owners: @ematipico, @MichaReiser

Rename titles
  crates/rome_diagnostics/CONTRIBUTING.md
Owners: @rome/staff

chore: list of breaking changes
  website/src/_includes/docs/philosophy.md
Owners: @rome/staff

feat(rome_js_formatter): number literals, number types, bigint types
  crates/rome_js_formatter/src/js/expressions/number_literal_expression.rs
  crates/rome_js_formatter/src/ts/types/big_int_literal_type.rs
  crates/rome_js_formatter/src/ts/types/number_literal_type.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/number_utils.rs
  crates/rome_js_formatter/tests/specs/prettier/js/literal-numeric-separator/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/literal/number.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/range/boundary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeparams/consistent/simple-types.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/webhost/webtsc.ts.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): to check next_token and lines before the token
  crates/rome_js_formatter/src/utils/mod.rs
Owners: @ematipico, @MichaReiser

test: interpreter with empty line
  crates/rome_js_formatter/tests/specs/js/module/interpreter_with_empty_line.js
  crates/rome_js_formatter/tests/specs/js/module/interpreter_with_empty_line.js.snap
Owners: @ematipico, @MichaReiser

docs(rome_diagnostics): Move Writing Diagnostics to the top (#3551)
  crates/rome_diagnostics/CONTRIBUTING.md
Owners: @rome/staff

refactor: always format an interpreter token for safety
  crates/rome_js_formatter/src/utils/mod.rs
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): make empty line after hashbang optional (#3552)
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/interpreter.js.snap
  crates/rome_js_formatter/tests/specs/js/module/interpreter_with_empty_line.js
  crates/rome_js_formatter/tests/specs/js/module/interpreter_with_empty_line.js.snap
  crates/rome_js_formatter/tests/specs/js/script/script.js.snap
Owners: @ematipico, @MichaReiser

small cleanups
  crates/rome_js_formatter/src/ts/types/number_literal_type.rs
  crates/rome_js_formatter/src/utils/number_utils.rs
Owners: @ematipico, @MichaReiser

None-terminated string instead of null-terminated string
  crates/rome_js_formatter/src/utils/number_utils.rs
Owners: @ematipico, @MichaReiser

chore: code suggestions
  website/src/_includes/docs/philosophy.md
Owners: @rome/staff

chore: small rewords of the `README.md`
  npm/rome/README.md
  website/src/_includes/docs/getting-started.md
Owners: @rome/staff

chore: bump versions
  editors/vscode/package.json
  npm/js-api/package.json
  npm/rome/package.json
Owners: @rome/staff

Fix redundant escape removal
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/specs/prettier/js/directives/escaped.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/quotes/strings.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/non-octal-eight-and-nine.js.snap
Owners: @ematipico, @MichaReiser

clean up unnecessary struct
  crates/rome_js_formatter/src/utils/number_utils.rs
Owners: @ematipico, @MichaReiser

chore: add `CI` section
  website/src/_includes/docs/ci.md
  website/src/docs.md
Owners: @rome/staff

lint
  crates/rome_js_formatter/src/utils/number_utils.rs
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): Remove unnecessary string escapes (#3555)
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/specs/prettier/js/directives/escaped.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/quotes/strings.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/non-octal-eight-and-nine.js.snap
Owners: @ematipico, @MichaReiser

feat(rome_js_formatter): number literals, number literal types, bigint literal types (#3554)
  crates/rome_js_formatter/src/js/expressions/number_literal_expression.rs
  crates/rome_js_formatter/src/ts/types/big_int_literal_type.rs
  crates/rome_js_formatter/src/ts/types/number_literal_type.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/number_utils.rs
  crates/rome_js_formatter/tests/specs/prettier/js/literal-numeric-separator/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/literal/number.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/range/boundary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeparams/consistent/simple-types.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/webhost/webtsc.ts.snap
Owners: @ematipico, @MichaReiser

Blog Rome v10
  website/src/_includes/docs/cli-screenshots/noUnreachable-example.md
  website/src/_includes/figure.liquid
  website/src/blog/posts/2022-11-08-rome-10.md
  website/src/styles/_content.scss
  website/static/img/blog/eslint-rome-comparison.mp4
  website/static/img/blog/micha-avatar.jpg
Owners: @rome/staff

Add supercharged window
  website/playground/src/index.css
  website/src/_includes/layouts/base.liquid
  website/src/index.md
  website/src/styles/_blog.scss
  website/src/styles/_global.scss
  website/src/styles/_header.scss
  website/src/styles/_homepage.scss
  website/src/styles/_variables.scss
  website/src/styles/index.scss
Owners: @rome/staff

chore: Upgrade to Rust 1.65.0
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/cst.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_formatter/src/utils/array.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/tests/specs/prettier/js/shebang/shebang.js.snap
  rust-toolchain.toml
  xtask/codegen/src/formatter.rs
Owners: @ematipico, @MichaReiser, @rome/staff

Fix new clippy warnings
  crates/rome_analyze/src/services.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_function_assign.rs
  crates/rome_js_formatter/src/cst.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_parser/src/parser/parse_error.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/src/syntax/js_parse_error.rs
  crates/rome_js_parser/src/syntax/stmt.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/src/test_utils.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_syntax/src/numbers.rs
  crates/rome_rowan/src/cow_mut.rs
  crates/rome_rowan/src/green/node.rs
  crates/rome_rowan/src/green/token.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  xtask/codegen/src/formatter.rs
  xtask/codegen/src/generate_syntax_kinds.rs
  xtask/contributors/src/main.rs
  xtask/coverage/src/js/test262.rs
  xtask/coverage/src/runner.rs
  xtask/libs_bench/benches/contains.rs
  xtask/libs_bench/benches/contains_criterion.rs
  xtask/src/glue.rs
Owners: @leops, @xunilrj, @ematipico, @MichaReiser, @rome/staff

Add dates
  website/src/index.md
Owners: @rome/staff

Format
  crates/rome_js_formatter/src/lib.rs
  xtask/coverage/src/runner.rs
  xtask/libs_bench/benches/contains.rs
  xtask/libs_bench/benches/contains_criterion.rs
Owners: @ematipico, @MichaReiser, @rome/staff
