Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

style: 💄 fmt
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
Owners: @leops, @xunilrj

chore: 🤖 avoid unncessary cast
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
Owners: @leops, @xunilrj

fix: 🐛 cr issue
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
Owners: @leops, @xunilrj

fix: 🐛 use ctx model api
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
Owners: @leops, @xunilrj

fix: 🐛 lint doc
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noImportAssign.md
Owners: @rome/staff

fix: 🐛 cr issue
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js.snap
Owners: @leops, @xunilrj

chore: 🤖 lintdoc
  website/src/docs/lint/rules/noImportAssign.md
Owners: @rome/staff

chore: 🤖 update log
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noImportAssign.md
Owners: @leops, @xunilrj, @rome/staff

chore: 🤖 init
  crates/rome_js_analyze/src/analyzers/no_extra_boolean_cast.rs
Owners: @leops, @xunilrj

chore: 🤖 finish first case
  crates/rome_js_analyze/src/analyzers/no_extra_boolean_cast.rs
  crates/rome_js_analyze/tests/specs/noExtraBooleanCast.js
  crates/rome_js_analyze/tests/specs/noExtraBooleanCast.js.snap.new
Owners: @leops, @xunilrj

fix: 🐛 style and fmt
  crates/rome_js_analyze/src/analyzers/no_extra_boolean_cast.rs
Owners: @leops, @xunilrj

feat: 🎸 finish
  crates/rome_js_analyze/src/analyzers/no_extra_boolean_cast.rs
  crates/rome_js_analyze/tests/specs/noExtraBooleanCast.js.snap
  crates/rome_js_analyze/tests/specs/noExtraBooleanCast.js.snap.new
Owners: @leops, @xunilrj

feat: 🎸 more doc comment
  crates/rome_js_analyze/src/analyzers/no_extra_boolean_cast.rs
  crates/rome_js_analyze/tests/specs/noExtraBooleanCast.js
  crates/rome_js_analyze/tests/specs/noExtraBooleanCast.js.snap
Owners: @leops, @xunilrj

docs: ✏️ more doc
  crates/rome_js_analyze/src/analyzers/no_extra_boolean_cast.rs
  crates/rome_js_analyze/tests/specs/noExtraBooleanCast.js.snap
  website/src/docs/lint/rules/noExtraBooleanCast.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

fix: 🐛 compile issue
  crates/rome_js_analyze/src/analyzers/no_extra_boolean_cast.rs
Owners: @leops, @xunilrj

docs: ✏️ update doc
  crates/rome_js_analyze/src/analyzers/no_extra_boolean_cast.rs
  website/src/docs/lint/rules/noExtraBooleanCast.md
Owners: @leops, @xunilrj, @rome/staff

hore: 🤖 merge main lint group
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
  website/src/docs/lint/rules/noExtraBooleanCast.md
Owners: @leops, @xunilrj, @rome/staff

test: 💍 update snapshot
  crates/rome_js_analyze/tests/specs/js/noExtraBooleanCast.js.snap
Owners: @leops, @xunilrj

chore: 🤖 tweak
  crates/rome_js_analyze/tests/specs/js/noExtraBooleanCast.js
  crates/rome_js_analyze/tests/specs/noExtraBooleanCast.js.snap
Owners: @leops, @xunilrj

docs: ✏️ add doc comment
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
Owners: @leops, @xunilrj

style: 💄 fmt
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
Owners: @leops, @xunilrj

fix: 🐛 cr issues
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
Owners: @leops, @xunilrj

fix: 🐛 cr issues
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
Owners: @leops, @xunilrj

docs: ✏️ update doc
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noExtraBooleanCast.md
Owners: @leops, @xunilrj, @rome/staff

chore: 🤖 codegen configuration
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

chore: 🤖 codegen configuration
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

feat(rome_js_analyze): noExtraBooleanCast (#2868)
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
  crates/rome_js_analyze/tests/specs/js/noExtraBooleanCast.js
  crates/rome_js_analyze/tests/specs/js/noExtraBooleanCast.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noExtraBooleanCast.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

feat(rome_js_ananlyze): noImportAssign (#2922)
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_import_assign.rs
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js
  crates/rome_js_analyze/tests/specs/js/noImportAssign.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noImportAssign.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

ci: 🎡 fix broken ci
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

ci: 🎡 fix broken ci (#2994)
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @ematipico

feat(rome_service): apply formatting when running `check --apply`
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

chore: remove rule from being recommended
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/workspace.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useSimplifiedLogicExpression.md
Owners: @leops, @ematipico, @rome/staff

chore: remove indent style from requests
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

chore: apply suggested fixes
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

chore: clippy and tests
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
Owners: @leops

chore: apply suggestions
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/workspace.rs
Owners: @leops, @ematipico

no unused variables lint rule
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

fmt and clippy issues
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

lint doc and removing dbg
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/src/utils/batch.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

adjustments
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables.js.snap
Owners: @leops, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
