Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fix(rome_js_formatter): in JSX, some spaces are removed #3211
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/significant-space/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/stateless-arrow-fn/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
Owners: @ematipico, @MichaReiser

fix(rome_js_formatter): in JSX, some spaces are removed #3211 (#3251)
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/significant-space/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/stateless-arrow-fn/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
Owners: @ematipico, @MichaReiser

feat(rome_analyze): use serde to deserialize rule settings (#3347)
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/options.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_service/Cargo.toml
Owners: @leops, @xunilrj, @ematipico

feat(rome_js_analyze): rule `useValidAnchor` (#3369)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useValidAnchor.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: merge from main
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_analyze/src/context.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_auto_focus.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
Owners: @leops, @xunilrj

fix(rome_formatter): Fill fits
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/queue.rs
Owners: @ematipico, @MichaReiser

Documentation, improve `stack` perf
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/queue.rs
  crates/rome_formatter/src/printer/stack.rs
Owners: @ematipico, @MichaReiser

updated snapshots after rebase
  crates/rome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
Owners: @ematipico, @MichaReiser

Add drop bomb
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/printer/mod.rs
Owners: @rome/staff, @ematipico, @MichaReiser

feat(rome_js_analyze): new rule `useBlankTarget`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useBlankTarget.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

clippy
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
Owners: @leops, @xunilrj

chore: case-insensitive cases
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx.snap
  website/src/docs/lint/rules/useBlankTarget.md
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: code suggestions
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/options.rs
  crates/rome_analyze/src/services.rs
  crates/rome_js_analyze/src/semantic_services.rs
Owners: @leops, @xunilrj

feat(rome_js_analyze): new rule `useBlankTarget` (#3356)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useBlankTarget.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_analyze): new rule `noRestrictedGlobals`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_restricted_globals.rs
  crates/rome_js_analyze/tests/specs/nursery/noRestrictedGlobals.js
  crates/rome_js_analyze/tests/specs/nursery/noRestrictedGlobals.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  editors/vscode/configuration_schema.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noRestrictedGlobals.md
Owners: @rome/staff, @leops, @xunilrj

chore: code suggestion
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_restricted_globals.rs
Owners: @leops, @xunilrj

clippy
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_restricted_globals.rs
Owners: @leops, @xunilrj

chore: rebase
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @ematipico, @rome/staff

chore: clippy
  crates/rome_analyze/src/options.rs
Owners: @leops, @xunilrj

chore: merge
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
Owners: @leops, @xunilrj

fix(rome_formatter): Fill fits (#3374)
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/queue.rs
  crates/rome_formatter/src/printer/stack.rs
  crates/rome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
Owners: @rome/staff, @ematipico, @MichaReiser

fix(rome_js_parser): Export `{"a"} from`
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/test_data/inline/err/export_named_clause_err.rast
  crates/rome_js_parser/test_data/inline/ok/export_named_from_clause.js
  crates/rome_js_parser/test_data/inline/ok/export_named_from_clause.rast
Owners: @MichaReiser, @xunilrj

feat(rome_js_analyze): compute `AnalyzerOptions` from `Workspace`
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

chore: 🤖 add some doc
  crates/rome_js_parser/src/syntax/typescript/types.rs
Owners: @MichaReiser, @xunilrj

Fix regression
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/test_data/inline/err/export_named_clause_err.rast
Owners: @MichaReiser, @xunilrj

chore: 🤖 more doc
  crates/rome_js_parser/src/syntax/typescript/types.rs
Owners: @MichaReiser, @xunilrj

fix(rome_js_parser): Export `{"a"} from` (#3380)
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/test_data/inline/err/export_named_clause_err.rast
  crates/rome_js_parser/test_data/inline/ok/export_named_from_clause.js
  crates/rome_js_parser/test_data/inline/ok/export_named_from_clause.rast
Owners: @MichaReiser, @xunilrj

fix(rome_diagnostics): fix the printing of empty diff lines
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_linter.snap
  crates/rome_diagnostics/src/v2/display/diff.rs
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/style/noShoutyConstants.js.snap
  website/src/docs/lint/rules/noShoutyConstants.md
Owners: @leops, @rome/staff, @xunilrj

feat(rome_formatter): Measure unicode width
  Cargo.lock
  crates/rome_diagnostics/src/v2/display/frame.rs
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/module-string-names/module-string-names-export.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/unicode/combining-characters.js.snap
  crates/rome_js_parser/test_data/inline/err/export_huge_function_in_script.rast
Owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj

feat(rome_js_analyze): new rule `noRestrictedGlobals` (#3342)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_restricted_globals.rs
  crates/rome_js_analyze/tests/specs/nursery/noRestrictedGlobals.js
  crates/rome_js_analyze/tests/specs/nursery/noRestrictedGlobals.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noRestrictedGlobals.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: code suggestions
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/options.rs
Owners: @leops, @xunilrj

chore: merge fix
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_restricted_globals.rs
Owners: @leops, @xunilrj

feat(rome_formatter): Measure unicode width (#3383)
  Cargo.lock
  crates/rome_diagnostics/src/v2/display/frame.rs
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/module-string-names/module-string-names-export.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/unicode/combining-characters.js.snap
  crates/rome_js_parser/test_data/inline/err/export_huge_function_in_script.rast
Owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj

release: 0.10.1
  CHANGELOG.md
  editors/vscode/package.json
  npm/rome/package.json
Owners: @rome/staff

release: 0.10.1 (#3385)
  CHANGELOG.md
  editors/vscode/package.json
  npm/rome/package.json
Owners: @rome/staff

initial rule implementation
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @rome/staff, @leops, @xunilrj

chore: clean up code
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @leops, @xunilrj

chore: update doc string
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
Owners: @leops, @xunilrj

add tests/snapshots
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx.snap
Owners: @leops, @xunilrj

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
