Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

rollback index being pub
  crates/rome_rowan/src/syntax/node.rs
Owners: @rome/staff

refactor the service bag to use explicit lifetimes instead of reference counting
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/query.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/services.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_js_analyze/src/semantic_services.rs
Owners: @leops, @xunilrj

fix(playground): malformed prettier formating result (#2883)
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

refactor(playground): Worker code handling
  website/playground/src/App.tsx
  website/playground/src/prettierWorker.ts
  website/playground/src/romeWorker.ts
Owners: @rome/staff

refactor(rome_formatter): Use `memoized.inspect` over `buffer.inspect`
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
Owners: @ematipico, @MichaReiser

lint rule doc
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noShoutyConstants.md
Owners: @rome/staff

Fix documentation
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

Fix documentation
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/prelude.rs
  crates/rome_js_formatter/src/utils/mod.rs
Owners: @ematipico, @MichaReiser

feature(rome_js_formatter): Track suppression handling
  Cargo.lock
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/classes/property_class_member.rs
  crates/rome_js_formatter/src/js/module/import_named_clause.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/format_conditional.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_rowan/src/syntax/token.rs
Owners: @rome/staff, @ematipico, @MichaReiser

refactor(rome_formatter): Use `memoized.inspect` over `buffer.inspect` (#2889)
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/prelude.rs
  crates/rome_js_formatter/src/utils/mod.rs
Owners: @ematipico, @MichaReiser

feat(rome_service): auto generate configuration for rules
  CONTRIBUTING.md
  Cargo.lock
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/linter.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/main.rs
Owners: @rome/staff, @leops, @ematipico

feat(rome_js_analyze): noShoutyConstants (#2886)
  crates/rome_js_analyze/src/semantic_analyzers/js.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_shouty_constants.rs
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js
  crates/rome_js_analyze/tests/specs/js/noShoutyConstants.js.snap
  crates/rome_rowan/src/ast/batch.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noShoutyConstants.md
Owners: @leops, @xunilrj, @rome/staff

chore: code review
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

Reformat `App.tsx`, add comment that explains throttling.
  website/playground/src/App.tsx
Owners: @rome/staff

fix: 🐛 change trace lable name
  editors/vscode/src/main.ts
Owners: @rome/staff

Fix switch lint warning
  website/playground/src/App.tsx
  website/playground/src/romeWorker.ts
Owners: @rome/staff

refactor(playground): Worker code handling (#2888)
  website/playground/src/App.tsx
  website/playground/src/prettierWorker.ts
  website/playground/src/romeWorker.ts
Owners: @rome/staff

Extend `is_suppressed` documentation
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

refactor(rome_js_analyze) : noCatchAssign (#2880)
  crates/rome_js_analyze/src/semantic_analyzers/js/no_catch_assign.rs
Owners: @leops, @xunilrj

chore: 🤖 remove *st format json
  website/playground/Cargo.toml
  website/playground/src/App.tsx
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/TreeStyleSelect.tsx
  website/playground/src/TreeView.tsx
  website/playground/src/lib.rs
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @rome/staff

fix: 🐛 remove unused dep
  website/playground/Cargo.toml
  website/playground/package.json
  website/playground/pnpm-lock.yaml
Owners: @rome/staff

chore: use utility
  xtask/codegen/src/generate_configuration.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/main.rs
Owners: @rome/staff

chore: 🤖 update lock
  Cargo.lock
Owners: @rome/staff

ci: remove double quotes from the version
  npm/rome/scripts/update-nightly-version.mjs
Owners: @rome/staff

ci: using the preview version
  .github/workflows/pull_request_js.yml
Owners: @rome/staff

feat: 🎸 init
  crates/rome_js_analyze/src/analyzers.rs
  crates/rome_js_analyze/src/analyzers/use_template.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/useTemplate.js
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap.new
Owners: @leops, @xunilrj

feat: 🎸 finish useTemplate
  crates/rome_js_analyze/src/analyzers/use_template.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap
Owners: @leops, @xunilrj

chore: 🤖 checkpoint
  crates/rome_js_analyze/src/analyzers/use_template.rs
Owners: @leops, @xunilrj

chore: 🤖 remove useless snapshot
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap.new
Owners: @leops, @xunilrj

chore: 🤖 update test snapshot
  crates/rome_js_analyze/src/analyzers/use_template.rs
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap
Owners: @leops, @xunilrj

docs: ✏️ update doc
  crates/rome_js_analyze/src/analyzers/use_template.rs
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

chore: 🤖 doc
  crates/rome_js_analyze/src/analyzers/use_template.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useTemplate.md
Owners: @leops, @xunilrj, @rome/staff

feat: 🎸 finish useTemplate
  crates/rome_js_analyze/src/analyzers/use_template.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap
Owners: @leops, @xunilrj

chore: 🤖 remove useless snapshot
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap.new
Owners: @leops, @xunilrj

feat: 🎸 init
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap.new
Owners: @rome/staff, @leops, @xunilrj

chore: 🤖 doc
  crates/rome_js_analyze/src/analyzers/use_template.rs
Owners: @leops, @xunilrj

docs: ✏️ update doc
  crates/rome_js_analyze/src/analyzers/use_template.rs
Owners: @leops, @xunilrj

chore: 🤖 update test snapshot
  crates/rome_js_analyze/src/analyzers/use_template.rs
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap
Owners: @leops, @xunilrj

docs: ✏️ update doc and test
  crates/rome_js_analyze/src/analyzers/use_template.rs
  crates/rome_js_analyze/tests/specs/useTemplate.js.snap
  website/src/docs/lint/rules/useTemplate.md
Owners: @leops, @xunilrj, @rome/staff

fix: 🐛 rebase
  crates/rome_js_analyze/src/analyzers/use_template.rs
Owners: @leops, @xunilrj
