Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fix: 🐛 optional chaining
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.ts
Owners: @MichaReiser, @xunilrj

test: 💍 udpate snapshot
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.rast
Owners: @MichaReiser, @xunilrj

test: 💍 update snapshot
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.rast
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.ts
Owners: @MichaReiser, @xunilrj

chore: 🤖 update snapshot
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.rast
Owners: @MichaReiser, @xunilrj

fix: doc tests
  crates/rome_js_syntax/src/import_ext.rs
Owners: @rome/staff

fix: 🐛 align to ts
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

chore: 🤖 lint and format
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

chore: 🤖 disabled invalid code action case
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
Owners: @leops, @xunilrj

chore: code review
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withDefaultNamespaceInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withRenamedImportInvalid.js.snap
  website/src/docs/lint/rules/useButtonType.md
Owners: @leops, @xunilrj, @rome/staff

feat(rome_js_analyzer): `useButtonType` (#3238)
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/inObject.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingValid.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withBindingValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withDefaultNamespaceInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withDefaultNamespaceInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withRenamedImportInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useButtonType/withRenamedImportInvalid.js.snap
  crates/rome_js_factory/src/make.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/javascript.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useButtonType.md
Owners: @leops, @xunilrj, @rome/staff, @ematipico

chore: 🤖 init
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases1.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases2.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases3.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases4.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/logicalAndCases5.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr1.ts.snap
Owners: @leops, @xunilrj

chore: reword label
  website/playground/src/NurseryRules.tsx
Owners: @rome/staff

feat(playground): enable nursery lint rules (#3242)
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/NurseryRules.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Owners: @rome/staff

feat(rome_js_analyze): `noRenderReturnValue`
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_render_return_value.rs
  crates/rome_js_analyze/tests/specs/nursery/noRenderReturnValue.jsx
  crates/rome_js_analyze/tests/specs/nursery/noRenderReturnValue.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Owners: @leops, @xunilrj, @ematipico, @rome/staff

chore: documentation
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_render_return_value.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noRenderReturnValue.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @rome/staff

chore: reword diagnostic
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_render_return_value.rs
  crates/rome_js_analyze/tests/specs/nursery/noRenderReturnValue.jsx.snap
  website/src/docs/lint/rules/noRenderReturnValue.md
Owners: @leops, @xunilrj, @rome/staff

chore: fix documentation
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_render_return_value.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noRenderReturnValue.md
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

feat(rome_js_analyze): `noRenderReturnValue` (#3252)
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_render_return_value.rs
  crates/rome_js_analyze/tests/specs/nursery/noRenderReturnValue.jsx
  crates/rome_js_analyze/tests/specs/nursery/noRenderReturnValue.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noRenderReturnValue.md
  xtask/lintdoc/src/main.rs
Owners: @leops, @xunilrj, @ematipico, @rome/staff

better text edits
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @leops, @xunilrj, @rome/staff, @ematipico

feat(rome_js_analyze): `noUselessFragment`
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragment.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/inJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/noChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/withChildren.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/withChildren.jsx.snap
  crates/rome_js_semantic/src/semantic_model.rs
Owners: @leops, @xunilrj

fix: false positive for `noUselessFragment`
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBindingInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBindingInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBindingValid.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBindingValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/noChildren.jsx
Owners: @leops, @xunilrj

chore: codegen
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragment.rs
  crates/rome_js_analyze/src/utils.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUselessFragment.md
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_js_analyze/src/utils.rs
  website/src/docs/lint/rules/index.md
Owners: @leops, @xunilrj, @rome/staff

chore: code review and more test cases
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragment.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportNamespaceInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportRenameInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportRenameInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportRenameValid.jsx
  website/src/docs/lint/rules/noUselessFragment.md
Owners: @leops, @xunilrj, @rome/staff

chore: rebase
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportNamespaceInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportNamespaceInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragment/fromImportRenameValid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

Rename to `soft_space_or_block_indent`
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/js/module/export_named_from_clause.rs
  crates/rome_js_formatter/src/js/module/import_assertion.rs
  crates/rome_js_formatter/src/js/module/named_import_specifiers.rs
  crates/rome_js_formatter/src/jsx/tag/opening_fragment.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/src/ts/declarations/enum_declaration.rs
  crates/rome_js_formatter/src/utils/object_like.rs
  crates/rome_js_formatter/src/utils/object_pattern_like.rs
Owners: @ematipico, @MichaReiser

Apply suggestions from code review
  crates/rome_diagnostics/src/v2/context.rs
  crates/rome_diagnostics/src/v2/diagnostic.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics_categories/src/lib.rs
  crates/rome_diagnostics_macros/Cargo.toml
Owners: @rome/staff

fix: 🐛 remove extra assertion_line
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
Owners: @leops, @xunilrj

chore: 🤖 add extra tracked comment
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
Owners: @leops, @xunilrj

ci: don't close stale issues/PRs
  .github/workflows/stale.yml
Owners: @rome/staff

chore: 🤖 move inline test case
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

address PR review
  Cargo.lock
  crates/rome_diagnostics/examples/cli.rs
  crates/rome_diagnostics/examples/fs.rs
  crates/rome_diagnostics/examples/lint.rs
  crates/rome_diagnostics/examples/serde.rs
  crates/rome_diagnostics/src/v2/adapters.rs
  crates/rome_diagnostics/src/v2/advice.rs
  crates/rome_diagnostics/src/v2/context.rs
  crates/rome_diagnostics/src/v2/diagnostic.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics/src/v2/display/backtrace.rs
  crates/rome_diagnostics/src/v2/display/frame.rs
  crates/rome_diagnostics/src/v2/error.rs
  crates/rome_diagnostics/src/v2/location.rs
  crates/rome_diagnostics/src/v2/mod.rs
  crates/rome_diagnostics/src/v2/serde.rs
  crates/rome_diagnostics_categories/Cargo.toml
  crates/rome_diagnostics_categories/README.md
  crates/rome_diagnostics_macros/Cargo.toml
  crates/rome_diagnostics_macros/src/generate.rs
  crates/rome_diagnostics_macros/src/parse.rs
  crates/rome_js_parser/src/parse.rs
Owners: @rome/staff, @MichaReiser, @xunilrj

chore(playground): add more nursery rules
  crates/rome_js_analyze/src/analyzers/nursery/use_optional_chain.rs
  website/playground/src/romeWorker.ts
Owners: @leops, @xunilrj, @rome/staff

ci: don't close stale issues/PRs (#3259)
  .github/workflows/stale.yml
Owners: @rome/staff

chore: formatter
  website/playground/src/romeWorker.ts
Owners: @rome/staff

chore(playground): add more nursery rules (#3260)
  crates/rome_js_analyze/src/analyzers/nursery/use_optional_chain.rs
  website/playground/src/romeWorker.ts
Owners: @leops, @xunilrj, @rome/staff

chore: 🤖 update parser
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.rast
Owners: @MichaReiser, @xunilrj

chore: 🤖 fmt
  crates/rome_js_parser/src/syntax/expr.rs
Owners: @MichaReiser, @xunilrj

poc better batch mutation
  a.txt
  crates/rome_js_analyze/src/assists/correctness/flip_bin_exp.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/correctness/flipBinExp.js
  crates/rome_js_analyze/tests/specs/correctness/flipBinExp.js.snap
  crates/rome_js_analyze/tests/specs/correctness/inlineVariable.js.snap
  crates/rome_rowan/Cargo.toml
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/file_handlers/javascript.rs
Owners: @rome/staff, @leops, @xunilrj, @ematipico

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
