Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops

More placeholders for tests
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
Owners: @leops

feat(rome_js_analyze): rule `noConstAssign` (#3409)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_const_assign.rs
  crates/rome_js_analyze/tests/specs/nursery/noConstAssign.js
  crates/rome_js_analyze/tests/specs/nursery/noConstAssign.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noConstAssign.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

feat(rome_js_analyze): new rule `useFlatMap`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_flat_map.rs
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useFlatMap.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery/use_flat_map.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js.snap
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useFlatMap.md
Owners: @leops, @xunilrj, @rome/staff

chore: suggestions and more test cases
  crates/rome_js_analyze/src/analyzers/nursery/use_flat_map.rs
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js.snap
  website/src/docs/lint/rules/useFlatMap.md
Owners: @leops, @xunilrj, @rome/staff

chore: code suggestions
  crates/rome_js_analyze/src/analyzers/nursery/use_flat_map.rs
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js.snap
  website/src/docs/lint/rules/useFlatMap.md
Owners: @leops, @xunilrj, @rome/staff

clippy
  crates/rome_js_analyze/src/analyzers/nursery/use_flat_map.rs
Owners: @leops, @xunilrj

chore: rebase
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_service/src/configuration/linter/rules.rs
Owners: @leops, @xunilrj, @ematipico

feat(rome_js_analyze): new rule `useFlatMap` (#3384)
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_flat_map.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js
  crates/rome_js_analyze/tests/specs/nursery/useFlatMap.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useFlatMap.md
Owners: @rome/staff, @leops, @xunilrj, @ematipico

chore(rome_js_analyze): better use of `Option`
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_key_with_mouse_events.rs
Owners: @leops, @xunilrj

refactor(rome_js_parser): use new diagnostics
  Cargo.lock
  crates/rome_diagnostics/src/v2/location.rs
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/lexer/buffered_lexer.rs
  crates/rome_js_parser/src/lexer/errors.rs
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/parse.rs
  crates/rome_js_parser/src/parser.rs
  crates/rome_js_parser/src/parser/parse_error.rs
  crates/rome_js_parser/src/parser/parsed_syntax.rs
  crates/rome_js_parser/src/parser/rewrite_parser.rs
  crates/rome_js_parser/src/parser/single_token_parse_recovery.rs
  crates/rome_js_parser/src/syntax/assignment.rs
  crates/rome_js_parser/src/syntax/binding.rs
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/src/syntax/js_parse_error.rs
  crates/rome_js_parser/src/syntax/jsx/jsx_parse_errors.rs
  crates/rome_js_parser/src/syntax/pattern.rs
  crates/rome_js_parser/src/syntax/stmt.rs
  crates/rome_js_parser/src/syntax/typescript/ts_parse_error.rs
  crates/rome_js_parser/src/test_utils.rs
  crates/rome_js_parser/src/tests.rs
  crates/rome_js_parser/src/token_source.rs
Owners: @rome/staff, @MichaReiser, @xunilrj

code suggestion
  crates/rome_js_parser/src/lib.rs
Owners: @MichaReiser, @xunilrj

fix: refactoring and vscode config add
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_alt_text.rs
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/UseAltText.md
  website/src/docs/lint/rules/index.md
Owners: @leops, @xunilrj, @ematipico, @rome/staff

address code review feedback
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
Owners: @ematipico

Restore project-config.md
  website/src/_includes/docs/project-config.md
Owners: @rome/staff

feat(rome_js_formatter): spec template
  crates/rome_js_formatter/tests/spec_test.rs
Owners: @ematipico, @MichaReiser

chore: wip
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/lists/variable_declarator_list.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_formatter/src/ts/bindings/type_parameters.rs
  crates/rome_js_formatter/src/ts/expressions/type_arguments.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/lib.rs
  rome.json
Owners: @rome/staff, @ematipico, @MichaReiser, @leops

chore: code suggestions
  crates/rome_js_parser/src/parser.rs
Owners: @MichaReiser, @xunilrj

refactor(rome_js_parser): use new diagnostics
  crates/rome_js_parser/src/lib.rs
Owners: @MichaReiser, @xunilrj

refactor(rome_js_parser): APIs to create diagnostics
  Cargo.lock
  crates/rome_js_parser/src/lexer/errors.rs
  crates/rome_js_parser/src/lexer/mod.rs
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/parser.rs
  crates/rome_js_parser/src/parser/parse_error.rs
  crates/rome_js_parser/src/parser/rewrite_parser.rs
  crates/rome_js_parser/src/syntax/assignment.rs
  crates/rome_js_parser/src/syntax/binding.rs
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/src/syntax/js_parse_error.rs
  crates/rome_js_parser/src/syntax/jsx/jsx_parse_errors.rs
  crates/rome_js_parser/src/syntax/jsx/mod.rs
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/src/syntax/object.rs
  crates/rome_js_parser/src/syntax/pattern.rs
  crates/rome_js_parser/src/syntax/stmt.rs
  crates/rome_js_parser/src/syntax/typescript.rs
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/src/syntax/typescript/ts_parse_error.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  xtask/bench/Cargo.toml
  xtask/bench/src/features/parser.rs
  xtask/coverage/Cargo.toml
  xtask/coverage/src/reporters.rs
  xtask/coverage/src/runner.rs
Owners: @rome/staff, @MichaReiser, @xunilrj

chore: code suggestion
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/parser.rs
  crates/rome_js_parser/src/parser/parse_error.rs
  crates/rome_js_parser/src/parser/rewrite_parser.rs
  crates/rome_js_parser/src/syntax/assignment.rs
  crates/rome_js_parser/src/syntax/binding.rs
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/js_parse_error.rs
  crates/rome_js_parser/src/syntax/jsx/jsx_parse_errors.rs
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/src/syntax/pattern.rs
  crates/rome_js_parser/src/syntax/stmt.rs
  crates/rome_js_parser/src/syntax/typescript.rs
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/src/syntax/typescript/ts_parse_error.rs
Owners: @MichaReiser, @xunilrj

feat(rome_cli): Add `rage` command (#3436)
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/src/commands/version.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/commands/mod.rs
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_console/src/lib.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  rome.json
Owners: @leops, @rome/staff, @ematipico

feat(rome_cli): Add server logs to `rage`
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
Owners: @leops

clip clap clippy clap
  crates/rome_cli/tests/commands/rage.rs
Owners: @leops

Replace `ROME_LOG_DIR` with `PLACEHOLDER`
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
Owners: @leops

Update copy
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
Owners: @leops

feat: add command for lsp to support stdin/stdout
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/mod.rs
Owners: @leops

chore(rome_js_analyze): better use of `Option` (#3434)
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_key_with_mouse_events.rs
Owners: @leops, @xunilrj

chore: code suggestions
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/parser.rs
  crates/rome_js_parser/src/parser/rewrite_parser.rs
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/test_data/inline/err/class_extends_err.rast
  crates/rome_js_parser/test_data/inline/err/exponent_unary_unparenthesized.rast
  crates/rome_js_parser/test_data/inline/err/export_named_clause_err.rast
  crates/rome_js_parser/test_data/inline/err/literals.rast
  crates/rome_js_parser/test_data/inline/err/ts_class_heritage_clause_errors.rast
  crates/rome_js_parser/test_data/inline/err/ts_interface_heritage_clause_error.rast
Owners: @MichaReiser, @xunilrj

fix: change content length parse method
  crates/rome_cli/src/commands/daemon.rs
Owners: @leops

feat(rome_cli): Add server logs to `rage` command (#3441)
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
Owners: @leops

ci: stale bot improvements
  .github/workflows/stale.yml
Owners: @rome/staff

Update .github/workflows/stale.yml
  .github/workflows/stale.yml
Owners: @rome/staff

chore(website): Remove rome dependency
  website/package.json
  website/pnpm-lock.yaml
Owners: @rome/staff

ci(js-api): compile backends
  .github/workflows/release_js_api.yml
  npm/js-api/package.json
Owners: @rome/staff

fix(rome_cli): correctly compute file to handle in `rome ci`
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
  crates/rome_fs/src/fs/memory.rs
Owners: @leops

chore(website): Remove rome dependency (#3449)
  website/package.json
  website/pnpm-lock.yaml
Owners: @rome/staff

ci: stale bot improvements (#3448)
  .github/workflows/stale.yml
Owners: @rome/staff

ci(js-api): compile backends (#3452)
  .github/workflows/release_js_api.yml
  npm/js-api/package.json
Owners: @rome/staff

docs(rome_diagnostics): add a contributor documentation file for diagnostics (#3401)
  crates/rome_diagnostics/CONTRIBUTING.md
Owners: @rome/staff
