Repository rome/tools, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rome/staff, @ematipico, @MichaReiser, @xunilrj, @leops

fix(rome_service): correctly compute rules
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_check/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_service/src/configuration/linter/rules.rs
  rome.json
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

Add `Buffer.elements` method
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/module/export_named_clause.rs
  crates/rome_js_formatter/src/js/module/export_named_from_clause.rs
  crates/rome_js_formatter/src/js/module/import_assertion.rs
  crates/rome_js_formatter/src/js/module/named_import_specifiers.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/ts/declarations/enum_declaration.rs
  crates/rome_js_formatter/src/ts/lists/type_member_list.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/object_pattern_like.rs
  crates/rome_js_formatter/tests/specs/prettier/js/import-assertions/empty.js.snap
Owners: @ematipico, @MichaReiser

chore: pr feedback
  .github/workflows/stale.yml
Owners: @rome/staff

Fix compile error
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/printer/mod.rs
Owners: @ematipico, @MichaReiser

fix(xtask): Fix dhat build
  xtask/bench/Cargo.toml
  xtask/bench/README.md
  xtask/bench/src/features/formatter.rs
  xtask/bench/src/features/mod.rs
  xtask/bench/src/features/parser.rs
  xtask/bench/src/main.rs
Owners: @rome/staff

Move `labelled` example
  crates/rome_formatter/src/builders.rs
Owners: @ematipico, @MichaReiser

Restore lib.rs
  crates/rome_js_formatter/src/lib.rs
Owners: @ematipico, @MichaReiser

fix(xtask): Fix dhat build (#3161)
  xtask/bench/Cargo.toml
  xtask/bench/README.md
  xtask/bench/src/features/formatter.rs
  xtask/bench/src/features/mod.rs
  xtask/bench/src/features/parser.rs
  xtask/bench/src/main.rs
Owners: @rome/staff

chore: turn off rule
  rome.json
Owners: @rome/staff

feat(rome_cli): add commands for controlling the daemon server lifecycle (#3143)
  .cargo/config.toml
  .github/workflows/pull_request.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
  Cargo.lock
  crates/rome_bin/Cargo.toml
  crates/rome_bin/README.md
  crates/rome_bin/src/cli.rs
  crates/rome_bin/src/lib.rs
  crates/rome_bin/src/main.rs
  crates/rome_bin/src/server.rs
  crates/rome_cli/Cargo.toml
  crates/rome_cli/README.md
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/main.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  npm/backend-jsonrpc/src/socket.ts
Owners: @rome/staff, @leops, @ematipico

fix(rome_service): correctly compute rules (#3159)
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_check/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_service/src/configuration/linter/rules.rs
  rome.json
  xtask/codegen/src/generate_configuration.rs
Owners: @leops, @ematipico, @rome/staff

chore: apply suggestions
  CHANGELOG.md
  crates/rome_cli/src/commands/help.rs
  website/src/_includes/docs/formatter.md
Owners: @rome/staff, @leops

update the contributing documentation
  CONTRIBUTING.md
Owners: @rome/staff

fix: links
  CHANGELOG.md
Owners: @rome/staff

update documentation for #3143
  CHANGELOG.md
  website/src/_includes/docs/cli-commands.md
  website/src/_includes/docs/cli.md
Owners: @rome/staff

chore: update wording style
  CHANGELOG.md
Owners: @rome/staff

chore: grammar fixes
  CHANGELOG.md
  CONTRIBUTING.md
Owners: @rome/staff

release: 0.9.0
  CHANGELOG.md
  crates/rome_cli/src/commands/help.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  editors/vscode/package.json
  npm/rome/package.json
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/project-config.md
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj

chore: add architecture.md
  website/src/_includes/docs/architecture.md
  website/src/_includes/docs/cli-commands.md
  website/src/index.md
Owners: @rome/staff

chore: added more lines
  CHANGELOG.md
Owners: @rome/staff

Formatter changelog
  CHANGELOG.md
  website/src/_includes/docs/formatter.md
Owners: @rome/staff

chore: add architecture.md
  CHANGELOG.md
Owners: @rome/staff

Introduce `Buffer.start_recording`
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_formatter/src/ts/lists/type_member_list.rs
  crates/rome_js_formatter/src/utils/mod.rs
Owners: @ematipico, @MichaReiser

chore: update typescript
  editors/vscode/package-lock.json
  editors/vscode/package.json
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/pnpm-lock.yaml
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/romeWorker.ts
  website/playground/tsconfig.json
Owners: @rome/staff

chore: use same typescript version across the board (#3142)
  editors/vscode/package-lock.json
  editors/vscode/package.json
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/pnpm-lock.yaml
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/romeWorker.ts
  website/playground/tsconfig.json
Owners: @rome/staff

Update website/src/_includes/docs/architecture.md
  website/src/_includes/docs/architecture.md
Owners: @rome/staff

Apply suggestions from code review
  CHANGELOG.md
Owners: @rome/staff

release: 0.9.0 (#3134)
  CHANGELOG.md
  CONTRIBUTING.md
  crates/rome_cli/src/commands/help.rs
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  editors/vscode/package.json
  npm/rome/package.json
  website/src/_includes/docs/architecture.md
  website/src/_includes/docs/cli-commands.md
  website/src/_includes/docs/cli.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/project-config.md
  website/src/docs/lint/rules/noUnusedVariables.md
  website/src/index.md
  xtask/lintdoc/src/main.rs
Owners: @rome/staff, @leops, @xunilrj

ci: stale workflow (#3155)
  .github/workflows/stale.yml
Owners: @rome/staff

fix(ci): download the WASM artifacts to the correct directory in the publish job
  .github/workflows/release_cli.yml
Owners: @rome/staff

bump the version number
  npm/rome/package.json
Owners: @rome/staff

fix(ci): download the WASM artifacts to the correct directory in the publish job (#3165)
  .github/workflows/release_cli.yml
  npm/rome/package.json
Owners: @rome/staff

chore: downgrade the version number of the CLI
  npm/rome/package.json
Owners: @rome/staff

chore(rome_service): remove constraints from settings (#3157)
  crates/rome_cli/src/commands/format.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
Owners: @leops, @ematipico

perf(rome_formatter): Add `Buffer.elements` (#3156)
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/lists/module_item_list.rs
  crates/rome_js_formatter/src/js/lists/statement_list.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_formatter/src/ts/lists/type_member_list.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/module-blocks/comments.js.snap
Owners: @ematipico, @MichaReiser

chore: Replace `num_cpus` crate with `std` call
  Cargo.lock
  xtask/coverage/Cargo.toml
  xtask/coverage/src/lib.rs
Owners: @rome/staff

Clippy
  xtask/coverage/src/lib.rs
Owners: @rome/staff

chore: Replace `num_cpus` crate with `std` call (#3163)
  Cargo.lock
  xtask/coverage/Cargo.toml
  xtask/coverage/src/lib.rs
Owners: @rome/staff

fix(rome_cli): do not pull diagnostics if linter is turned off
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_check/apply_noop.snap
  crates/rome_cli/tests/snapshots/main_check/apply_ok.snap
  crates/rome_cli/tests/snapshots/main_check/downgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_check/no_lint_if_linter_is_disabled_when_run_apply.snap
  crates/rome_cli/tests/snapshots/main_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_formatter.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_linter.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/main_ci/formatting_error.snap
  crates/rome_cli/tests/snapshots/main_format/does_not_format_if_disabled.snap
  crates/rome_cli/tests/snapshots/main_format/format_stdin_successfully.snap
  crates/rome_cli/tests/snapshots/main_format/formatter_lint_warning.snap
  crates/rome_cli/tests/snapshots/main_format/formatter_print.snap
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  crates/rome_cli/tests/snapshots/main_reporter_json/reports_formatter_check_mode.snap
  crates/rome_cli/tests/snapshots/main_reporter_json/reports_formatter_write.snap
Owners: @leops

chore(website): add section for suppression comments for linter
  website/src/_includes/docs/linter.md
Owners: @rome/staff

.github/CODEOWNERS:

*								@rome/staff

# formatters
/crates/rome_*formatter			@ematipico @MichaReiser

# Multiple owners, as this is the foundation of most tools
/crates/rome_rowan				@rome/staff

# parsers
/crates/rome_js_parser			@MichaReiser @xunilrj

# analyzers
/crates/rome_*analyze			@leops @xunilrj

/crates/rome_control_flow		@leops
/crates/rome_js_semantic		@xunilrj
/crates/rome_console			@leops
/crates/rome_fs					@leops
/crates/rome_markup				@leops
/crates/rome_service			@leops @ematipico
/crates/rome_lsp				@ematipico
/crates/rome_cli				@leops
