Repository rome/tools, changes with the labels that .github/labeler.yml gives for each.
All labels: A-Cli, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-Editors, A-Diagnostic, A-Tooling, A-Website, A-LSP, L-Javascript, L-Json, L-CSS

.github/labeler.yml:

# See https://github.com/actions/labeler

A-Cli:
  - crates/rome_cli/**
  - crates/rome_fs/**
  - crates/rome_console/**

A-Core:
  - crates/rome_deserializer/**
  - crates/rome_fs/**
  - crates/rome_rowan/**
  - crates/rome_text_edit/**
  - crates/rome_text_size/**
  - crates/rome_suppression/**
  - crates/rome_suppression/**
  - crates/rome_markup/**

A-Project:
- crates/rome_service/**

A-Linter:
  - crates/rome_analyze/**
  - crates/rome_js_analyze/**
  - crates/rome_json_analyze/**

A-Parser:
  - crates/rome_parser/**
  - crates/rome_js_parser/**
  - crates/rome_js_syntax/**
  - crates/rome_json_parser/**
  - crates/rome_json_syntax/**
  - crates/rome_css_parser/**
  - crates/rome_css_syntax/**

A-Formatter:
  - crates/rome_formatter/**
  - crates/rome_formatter_test/**
  - crates/rome_js_formatter/**
  - crates/rome_json_formatter/**
  - crates/rome_css_formatter/**

A-Editors:
  - crates/editors/**

A-Diagnostic:
  - crates/rome_diagnostics/**
  - crates/rome_diagnostics_categories/**
  - crates/rome_diagnostics_macros/**

A-Tooling:
  - xtask/**

A-Website:
  - website/**

A-LSP:
  - crates/rome_lsp/**

L-Javascript:
  - crates/rome_js_*/**

L-Json:
  - crates/rome_json_*/**

L-CSS:
  - crates/rome_css_*/**

feat(rome_css_parser): CSS lexer number and ident #4682 (#4712)
  crates/rome_css_parser/src/lexer/mod.rs
  crates/rome_css_parser/src/lexer/tests.rs
  crates/rome_css_syntax/src/generated/kind.rs
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Parser, A-Tooling, L-CSS

clippy
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_syntax/src/file_source.rs
  crates/rome_js_transform/src/transformers/ts_enum.rs
  crates/rome_js_transform/tests/spec_tests.rs
  crates/rome_json_analyze/tests/spec_tests.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_test_utils/src/lib.rs
Labels: A-Core, A-Linter, A-Parser, L-Javascript, L-Json

feat(rome_js_analyze): relax `useLiteralEnumMembers`
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_enum_members.rs
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/valid.ts.snap
  crates/rome_js_syntax/src/expr_ext.rs
  website/src/pages/lint/rules/useLiteralEnumMembers.md
Labels: A-Linter, A-Parser, A-Website, L-Javascript

refactor: merge GreenTokenText and SyntaxTokenText
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_syntax/src/directive_ext.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_json_syntax/src/member_ext.rs
  crates/rome_json_syntax/src/string_ext.rs
  crates/rome_rowan/src/cursor/token.rs
  crates/rome_rowan/src/green_token_text.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/syntax_token_text.rs
Labels: A-Core, A-Linter, A-Parser, A-Formatter, L-Javascript, L-Json

chore: test infra for transformations (#4719)
  Cargo.lock
  Cargo.toml
  crates/rome_analyze/src/lib.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_syntax/src/file_source.rs
  crates/rome_js_transform/Cargo.toml
  crates/rome_js_transform/src/declare_transformation.rs
  crates/rome_js_transform/src/lib.rs
  crates/rome_js_transform/src/transformers/ts_enum.rs
  crates/rome_js_transform/tests/spec_tests.rs
  crates/rome_js_transform/tests/specs/transformEnum/index.ts
  crates/rome_js_transform/tests/specs/transformEnum/index.ts.snap
  crates/rome_json_analyze/Cargo.toml
  crates/rome_json_analyze/tests/spec_tests.rs
  crates/rome_test_utils/Cargo.toml
  crates/rome_test_utils/src/lib.rs
  justfile
Labels: A-Linter, A-Parser, L-Javascript, L-Json

feat(rome_js_analyze): relax `useLiteralEnumMembers` (#4720)
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_enum_members.rs
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/valid.ts.snap
  crates/rome_js_syntax/src/expr_ext.rs
  website/src/pages/lint/rules/useLiteralEnumMembers.md
Labels: A-Linter, A-Parser, A-Website, L-Javascript

codegen
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: none

feat(rome_js_parser): CSS lexer #4682
  Cargo.lock
  crates/rome_css_factory/src/generated/node_factory.rs
  crates/rome_css_factory/src/generated/syntax_factory.rs
  crates/rome_css_factory/src/lib.rs
  crates/rome_css_parser/Cargo.toml
  crates/rome_css_parser/src/lexer/mod.rs
  crates/rome_css_parser/src/lib.rs
  crates/rome_css_parser/src/parser.rs
  crates/rome_css_parser/src/syntax.rs
  crates/rome_css_parser/src/token_source.rs
  crates/rome_css_parser/tests/css_test_suite/ok/empty.css
  crates/rome_css_parser/tests/css_test_suite/ok/empty.css.snap
  crates/rome_css_parser/tests/spec_test.rs
  crates/rome_css_parser/tests/spec_tests.rs
  crates/rome_css_syntax/src/generated/kind.rs
  crates/rome_css_syntax/src/generated/macros.rs
  crates/rome_css_syntax/src/generated/nodes.rs
  crates/rome_css_syntax/src/generated/nodes_mut.rs
  crates/rome_css_syntax/src/lib.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_rowan/src/syntax/trivia.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Core, A-Parser, A-Tooling, L-Json, L-CSS

Group organized imports
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/groups.js
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/groups.js.snap.new
Labels: A-Linter, L-Javascript

Add test case for unknown protocol
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/groups.js
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/groups.js.snap
Labels: A-Linter, L-Javascript

Clippy
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
Labels: A-Linter, L-Javascript

refactor(rome_rowan): rework SyntaxTokenText into TokenText
  crates/rome_deserialize/src/json.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_import_restrictions.rs
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model/scope.rs
  crates/rome_js_syntax/src/directive_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_json_syntax/src/member_ext.rs
  crates/rome_json_syntax/src/string_ext.rs
  crates/rome_rowan/src/cursor/token.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/token_text.rs
Labels: A-Core, A-Linter, A-Parser, A-Formatter, L-Javascript, L-Json

Update Helix Editor manual to include support for lsp-proxy and multiple servers
  editors/helix/manual.md
Labels: none

Extend test cases to cover regular links being reported as infinite
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/lint.rs
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_dereferenced_symlink.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_exapansion_unix.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion_unix.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_files_ignore_symlink.snap.new
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_error_dereferenced_symlink.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_error_infinite_symlink_expansion.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_files_ignore_symlink.snap.new
Labels: A-Cli

Update Helix Editor manual to include support for lsp-proxy and multiple servers (#4727)
  editors/helix/manual.md
Labels: none

refactor(rome_rowan): rework SyntaxTokenText into TokenText (#4726)
  crates/rome_deserialize/src/json.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_import_restrictions.rs
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model/scope.rs
  crates/rome_js_syntax/src/directive_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_json_syntax/src/member_ext.rs
  crates/rome_json_syntax/src/string_ext.rs
  crates/rome_rowan/src/cursor/token.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/token_text.rs
Labels: A-Core, A-Linter, A-Parser, A-Formatter, L-Javascript, L-Json

feat(rome_js_parser): CSS lexer #4682 (#4724)
  Cargo.lock
  crates/rome_css_factory/src/generated/node_factory.rs
  crates/rome_css_factory/src/generated/syntax_factory.rs
  crates/rome_css_factory/src/lib.rs
  crates/rome_css_parser/Cargo.toml
  crates/rome_css_parser/src/lexer/mod.rs
  crates/rome_css_parser/src/lib.rs
  crates/rome_css_parser/src/parser.rs
  crates/rome_css_parser/src/syntax.rs
  crates/rome_css_parser/src/token_source.rs
  crates/rome_css_parser/tests/css_test_suite/ok/empty.css
  crates/rome_css_parser/tests/css_test_suite/ok/empty.css.snap
  crates/rome_css_parser/tests/spec_test.rs
  crates/rome_css_parser/tests/spec_tests.rs
  crates/rome_css_syntax/src/generated/kind.rs
  crates/rome_css_syntax/src/generated/macros.rs
  crates/rome_css_syntax/src/generated/nodes.rs
  crates/rome_css_syntax/src/generated/nodes_mut.rs
  crates/rome_css_syntax/src/lib.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_rowan/src/syntax/trivia.rs
  xtask/codegen/css.ungram
  xtask/codegen/src/css_kinds_src.rs
Labels: A-Core, A-Parser, A-Tooling, L-Json, L-CSS

feat(rome_lsp): send message to the client
  CHANGELOG.md
  crates/rome_lsp/src/diagnostics.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/lib.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/diagnostics.rs
  crates/rome_service/src/snapshots/file_ignored.snap
Labels: A-Project, A-LSP

feat(rome_lsp): send message to the client (#4730)
  CHANGELOG.md
  crates/rome_lsp/src/diagnostics.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/lib.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/diagnostics.rs
  crates/rome_service/src/snapshots/file_ignored.snap
Labels: A-Project, A-LSP

feat: update CST defination
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_syntax/src/generated/kind.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/kinds_src.rs
Labels: A-Parser, A-Tooling, L-Javascript

Fix infinite symlink detection
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/lint.rs
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion_to_dirs.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion_to_files.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_files_ignore_symlink.snap.new
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_error_infinite_symlink_expansion.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_error_infinite_symlink_expansion_to_dirs.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_error_infinite_symlink_expansion_to_files.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_files_ignore_symlink.snap.new
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
Labels: A-Cli, A-Core

Lint fixes
  crates/rome_fs/src/fs/os.rs
Labels: A-Cli, A-Core

Resolve relative symlinks
  crates/rome_fs/src/fs/os.rs
Labels: A-Cli, A-Core

Formatting
  Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_transform/Cargo.toml
  crates/rome_json_analyze/Cargo.toml
  crates/rome_test_utils/Cargo.toml
Labels: A-Linter, L-Javascript, L-Json

refactor(rome_syntax): imrpove inner_string_text
  crates/rome_js_analyze/src/analyzers/a11y/no_blank_target.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_control_characters_in_regex.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_self_assign.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_enum_members.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_keys.rs
  crates/rome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_class_members.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_object_keys.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_prototype_builtins.rs
  crates/rome_js_analyze/src/aria_services.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_global_object_calls.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_factory/src/make.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_syntax/src/directive_ext.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_js_syntax/src/static_value.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_json_syntax/src/member_ext.rs
  crates/rome_json_syntax/src/string_ext.rs
Labels: A-Linter, A-Parser, A-Formatter, L-Javascript, L-Json

Fix Windows tests
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/lint.rs
Labels: A-Cli

refactor(rome_syntax): imrpove inner_string_text (#4731)
  crates/rome_js_analyze/src/analyzers/a11y/no_blank_target.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_control_characters_in_regex.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_self_assign.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_enum_members.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_keys.rs
  crates/rome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_class_members.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_object_keys.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_prototype_builtins.rs
  crates/rome_js_analyze/src/aria_services.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_global_object_calls.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_factory/src/make.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_syntax/src/directive_ext.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_js_syntax/src/static_value.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_json_syntax/src/member_ext.rs
  crates/rome_json_syntax/src/string_ext.rs
Labels: A-Linter, A-Parser, A-Formatter, L-Javascript, L-Json

PR feedback
  crates/rome_fs/src/fs/os.rs
Labels: A-Cli, A-Core

Add CHANGELOG entry
  CHANGELOG.md
Labels: none

Stabilize test
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/lint.rs
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion_to_files.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/fs_error_infinite_symlink_expansion_to_files.snap
Labels: A-Cli

This should fix the Windows test again
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/lint.rs
Labels: A-Cli

Test fixes
  Cargo.toml
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/applies_organize_imports.snap
  crates/rome_cli/tests/snapshots/main_commands_check/applies_organize_imports_from_cli.snap
  crates/rome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check.snap
  crates/rome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check_apply.snap
  crates/rome_css_parser/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/rome_js_transform/Cargo.toml
  crates/rome_json_analyze/Cargo.toml
  crates/rome_test_utils/Cargo.toml
Labels: A-Cli, A-Linter, A-Parser, L-Javascript, L-Json, L-CSS

feat: add support for `.jsonc` files
  Cargo.toml
  crates/rome_cli/src/configuration.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snapshots/main_commands_format/format_jsonc_files.snap
  crates/rome_cli/tests/snapshots/main_commands_format/treat_known_json_files_as_jsonc_files.snap
  crates/rome_cli/tests/snapshots/main_commands_format/treats_typescript_json_like_jsonc.snap
  crates/rome_css_parser/Cargo.toml
  crates/rome_deserialize/src/json.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_transform/Cargo.toml
  crates/rome_json_analyze/Cargo.toml
  crates/rome_json_syntax/src/file_source.rs
  crates/rome_service/src/configuration/diagnostics.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/tests/spec_tests.rs
  crates/rome_test_utils/Cargo.toml
  crates/rome_test_utils/src/lib.rs
  justfile
Labels: A-Cli, A-Project, A-Linter, A-Parser, L-Javascript, L-Json, L-CSS

Reformat our own TS sources
  editors/vscode/src/commands/syntaxTree.ts
  editors/vscode/src/main.ts
  editors/vscode/src/session.ts
  editors/vscode/src/statusBar.ts
  npm/js-api/src/index.ts
  npm/js-api/tests/formatContent.test.ts
  npm/js-api/tests/lintContent.test.ts
  npm/js-api/tests/printDiagnostics.test.ts
  website/astro.config.ts
  website/src/frontend-scripts/docsearch.ts
  website/src/playground/CodeMirror.tsx
  website/src/playground/Collapsible.tsx
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/components/DiagnosticsPane.tsx
  website/src/playground/components/Resizable.tsx
  website/src/playground/components/SettingsPanel.tsx
  website/src/playground/components/Tabs.tsx
  website/src/playground/main.tsx
  website/src/playground/tabs/ControlFlowTab.tsx
  website/src/playground/tabs/DiagnosticsListTab.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/tabs/FormatterIrTab.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/tabs/SyntaxTab.tsx
  website/src/playground/utils.ts
  website/src/playground/workers/prettierWorker.ts
  website/src/playground/workers/romeWorker.ts
Labels: A-Website

clippy
  crates/rome_service/src/file_handlers/json.rs
Labels: A-Project

fix: fix image urls in meta tags
  website/src/layouts/BaseLayout.astro
Labels: A-Website

fix: fix image urls in meta tags (#4735)
  website/src/layouts/BaseLayout.astro
Labels: A-Website

feat(rome_js_analyze): noUnsafeDeclarationMerging
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unsafe_declaration_merging.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noUnsafeDeclarationMerging.md
Labels: A-Project, A-Linter, A-Diagnostic, A-Website, L-Javascript

fix(rome_js_semantic): do not hoist classes and TS declarations
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/invalid.ts.snap
  crates/rome_js_semantic/src/events.rs
Labels: A-Linter, L-Javascript

pass options
  crates/rome_cli/src/configuration.rs
  crates/rome_deserialize/src/json.rs
  crates/rome_service/src/configuration/diagnostics.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/tests/spec_tests.rs
  crates/rome_test_utils/src/lib.rs
Labels: A-Cli, A-Project
