Repository rome/tools, changes with the labels that .github/labeler.yml gives for each.
All labels: A-Cli, A-Core, A-Project, A-Linter, A-Parser, A-Formatter, A-Editors, A-Diagnostic, A-Tooling, A-LSP

rebase
  crates/rome_service/src/configuration/linter/rules.rs
  npm/backend-jsonrpc/src/workspace.ts
Labels: A-Project

codegen and dependencies
  Cargo.lock
  crates/rome_json_analyze/Cargo.toml
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: A-Linter

chore: clippy and codegen
  Cargo.lock
  crates/rome_json_analyze/Cargo.toml
  website/src/components/generated/NumberOfRules.astro
Labels: A-Linter

code suggestions
  crates/rome_json_analyze/src/analyzers/nursery/no_duplicate_keys.rs
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateKeys/invalid.json
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateKeys/invalid.json.snap
Labels: A-Linter

code suggestions
  crates/rome_json_analyze/src/analyzers/nursery/no_duplicate_keys.rs
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noDuplicateKeys.md
  xtask/lintdoc/src/main.rs
Labels: A-Linter, A-Tooling

docs: remove unintended configuration
  website/src/pages/configuration.mdx
  website/src/pages/formatter/index.mdx
Labels: none

docs: remove unintended configuration (#4596)
  website/src/pages/configuration.mdx
  website/src/pages/formatter/index.mdx
Labels: none

clippy
  crates/rome_json_analyze/src/analyzers/nursery/no_duplicate_keys.rs
Labels: A-Linter

fix(rome_cli): Use lines() separator for os independent git ignore pa… (#4558)
  CHANGELOG.md
  crates/rome_cli/src/vcs.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/ignore_vcs_os_independent_parse.snap
Labels: A-Cli

codegen
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: A-Project

change rule name
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_json_analyze/src/analyzers/nursery.rs
  crates/rome_json_analyze/src/analyzers/nursery/no_duplicate_json_keys.rs
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/invalid.json
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/invalid.json.snap
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/valid.json
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/valid.json.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noDuplicateJsonKeys.md
Labels: A-Project, A-Linter, A-Diagnostic

.github/labeler.yml:

# See https://github.com/actions/labeler

A-Cli:
  - crates/rome_cli/**
  - crates/rome_fs/**

A-Core:
  - crates/rome_deserializer/**
  - crates/rome_fs/**
  - crates/rome_rowan/**
  - crates/rome_text_edit/**
  - crates/rome_text_size/**

A-Project:
- crates/rome_service/**

A-Linter:
  - crates/rome_analyze/**
  - crates/rome_js_analyze/**
  - crates/rome_json_analyze/**

A-Parser:
  - crates/rome_parser/**
  - crates/rome_js_parser/**
  - crates/rome_js_syntax/**
  - crates/rome_json_parser/**
  - crates/rome_json_syntax/**

A-Formatter:
  - crates/rome_formatter/**
  - crates/rome_formatter_test/**
  - crates/rome_js_formatter/**
  - crates/rome_json_formatter/**

A-Editors:
  - crates/editors/**

A-Diagnostic:
  - crates/rome_diagnostics/**
  - crates/rome_diagnostics_categories/**
  - crates/rome_diagnostics_macros/**

A-Tooling:
  - xtask/**

A-LSP:
  - crates/rome_lsp/**
