Repository rome/tools, pull requests merged in 2022-09, with the labels that each got.

#3145 fix(rome_formatter): Skipped token trivia spacing
  crates/rome_formatter/src/token.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
Labels: A-Formatter, L-JSX

#3149 test(rome_js_formatter): Remove `JsFormatOptions` `Default` implementation
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/ts/string/parameter_quotes.ts.snap
  crates/rome_wasm/build.rs
  xtask/bench/src/features/formatter.rs
  xtask/bench/src/lib.rs
  xtask/codegen/src/generate_bindings.rs
Labels: A-Formatter, I-Easy

#3144 feat(rome_js_formatter): Format JSX
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printed_tokens.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/jsx/auxiliary/expression_child.rs
  crates/rome_js_formatter/src/jsx/auxiliary/spread_child.rs
  crates/rome_js_formatter/src/jsx/auxiliary/text.rs
  crates/rome_js_formatter/src/jsx/expressions/tag_expression.rs
  crates/rome_js_formatter/src/jsx/lists/attribute_list.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_formatter/src/jsx/tag/fragment.rs
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
  crates/rome_js_formatter/src/jsx/tag/self_closing_element.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
  crates/rome_js_formatter/tests/specs/jsx/fragment.jsx
  crates/rome_js_formatter/tests/specs/jsx/fragment.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/inline-jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/jsx_parent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/issue-3532.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/issues.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/jsdoc.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/break-parent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/line-suffix-boundary/boundary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/pr-7889.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-literals/css-prop.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-literals/styled-jsx-with-expressions.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-literals/styled-jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/yield/jsx-without-parenthesis.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/yield/jsx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-10848.tsx.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/after_jsx_generic.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/tsx/member-expression.tsx.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/tsx/url.tsx.snap
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/TreeView.tsx
  website/playground/src/main.tsx
Labels: A-Formatter

#3150 feat(rome_js_formatter): Conditional JSX Chain layout
  crates/rome_js_formatter/src/js/expressions/conditional_expression.rs
  crates/rome_js_formatter/src/ts/types/conditional_type.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/jsx/conditional.jsx
  crates/rome_js_formatter/tests/specs/jsx/conditional.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/break-parent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/binary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
Labels: A-Formatter

#3143 feat(rome_cli): add commands for controlling the daemon server lifecycle
  .cargo/config.toml
  .github/workflows/pull_request.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_lsp.yml
  Cargo.lock
  crates/rome_bin/Cargo.toml
  crates/rome_bin/README.md
  crates/rome_bin/src/cli.rs
  crates/rome_bin/src/lib.rs
  crates/rome_bin/src/main.rs
  crates/rome_bin/src/server.rs
  crates/rome_cli/Cargo.toml
  crates/rome_cli/README.md
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/main.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  npm/backend-jsonrpc/src/socket.ts
Labels: A-Core, A-CLI

#3159 fix(rome_service): correctly compute rules
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_check/should_disable_a_rule_group.snap
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_service/src/configuration/linter/rules.rs
  rome.json
  xtask/codegen/src/generate_configuration.rs
Labels: A-project

#3155 ci: stale workflow
  .github/workflows/stale.yml
Labels: A-Tooling

#3157 chore(rome_service): remove constraints from settings
  crates/rome_cli/src/commands/format.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
Labels: A-Core

#3156 perf(rome_formatter): Add `Buffer.elements`
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/lists/module_item_list.rs
  crates/rome_js_formatter/src/js/lists/statement_list.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_formatter/src/ts/lists/type_member_list.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/module-blocks/comments.js.snap
Labels: A-Formatter

#3151 perf(rome_service): increase the throughput of the remote daemon transport
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_wasm/src/lib.rs
Labels: A-Core

#3189 fix(rome_cli): issue #3175
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration_over_config_file_issue_3175_v1.snap
  crates/rome_cli/tests/snapshots/main_format/applies_custom_configuration_over_config_file_issue_3175_v2.snap
  crates/rome_service/src/configuration/javascript.rs
  npm/rome/tests/__snapshots__/wasm.test.mjs.snap
  npm/rome/tests/daemon.test.mjs
  npm/rome/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/daemon/formatFiles.test.mjs
Labels: A-CLI

#3186 test(rome_cli): snap termination error
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/termination.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_check/apply_suggested_error.snap
  crates/rome_cli/tests/snapshots/main_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_check/parse_error.snap
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_linter.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_parse_error.snap
  crates/rome_cli/tests/snapshots/main_ci/formatting_error.snap
  crates/rome_cli/tests/snapshots/main_configuration/incorrect_globals.snap
  crates/rome_cli/tests/snapshots/main_configuration/incorrect_rule_name.snap
  crates/rome_cli/tests/snapshots/main_configuration/line_width_error.snap
  crates/rome_cli/tests/snapshots/main_format/format_stdin_with_errors.snap
  crates/rome_cli/tests/snapshots/main_format/indent_size_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/main_format/indent_size_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/main_format/indent_style_parse_errors.snap
  crates/rome_cli/tests/snapshots/main_format/line_width_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/main_format/line_width_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/main_format/quote_properties_parse_errors_letter_case.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI

#3085 feat(rome_js_analyze): useOptionalChain #2748
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/use_optional_chain.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/complexLogicalAndCases.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/complexLogicalAndCases.ts.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/logicalAndCases.js
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/logicalAndCases.js.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/validCases.ts
  crates/rome_js_analyze/tests/specs/js/useOptionalChain/validCases.ts.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useOptionalChain.md
Labels: A-linter

#3209 feature(vscode): add rules to the schema
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/workspace_types.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_configuration.rs
Labels: E-VScode, A-Editors

#3217 perf(rome_rowan): `SyntaxNodeText` improvements
  crates/rome_diagnostics/src/file.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_rowan/src/cursor/node.rs
  crates/rome_rowan/src/syntax_node_text.rs
  crates/rome_rowan/src/syntax_token_text.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_text_size/src/range.rs
Labels: A-linter

#3219 feat(rome_formatter): Source Map iteration over deleted ranges
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Labels: A-Formatter

#3215 docs: update metadata of rules
  CONTRIBUTING.md
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_js_analyze/src/analyzers/nursery/no_new_symbol.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_service/src/configuration/linter/rules.rs
  rome.json
  website/api/server.js
  website/playground/package.json
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noNewSymbol.md
  website/src/docs/lint/rules/noUnusedVariables.md
  xtask/lintdoc/src/main.rs
Labels: A-website

#3229 feat(rome_rowan): Expose `SyntaxElementKey`
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/element.rs
Labels: A-Core

#3236 fix(rome_formatter): Panic for out of order group id
  crates/rome_formatter/src/printer/mod.rs
Labels: A-Formatter

#3207 feat(rome_js_analyze): `noDangerouslySetInnerHtml` rule
  crates/rome_js_analyze/src/semantic_analyzers/jsx.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBinding.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/createElementBinding.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/insideJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/insideJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/reactCreateElement.js
  crates/rome_js_analyze/tests/specs/nursery/noDangerouslySetInnerHtml/reactCreateElement.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/DesktopPlayground.tsx
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noDangerouslySetInnerHtml.md
  xtask/lintdoc/src/main.rs
Labels: A-linter

#3239 refactor(rome_formatter): Part 2: Comments API
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token.rs
Labels: A-Formatter

#3240 refactor(rome_formatter): Part 3: Delete `FormatElement::Comment`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
Labels: A-Formatter

#3243 refactor(rome_formatter): Part 5: Comments formatting
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/token.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
Labels: A-Formatter

#3242 feat(playground): enable nursery lint rules
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/NurseryRules.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
Labels: A-website

#3244 refactor(rome_js_formatter): Part 6: JS Comments formatting
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/prelude.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
Labels: A-Formatter

#3237 perf(rome_cli): replace global allocator with jemalloc
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/main.rs
  xtask/bench/Cargo.toml
  xtask/bench/src/main.rs
Labels: A-Core, A-CLI

#3118 fix(rome_js_parser): Adding syntax error for new A?.b()
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/nullishAndLogicalOr.ts.snap
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.rast
  crates/rome_js_parser/test_data/inline/err/invalid_optional_chain_from_new_expressions.ts
Labels: L-JavaScript, A-parser

#3250 feat(rome_Formatter): Assert formatting of comments
  Cargo.lock
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/comments/map.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
Labels: A-Formatter

#3160 refactor(rome_formatter): Flat IR
  crates/rome_formatter/src/arguments.rs
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/format_element/tag.rs
  crates/rome_formatter/src/format_extensions.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/intersperse.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/printer/call_stack.rs
  crates/rome_formatter/src/printer/line_suffixes.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/queue.rs
  crates/rome_formatter/src/printer/stack.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_formatter/src/verbatim.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/check_reformat.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/src/ts/lists/type_member_list.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/check_reformat.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/prettier/js/sloppy-mode/eval-arguments-binding.js.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_wasm/Cargo.toml
  crates/rome_wasm/build.rs
  npm/rome/tests/daemon/formatContent.test.mjs
  npm/rome/tests/wasm/formatContent.test.mjs
  xtask/bench/src/features/formatter.rs
  xtask/codegen/src/generate_bindings.rs
  xtask/contributors/src/main.rs
Labels: A-Formatter

#3276 fix(rome_js_analyzer): add newline if statement has comments in `useBlockStatements`
  crates/rome_js_analyze/src/analyzers/correctness/use_block_statements.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/correctness/useBlockStatements.js
  crates/rome_js_analyze/tests/specs/correctness/useBlockStatements.js.snap
Labels: A-linter

#3279 feat(rome_js_analyzer): rule `useFragmentSyntax`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_fragment_syntax.rs
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx
  crates/rome_js_analyze/tests/specs/nursery/useFragmentSyntax.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useFragmentSyntax.md
Labels: A-linter

#3269 feat(rome_js_analyzer): rule `noChildrenProp`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noChildrenProp/noChildrenPropValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  rome.json
  website/playground/src/romeWorker.ts
Labels: A-linter

#3274 feat(rome_js_analyzer): `noVoidElementsWithChildren`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withChildren.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noVoidElementsWithChildren.md
Labels: A-linter

#3273 feat(rome_js_formatter): Format Member Chain
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/call_expression.rs
  crates/rome_js_formatter/src/js/expressions/computed_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/ts/expressions/type_assertion_expression.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/member_chain/chain_member.rs
  crates/rome_js_formatter/src/utils/member_chain/groups.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
  crates/rome_js_formatter/src/utils/member_chain/simple_argument.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/member-chain/computed.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/static_member_expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/call-with-template.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/lone-arg.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/closure-compiler-type-cast.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments-closure-typecast/comment-in-the-middle.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/functional-composition/functional_compose.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/functional-composition/rxjs_pipe.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/member/expand.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/13018.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/bracket_0-1.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/computed-merge.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/computed.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/conditional.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/d3.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/first_long.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/fluent-configuration.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/issue-3594.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/issue-4125.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/logical.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/multiple-members.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/square_0.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/this.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-css/issue-11797.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/optional-chaining/comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/member-chain.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/require/require.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-literals/styled-jsx-with-expressions.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/call.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/inline.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/indent-after-paren.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/cast/generic-cast.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/custom/typeParameters/variables.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/ternaries/indent.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeparams/class-method.ts.snap
  editors/vscode/src/commands/syntaxTree.ts
  npm/backend-jsonrpc/src/command.ts
  npm/backend-jsonrpc/src/index.ts
  npm/backend-jsonrpc/src/socket.ts
  npm/backend-jsonrpc/src/transport.ts
  npm/backend-jsonrpc/tests/transport.test.mjs
  npm/backend-jsonrpc/tests/workspace.test.mjs
  website/.eleventy.js
Labels: A-Formatter

#3277 fix(rome_js_analyzer): precedence for `useOptionalChain`
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts
  crates/rome_js_analyze/tests/specs/nursery/useOptionalChain/validCases.ts.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
Labels: A-linter

#3286 feat(rome_js_analyzer): code action for `noVoidElementsWithChildren`
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_void_elements_with_children.rs
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/inJsx.jsx.snap
  website/src/docs/lint/rules/noVoidElementsWithChildren.md
Labels: A-linter

#3288 feat(rome_js_analyzer): code action `noUselessFragments`
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxElementInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxElementInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxExpressionChildInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxExpressionChildInvalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxTextInvalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noUselessFragments/withJsxTextInvalid.jsx.snap
  website/src/docs/lint/rules/noUselessFragments.md
Labels: A-linter

#3282 feat(rome_js_analyzer): rule `noUndeclaredVariables`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_shadow_restricted_names.rs
  crates/rome_js_analyze/src/globals/browser.rs
  crates/rome_js_analyze/src/globals/mod.rs
  crates/rome_js_analyze/src/globals/node.rs
  crates/rome_js_analyze/src/globals/runtime.rs
  crates/rome_js_analyze/src/globals/typescript.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_undeclared_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noUndeclaredVariables.md
Labels: A-linter
