Repository rome/tools, pull requests merged in 2022-10, with the labels that each got.

#3307 fix(rome_formatter): Printer fill fits
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/jsx/tag/closing_element.rs
  crates/rome_js_formatter/src/jsx/tag/opening_element.rs
Labels: A-Formatter

#3310 fix(rome_formatter): Best fitting start entry
  crates/rome_formatter/src/printer/mod.rs
Labels: A-Formatter

#3317 fix(rome_js_semantic): correctly push/pop scopes for ts function types
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/tests/references.rs
Labels: A-linter

#3316 fix(rome_js_analyze): no unused variables accepting ts public/private constructor parameters
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
Labels: A-linter

#3320 perf(rome_js_analyze): improve the performance of noUndeclaredVariables
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/query.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_undeclared_variables.rs
  crates/rome_js_analyze/src/semantic_services.rs
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUndeclaredVariables.js.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/tests/assertions.rs
Labels: A-linter

#3323 refactor: move js bindings to a scoped package
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_js.yml
  .github/workflows/runtime.yml
  npm/js-api/.gitignore
  npm/js-api/README.md
  npm/js-api/package.json
  npm/js-api/pnpm-lock.yaml
  npm/js-api/src/daemon.ts
  npm/js-api/src/index.ts
  npm/js-api/src/nodeWasm.ts
  npm/js-api/src/utils.ts
  npm/js-api/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/daemon/formatContent.test.mjs
  npm/js-api/tests/daemon/formatFiles.test.mjs
  npm/js-api/tests/wasm/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/wasm/formatContent.test.mjs
  npm/js-api/tests/wasm/formatFiles.test.mjs
  npm/js-api/tsconfig.json
  npm/js-api/vitest.config.js
  npm/rome/package.json
Labels: A-Runtime

#3337 fix(rome_js_syntax): pick trimmed text instead the raw text
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
Labels: A-Core

#3285 feat(rome_js_semantic): Semantic Model support for closures
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
Labels: A-linter

#3348 fix(rome_js_analyze): improve the diagnostics emitted by `noUnreachable`
  crates/rome_cli/tests/snapshots/main_check/upgrade_severity.snap
  crates/rome_js_analyze/src/analyzers/nursery/no_unreachable.rs
  crates/rome_js_analyze/src/control_flow/nodes/switch_stmt.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsBreakStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsContinueStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsDoWhileStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForInStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForOfStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsForStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsIfStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsLabeledStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsReturnStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsSwitchStatement.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsSwitchStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsThrowStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsTryFinallyStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsTryStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsVariableStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/JsWhileStatement.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/MergeRanges.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/MergeRanges.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/SuppressionComments.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachable/TerminatorsPlurals.js.snap
  website/src/docs/lint/rules/noUnreachable.md
Labels: A-Diagnostic

#3350 fix(rome_lsp): fix the calculation of offsets in the diff to LSP text edit conversion
  crates/rome_lsp/src/utils.rs
Labels: E-VScode, A-Editors

#3349 fix(rome_wasm): fix the WASM diagnostic printer
  crates/rome_diagnostics/src/file.rs
  crates/rome_wasm/src/utils.rs
  npm/js-api/tests/wasm/__snapshots__/diagnosticPrinter.test.mjs.snap
  npm/js-api/tests/wasm/diagnosticPrinter.test.mjs
Labels: A-Tooling, A-Runtime

#3351 chore(playground): remove red text
  website/playground/src/DesktopPlayground.tsx
Labels: A-Tooling

#3251 fix(rome_js_formatter): in JSX, some spaces are removed #3211
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/significant-space/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/stateless-arrow-fn/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
Labels: A-Formatter

#3347 feat(rome_analyze): use serde to deserialize rule settings
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/options.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_service/Cargo.toml
Labels: A-linter

#3380 fix(rome_js_parser): Export `{"a"} from`
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/test_data/inline/err/export_named_clause_err.rast
  crates/rome_js_parser/test_data/inline/ok/export_named_from_clause.js
  crates/rome_js_parser/test_data/inline/ok/export_named_from_clause.rast
Labels: L-JavaScript, A-parser

#3342 feat(rome_js_analyze): new rule `noRestrictedGlobals`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_restricted_globals.rs
  crates/rome_js_analyze/tests/specs/nursery/noRestrictedGlobals.js
  crates/rome_js_analyze/tests/specs/nursery/noRestrictedGlobals.js.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noRestrictedGlobals.md
Labels: A-linter

#3383 feat(rome_formatter): Measure unicode width
  Cargo.lock
  crates/rome_diagnostics/src/v2/display/frame.rs
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/tests/specs/prettier/js/module-string-names/module-string-names-export.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/unicode/combining-characters.js.snap
  crates/rome_js_parser/test_data/inline/err/export_huge_function_in_script.rast
Labels: A-Formatter

#3382 fix(rome_diagnostics): fix the printing of empty diff lines
  crates/rome_cli/tests/snapshots/main_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_ci/ci_does_not_run_linter.snap
  crates/rome_diagnostics/src/v2/display/diff.rs
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/style/noShoutyConstants.js.snap
  website/src/docs/lint/rules/noShoutyConstants.md
Labels: A-Diagnostic

#3336 feat(rome_analyzer): add `noPositiveTabindex` rule
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/invalidJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/reactCreateElementValid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx
  crates/rome_js_analyze/tests/specs/nursery/noPositiveTabindex/validJsx.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noPositiveTabindex.md
Labels: A-linter

#3389 fix(rome_js_parser): Allow `arguments` in `d.ts` files
  crates/rome_js_parser/src/state.rs
  crates/rome_js_parser/test_data/inline/ok/arguments_in_definition_file.d.rast
  crates/rome_js_parser/test_data/inline/ok/arguments_in_definition_file.d.ts
  crates/rome_js_syntax/src/source_type.rs
  xtask/codegen/src/parser_tests.rs
Labels: A-parser

#3398 fix(rome_js_formatter): Arrow chain trailing comments
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_chain_comments.js
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_chain_comments.js.snap
Labels: A-Formatter

#3397 fix(rome_js_formatter): Fix dropped initializer comments
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment_comments.ts
  crates/rome_js_formatter/tests/specs/ts/assignment/assignment_comments.ts.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/property_assignment_comments.ts
  crates/rome_js_formatter/tests/specs/ts/assignment/property_assignment_comments.ts.snap
Labels: A-Formatter

#3399 fix(rome_js_formatter): Fix arrow binding parameter in test call
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_test_callback.js
  crates/rome_js_formatter/tests/specs/js/module/arrow/arrow_test_callback.js.snap
Labels: A-Formatter

#3403 perf(rome_formater): Inline `FormatElement::Text`
  crates/rome_formatter/src/arguments.rs
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/macros.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_js_formatter/src/utils/jsx.rs
Labels: A-Formatter

#3408 fix(rome_js_syntax): Remove `JsIdentifierBinding` from object binding pattern member union
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_dupe_args.rs
  crates/rome_js_formatter/src/js/any/object_binding_pattern_member.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  xtask/codegen/js.ungram
Labels: bug: confirmed, A-parser, I-Easy

#3412 fix(rome_diagnostics): fix unknown rule warning false positive
  Cargo.lock
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/registry.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/javascript.rs
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Labels: A-linter

#3417 fix(rome_cli): prevent the socket transport from printing an error on shutdown
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/service/mod.rs
Labels: A-CLI

#3441 feat(rome_cli): Add server logs to `rage` command
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
Labels: A-CLI

#3449 chore(website): Remove rome dependency
  website/package.json
  website/pnpm-lock.yaml
Labels: A-website, I-Easy

#3437 refactor(rome_analyzer): use new diagnostics for `AnalyzerDiagnostic`
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_console/src/lib.rs
  crates/rome_diagnostics/src/v2/advice.rs
  crates/rome_diagnostics/src/v2/display.rs
  crates/rome_diagnostics/src/v2/display/message.rs
  crates/rome_diagnostics/src/v2/error.rs
  crates/rome_diagnostics/src/v2/mod.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_delete.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_double_equals.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_extra_boolean_cast.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_shadow_restricted_names.rs
  crates/rome_js_analyze/src/analyzers/correctness/use_valid_typeof.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_unreachable.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_anchor_content.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_arguments.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_catch_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_function_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_import_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_label_var.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_array_index_key.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_children_prop.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_const_assign.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_dangerously_set_inner_html_with_children.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_positive_tabindex.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_render_return_value.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_restricted_globals.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_button_type.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_fragment_syntax.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_key_with_mouse_events.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/correctness/noDoubleEquals.js.snap
  crates/rome_js_analyze/tests/specs/correctness/useValidTypeof.js.snap
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-linter, A-Diagnostic

#3460 fix(rome_cli): print the correct subcommand in error messages
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/termination.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/main.rs
Labels: A-CLI, hacktoberfest

#3459 fix(rome_cli): state correct command to verify code post `rome init`
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  website/src/_includes/docs/cli-screenshots/init.md
Labels: A-CLI, hacktoberfest

#3457 fix(rome_cli): remove unsupported options in the `ci` help text
  crates/rome_cli/src/commands/help.rs
Labels: hacktoberfest

#3466 chore: Re-structure Website
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  website/src/.editorconfig
  website/src/_includes/docs/architecture.md
  website/src/_includes/docs/cli-commands.md
  website/src/_includes/docs/cli.md
  website/src/_includes/docs/configuration.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/intro.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/philosophy.md
  website/src/_includes/docs/post-installation.md
  website/src/_includes/docs/project-config.md
  website/src/_includes/docs/reference.md
  website/src/_includes/docs/status.md
  website/src/_includes/layouts/base.liquid
  website/src/blog/index.liquid
  website/src/blog/posts/2022-02-08_rome-formatter-and-rust-update.md
  website/src/blog/posts/2022-04-05_rome_formatter_release.md
  website/src/docs.md
  website/src/index.md
  website/src/styles/_sidebar.scss
  website/src/styles/index.scss
Labels: A-website

#3472 fix(rome_js_formatter, rome_js_parser): Empty external module declaration formatting
  crates/rome_js_formatter/src/ts/declarations/external_module_declaration.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/module/empty.ts.snap
  crates/rome_js_formatter/tests/specs/ts/declare.ts
  crates/rome_js_formatter/tests/specs/ts/declare.ts.snap
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/test_data/inline/err/ts_module_err.rast
  crates/rome_js_parser/test_data/inline/ok/ts_external_module_declaration.rast
  crates/rome_js_parser/test_data/inline/ok/ts_external_module_declaration.ts
Labels: A-Formatter, A-parser

#3470 doc(website): Show lint groups in TOC
  website/src/credits.md
  website/src/docs/lint/rules/index.md
  xtask/lintdoc/src/main.rs
Labels: A-website

#3476 chore(playground): reduce CodeMirror input slowness
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/MobilePlayground.tsx
Labels: A-website

#3474 feat(rome_js_formatter): trailing comma none
  crates/rome_cli/src/commands/help.rs
  crates/rome_js_formatter/src/context/trailing_comma.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/array.rs
  crates/rome_js_formatter/tests/spec_test.rs
  crates/rome_js_formatter/tests/specs/js/module/array/trailing-comma/array_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/array/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/export/trailing-comma/export_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/export/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/import_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/import/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/js/module/object/trailing-comma/object_trailing_comma.js.snap
  crates/rome_js_formatter/tests/specs/js/module/object/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/ts/class/trailing_comma/class_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/class/trailing_comma/options.json
  crates/rome_js_formatter/tests/specs/ts/enum/enum_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/enum/options.json
  crates/rome_js_formatter/tests/specs/ts/function/function_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/function/options.json
  crates/rome_js_formatter/tests/specs/ts/object/object_trailing_comma.ts.snap
  crates/rome_js_formatter/tests/specs/ts/object/options.json
  crates/rome_js_formatter/tests/specs/ts/type/trailing-comma/options.json
  crates/rome_js_formatter/tests/specs/ts/type/trailing-comma/type_trailing_comma.ts.snap
  crates/rome_service/src/configuration/javascript.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/playground/src/TrailingCommaSelect.tsx
  website/playground/src/types.ts
Labels: A-Formatter

#3453 fix(rome_cli): correctly compute file to handle in `rome ci`
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
  crates/rome_cli/tests/snapshots/main_commands_format/write_only_files_in_correct_base.snap
  crates/rome_fs/src/fs/memory.rs
Labels: A-CLI

#3355 feat(rome_js_analyze): exhaustive deps for React hooks
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.ts.snap
  crates/rome_js_semantic/src/semantic_model.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useExhaustiveDependencies.md
  xtask/lintdoc/src/main.rs
Labels: A-linter

#3444 feat(rome_js_analyze): add support for spread props in various rules
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_blank_target.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_key_with_mouse_events.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_anchor.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_valid_for_direction.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx
  crates/rome_js_analyze/tests/specs/nursery/useBlankTarget.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithClickEvents/useKeyWithClickEventsValid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx
  crates/rome_js_analyze/tests/specs/nursery/useKeyWithMouseEvents.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx
  crates/rome_js_analyze/tests/specs/nursery/useValidAnchor.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
  website/src/docs/lint/rules/useBlankTarget.md
  website/src/docs/lint/rules/useKeyWithClickEvents.md
  website/src/docs/lint/rules/useValidAnchor.md
  website/src/docs/lint/rules/useValidForDirection.md
Labels: A-linter

#3487 fix(rome_js_parser): call expression in optional member chain followed by `<`
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/ok/optional_chain_call_less_than.rast
  crates/rome_js_parser/test_data/inline/ok/optional_chain_call_less_than.ts
Labels: A-parser

#3494 fix(ci): run the version update script in the publish job of the js-api release workflow
  .github/workflows/release_js_api.yml
Labels: A-Tooling

#3502 feat: add useAltText lint rule for JSX expression
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_alt_text.rs
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx
  crates/rome_js_analyze/tests/specs/nursery/useAltText/input.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  rome.json
  website/playground/src/romeWorker.ts
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/useAltText.md
Labels: A-linter

#3498 fix(website): Search
  website/src/_includes/scripts/index.js
Labels: A-website

#3523 fix(rome_diagnostics): improve the handling of newline characters in diffs
  crates/rome_diagnostics/src/v2/display/diff.rs
  crates/rome_js_analyze/tests/specs/correctness/noDebugger.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnnecessaryContinue.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidElementsWithChildren/createElement.js.snap
  website/src/docs/lint/rules/noUnnecessaryContinue.md
Labels: A-Diagnostic

#3534 fix(rome_js_analyze): add code action for `noUnusedVariables`
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnusedVariables/privateOrPublicConstructorParameters.ts.snap
  website/package.json
  website/src/docs/lint/rules/noUnusedVariables.md
Labels: A-linter

#3525 fix(rome_js_parser): Ignore bindings in desctructuring initializers
  crates/rome_js_parser/src/syntax/binding.rs
  crates/rome_js_parser/test_data/inline/ok/destructuring_initializer_binding.js
  crates/rome_js_parser/test_data/inline/ok/destructuring_initializer_binding.rast
Labels: A-parser
