Repository rome/tools, pull requests merged in 2022-08, with the labels that each got.

#2868 feat(rome_js_analyze): noExtraBooleanCast
  crates/rome_js_analyze/src/analyzers/js.rs
  crates/rome_js_analyze/src/analyzers/js/no_extra_boolean_cast.rs
  crates/rome_js_analyze/tests/specs/js/noExtraBooleanCast.js
  crates/rome_js_analyze/tests/specs/js/noExtraBooleanCast.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  website/src/docs/lint/rules/index.md
  website/src/docs/lint/rules/noExtraBooleanCast.md
  xtask/lintdoc/src/main.rs
Labels: A-linter

#2990 feat(rome_js_formatter): Function parameter & return type grouping
  crates/rome_formatter/src/buffer.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/classes/constructor_class_member.rs
  crates/rome_js_formatter/src/js/classes/method_class_member.rs
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/objects/method_object_member.rs
  crates/rome_js_formatter/src/ts/auxiliary/method_signature_type_member.rs
  crates/rome_js_formatter/src/ts/classes/constructor_signature_class_member.rs
  crates/rome_js_formatter/src/ts/classes/method_signature_class_member.rs
  crates/rome_js_formatter/src/ts/declarations/declare_function_declaration.rs
  crates/rome_js_formatter/src/ts/types/function_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/method_types.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/type-parameters.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conformance/classes/mixinClassesAnnotated.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/method/issue-10352-consistency.ts.snap
  crates/rome_js_formatter/tests/specs/ts/expression/type_member.ts.snap
Labels: A-Formatter

#2993 feat(rome_js_formatter): Hug function parameters
  crates/rome_js_formatter/src/js/bindings/constructor_parameters.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/lists/constructor_parameter_list.rs
  crates/rome_js_formatter/src/js/lists/object_assignment_pattern_property_list.rs
  crates/rome_js_formatter/src/js/lists/object_binding_pattern_property_list.rs
  crates/rome_js_formatter/src/js/lists/parameter_list.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/params.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/mobx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/destructuring/destructuring.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/function-single-destructuring/array.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/function-single-destructuring/object.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/assignment-pattern.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/empty-lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/function-expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/last-argument-expansion/issue-10708.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/parameter-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/test_declarations.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/issue-10848.tsx.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/comments/location.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/argument-list-preserve-line.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/inline-decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/function-type/single-parameter.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/function/single_expand.ts.snap
  crates/rome_js_formatter/tests/specs/ts/expression/type_expression.ts.snap
Labels: A-Formatter

#2952 feat(rome_service): `--apply-suggested` argument to `rome check`
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/main.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
Labels: A-linter, A-CLI

#2998 fix(rome_service): inject defaults for missing globals
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/main.rs
  crates/rome_service/src/configuration/javascript.rs
Labels: A-project

#2995 feat(rome_formatter): `Align` IR element
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Labels: A-Formatter

#3002 feat(rome_js_formatter): Binary parentheses
  crates/rome_js_formatter/src/js/expressions/parenthesized_expression.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/tests/prettier_tests.rs
  crates/rome_js_formatter/tests/specs/js/module/comments.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/binaryish_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment-comments/identifier.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/bigint.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/private-fields-in-in.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/equality.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/exp.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/math.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary-expressions/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/binary_math/parens.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/return-statement.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/functional-composition/rxjs_pipe.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/in/arrow-function.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/issue-4125.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/preserve-line/argument-list.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested-in-condition.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/ternaries/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/private-fields-in-in/basic.ts.snap
  crates/rome_js_parser/src/syntax.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/util.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/lib.rs
Labels: A-Formatter

#3007 feat(rome_formatter): `Dedent` IR
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Labels: A-Formatter

#3021 feat(rome_formatter): `align > indent` nesting with `IndentStyle::Space`
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_extensions.rs
  crates/rome_formatter/src/formatter.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/printer_options/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/arrow/call.js.snap
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
Labels: A-Formatter

#2969 feat(playground): display the control flow graph in the playground
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_js_analyze/src/lib.rs
  editors/vscode/scripts/updateVersionForPrerelease.mjs
  editors/vscode/src/main.ts
  website/playground/package.json
  website/playground/pnpm-lock.yaml
  website/playground/public/mermaid.html
  website/playground/src/App.tsx
  website/playground/src/DesktopPlayground.tsx
  website/playground/src/IndentStyleSelect.tsx
  website/playground/src/MermaidGraph.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/SettingsMenu.tsx
  website/playground/src/SourceTypeSelect.tsx
  website/playground/src/lib.rs
  website/playground/src/romeWorker.ts
  website/playground/src/types.ts
  website/playground/src/utils.ts
  website/src/_includes/scripts/funding.js
Labels: A-website

#3062 feat(rome_formatter): Dedent to Root IR
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
Labels: A-Formatter

#3063 feat(rome_js_formatter): Template formatting
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/printer/printer_options/mod.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/template.rs
  crates/rome_js_formatter/src/js/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/ts/expressions/template_chunk_element.rs
  crates/rome_js_formatter/src/ts/expressions/template_element.rs
  crates/rome_js_formatter/src/ts/lists/template_element_list.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/expression/logical_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/template/template.js
  crates/rome_js_formatter/tests/specs/js/module/template/template.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/template-literal.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/line-suffix-boundary/boundary.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-comments/comment-inside.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-css/issue-5697.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-css/styled-components.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-graphql/graphql-tag.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/multiparser-html/lit-html.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/template-literals.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-align/indent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template-literals/expressions.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/arrow.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/comment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/faulty-locations.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/graphql.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/indent.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/template/inline.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/multiparser-css/issue-6259.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/template-literals/expressions.ts.snap
  crates/rome_js_formatter/tests/specs/ts/type/template_type.ts.snap
  website/playground/Cargo.toml
Labels: A-Formatter

#3061 feat(rome_js_formatter): Member assignment formatting
  crates/rome_js_formatter/src/js/assignments/computed_member_assignment.rs
  crates/rome_js_formatter/src/js/assignments/static_member_assignment.rs
  crates/rome_js_formatter/src/js/expressions/computed_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/tests/specs/js/module/declarations/variable_declaration.js.snap
  crates/rome_js_formatter/tests/specs/js/module/expression/import_meta_expression/import_meta_expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/issue-1966.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/assignment/issue-4094.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/assignment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/bracket_0.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/break-last-member.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/lone-arg.ts.snap
  crates/rome_js_formatter/tests/specs/ts/assignment/type_assertion_assignment.ts.snap
Labels: A-Formatter

#2985 feat(rome_js_analyze): add an `inlineVariable` code action
  crates/rome_js_analyze/src/assists/js.rs
  crates/rome_js_analyze/src/assists/js/inline_variable.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/js/inlineVariable.js
  crates/rome_js_analyze/tests/specs/js/inlineVariable.js.snap
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
Labels: A-linter, L-JavaScript

#3083 feat(rome_js_formatter): Parenthesize assignments
  crates/rome_js_formatter/src/js/assignments/array_assignment_pattern.rs
  crates/rome_js_formatter/src/js/assignments/computed_member_assignment.rs
  crates/rome_js_formatter/src/js/assignments/identifier_assignment.rs
  crates/rome_js_formatter/src/js/assignments/object_assignment_pattern.rs
  crates/rome_js_formatter/src/js/assignments/parenthesized_assignment.rs
  crates/rome_js_formatter/src/js/assignments/static_member_assignment.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/js/unknown/unknown_assignment.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/assignments/as_assignment.rs
  crates/rome_js_formatter/src/ts/assignments/non_null_assertion_assignment.rs
  crates/rome_js_formatter/src/ts/assignments/type_assertion_assignment.rs
  crates/rome_js_formatter/tests/specs/js/module/assignment/assignment.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/for-of/async-identifier.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/assignment/parenthesized.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/compiler/decrementAndIncrementOperators.ts.snap
Labels: A-Formatter

#3097 feat(npm): hook `*Conent` APIs to WASM bindings
  .github/workflows/pull_request.yml
  .github/workflows/runtime.yml
  npm/backend-jsonrpc/package.json
  npm/backend-jsonrpc/src/index.ts
  npm/backend-jsonrpc/tsconfig.json
  npm/rome/package.json
  npm/rome/pnpm-lock.yaml
  npm/rome/src/index.ts
  npm/rome/tests/index.test.ts
Labels: A-Runtime

#3120 refactor(rome_formatter): Return reference from `context.comments()`
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/statements/block_statement.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Labels: A-Formatter

#3116 feat(rome_formatter): `IndentIfGroupBreaks` IR element
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
Labels: A-Formatter

#3124 feat(rome_js_analyze): no unused starting with underscore; small hack for React and removing suggested fix
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.js.snap
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  website/src/docs/lint/rules/noUnusedVariables.md
Labels: A-linter

#3126 feat(rome_js_formatter): Heuristic for fill arrays
  crates/rome_js_formatter/src/js/declarations/for_variable_declaration.rs
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/lists/array_element_list.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/tests/specs/js/module/array/array_nested.js.snap
  crates/rome_js_formatter/tests/specs/js/module/array/empty_lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/issue-10159.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/nested.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers-negative.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers-with-tricky-comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers2.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/numbers3.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/preserve_empty_lines.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each-template-string.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/trailing-comma/trailing_whitespace.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/cast/generic-cast.ts.snap
  website/api/constants.js
Labels: A-Formatter

#3135 feat(rome_js_analyze): no unused variables supporting ts overload
  crates/rome_js_analyze/src/semantic_analyzers/js/no_unused_variables.rs
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts
  crates/rome_js_analyze/tests/specs/js/noUnusedVariables/noUnusedVariables.ts.snap
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_js_semantic/src/tests/references.rs
  website/src/docs/lint/rules/noUnusedVariables.md
Labels: A-linter
