Repository rome/tools, pull requests merged in 2022-11, with the labels that each got.

#3547 doc(website): Rework Getting Started
  website/.eleventy.js
  website/package.json
  website/pnpm-lock.yaml
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/linter.md
  website/src/_includes/docs/post-installation.md
  website/src/_includes/docs/reference.md
  website/src/funding-contributions.md
  website/src/funding-success.md
  website/src/funding.md
  website/src/index.md
  website/src/standalone-executable.md
Labels: A-website

#3550 doc(rome_cli): Use permalinks in `rome init`
  crates/rome_cli/src/commands/init.rs
  crates/rome_cli/tests/snapshots/main_init/creates_config_file.snap
  website/src/_includes/docs/configuration.md
  website/src/_includes/docs/formatter.md
  website/src/_includes/docs/getting-started.md
  website/static/_redirects
Labels: A-CLI

#3284 feat(vscode): watch configuration file
  crates/rome_fs/src/lib.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/README.md
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/src/lsp_requests.ts
  editors/vscode/src/main.ts
Labels: E-VScode, A-Editors

#3570 perf: End-to-end Linter and Formatter benchmarks
  benchmark/README.md
  benchmark/bench.eslint.js
  benchmark/bench.rome.json
  benchmark/package-lock.json
  benchmark/package.json
  benchmark/run.js
Labels: A-Documentation, A-website

#3591 fix(rome_cli): Respect formatter/linter `enabled` from configuration
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_does_not_run_formatter_via_cli.snap
Labels: A-CLI

#3644 fix(rome_js_analyze): False positives for interactive elements in `useKeyWithClickEvents`
  crates/rome_js_analyze/src/analyzers/a11y/use_key_with_click_events.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  website/docs/src/lint/rules/index.md
  website/docs/src/lint/rules/useKeyWithClickEvents.md
Labels: A-linter

#3559 feat(playground): add settings button and group IR
  website/playground/src/App.tsx
  website/playground/src/MobilePlayground.tsx
  website/playground/src/Playground.tsx
  website/playground/src/SettingsMenu.tsx
Labels: A-website

#3642 fix(rome_cli): ensures the service only connects to compatible versions
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/src/service/mod.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
Labels: A-CLI, A-LSP

#3643 feat(rome_lsp): stop the daemon after the last client disconnects
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/service/unix.rs
  crates/rome_cli/src/service/windows.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  editors/vscode/README.md
Labels: A-CLI, A-LSP

#3657 docs: change indent-style from tabs to tab
  website/docs/src/formatter/index.md
Labels: A-website

#3700 fix(lindoc): fix generated docs path
  xtask/contributors/src/main.rs
  xtask/lintdoc/src/main.rs
Labels: A-website

#3686 fix(rome_js_formatter): new expression attribute
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx
  crates/rome_js_formatter/tests/specs/jsx/attributes.jsx.snap
Labels: A-Formatter

#3622 fix(rome_js_parser): improve yield parsing in non generator function
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/test_data/inline/err/function_decl_err.rast
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_module.js
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_module.rast
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_script.js
  crates/rome_js_parser/test_data/inline/err/yield_at_top_level_script.rast
  crates/rome_js_parser/test_data/inline/err/yield_expr_in_parameter_initializer.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_module.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_module.rast
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_script.js
  crates/rome_js_parser/test_data/inline/err/yield_in_non_generator_function_script.rast
  crates/rome_js_parser/test_data/inline/ok/reparse_yield_as_identifier.js
  crates/rome_js_parser/test_data/inline/ok/reparse_yield_as_identifier.rast
  crates/rome_js_parser/test_data/inline/ok/yield_in_generator_function.js
  crates/rome_js_parser/test_data/inline/ok/yield_in_generator_function.rast
Labels: L-JavaScript, A-parser

#3714 doc(website): Add context about Romes philosophy
  website/src/pages/formatter/index.mdx
Labels: A-website

#3582 feat(rome_js_formatter): jestEach template literals #3308
  Cargo.lock
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/js/expressions/array_expression.rs
  crates/rome_js_formatter/src/js/expressions/template.rs
  crates/rome_js_formatter/src/js/expressions/template_element.rs
  crates/rome_js_formatter/src/js/lists/template_element_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_formatter/src/utils/test_each_template.rs
  crates/rome_js_formatter/tests/specs/js/module/each/each.js
  crates/rome_js_formatter/tests/specs/js/module/each/each.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each-template-string.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/test-declarations/jest-each.js.snap
Labels: breaking

#3724 fix(rome_lsp): update all diagnostics after a configuration change
  crates/rome_lsp/src/server.rs
Labels: E-VScode, A-Editors

#3717 feat(vscode): try to resolve the rome package from the workspace root
  editors/vscode/README.md
  editors/vscode/package-lock.json
  editors/vscode/package.json
  editors/vscode/src/main.ts
Labels: E-VScode, A-Editors

#3562 feat(rome_js_analyze): lint/correctness/noDupeKeys
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_dupe_keys.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js
  crates/rome_js_analyze/tests/specs/nursery/noDupeKeys.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noDupeKeys.md
Labels: A-linter

#3625 feat(rome_cli): add a `--force-colors` argument
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/main.rs
  crates/rome_cli/tests/main.rs
  crates/rome_console/src/lib.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  website/src/pages/cli.mdx
  xtask/lintdoc/src/main.rs
Labels: A-CLI, breaking

#3627 feat(rome_analyze): extend ActionCategory to allow expressing more code action kinds
  crates/rome_analyze/src/categories.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_js_analyze/src/assists/correctness/flip_bin_exp.rs
  crates/rome_js_analyze/src/assists/correctness/inline_variable.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/workspace.rs
  npm/backend-jsonrpc/src/workspace.ts
Labels: A-linter, A-LSP, E-VScode

#3732 fix(rome_js_formatter): jsx whitespace is meaningful jsx text
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/jsx/element.jsx
  crates/rome_js_formatter/tests/specs/jsx/element.jsx.snap
Labels: A-Formatter

#3742 docs(contributing): update internal documentation links
  CONTRIBUTING.md
Labels: A-website

#3564 feat(rome_cli): ignore option of files config
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/no_lint_if_files_are_listed_in_ignore_option.snap
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_if_files_are_listed_in_ignore_option.snap
  crates/rome_cli/tests/snapshots/main_configuration/correct_root.snap
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
Labels: A-CLI

#3736 fix(rome_js_formatter): Unnecessary parentheses for return/unary with verbatim argument
  crates/rome_js_formatter/src/js/expressions/unary_expression.rs
  crates/rome_js_formatter/src/js/statements/return_statement.rs
  crates/rome_js_formatter/src/utils/conditional.rs
  crates/rome_js_formatter/tests/specs/js/module/expression/unary_expression_verbatim_argument.js
  crates/rome_js_formatter/tests/specs/js/module/expression/unary_expression_verbatim_argument.js.snap
  crates/rome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js
  crates/rome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js.snap
Labels: A-Formatter

#3726 fix(rome_js_formatter): restrict export line break for single specifier
  crates/rome_js_formatter/src/js/module/export_named_from_clause.rs
  crates/rome_js_formatter/src/js/module/import_named_clause.rs
  crates/rome_js_formatter/tests/specs/js/module/export/named_from_clause.js
  crates/rome_js_formatter/tests/specs/js/module/export/named_from_clause.js.snap
  crates/rome_js_formatter/tests/specs/js/module/import/import_specifiers.js
  crates/rome_js_formatter/tests/specs/js/module/import/import_specifiers.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/export-extension/export.js.snap
  crates/rome_rowan/src/ast/mod.rs
Labels: A-Formatter, L-JavaScript

#3745 fix(rome_lsp): improve the handling of UTF-8 and overflow errors in `LineIndex`
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/src/line_index.rs
  crates/rome_lsp/src/utils.rs
Labels: A-LSP

#3680 feat(rome_js_analyzer): new rule: useConst
  Cargo.lock
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/useConst/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/useConst/valid.jsonc.snap
  crates/rome_js_syntax/src/stmt_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useConst.md
Labels: A-linter, L-JavaScript

#3758 docs(website): fix broken link to blog
  website/src/components/NavigationSidebar.astro
Labels: A-website

#3750 feat(rome_js_analyze): new rule noCondAssign
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_conditional_assignment.rs
  crates/rome_js_analyze/tests/specs/nursery/noConditionalAssignment/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noConditionalAssignment/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noConditionalAssignment/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noConditionalAssignment/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noConditionalAssignment.md
Labels: A-linter, L-JavaScript

#3752 feat(rome_js_analyze): implement noUnsafeFinally lint
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_unsafe_finally.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeFinally/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeFinally/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeFinally/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeFinally/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noUnsafeFinally.md
Labels: A-linter

#3756 feat(rome_js_analyze): noPrecisionLoss
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_precision_loss.rs
  crates/rome_js_analyze/tests/specs/nursery/noPrecisionLoss/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noPrecisionLoss/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noPrecisionLoss/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noPrecisionLoss/valid.js.snap
  crates/rome_js_syntax/src/numbers.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noPrecisionLoss.md
Labels: A-linter

#3784 doc(contributing): fix the wrong link for analyzers and lint rules selection
  CONTRIBUTING.md
Labels: A-website

#3778 feat(rome_js_parser): Improve parser error for generator function in an ambient context
  crates/rome_js_formatter/src/js/declarations/function_declaration.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/test_data/inline/err/ts_declare_generator_function.rast
  crates/rome_js_parser/test_data/inline/err/ts_declare_generator_function.ts
Labels: A-parser

#3808 fix(rome_js_parser): async label #3612
  crates/rome_js_parser/src/syntax/stmt.rs
  crates/rome_js_parser/test_data/inline/ok/async_continue_stmt.js
  crates/rome_js_parser/test_data/inline/ok/async_continue_stmt.rast
Labels: A-parser

#3801 feat(rome_js_analyze): add noEmptyInterface rule
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_empty_interface.rs
  crates/rome_js_analyze/tests/specs/nursery/noEmptyInterface/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noEmptyInterface/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noEmptyInterface/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noEmptyInterface/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noEmptyInterface.md
Labels: A-linter

#3788 refactor(rome_analyze): align the syntax of lint suppression with the corresponding diagnostic category
  Cargo.lock
  crates/rome_analyze/src/diagnostics.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_cli/src/commands/daemon.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/deprecated_suppression_comment.snap
  crates/rome_diagnostics/src/context.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/correctness/noUnreachable/SuppressionComments.js
  crates/rome_js_analyze/tests/specs/correctness/noUnreachable/SuppressionComments.js.snap
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js
  crates/rome_js_formatter/tests/specs/js/module/statement/return_verbatim_argument.js.snap
  crates/rome_js_syntax/Cargo.toml
  crates/rome_js_syntax/src/suppression.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/workspace.rs
  npm/backend-jsonrpc/src/workspace.ts
  website/src/pages/linter/index.mdx
  website/src/playground/tabs/ControlFlowTab.tsx
  website/src/playground/tabs/DiagnosticsConsoleTab.tsx
  website/src/playground/tabs/SettingsTab.tsx
  xtask/lintdoc/src/main.rs
Labels: A-linter, A-Diagnostic

#3794 feat(rome_js_analyze): Implement `noStringCaseMismatch`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_string_case_mismatch.rs
  crates/rome_js_analyze/tests/specs/nursery/noStringCaseMismatch.js
  crates/rome_js_analyze/tests/specs/nursery/noStringCaseMismatch.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noStringCaseMismatch.md
Labels: A-linter, L-JavaScript

#3796 feat(rome_js_analyze): rule `noAccessKey`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_access_key.rs
  crates/rome_js_analyze/tests/specs/nursery/noAccessKey.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAccessKey.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noAccessKey.md
Labels: A-linter, L-JSX

#3765 feat(rome_js_analyze): `noVar`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/control_flow.rs
  crates/rome_js_analyze/src/control_flow/visitor.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_var.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/specs/nursery/noVar/invalidFunctions.js
  crates/rome_js_analyze/tests/specs/nursery/noVar/invalidFunctions.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVar/invalidModule.js
  crates/rome_js_analyze/tests/specs/nursery/noVar/invalidModule.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVar/invalidScript.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noVar/invalidScript.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/noVar/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noVar/valid.jsonc.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noVar.md
Labels: A-linter

#3572 feat(rome_analyze): suppress rule via code actions
  Cargo.lock
  crates/rome_analyze/Cargo.toml
  crates/rome_analyze/src/categories.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_diagnostics/src/suggestion.rs
  crates/rome_js_analyze/src/analyzers/complexity/use_simplified_logic_expression.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_rowan/Cargo.toml
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_service/src/file_handlers/javascript.rs
  npm/backend-jsonrpc/src/workspace.ts
  xtask/bench/src/features/analyzer.rs
  xtask/lintdoc/src/main.rs
Labels: A-linter, A-Core

#3810 feat(website): change enabledNurseryRules to All/Recommended select
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/styles/_diagnostics.scss
  website/src/playground/styles/_settings.scss
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/types.ts
  website/src/playground/workers/romeWorker.ts
Labels: A-website

#3805 feat(rome_js_analyze): `noConstructorReturn`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_constructor_return.rs
  crates/rome_js_analyze/tests/specs/nursery/noConstructorReturn/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noConstructorReturn/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noConstructorReturn/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noConstructorReturn/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noConstructorReturn.md
Labels: A-linter, L-JavaScript

#3826 fix(rome_js_formatter): shothanded named import line break with default import
  crates/rome_js_formatter/src/js/module/import_named_clause.rs
  crates/rome_js_formatter/tests/specs/js/module/export/named_from_clause.js
  crates/rome_js_formatter/tests/specs/js/module/export/named_from_clause.js.snap
  crates/rome_js_formatter/tests/specs/js/module/import/import_specifiers.js
  crates/rome_js_formatter/tests/specs/js/module/import/import_specifiers.js.snap
Labels: A-Formatter, L-JavaScript

#3797 feat(rome_js_analyze): add noExtraNonNullAssertion rule
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_extra_non_null_assertion.rs
  crates/rome_js_analyze/tests/specs/nursery/noExtraNonNullAssertion/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noExtraNonNullAssertion/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExtraNonNullAssertion/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noExtraNonNullAssertion/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noExtraNonNullAssertion.md
Labels: A-linter

#3806 feat(rome_js_analyze): `noVoidTypeReturn`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_void_type_return.rs
  crates/rome_js_analyze/tests/specs/nursery/noVoidTypeReturn/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noVoidTypeReturn/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoidTypeReturn/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noVoidTypeReturn/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noVoidTypeReturn.md
Labels: A-linter, L-JavaScript

#3581 feat(rome_js_analyze): use exhaustive deps support properties
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
Labels: A-linter

#3791 feat(rome_js_analyze): `useDefaultSwitchClauseLast`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_default_switch_clause_last.rs
  crates/rome_js_analyze/tests/specs/nursery/useDefaultSwitchClauseLast/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useDefaultSwitchClauseLast/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useDefaultSwitchClauseLast/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useDefaultSwitchClauseLast/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useDefaultSwitchClauseLast.md
Labels: A-linter, L-JavaScript

#3789 fix(semantic_analyzers): style/noShoutyConstants does not recognize multiple uses of a constant.
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/tests/specs/style/noShoutyConstants.js
  crates/rome_js_analyze/tests/specs/style/noShoutyConstants.js.snap
Labels: A-linter

#3843 chore(rome_analyze): remove `FileId` from diagnostics
  crates/rome_analyze/src/diagnostics.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
Labels: A-Core, A-Diagnostic

#3823 feat(rome_diagnostics): add `with_severity` API
  crates/rome_analyze/src/diagnostics.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_diagnostics/src/context.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_service/src/file_handlers/javascript.rs
  website/src/playground/tabs/DiagnosticsListTab.tsx
  xtask/lintdoc/src/main.rs
Labels: A-Core, A-Diagnostic

#3831 refactor(js-api): remove the JSON-RPC backend and unimplemented methods
  .github/workflows/pull_request.yml
  .github/workflows/runtime.yml
  npm/js-api/README.md
  npm/js-api/package.json
  npm/js-api/pnpm-lock.yaml
  npm/js-api/src/daemon.ts
  npm/js-api/src/index.ts
  npm/js-api/src/nodeWasm.ts
  npm/js-api/src/utils.ts
  npm/js-api/src/wasm.ts
  npm/js-api/tests/__snapshots__/diagnosticPrinter.test.ts.snap
  npm/js-api/tests/__snapshots__/formatContent.test.ts.snap
  npm/js-api/tests/__snapshots__/lintContent.test.ts.snap
  npm/js-api/tests/__snapshots__/printDiagnostics.test.ts.snap
  npm/js-api/tests/daemon/__snapshots__/formatContent.test.mjs.snap
  npm/js-api/tests/daemon/formatContent.test.mjs
  npm/js-api/tests/daemon/formatFiles.test.mjs
  npm/js-api/tests/formatContent.test.ts
  npm/js-api/tests/lintContent.test.ts
  npm/js-api/tests/printDiagnostics.test.ts
  npm/js-api/tests/wasm/diagnosticPrinter.test.mjs
  npm/js-api/tests/wasm/formatFiles.test.mjs
  npm/js-api/tsconfig.json
Labels: A-Runtime, breaking

#3842 fix(rome_js_formatter): jsx punctuation
  crates/rome_js_formatter/src/jsx/lists/child_list.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/tests/specs/jsx/new-lines.jsx
  crates/rome_js_formatter/tests/specs/jsx/new-lines.jsx.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/fbt/test.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/text-wrap/test.js.snap
Labels: A-Formatter, L-JavaScript

#3869 fix(rome_cli): Fix max diagnostic counts
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_dereferenced_symlink.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_dereferenced_symlink_windows.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_exapansion_windows.snap
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_infinite_symlink_expansion.snap
  crates/rome_cli/tests/snapshots/main_commands_check/max_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_commands_check/max_diagnostics_default.snap
Labels: A-CLI

#3845 bench: Add JSON support to `xtask bench`
  Cargo.lock
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/parse.rs
  xtask/bench/Cargo.toml
  xtask/bench/src/features/analyzer.rs
  xtask/bench/src/features/formatter.rs
  xtask/bench/src/features/mod.rs
  xtask/bench/src/features/parser.rs
  xtask/bench/src/language.rs
  xtask/bench/src/lib.rs
  xtask/bench/src/libs-json.txt
  xtask/bench/src/test_case.rs
  xtask/bench/src/utils.rs
Labels: A-Tooling

#3878 refactor(rome_js_syntax): Rename Template, NewTarget, and `ImportMeta`
  crates/rome_js_analyze/src/analyzers/a11y/use_anchor_content.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  crates/rome_js_analyze/src/analyzers/style/no_unused_template_literal.rs
  crates/rome_js_analyze/src/analyzers/style/use_template.rs
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/any/expression.rs
  crates/rome_js_formatter/src/js/auxiliary/mod.rs
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_formatter/src/js/expressions/import_meta_expression.rs
  crates/rome_js_formatter/src/js/expressions/mod.rs
  crates/rome_js_formatter/src/js/expressions/new_target_expression.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/template_expression.rs
  crates/rome_js_formatter/src/js/module/mod.rs
  crates/rome_js_formatter/src/js/statements/expression_statement.rs
  crates/rome_js_formatter/src/jsx/attribute/expression_attribute_value.rs
  crates/rome_js_formatter/src/jsx/tag/element.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/utils/assignment_like.rs
  crates/rome_js_formatter/src/utils/member_chain/simple_argument.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/jsx/mod.rs
  crates/rome_js_parser/test_data/inline/err/subscripts_err.rast
  crates/rome_js_parser/test_data/inline/err/template_literal.rast
  crates/rome_js_parser/test_data/inline/err/template_literal_unterminated.rast
  crates/rome_js_parser/test_data/inline/ok/import_meta.rast
  crates/rome_js_parser/test_data/inline/ok/jsx_children_expression.rast
  crates/rome_js_parser/test_data/inline/ok/jsx_element_attribute_expression.rast
  crates/rome_js_parser/test_data/inline/ok/new_exprs.rast
  crates/rome_js_parser/test_data/inline/ok/subscripts.rast
  crates/rome_js_parser/test_data/inline/ok/template_literal.rast
  crates/rome_js_parser/test_data/inline/ok/ts_tagged_template_literal.rast
  crates/rome_js_parser/test_data/inline/ok/type_arguments_no_recovery.rast
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/generated/kind.rs
  crates/rome_js_syntax/src/generated/macros.rs
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  crates/rome_js_syntax/src/lib.rs
  xtask/codegen/js.ungram
  xtask/codegen/src/kinds_src.rs
Labels: L-JavaScript, I-Easy

#3849 feat(rome_js_analyze): `noConstEnum`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_const_enum.rs
  crates/rome_js_analyze/tests/specs/nursery/noConstEnum.ts
  crates/rome_js_analyze/tests/specs/nursery/noConstEnum.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noConstEnum.md
Labels: A-linter

#3896 ci: Add more clippy & dependency checks
  .github/workflows/main.yml
  .github/workflows/pull_request.yml
  Cargo.lock
  clippy.toml
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/union_ext.rs
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_aria.rs
  xtask/libs_bench/Cargo.toml
Labels: A-Tooling

#3859 feat(rome_json_formatter): Enable JSON formatting for debug builds
  Cargo.lock
  crates/rome_cli/src/execute.rs
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
  crates/rome_json_formatter/src/lib.rs
  crates/rome_json_parser/src/syntax.rs
  crates/rome_service/Cargo.toml
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
Labels: A-CLI
