Repository rome/tools, pull requests merged in 2022-12, with the labels that each got.

#3851 fix(rome_cli): Allow to run on read-only file systems
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snapshots/main_commands_check/fs_error_read_only.snap
  crates/rome_cli/tests/snapshots/main_commands_format/fs_error_read_only.snap
  crates/rome_service/src/configuration/mod.rs
Labels: A-CLI

#3855 feat(rome_js_analyze): better JS suppressions
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/suppression_action.rs
  crates/rome_js_analyze/src/utils/batch.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/suppression/a11y/useKeyWithClickEvents.jsx
  crates/rome_js_analyze/tests/suppression/a11y/useKeyWithClickEvents.jsx.snap
  crates/rome_js_analyze/tests/suppression/correctness/noArrayIndexKey.jsx
  crates/rome_js_analyze/tests/suppression/correctness/noArrayIndexKey.jsx.snap
  crates/rome_js_analyze/tests/suppression/correctness/noDoubleEquals/noDoubleEquals.js
  crates/rome_js_analyze/tests/suppression/correctness/noDoubleEquals/noDoubleEquals.js.snap
  crates/rome_js_analyze/tests/suppression/correctness/noDoubleEquals/noDoubleEquals.jsx
  crates/rome_js_analyze/tests/suppression/correctness/noDoubleEquals/noDoubleEquals.jsx.snap
  crates/rome_js_analyze/tests/suppression/correctness/noUndeclaredVariables.ts
  crates/rome_js_analyze/tests/suppression/correctness/noUndeclaredVariables.ts.snap
  crates/rome_js_analyze/tests/suppression/correctness/noUnusedVariables/simple.js
  crates/rome_js_analyze/tests/suppression/correctness/noUnusedVariables/simple.js.snap
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/rewriter.rs
  crates/rome_rowan/src/syntax/trivia.rs
Labels: A-Editors

#3839 feat(rome_js_analyze): `useEnumInitializers`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_enum_initializers.rs
  crates/rome_js_analyze/tests/specs/nursery/useEnumInitializers/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useEnumInitializers/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useEnumInitializers/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useEnumInitializers/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/js-api/src/wasm.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useEnumInitializers.md
  website/src/playground/types.ts
Labels: A-linter

#3873 feat(rome_js_analyze): `useDefaultParameterLast`
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_default_parameter_last.rs
  crates/rome_js_analyze/tests/specs/nursery/useDefaultParameterLast/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useDefaultParameterLast/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useDefaultParameterLast/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useDefaultParameterLast/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useDefaultParameterLast/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useDefaultParameterLast/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useDefaultParameterLast/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useDefaultParameterLast/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useDefaultParameterLast.md
Labels: A-linter, L-JavaScript

#3916 feature(rome_js_analyze): implement import sorting for named specifiers
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/namedSpecifiers.js
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/namedSpecifiers.js.snap
  crates/rome_lsp/src/utils.rs
  crates/rome_rowan/src/syntax/trivia.rs
Labels: A-linter

#3952 fix(vscode): improve the logging of connection errors
  editors/vscode/src/main.ts
Labels: E-VScode, A-Editors

#3921 feat(rome_service): internal errors as diagnostics
  Cargo.lock
  Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_diagnostics/src/lib.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter/src/diagnostics.rs
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/snapshots/formatter_syntax_error.snap
  crates/rome_formatter/src/snapshots/invalid_document.snap
  crates/rome_formatter/src/snapshots/poor_layout.snap
  crates/rome_formatter/src/snapshots/range_error.snap
  crates/rome_formatter_test/Cargo.toml
  crates/rome_formatter_test/src/snapshot_builder.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/utils/rename.rs
  crates/rome_js_analyze/src/utils/snapshots/cannot_be_renamed.snap
  crates/rome_js_analyze/src/utils/snapshots/cannot_find_declaration.snap
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_syntax/src/union_ext.rs
  crates/rome_json_formatter/Cargo.toml
  crates/rome_json_parser/Cargo.toml
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/diagnostics.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/configuration/snapshots/config_already_exists.snap
  crates/rome_service/src/configuration/snapshots/deserialization_error.snap
  crates/rome_service/src/configuration/snapshots/incorrect_pattern.snap
  crates/rome_service/src/configuration/snapshots/unknown_rule.snap
  crates/rome_service/src/diagnostics.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/snapshots/cant_read_directory.snap
  crates/rome_service/src/snapshots/cant_read_file.snap
  crates/rome_service/src/snapshots/dirty_workspace.snap
  crates/rome_service/src/snapshots/file_ignored.snap
  crates/rome_service/src/snapshots/file_too_large.snap
  crates/rome_service/src/snapshots/formatter_syntax_error.snap
  crates/rome_service/src/snapshots/not_found.snap
  crates/rome_service/src/snapshots/source_file_not_supported.snap
  crates/rome_service/src/snapshots/transport_channel_closed.snap
  crates/rome_service/src/snapshots/transport_rpc_error.snap
  crates/rome_service/src/snapshots/transport_serde_error.snap
  crates/rome_service/src/snapshots/transport_timeout.snap
  crates/rome_service/src/workspace/server.rs
  npm/backend-jsonrpc/src/workspace.ts
Labels: A-Core, A-Diagnostic

#3968 feat(playground): Add JSON support
  crates/rome_service/src/file_handlers/json.rs
  website/package.json
  website/pnpm-lock.yaml
  website/src/playground/Playground.tsx
  website/src/playground/utils.ts
  website/src/playground/workers/prettierWorker.ts
  website/src/playground/workers/romeWorker.ts
Labels: A-website

#3927 feat(rome_js_analyze): lint rule to check if react hooks are at top level
  CONTRIBUTING.md
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_hook_at_top_level.rs
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/customHook.js
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/customHook.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/customHook.options.json
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.js.snap
  crates/rome_js_semantic/src/semantic_model/binding.rs
  crates/rome_js_semantic/src/semantic_model/model.rs
  crates/rome_js_semantic/src/semantic_model/reference.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  justfile
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useHookAtTopLevel.md
  xtask/codegen/src/generate_new_lintrule.rs
  xtask/codegen/src/lib.rs
  xtask/codegen/src/main.rs
  xtask/codegen/src/unicode.rs
Labels: A-linter

#4021 feat(rome_cli): Add JS runtime and package manager information to `rage`
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/tests/snapshots/main_commands_rage/rage_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_server_logs.snap
  npm/rome/bin/rome
Labels: A-CLI

#4022 fix(vscode): ignore incompatible versions of the binary and improve the restart logic
  editors/vscode/src/main.ts
Labels: E-VScode, A-Editors

#4034 docs: fix typo in configuration.mdx
  website/src/pages/configuration.mdx
Labels: A-website

#3955 feat(rome_js_analyze): add module and classes support for noRedundantUseStrict
  crates/rome_js_analyze/src/analyzers/nursery/no_redundant_use_strict.rs
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalid.cjs
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalid.cjs.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalidClass.cjs
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalidClass.cjs.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalidFunction.cjs
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalidFunction.cjs.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/invalidFunction.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/valid.cjs
  crates/rome_js_analyze/tests/specs/nursery/noRedundantUseStrict/valid.cjs.snap
  crates/rome_js_syntax/src/directive_ext.rs
  crates/rome_js_syntax/src/lib.rs
  website/src/pages/lint/rules/noRedundantUseStrict.md
Labels: A-linter, L-JavaScript

#4024 fix(rome_lsp): improve the pattern matching logic for ignored files
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/src/requests/syntax_tree.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/matcher/pattern.rs
Labels: A-LSP, A-project

#4051 fix(rome_lsp): fix the merge conflict of #4042 and #4044
  crates/rome_lsp/src/session.rs
Labels: A-LSP

#4056 refactor(rome_formatter): Extract shared separated logic
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/separated.rs
  crates/rome_js_formatter/src/prelude.rs
  crates/rome_js_formatter/src/separated.rs
  crates/rome_json_formatter/src/separated.rs
Labels: A-Formatter

#4033 feat(rome_js_analyze): `noClassAssign` rule
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_class_assign.rs
  crates/rome_js_analyze/tests/specs/nursery/noClassAssign.js
  crates/rome_js_analyze/tests/specs/nursery/noClassAssign.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noClassAssign.md
Labels: A-linter, L-JavaScript

#4066 feat(rome_json_formatter): Fallback to Verbatim for nodes with syntax errors
  crates/rome_formatter/src/prelude.rs
  crates/rome_formatter/src/verbatim.rs
  crates/rome_js_formatter/src/builders.rs
  crates/rome_js_formatter/src/js/lists/class_member_list.rs
  crates/rome_js_formatter/src/js/lists/module_item_list.rs
  crates/rome_js_formatter/src/js/lists/statement_list.rs
  crates/rome_js_formatter/src/js/lists/switch_case_list.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/prelude.rs
  crates/rome_json_formatter/src/json/auxiliary/member.rs
  crates/rome_json_formatter/src/json/auxiliary/root.rs
  crates/rome_json_formatter/tests/specs/json/empty.json
  crates/rome_json_formatter/tests/specs/json/empty.json.snap
  crates/rome_json_formatter/tests/specs/json/object/missing_value.json
  crates/rome_json_formatter/tests/specs/json/object/missing_value.json.snap
Labels: A-Formatter, L-JSON

#4045 feat(rome_js_analyzer): rule `useValidLang`
  crates/rome_aria/src/iso.rs
  crates/rome_aria/src/lib.rs
  crates/rome_aria_metadata/build.rs
  crates/rome_aria_metadata/src/lib.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/use_valid_lang.rs
  crates/rome_js_analyze/src/aria_services.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/nursery/useValidLang.jsx
  crates/rome_js_analyze/tests/specs/nursery/useValidLang.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useValidLang.md
Labels: A-linter

#4035 feat(rome_js_parser): instantiation expressions #3147
  crates/rome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/binary-expr.ts.snap
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expression_property_access.rast
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expression_property_access.ts
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.rast
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions1.ts
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions_1.rast
  crates/rome_js_parser/test_data/inline/err/ts_instantiation_expressions_1.ts
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expression_property_access.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expression_property_access.ts
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions.ts
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions_1.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions_1.ts
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions_asi.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions_asi.ts
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions_new_line.rast
  crates/rome_js_parser/test_data/inline/ok/ts_instantiation_expressions_new_line.ts
Labels: L-JavaScript, A-parser

#4017 feat(rome_js_analyze): implement the noUnreachableSuper rule
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/upgrade_severity.snap
  crates/rome_control_flow/src/builder.rs
  crates/rome_control_flow/src/lib.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_invalid_constructor_super.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_unreachable_super.rs
  crates/rome_js_analyze/src/control_flow.rs
  crates/rome_js_analyze/src/control_flow/visitor.rs
  crates/rome_js_analyze/tests/specs/nursery/noInvalidConstructorSuper.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachableSuper/duplicateSuper.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachableSuper/duplicateSuper.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachableSuper/missingSuper.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachableSuper/missingSuper.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnreachableSuper/thisBeforeSuper.js
  crates/rome_js_analyze/tests/specs/nursery/noUnreachableSuper/thisBeforeSuper.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/tests/workspace.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noInvalidConstructorSuper.md
  website/src/pages/lint/rules/noUnreachableSuper.md
Labels: A-linter

#4078 feat(rome_cli): rename `--apply-suggested` to `--apply-unsafe`
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/apply_noop.snap
  crates/rome_cli/tests/snapshots/main_commands_check/apply_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_check/apply_suggested_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/should_disable_a_rule_group.snap
Labels: A-CLI, breaking

#4090 feat(rome_json_formatter): JSON Formatting number #2570
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter/src/token/mod.rs
  crates/rome_formatter/src/token/number.rs
  crates/rome_formatter/src/token/string.rs
  crates/rome_js_formatter/src/js/expressions/number_literal_expression.rs
  crates/rome_js_formatter/src/ts/types/number_literal_type.rs
  crates/rome_js_formatter/src/utils/mod.rs
  crates/rome_json_formatter/src/json/value/number_value.rs
  crates/rome_json_formatter/tests/specs/json/number.json
  crates/rome_json_formatter/tests/specs/json/number.json.snap
  crates/rome_json_formatter/tests/specs/prettier/json/json/pass1.json.snap
  crates/rome_json_formatter/tests/specs/prettier/json/range/unary-expression-2.json.snap
Labels: A-Formatter, L-JSON

#4023 feat(editors/vscode): Add `requiresConfiguration` option
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/extension_settings.rs
  crates/rome_lsp/src/lib.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  editors/vscode/README.md
  editors/vscode/package.json
  editors/vscode/src/main.ts
Labels: A-Editors

#4100 fix(rome_js_formatter): Union in mapped type
  crates/rome_js_formatter/src/ts/types/union_type.rs
  crates/rome_js_formatter/tests/specs/ts/type/union_type.ts
  crates/rome_js_formatter/tests/specs/ts/type/union_type.ts.snap
Labels: A-Formatter, L-JavaScript, breaking

#4105 feat(rome_json_formatter): JSON Formatting string #2570
  crates/rome_formatter/src/token/mod.rs
  crates/rome_formatter/src/token/string.rs
  crates/rome_js_formatter/benches/iai.rs
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/js/expressions/big_int_literal_expression.rs
  crates/rome_js_formatter/src/ts/types/big_int_literal_type.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/specs/prettier/js/directives/escaped.js.snap
  crates/rome_json_formatter/src/format_string.rs
  crates/rome_json_formatter/src/json/auxiliary/member_name.rs
  crates/rome_json_formatter/src/json/value/string_value.rs
  crates/rome_json_formatter/src/lib.rs
  crates/rome_json_formatter/tests/specs/json/object/string.json
  crates/rome_json_formatter/tests/specs/json/object/string.json.snap
  crates/rome_json_formatter/tests/specs/prettier/json/json/pass1.json.snap
Labels: A-Formatter, L-JSON

#4104 test(rome_js_formatter): update prettier tests
  crates/rome_formatter_test/src/prettier/package.json
  crates/rome_formatter_test/src/prettier/pnpm-lock.yaml
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/issue-10159.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/arrays/issue-10159.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/async.js
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/async.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/async.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/get.js
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/get.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/set.js
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/set.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-async.js
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-async.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-async.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-get.js
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-get.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-set.js
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-set.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-static.js
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-static.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static.js
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/comments/multi-comments-2.js
  crates/rome_js_formatter/tests/specs/prettier/js/comments/multi-comments-2.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/13018.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/method-chain/13018.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/multiline-literal.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/strings/multiline-literal.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/abstract-property/semicolon.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/abstract-property/semicolon.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conditional-types/issue-13275.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/conditional-types/issue-13275.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/logical-expr.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/instantiation-expression/logical-expr.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/literal/multiline.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/literal/multiline.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/satisfies-operators/argument-expansion.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/satisfies-operators/argument-expansion.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/satisfies-operators/assignment.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/satisfies-operators/assignment.ts.snap
Labels: A-Formatter

#4112 fix(rome_js_parser): parse "async" as class member property correctly
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/async.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/classes/keyword-property/static-async.js.snap
  crates/rome_js_parser/src/syntax/class.rs
Labels: L-JavaScript, A-parser

#4018 feat: Support extends constraints on infer type
  crates/rome_js_factory/src/generated/node_factory.rs
  crates/rome_js_factory/src/generated/syntax_factory.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/ts/types/function_type.rs
  crates/rome_js_formatter/src/ts/types/infer_type.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/infer-extends/basic.ts.snap
  crates/rome_js_parser/src/state.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/test_data/inline/ok/ts_conditional_type.rast
  crates/rome_js_parser/test_data/inline/ok/ts_conditional_type.ts
  crates/rome_js_parser/test_data/inline/ok/ts_inferred_type.rast
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/generated/nodes_mut.rs
  xtask/codegen/js.ungram
Labels: L-JavaScript, A-parser
