Repository rome/tools, pull requests merged in 2023-04, with the labels that each got.

#4334 fix(rome_js_formatter): format JsxString node
  CHANGELOG.md
  crates/rome_js_formatter/src/jsx/auxiliary/string.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/specs/prettier/jsx/jsx/parens.js.snap
  crates/rome_js_formatter/tests/specs/prettier/jsx/jsx/quotes.js.snap
Labels: A-Formatter

#4340 feat(rome_js_analyze): noAriaUnsupportedElements
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_aria_unsupported_elements.rs
  crates/rome_js_analyze/tests/specs/nursery/noAriaUnsupportedElements/invalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAriaUnsupportedElements/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noAriaUnsupportedElements/valid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noAriaUnsupportedElements/valid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noAriaUnsupportedElements.md
Labels: A-Linter, A-Project, A-Diagnostic

#4324 feat(rome_service): apply formatter to code actions
  CHANGELOG.md
  Cargo.lock
  crates/rome_cli/Cargo.toml
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/apply_noop.snap
  crates/rome_cli/tests/snapshots/main_commands_check/apply_ok.snap
  crates/rome_cli/tests/snapshots/main_commands_check/apply_unsafe_with_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/should_disable_a_rule.snap
  crates/rome_cli/tests/snapshots/main_commands_check/should_disable_a_rule_group.snap
  crates/rome_formatter/src/diagnostics.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/diagnostics.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
Labels: A-Formatter, A-CLI, A-LSP, A-Project

#4350 chore: update version numbers
  .cargo/config.toml
  Cargo.lock
  crates/rome_console/Cargo.toml
  crates/rome_diagnostics/Cargo.toml
  crates/rome_diagnostics_categories/Cargo.toml
  crates/rome_diagnostics_macros/Cargo.toml
  crates/rome_js_factory/Cargo.toml
  crates/rome_js_parser/CHANGELOG.md
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_syntax/Cargo.toml
  crates/rome_js_unicode_table/Cargo.toml
  crates/rome_markup/Cargo.toml
  crates/rome_parser/Cargo.toml
  crates/rome_rowan/Cargo.toml
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_size/Cargo.toml
Labels: A-Core, A-Parser, A-Diagnostic

#4357 feat(rome_js_analyzer): `noConsoleLog` rule
  .gitattributes
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_confusing_arrow.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_console_log.rs
  crates/rome_js_analyze/tests/specs/nursery/noConsoleLog/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noConsoleLog/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noConsoleLog/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noConsoleLog/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noConfusingArrow.md
  website/src/pages/lint/rules/noConsoleLog.md
Labels: A-Linter, A-Project, A-Diagnostic

#4342 refactor(rome_js_anaylze): introduce StaticValue enum for checking value of the JSX attributes or JS expressions
  crates/rome_js_analyze/src/analyzers/a11y/no_blank_target.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_anchor_content.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_html_lang.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_key_with_mouse_events.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_string_case_mismatch.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_redundant_alt.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_svg_without_title.rs
  crates/rome_js_analyze/src/analyzers/style/use_numeric_literals.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_noninteractive_element_to_interactive_role.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_noninteractive_tabindex.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_redundant_roles.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/use_aria_prop_types.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/use_valid_lang.rs
  crates/rome_js_analyze/src/aria_services.rs
  crates/rome_js_analyze/src/semantic_analyzers/a11y/use_button_type.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_iframe_title.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/tests/specs/style/useNumericLiterals/invalid.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_js_syntax/src/static_value.rs
Labels: A-Linter, A-Parser

#4364 feat(rome_js_analyze): noForEach
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_for_each.rs
  crates/rome_js_analyze/tests/specs/nursery/noForEach/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noForEach/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noForEach/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noForEach/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noForEach.md
Labels: A-Linter, A-Project, A-Diagnostic

#4366 fix(rome_js_analyze): lint/correctness/noUndeclaredVariables incorrectly identifies AggregateError as an undeclared variable. #4365
  CHANGELOG.md
  crates/rome_js_analyze/src/globals/runtime.rs
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariables.js
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariables.js.snap
Labels: A-Linter

#4354 fix(rome_js_analyze): `useShorthandArrayType` should handle nested ReadonlyArray and not report to `TsObjectType`
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/style/use_shorthand_array_type.rs
  crates/rome_js_analyze/tests/specs/style/useShorthandArrayType/invalid.ts
  crates/rome_js_analyze/tests/specs/style/useShorthandArrayType/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/style/useShorthandArrayType/valid.ts
  crates/rome_js_analyze/tests/specs/style/useShorthandArrayType/valid.ts.snap
  website/src/pages/lint/rules/useShorthandArrayType.md
Labels: A-Linter

#4358 feat(rome_js_analyzer): `useLiteralKeys` rule
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_keys.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  justfile
  npm/backend-jsonrpc/src/workspace.ts
  npm/js-api/scripts/update-nightly-version.mjs
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useLiteralKeys.md
Labels: A-Linter, A-Project, A-Diagnostic

#4367 fix(rome_json_formatter): JSON formatter does not respect lineWidth for arrays #4351
  CHANGELOG.md
  crates/rome_cli/tests/snapshots/main_commands_format/does_not_format_ignored_directories.snap
  crates/rome_json_formatter/src/json/lists/array_element_list.rs
  crates/rome_json_formatter/tests/quick_test.rs
  crates/rome_json_formatter/tests/specs/json/array/fill_layout.json
  crates/rome_json_formatter/tests/specs/json/array/fill_layout.json.snap
  crates/rome_json_formatter/tests/specs/json/array/layout.json.snap
  crates/rome_json_formatter/tests/specs/json/array/multi_line.json.snap
  crates/rome_json_formatter/tests/specs/json/array/nested.json.snap
  crates/rome_json_formatter/tests/specs/json/array/one_per_line_layout.json
  crates/rome_json_formatter/tests/specs/json/array/one_per_line_layout.json.snap
Labels: A-Formatter, A-CLI

#4368 feat(rome_js_analyze): analyzer metadata
  CHANGELOG.md
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/options.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_undeclared_variables.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidTsInJs.js
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/invalidTsInJs.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validTsGlobals.ts
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/validTsGlobals.ts.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
  website/src/pages/lint/rules/noUndeclaredVariables.md
  xtask/bench/src/language.rs
  xtask/lintdoc/src/main.rs
Labels: A-Linter, A-Tooling, A-Project

#4343 feat(rome_cli): rome migrate
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/ci.rs
  crates/rome_cli/src/commands/format.rs
  crates/rome_cli/src/commands/help.rs
  crates/rome_cli/src/commands/migrate.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/commands/rage.rs
  crates/rome_cli/src/configuration.rs
  crates/rome_cli/src/diagnostics.rs
  crates/rome_cli/src/execute/diagnostics.rs
  crates/rome_cli/src/execute/migrate.rs
  crates/rome_cli/src/execute/mod.rs
  crates/rome_cli/src/execute/process_file.rs
  crates/rome_cli/src/execute/std_in.rs
  crates/rome_cli/src/execute/traverse.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/commands/migrate.rs
  crates/rome_cli/tests/commands/mod.rs
  crates/rome_cli/tests/snapshots/main_commands_migrate/migrate_config_up_to_date.snap
  crates/rome_cli/tests/snapshots/main_commands_migrate/missing_configuration_file.snap
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_lsp/src/session.rs
  crates/rome_migrate/Cargo.toml
  crates/rome_migrate/src/analyzers.rs
  crates/rome_migrate/src/analyzers/rule_set.rs
  crates/rome_migrate/src/lib.rs
  crates/rome_migrate/src/macros.rs
  crates/rome_migrate/src/registry.rs
  crates/rome_service/src/configuration/mod.rs
  npm/backend-jsonrpc/src/workspace.ts
Labels: A-Linter, A-CLI, A-LSP, A-Project, A-Diagnostic

#4377 refactor(rome_js_analyze): add more tests and docs for a11y rules through refactoring
  crates/rome_js_analyze/src/analyzers/a11y/no_access_key.rs
  crates/rome_js_analyze/src/analyzers/a11y/no_auto_focus.rs
  crates/rome_js_analyze/src/analyzers/a11y/no_blank_target.rs
  crates/rome_js_analyze/src/analyzers/a11y/no_distracting_elements.rs
  crates/rome_js_analyze/src/analyzers/a11y/no_header_scope.rs
  crates/rome_js_analyze/tests/specs/a11y/noAccessKey/invalid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noAccessKey/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/noAutofocus/invalid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noAutofocus/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/noAutofocus/valid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noAutofocus/valid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/noBlankTarget/invalid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noBlankTarget/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/noBlankTarget/valid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noBlankTarget/valid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/noDistractingElements/invalid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noDistractingElements/invalid.jsx.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noAutofocus.md
  website/src/pages/lint/rules/noBlankTarget.md
  website/src/pages/lint/rules/noDistractingElements.md
  website/src/pages/lint/rules/noHeaderScope.md
Labels: A-Linter, A-Parser, A-Project

#4378 fix(rome_js_analyze): check if the string key can convert to a static member
  CHANGELOG.md
  Cargo.lock
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_keys.rs
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/valid.js.snap
Labels: A-Linter

#4387 docs: change "tabs" to "tab" in format help command
  crates/rome_cli/src/commands/help.rs
  website/src/pages/formatter/index.mdx
Labels: A-CLI

#4363 feat(rome_js_analyze): `noConstantCondition`
  CHANGELOG.md
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/max_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_commands_check/max_diagnostics_default.snap
  crates/rome_cli/tests/snapshots/main_commands_check/maximum_diagnostics.snap
  crates/rome_cli/tests/snapshots/main_commands_check/print_verbose.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_lint_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/print_verbose.snap
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_constant_condition.rs
  crates/rome_js_analyze/tests/specs/nursery/noConstantCondition/invalid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noConstantCondition/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/noConstantCondition/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noConstantCondition/valid.jsonc.snap
  crates/rome_js_semantic/src/semantic_model/model.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noConstantCondition.md
Labels: A-Linter, A-CLI, A-Project, A-Diagnostic

#4385 feat(rome_js_analyze): noUselessConstructor
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_useless_constructor.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessConstructor/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessConstructor/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessConstructor/invalid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noUselessConstructor/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessConstructor/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noUselessConstructor/valid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessConstructor/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noUselessConstructor/valid.ts.snap
  crates/rome_js_syntax/src/modifier_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noUselessConstructor.md
Labels: A-Linter, A-Parser, A-Project, A-Diagnostic

#4401 chore: deserialize formatter options
  Cargo.lock
  crates/rome_formatter/src/lib.rs
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_formatter/src/context.rs
  crates/rome_js_formatter/src/context/trailing_comma.rs
  crates/rome_js_formatter/tests/language.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/parse/json/javascript.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: A-Formatter, A-Project

#4404 chore: create newtype for string sets
  .editorconfig
  crates/rome_cli/src/vcs.rs
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/configuration/organize_imports.rs
  crates/rome_service/src/configuration/parse/json/files.rs
  crates/rome_service/src/configuration/parse/json/formatter.rs
  crates/rome_service/src/configuration/parse/json/javascript.rs
  crates/rome_service/src/configuration/parse/json/linter.rs
  crates/rome_service/src/configuration/parse/json/organize_imports.rs
  crates/rome_service/src/configuration/string_set.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/settings.rs
  editors/vscode/configuration_schema.json
  justfile
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: A-CLI, A-Project

#4411 fix(rome_lsp): remove code assists from code actions
  CHANGELOG.md
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/file_handlers/javascript.rs
Labels: A-LSP, A-Project

#4409 feat(rome_js_analyze): useLiteralEnumMembers
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_enum_members.rs
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/valid.ts.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useLiteralEnumMembers.md
Labels: A-Linter, A-Parser, A-Project, A-Diagnostic

#4414 fix(rome_js_analyze): #4348
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/style/no_non_null_assertion.rs
Labels: A-Linter

#4413 fear(rome_js_analyze): useGroupedTypeImport
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_grouped_type_import.rs
  crates/rome_js_analyze/tests/specs/nursery/useGroupedTypeImport/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useGroupedTypeImport/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useGroupedTypeImport/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useGroupedTypeImport/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useGroupedTypeImport.md
Labels: A-Linter, A-Project, A-Diagnostic

#4419 chore: add script to promote rules
  CONTRIBUTING.md
  Cargo.lock
  crates/rome_analyze/CONTRIBUTING.md
  justfile
  xtask/codegen/Cargo.toml
  xtask/codegen/src/lib.rs
  xtask/codegen/src/main.rs
  xtask/codegen/src/promote_rule.rs
Labels: A-Linter, A-Tooling

#4418 fix(rome_js_analyze): #4410
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/a11y/use_button_type.rs
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/inJsx.jsx
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/inJsx.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/inObject.js
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/inObject.js.snap
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/withBindingInvalid.js
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/withBindingInvalid.js.snap
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/withDefaultNamespaceInvalid.js
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/withDefaultNamespaceInvalid.js.snap
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/withRenamedImportInvalid.js
  crates/rome_js_analyze/tests/specs/a11y/useButtonType/withRenamedImportInvalid.js.snap
  website/src/playground/tabs/SettingsTab.tsx
Labels: A-Linter

#4417 refactor(rome_js_analyze): add more tests and docs for a11y rules through refactoring
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_anchor_content.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_html_lang.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_key_with_click_events.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_key_with_mouse_events.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_valid_anchor.rs
  crates/rome_js_analyze/tests/specs/a11y/useHtmlLang/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor/invalid.jsx
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor/valid.jsx
  crates/rome_js_analyze/tests/specs/a11y/useValidAnchor/valid.jsx.snap
  crates/rome_js_syntax/src/static_value.rs
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useAltText.md
  website/src/pages/lint/rules/useAnchorContent.md
  website/src/pages/lint/rules/useHtmlLang.md
  website/src/pages/lint/rules/useKeyWithClickEvents.md
  website/src/pages/lint/rules/useKeyWithMouseEvents.md
  website/src/pages/lint/rules/useValidAnchor.md
Labels: A-Linter, A-Parser, A-Project

#4424 fix(rome_js_analyzer): ignore default exported function in useCamelCase
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.jsx
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.jsx.snap
Labels: A-Linter
