Repository rome/tools, pull requests merged in 2023-05, with the labels that each got.

#4430 feat(rome_cli): rome check via stdin
  CHANGELOG.md
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/execute/mod.rs
  crates/rome_cli/src/execute/process_file.rs
  crates/rome_cli/src/execute/std_in.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/rome_cli/tests/snapshots/main_commands_check/check_stdin_apply_successfully.snap
  crates/rome_cli/tests/snapshots/main_commands_check/check_stdin_apply_unsafe_only_organize_imports.snap
  crates/rome_cli/tests/snapshots/main_commands_check/check_stdin_apply_unsafe_successfully.snap
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/workspace.rs
Labels: A-CLI, A-Project

#4432 fix(rome_js_analyzer): Fix false positive diagnostics that useCamelCase caused to private class members
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_camel_case.rs
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js
  crates/rome_js_analyze/tests/specs/nursery/useCamelCase/useCamelCase.js.snap
Labels: A-Linter

#4426 feat(rome_js_analyze): noAccumulatingSpread
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_accumulating_spread.rs
  crates/rome_js_analyze/tests/specs/nursery/noAccumulatingSpread/invalid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noAccumulatingSpread/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/noAccumulatingSpread/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noAccumulatingSpread/valid.jsonc.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noAccumulatingSpread.md
Labels: A-Linter, A-Project, A-Diagnostic

#4415 feat(rome_js_parser): EcmaScript @decorators #4252
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/generated.rs
  crates/rome_js_formatter/src/js/any/method_modifier.rs
  crates/rome_js_formatter/src/js/any/property_modifier.rs
  crates/rome_js_formatter/src/ts/any/method_signature_modifier.rs
  crates/rome_js_formatter/src/ts/any/property_signature_modifier.rs
  crates/rome_js_formatter/tests/quick_test.rs
  crates/rome_js_formatter/tests/specs/prettier/js/babel-plugins/decorators.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorator-auto-accessors/comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorator-comments/comments.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/member-expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/methods.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/mixed.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/mobx.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/multiline.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/parens.js.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators-ts/accessor-decorator.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators-ts/method-decorator.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators-ts/multiple.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators-ts/parameter-decorator.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators-ts/typeorm.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators-comments.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/inline-decorators.ts.snap
  crates/rome_js_formatter/tests/specs/ts/decoartors.ts.snap
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/src/syntax/js_parse_error.rs
  crates/rome_js_parser/src/tests.rs
  crates/rome_js_parser/test_data/inline/err/decorator_class_member.rast
  crates/rome_js_parser/test_data/inline/err/decorator_class_member.ts
  crates/rome_js_parser/test_data/inline/err/decorator_precede_class_member.rast
  crates/rome_js_parser/test_data/inline/err/decorator_precede_class_member.ts
  crates/rome_js_parser/test_data/inline/err/ts_invalid_decorated_class_members.rast
  crates/rome_js_parser/test_data/inline/err/ts_invalid_decorated_class_members.ts
  crates/rome_js_parser/test_data/inline/err/ts_static_initialization_block_member_with_decorators.rast
  crates/rome_js_parser/test_data/inline/err/ts_static_initialization_block_member_with_decorators.ts
  crates/rome_js_parser/test_data/inline/ok/decorator_class_member.rast
  crates/rome_js_parser/test_data/inline/ok/decorator_class_member.ts
  crates/rome_js_parser/test_data/inline/ok/decorator_class_member_in_ts.rast
  crates/rome_js_parser/test_data/inline/ok/decorator_class_member_in_ts.ts
  crates/rome_js_parser/test_data/inline/ok/ts_decorate_computed_member.rast
  crates/rome_js_parser/test_data/inline/ok/ts_decorated_class_members.rast
  crates/rome_js_parser/test_data/inline/ok/ts_decorated_class_members.ts
  crates/rome_js_parser/test_data/inline/ok/ts_decorator_call_expression_with_arrow.rast
  crates/rome_js_parser/test_data/inline/ok/ts_decorator_constructor.rast
  crates/rome_js_parser/test_data/inline/ok/ts_decorator_constructor.ts
  crates/rome_js_parser/test_data/inline/ok/ts_formal_parameter_decorator.rast
  crates/rome_js_parser/test_data/inline/ok/ts_formal_parameter_decorator.ts
  crates/rome_js_syntax/src/generated/nodes.rs
  crates/rome_js_syntax/src/modifier_ext.rs
  xtask/codegen/js.ungram
Labels: A-Formatter, A-Parser, A-Tooling

#4435 fix(rome_js_analyze): Fix false positive diagnostics that `useHookAtTopLevel` caused to arrow functions, export default functions and function expressions.
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_hook_at_top_level.rs
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.js.snap
  crates/rome_js_semantic/src/semantic_model/model.rs
  crates/rome_js_semantic/src/semantic_model/reference.rs
Labels: A-Linter

#4436 fix(rome_js_analyze): suppress noHeadeScope diagnostics for custom components
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/a11y/no_header_scope.rs
  crates/rome_js_analyze/tests/specs/a11y/noHeaderScope/invalid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noHeaderScope/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/noHeaderScope/valid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noHeaderScope/valid.jsx.snap
Labels: A-Linter

#4437 refactor(rome_js_analyze): add more eslint's tests and refactor for useAltText
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_anchor_content.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_heading_content.rs
  crates/rome_js_analyze/tests/specs/a11y/useAltText/area.jsx
  crates/rome_js_analyze/tests/specs/a11y/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useAltText/img.jsx
  crates/rome_js_analyze/tests/specs/a11y/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useAltText/input.jsx
  crates/rome_js_analyze/tests/specs/a11y/useAltText/input.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useAltText/object.jsx
  crates/rome_js_analyze/tests/specs/a11y/useAltText/object.jsx.snap
  crates/rome_js_syntax/src/jsx_ext.rs
  website/src/pages/lint/rules/useAltText.md
Labels: A-Linter, A-Parser

#4438 refactor(rome_js_analyze): move useIframeTitle from semantic_analyzer to analyzer and refactoring
  crates/rome_js_analyze/src/analyzers/a11y.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_iframe_title.rs
  crates/rome_js_analyze/src/semantic_analyzers/a11y.rs
  crates/rome_js_analyze/src/semantic_analyzers/a11y/use_iframe_title.rs
  crates/rome_js_analyze/tests/specs/a11y/useIframeTitle/invalid.jsx
  crates/rome_js_analyze/tests/specs/a11y/useIframeTitle/invalid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useIframeTitle.md
Labels: A-Linter, A-Project

#4439 feat(rome_js_analyze): update `noNoninteractiveElementToInteractiveRole` and `noNoninteractiveTabindex`
  CHANGELOG.md
  crates/rome_aria/src/roles.rs
  crates/rome_js_analyze/src/aria_analyzers/a11y/no_noninteractive_element_to_interactive_role.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_noninteractive_tabindex.rs
  crates/rome_js_analyze/tests/specs/a11y/noNoninteractiveElementToInteractiveRole/invalid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noNoninteractiveElementToInteractiveRole/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/noNoninteractiveElementToInteractiveRole/valid.jsx
  crates/rome_js_analyze/tests/specs/a11y/noNoninteractiveElementToInteractiveRole/valid.jsx.snap
Labels: A-Linter

#4441 chore: update prettier snapshots
  crates/rome_formatter_test/src/prettier/package.json
  crates/rome_formatter_test/src/prettier/pnpm-lock.yaml
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/member-expression.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/decorators/member-expression.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/export-default/export-default-from/export.js
  crates/rome_js_formatter/tests/specs/prettier/js/export-default/export-default-from/export.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/export-default/export-default-from/export.js.snap
  crates/rome_js_formatter/tests/specs/prettier/js/export-star/export-star-as-reserved-word.js
  crates/rome_js_formatter/tests/specs/prettier/js/export-star/export-star-as-reserved-word.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/export/test.js
  crates/rome_js_formatter/tests/specs/prettier/js/export/test.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/js/export/undefined.js
  crates/rome_js_formatter/tests/specs/prettier/js/export/undefined.js.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/accessor.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/accessor.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/accessor.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/comments.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/comments.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/comments.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators-comments.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators-comments.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators-comments.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/legacy.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/legacy.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/legacy.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/mobx.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/mobx.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/mobx.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/export/export-type-star-from.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/export/export-type-star-from.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/type-arguments-bit-shift-left-like/4.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/type-arguments-bit-shift-left-like/4.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/type-arguments-bit-shift-left-like/4.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof/typeof.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof/typeof.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeof/typeof.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeparams/const.ts
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeparams/const.ts.prettier-snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/typeparams/const.ts.snap
Labels: A-Formatter

#4447 feat(rome_js_analyze): `useSimpleNumberKeys`
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_simple_number_keys.rs
  crates/rome_js_analyze/tests/specs/nursery/useSimpleNumberKeys/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useSimpleNumberKeys/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useSimpleNumberKeys/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useSimpleNumberKeys/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useSimpleNumberKeys.md
Labels: A-Linter, A-Project, A-Diagnostic

#4440 refactor(rome_js_analyze): update error messages for UseAltText diagnostics
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/tests/specs/a11y/useAltText/area.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useAltText/img.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useAltText/input.jsx.snap
  crates/rome_js_analyze/tests/specs/a11y/useAltText/object.jsx.snap
  website/src/pages/lint/rules/useAltText.md
Labels: A-Linter

#4459 fix(rome_js_analyze): useSimpleNumberKeys #4457 handle shortand/spread object props
  crates/rome_js_analyze/src/analyzers/nursery/use_simple_number_keys.rs
  crates/rome_js_analyze/tests/specs/nursery/useSimpleNumberKeys/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useSimpleNumberKeys/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useSimpleNumberKeys/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useSimpleNumberKeys/valid.js.snap
Labels: A-Linter

#4467 fix(rome_js_analyze): Fix false positive diagnostics that `useHookAtTopLevel` caused to `as` or `satisfies` expressions.
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_hook_at_top_level.rs
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.ts.snap
Labels: A-Linter

#4473 fix(rome_js_analyze): Files with fn(() => (aborted = true)); cause -entered unreachable code - when --apply-unsafe #4464
  CHANGELOG.md
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/apply_unsafe_no_assign_in_expression.snap
  crates/rome_js_analyze/src/analyzers/suspicious/no_assign_in_expressions.rs
  crates/rome_js_analyze/tests/specs/suspicious/noAssignInExpressions/invalid.js
  crates/rome_js_analyze/tests/specs/suspicious/noAssignInExpressions/invalid.js.snap
Labels: A-Linter, A-CLI

#4468 fix(rome_js_semantic): correct the export determination when a variable and an `interface` had the same name
  CHANGELOG.md
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/validClassAndInterfaceExport.ts
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/validClassAndInterfaceExport.ts.snap
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/validVariableAndExport.ts
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/validVariableAndExport.ts.snap
  crates/rome_js_semantic/src/events.rs
Labels: A-Linter

#4491 fix(rome_cli): fix regression for `rome lsp-proxy` command
  CHANGELOG.md
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/tests/commands/lsp_proxy.rs
  crates/rome_cli/tests/commands/mod.rs
  crates/rome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
Labels: A-CLI

#4490 fix(rome_service): correctly load recommended rules
  CHANGELOG.md
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/should_not_enable_all_recommended_rules.snap
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Tooling, A-Project

#4500 fix(rome_js_analyze): allow nested func declarations in esm
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/correctness/no_inner_declarations.rs
  crates/rome_js_analyze/tests/specs/correctness/noInnerDeclarations/invalid-module.cjs
  crates/rome_js_analyze/tests/specs/correctness/noInnerDeclarations/invalid-module.cjs.snap
  crates/rome_js_analyze/tests/specs/correctness/noInnerDeclarations/invalid-module.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noInnerDeclarations/valid-block-scoped-func-decl.js
  crates/rome_js_analyze/tests/specs/correctness/noInnerDeclarations/valid-block-scoped-func-decl.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noInnerDeclarations.md
Labels: A-Linter, A-Project

#4501 fix(rome_js_analyze): noInvalidConstructorSuper recognize extends mod…
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/correctness/no_invalid_constructor_super.rs
  crates/rome_js_analyze/tests/specs/correctness/noInvalidConstructorSuper/valid.js
  crates/rome_js_analyze/tests/specs/correctness/noInvalidConstructorSuper/valid.js.snap
Labels: A-Linter

#4503 fix(rome_service): rules to disable and enable
  CHANGELOG.md
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/should_not_disable_recommended_rules_for_a_group.snap
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Tooling, A-Project

#4509 chore: update snapshot
  crates/rome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
Labels: A-CLI

#4484 feat: Add `noUselessTypeConstraint`
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/complexity.rs
  crates/rome_js_analyze/src/analyzers/complexity/no_useless_type_constraint.rs
  crates/rome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/invalid.ts
  crates/rome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/valid.ts
  crates/rome_js_analyze/tests/specs/complexity/noUselessTypeConstraint/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noUselessTypeConstraint.md
Labels: A-Linter, A-Project, A-Diagnostic

#4511 fix(rome_service): treat nursery rules differently
  CHANGELOG.md
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/should_not_enable_nursery_rules.snap
  crates/rome_service/src/configuration/linter/rules.rs
  xtask/codegen/src/generate_configuration.rs
Labels: A-CLI, A-Tooling, A-Project

#4522 chore: upgrade `bpaf`
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/rome_cli/src/cli_options.rs
  crates/rome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/rome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/rome_cli/tests/snapshots/main_commands_init/init_help.snap
  crates/rome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  crates/rome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/mod.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: A-CLI, A-Project

#4494 Dockerised benchmark tool
  .dockerignore
  Dockerfile.benchmark
  benchmark/README.md
  benchmark/run.js
Labels: A-Tooling

#4525 Workspace internal deps
  Cargo.toml
  crates/rome_analyze/Cargo.toml
  crates/rome_aria/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_console/Cargo.toml
  crates/rome_control_flow/Cargo.toml
  crates/rome_css_factory/Cargo.toml
  crates/rome_css_syntax/Cargo.toml
  crates/rome_deserialize/Cargo.toml
  crates/rome_diagnostics/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter_test/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_factory/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_syntax/Cargo.toml
  crates/rome_json_factory/Cargo.toml
  crates/rome_json_formatter/Cargo.toml
  crates/rome_json_parser/Cargo.toml
  crates/rome_json_syntax/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_migrate/Cargo.toml
  crates/rome_parser/Cargo.toml
  crates/rome_rowan/Cargo.toml
  crates/rome_service/Cargo.toml
  crates/rome_text_edit/Cargo.toml
  crates/rome_wasm/Cargo.toml
Labels: A-Linter, A-Core, A-Formatter, A-CLI, A-Parser, A-LSP, A-Project, A-Diagnostic

#4538 fix(rome_js_analyze): suppress false positive when returning call expressions of a hook for useHookAtTopLevel
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_hook_at_top_level.rs
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.js.snap
Labels: A-Linter
