Repository rome/tools, pull requests merged in 2023-06, with the labels that each got.

#4547 feat(rome_cli, rome_service): ignore unknown files
  CHANGELOG.md
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/rome_cli/tests/snapshots/main_commands_check/ignores_unknown_file.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ignores_unknown_file.snap
  crates/rome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/rome_cli/tests/snapshots/main_commands_format/ignores_unknown_file.snap
  crates/rome_cli/tests/snapshots/main_commands_format/no_supported_file_found.snap
  crates/rome_service/src/configuration/merge.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/configuration/parse/json/files.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_service/tests/invalid/files_extraneous_field.json.snap
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: A-CLI, A-Project

#4560 fix(rome_js_analyzer): Big pack of js/ts files that crashes rome #4323
  CHANGELOG.md
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/apply_bogus_argument.snap
  crates/rome_js_analyze/src/semantic_analyzers/style/no_parameter_assign.rs
  crates/rome_js_analyze/tests/specs/style/noParameterAssign/valid.jsonc
  crates/rome_js_analyze/tests/specs/style/noParameterAssign/valid.jsonc.snap
  crates/rome_js_semantic/src/semantic_model/binding.rs
  crates/rome_js_semantic/src/semantic_model/model.rs
Labels: A-Linter, A-CLI

#4576 refactor(rome_js_analyze): remove `noExtraSemicolon`
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/complexity.rs
  crates/rome_js_analyze/src/analyzers/complexity/no_extra_semicolon.rs
  crates/rome_js_analyze/tests/specs/complexity/noExtraSemicolon/invalid.js
  crates/rome_js_analyze/tests/specs/complexity/noExtraSemicolon/invalid.js.snap
  crates/rome_js_analyze/tests/specs/complexity/noExtraSemicolon/valid.js
  crates/rome_js_analyze/tests/specs/complexity/noExtraSemicolon/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noExtraSemicolon.md
Labels: A-Linter, A-Project, A-Diagnostic

#4581 fix typo in diagnostic message
  crates/rome_cli/src/diagnostics.rs
  crates/rome_cli/tests/snapshots/main_commands_check/apply_unsafe_with_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check.snap
  crates/rome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check_apply.snap
Labels: A-CLI

#4577 refactor(rome_js_analyze): enhance `useDefaultParameterLast`
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/style/use_default_parameter_last.rs
  crates/rome_js_analyze/tests/specs/style/useDefaultParameterLast/invalid.js
  crates/rome_js_analyze/tests/specs/style/useDefaultParameterLast/invalid.js.snap
  crates/rome_js_analyze/tests/specs/style/useDefaultParameterLast/invalid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useDefaultParameterLast.md
Labels: A-Linter, A-Project

#4574 feat(rome_service): add parser option for unsafe decorators
  CHANGELOG.md
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/parse/json/javascript.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: A-Project

#4591 fix(rome_js_analyze): noRedundantUseStrict check only 'use strict' directive
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/suspicious/no_redundant_use_strict.rs
  crates/rome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/validReactDirectives.tsx
  crates/rome_js_analyze/tests/specs/suspicious/noRedundantUseStrict/validReactDirectives.tsx.snap
Labels: A-Linter

#4587 feat(rome_service, rome_js_parser): add parse options
  Cargo.lock
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_constant_condition.rs
  crates/rome_js_analyze/src/utils/tests.rs
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/parentheses.rs
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_formatter/src/utils/binary_like_expression.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_formatter/tests/language.rs
  crates/rome_js_formatter/tests/quick_test.rs
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/options.rs
  crates/rome_js_parser/src/parse.rs
  crates/rome_js_parser/src/parser.rs
  crates/rome_js_parser/src/tests.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model/closure.rs
  crates/rome_js_semantic/src/semantic_model/is_constant.rs
  crates/rome_js_semantic/src/semantic_model/model.rs
  crates/rome_js_semantic/src/semantic_model/tests.rs
  crates/rome_js_semantic/src/tests/assertions.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace/server.rs
  xtask/bench/src/language.rs
  xtask/coverage/src/js/test262.rs
  xtask/coverage/src/jsx/jsx_babel.rs
  xtask/coverage/src/runner.rs
  xtask/coverage/src/symbols/msts.rs
  xtask/coverage/src/ts/ts_babel.rs
  xtask/coverage/src/ts/ts_microsoft.rs
  xtask/lintdoc/src/main.rs
Labels: A-Linter, A-Formatter, A-Parser, A-Tooling, A-Project

#4571 fix(rome_js_analyze): useExhaustiveDependencies support function syntax, or React.use* hooks and more.
  CHANGELOG.md
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/checkHooksImportedFromReact.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/checkHooksImportedFromReact.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/customHook.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/customHook.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/extraDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/missingDependenciesInvalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/valid.ts.snap
  website/src/pages/lint/rules/useExhaustiveDependencies.md
  website/src/playground/Playground.tsx
  website/src/playground/components/Resizable.tsx
Labels: A-Linter

#4593 refactor(rome_js_analyze): relax noConfusingArrow
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/nursery/no_confusing_arrow.rs
  crates/rome_js_analyze/tests/specs/nursery/noConfusingArrow/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noConfusingArrow/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noConfusingArrow/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noConfusingArrow/valid.js.snap
  website/src/pages/lint/rules/noConfusingArrow.md
Labels: A-Linter

#4558 fix(rome_cli): Use lines() separator for os independent git ignore pa…
  CHANGELOG.md
  crates/rome_cli/src/vcs.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/ignore_vcs_os_independent_parse.snap
Labels: A-CLI

#4592 feat(rome_json_analyze): noDuplicateKeys
  .github/labeler.yml
  Cargo.lock
  Cargo.toml
  crates/rome_analyze/src/registry.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_json_analyze/Cargo.toml
  crates/rome_json_analyze/src/analyzers.rs
  crates/rome_json_analyze/src/analyzers/nursery.rs
  crates/rome_json_analyze/src/analyzers/nursery/no_duplicate_json_keys.rs
  crates/rome_json_analyze/src/diagnostics.rs
  crates/rome_json_analyze/src/lib.rs
  crates/rome_json_analyze/src/registry.rs
  crates/rome_json_analyze/tests/spec_tests.rs
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/invalid.json
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/invalid.json.snap
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/valid.json
  crates/rome_json_analyze/tests/specs/nursery/noDuplicateJsonKeys/valid.json.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  justfile
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noDuplicateJsonKeys.md
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/Cargo.toml
  xtask/lintdoc/src/main.rs
Labels: A-Linter, A-Tooling, A-Project, A-Diagnostic

#4600 docs: getting started
  .cargo/config.toml
  CONTRIBUTING.md
  Cargo.toml
  clippy.toml
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_analyze/Cargo.toml
  crates/rome_aria/Cargo.toml
  crates/rome_aria_metadata/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_console/Cargo.toml
  crates/rome_control_flow/Cargo.toml
  crates/rome_css_factory/Cargo.toml
  crates/rome_css_syntax/Cargo.toml
  crates/rome_deserialize/Cargo.toml
  crates/rome_diagnostics/Cargo.toml
  crates/rome_diagnostics_categories/Cargo.toml
  crates/rome_diagnostics_macros/Cargo.toml
  crates/rome_flags/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter_test/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_factory/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_semantic/Cargo.toml
  crates/rome_js_syntax/Cargo.toml
  crates/rome_js_unicode_table/Cargo.toml
  crates/rome_json_analyze/Cargo.toml
  crates/rome_json_factory/Cargo.toml
  crates/rome_json_formatter/Cargo.toml
  crates/rome_json_parser/Cargo.toml
  crates/rome_json_syntax/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_markup/Cargo.toml
  crates/rome_migrate/Cargo.toml
  crates/rome_parser/Cargo.toml
  crates/rome_rowan/Cargo.toml
  crates/rome_service/Cargo.toml
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_size/Cargo.toml
  crates/rome_wasm/Cargo.toml
  crates/tests_macros/Cargo.toml
  fuzz/Cargo.toml
  justfile
  taplo.toml
  xtask/bench/Cargo.toml
  xtask/codegen/Cargo.toml
  xtask/contributors/Cargo.toml
  xtask/coverage/Cargo.toml
Labels: A-Linter, A-Core, A-Formatter, A-CLI, A-Parser, A-LSP, A-Tooling, A-Project, A-Diagnostic

#4599 refactor(rome_formatter): Use custom trait for unique `LabelId`s
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element/tag.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/src/utils/member_chain/mod.rs
Labels: A-Formatter

#4611 refactor(rome_js_analyze): set version for noUselessConstructor
  crates/rome_js_analyze/src/analyzers/complexity/no_useless_constructor.rs
  website/src/pages/lint/rules/noUselessConstructor.md
Labels: A-Linter

#4612 feat(rome_js_analyze): noGlobalIsNan
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_global_is_nan.rs
  crates/rome_js_analyze/tests/specs/nursery/noGlobalIsNan/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noGlobalIsNan/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noGlobalIsNan/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noGlobalIsNan/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noGlobalIsNan.md
Labels: A-Linter, A-Project, A-Diagnostic

#4614 fix(rome_js_analyze): suppress false positive diagnostics to nested if statements
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/correctness/no_unreachable_super.rs
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/missingSuper.js
  crates/rome_js_analyze/tests/specs/correctness/noUnreachableSuper/missingSuper.js.snap
Labels: A-Linter

#4617 feat(rome_js_analyze): add `useArrowFunction`
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_arrow_function.rs
  crates/rome_js_analyze/tests/specs/nursery/useArrowFunction/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useArrowFunction/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useArrowFunction/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useArrowFunction/valid.ts.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/astro.config.ts
  website/src/components/generated/NumberOfRules.astro
  website/src/frontend-scripts/toc.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useArrowFunction.md
  website/src/playground/utils.ts
Labels: A-Linter, A-Project, A-Diagnostic

#4609 feat(rome_service): add support for JSON linter in the workspace
  CHANGELOG.md
  Cargo.lock
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/check_json_files.snap
  crates/rome_deserialize/src/json.rs
  crates/rome_diagnostics/Cargo.toml
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/parse/json.rs
  crates/rome_service/src/file_handlers/json.rs
  justfile
Labels: A-CLI, A-Project, A-Diagnostic

#4619 feat(rome_js_analyze): rule `noVoid`
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_void.rs
  crates/rome_js_analyze/tests/specs/nursery/noVoid/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noVoid/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noVoid/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noVoid/valid.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noVoid.md
Labels: A-Linter, A-Parser, A-Project, A-Diagnostic

#4620 docs: fix `noCommaOperator` example
  crates/rome_js_analyze/src/analyzers/style/no_comma_operator.rs
  website/src/pages/lint/rules/noCommaOperator.md
Labels: A-Linter

#4622 feat(rome_cli): add `--no-errors-on-unmatched` optoin
  CHANGELOG.md
  crates/rome_cli/src/cli_options.rs
  crates/rome_cli/src/execute/traverse.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/rome_cli/tests/snapshots/main_commands_check/doesnt_error_if_no_files_were_processed.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/doesnt_error_if_no_files_were_processed.snap
  crates/rome_cli/tests/snapshots/main_commands_format/doesnt_error_if_no_files_were_processed.snap
  crates/rome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/rome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  crates/rome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
Labels: A-CLI

#4625 No invalid constructor super/4624
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/correctness/no_invalid_constructor_super.rs
  crates/rome_js_analyze/tests/specs/correctness/noInvalidConstructorSuper/invalid.js.snap
  crates/rome_js_analyze/tests/specs/correctness/noInvalidConstructorSuper/valid.ts
  crates/rome_js_analyze/tests/specs/correctness/noInvalidConstructorSuper/valid.ts.snap
Labels: A-Linter

#4636 fix: Regression building proc-macro2 1.0.59 with nightly
  Cargo.lock
  crates/rome_aria_metadata/Cargo.toml
  crates/rome_diagnostics_macros/Cargo.toml
  crates/rome_markup/Cargo.toml
  crates/tests_macros/Cargo.toml
  xtask/codegen/Cargo.toml
Labels: A-Tooling, A-Diagnostic

#4605 fix(rome_js_analyze): Add constructor support
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/suspicious/no_duplicate_parameters.rs
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateParameters/invalid.jsonc
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateParameters/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateParameters/invalid.ts
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateParameters/invalid.ts.snap
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/lists/constructor_parameter_list.rs
  crates/rome_js_formatter/src/js/lists/parameter_list.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_js_syntax/src/parameter_ext.rs
Labels: A-Linter, A-Formatter, A-Parser

#4627 feat(rome_js_formatter): Implement the decorator formatting #4608
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/js/bindings/formal_parameter.rs
  crates/rome_js_formatter/src/js/bindings/parameters.rs
  crates/rome_js_formatter/src/js/lists/decorator_list.rs
  crates/rome_js_formatter/src/ts/bindings/property_parameter.rs
  crates/rome_js_formatter/src/utils/format_modifiers.rs
  crates/rome_js_formatter/tests/language.rs
  crates/rome_js_formatter/tests/quick_test.rs
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/argument-list-preserve-line.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/decorators.ts.snap
  crates/rome_js_formatter/tests/specs/prettier/typescript/decorators/inline-decorators.ts.snap
  crates/rome_js_formatter/tests/specs/ts/decoartors.ts
  crates/rome_js_formatter/tests/specs/ts/decoartors.ts.snap
  crates/rome_js_syntax/src/parameter_ext.rs
  crates/rome_rowan/src/ast/batch.rs
Labels: A-Core, A-Formatter, A-Parser

#4618 feat(rome_js_analyze): noNonoctalDecimalEscape
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_nonoctal_decimal_escape.rs
  crates/rome_js_analyze/tests/specs/nursery/noNonoctalDecimalEscape/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noNonoctalDecimalEscape/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noNonoctalDecimalEscape/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noNonoctalDecimalEscape/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  crates/rome_text_size/src/range.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noNonoctalDecimalEscape.md
Labels: A-Linter, A-Core, A-Project, A-Diagnostic

#4640 chore: update dependencies and housekeeping
  Cargo.lock
  Cargo.toml
  crates/rome_analyze/Cargo.toml
  crates/rome_cli/Cargo.toml
  crates/rome_cli/src/diagnostics.rs
  crates/rome_cli/src/lib.rs
  crates/rome_console/Cargo.toml
  crates/rome_deserialize/Cargo.toml
  crates/rome_diagnostics/Cargo.toml
  crates/rome_diagnostics/src/adapters.rs
  crates/rome_diagnostics/src/diagnostic.rs
  crates/rome_diagnostics_categories/Cargo.toml
  crates/rome_formatter/Cargo.toml
  crates/rome_formatter_test/Cargo.toml
  crates/rome_fs/Cargo.toml
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_formatter/Cargo.toml
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_syntax/Cargo.toml
  crates/rome_json_formatter/Cargo.toml
  crates/rome_lsp/Cargo.toml
  crates/rome_rowan/Cargo.toml
  crates/rome_service/Cargo.toml
  crates/rome_text_edit/Cargo.toml
  crates/rome_text_size/Cargo.toml
  crates/rome_wasm/Cargo.toml
  justfile
Labels: A-Linter, A-Core, A-Formatter, A-CLI, A-Parser, A-LSP, A-Project, A-Diagnostic
