Repository rome/tools, pull requests merged in 2023-03, with the labels that each got.

#4053 feat(rome_js_analyzer): implement rule noRedeclaration, no-redeclare
  crates/rome_analyze/src/context.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_redeclaration.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_const.rs
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/invalid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/valid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/valid.jsonc.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noRedeclaration.md
Labels: A-linter

#4244 fix(rome_js_formatter): comments in closing JSX elements
  crates/rome_js_formatter/src/jsx/tag/closing_element.rs
  crates/rome_js_formatter/src/jsx/tag/closing_fragment.rs
  crates/rome_js_formatter/tests/specs/jsx/comments.jsx
  crates/rome_js_formatter/tests/specs/jsx/comments.jsx.snap
Labels: help wanted, A-Formatter

#4263 fix(rome_cli): don't add newline when formatting from stdin
  crates/rome_cli/src/execute.rs
  crates/rome_console/src/lib.rs
  xtask/lintdoc/src/main.rs
Labels: A-CLI

#4261 feat(rome_js_analyzer): read globals from analyzer options
  crates/rome_analyze/src/context.rs
  crates/rome_analyze/src/lib.rs
  crates/rome_analyze/src/matcher.rs
  crates/rome_analyze/src/registry.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_analyze/src/syntax.rs
  crates/rome_analyze/src/visitor.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/ignore_configured_globals.snap
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_undeclared_variables.rs
Labels: A-linter

#4276 fix(rome_cli): prevent exploration of ignored directories
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  rome.json
  website/package.json
Labels: A-CLI, A-project

#4272 refactor(rome_js_analyze): improve `noDelete`
  crates/rome_js_analyze/src/analyzers/performance/no_delete.rs
  crates/rome_js_analyze/tests/specs/performance/noDelete.js
  crates/rome_js_analyze/tests/specs/performance/noDelete.js.snap
  crates/rome_js_analyze/tests/specs/performance/noDelete/invalid.jsonc
  crates/rome_js_analyze/tests/specs/performance/noDelete/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/performance/noDelete/valid.jsonc
  crates/rome_js_analyze/tests/specs/performance/noDelete/valid.jsonc.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noDelete.md
Labels: A-linter

#4296 feat(rome_lsp): pull diagnostics for `rome.json`
  crates/rome_analyze/src/rule.rs
  crates/rome_deserialize/src/json.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_exhaustive_dependencies.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/configuration/diagnostics.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_service/tests/spec_tests.rs
Labels: A-Linter, A-LSP, A-Project

#4288 fix(rome_js_analyze): `noRedeclaration` declaration merging
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_redeclaration.rs
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/invalid-declaration-merging.ts
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/invalid-declaration-merging.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/invalid.jsonc
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/invalid.jsonc.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/valid-declaration-merging.ts
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/valid-declaration-merging.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/valid-duplicate.ts
  crates/rome_js_analyze/tests/specs/nursery/noRedeclaration/valid-duplicate.ts.snap
  crates/rome_js_syntax/src/binding_ext.rs
  website/src/pages/lint/rules/noRedeclaration.md
Labels: A-Linter, A-Parser

#4295 fix(rome_formatter): fix format range
  crates/rome_formatter/src/lib.rs
  crates/rome_formatter_test/src/spec.rs
  crates/rome_formatter_test/src/utils.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_range_expression.js
  crates/rome_js_formatter/tests/specs/js/module/expression/binary_range_expression.js.snap
  crates/rome_js_formatter/tests/specs/js/module/no-semi/semicolons_range.js
  crates/rome_js_formatter/tests/specs/js/module/no-semi/semicolons_range.js.snap
  crates/rome_js_formatter/tests/specs/js/module/parentheses/range_parentheses_binary.js
  crates/rome_js_formatter/tests/specs/js/module/parentheses/range_parentheses_binary.js.snap
  crates/rome_js_formatter/tests/specs/js/module/range/range_parenthesis_after_semicol.js
  crates/rome_js_formatter/tests/specs/js/module/range/range_parenthesis_after_semicol.js.snap
  crates/rome_js_formatter/tests/specs/js/module/range/range_parenthesis_after_semicol_1.js
  crates/rome_js_formatter/tests/specs/js/module/range/range_parenthesis_after_semicol_1.js.snap
  crates/rome_js_formatter/tests/specs/js/module/string/parentheses_token.js
  crates/rome_js_formatter/tests/specs/js/module/string/parentheses_token.js.snap
  crates/rome_js_formatter/tests/specs/jsx/parentheses_range.jsx
  crates/rome_js_formatter/tests/specs/jsx/parentheses_range.jsx.snap
Labels: A-Formatter

#4306 fix(xtask): `just new-lintrule` document generation error
  xtask/codegen/src/generate_new_lintrule.rs
Labels: A-Tooling

#4305 fix(rome_ci): apply import sorting
  crates/rome_cli/src/commands/check.rs
  crates/rome_cli/src/execute.rs
  crates/rome_cli/src/traversal/mod.rs
  crates/rome_cli/src/traversal/process_file.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/applies_organize_imports.snap
  crates/rome_cli/tests/snapshots/main_commands_check/apply_unsafe_with_error.snap
  crates/rome_cli/tests/snapshots/main_commands_check/dont_applies_organize_imports_for_ignored_file.snap
  crates/rome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check.snap
  crates/rome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check_apply.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_formatter_linter_organize_imports.snap
  crates/rome_cli/tests/snapshots/main_commands_init/creates_config_file.snap
  crates/rome_cli/tests/snapshots/main_commands_init/creates_config_file_when_rome_installed_via_package_manager.snap
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_fs/src/fs.rs
  crates/rome_fs/src/fs/memory.rs
  crates/rome_fs/src/fs/os.rs
  crates/rome_fs/src/lib.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/configuration/organize_imports.rs
  crates/rome_service/src/configuration/parse/json/javascript.rs
  crates/rome_service/src/configuration/parse/json/organize_imports.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
Labels: A-Core, A-CLI, A-LSP, A-Project, A-Diagnostic

#4308 fix(rome_lsp): utf encoding
  Cargo.lock
  crates/rome_lsp/Cargo.toml
  crates/rome_lsp/src/capabilities.rs
  crates/rome_lsp/src/converters/from_proto.rs
  crates/rome_lsp/src/converters/line_index.rs
  crates/rome_lsp/src/converters/mod.rs
  crates/rome_lsp/src/converters/to_proto.rs
  crates/rome_lsp/src/documents.rs
  crates/rome_lsp/src/handlers/analysis.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/handlers/rename.rs
  crates/rome_lsp/src/handlers/text_document.rs
  crates/rome_lsp/src/lib.rs
  crates/rome_lsp/src/line_index.rs
  crates/rome_lsp/src/server.rs
  crates/rome_lsp/src/session.rs
  crates/rome_lsp/src/utils.rs
  crates/rome_lsp/tests/server.rs
  crates/rome_service/src/diagnostics.rs
  crates/rome_service/src/workspace.rs
  crates/rome_service/src/workspace/client.rs
  crates/rome_service/src/workspace/server.rs
  crates/rome_service/src/workspace_types.rs
  crates/rome_wasm/src/lib.rs
  npm/backend-jsonrpc/src/workspace.ts
Labels: A-LSP, A-Project

#4309 fix: keep quotes in the case of keys that are octal literals
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_formatter/tests/specs/js/module/object/octal_literals_key.js
  crates/rome_js_formatter/tests/specs/js/module/object/octal_literals_key.js.snap
  crates/rome_js_formatter/tests/specs/js/module/string/properties_quotes.js
  crates/rome_js_formatter/tests/specs/js/module/string/properties_quotes.js.snap
Labels: A-Formatter

#4315 fix(rome_js_analyze): keep comments `noUnnecessaryContinue`
  crates/rome_js_analyze/src/analyzers/correctness/no_unnecessary_continue.rs
  crates/rome_js_analyze/tests/specs/correctness/noUnnecessaryContinue.js
  crates/rome_js_analyze/tests/specs/correctness/noUnnecessaryContinue.js.snap
Labels: A-Linter

#4327 fix(rome_lsp): handle untitled files
  crates/rome_lsp/src/session.rs
Labels: A-LSP

#4321 feat(rome_js_analyze): noConfusingArrow
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_confusing_arrow.rs
  crates/rome_js_analyze/tests/specs/nursery/noConfusingArrow/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noConfusingArrow/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noConfusingArrow/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noConfusingArrow/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noConfusingArrow.md
Labels: A-Linter, A-CLI, A-Project, A-Diagnostic

#4293 feat(rome_js_analyze): noRedundantRoles
  CHANGELOG.md
  crates/rome_aria/src/roles.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_redundant_roles.rs
  crates/rome_js_analyze/src/aria_services.rs
  crates/rome_js_analyze/tests/specs/nursery/noRedundantRoles/invalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noRedundantRoles/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noRedundantRoles/valid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noRedundantRoles/valid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noRedundantRoles.md
Labels: A-Linter, A-Project, A-Diagnostic

#4317 fix(rome_js_syntax): Allow module syntax in cts files
  CHANGELOG.md
  crates/rome_js_syntax/src/source_type.rs
  website/src/playground/utils.ts
  xtask/lintdoc/src/main.rs
Labels: A-Parser, A-Tooling

#4312 feat(rome_js_analyze): noNoninteractiveTabindex
  CHANGELOG.md
  crates/rome_aria/src/roles.rs
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_noninteractive_element_to_interactive_role.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery/no_noninteractive_tabindex.rs
  crates/rome_js_analyze/tests/specs/nursery/noNoninteractiveTabindex/invalid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noNoninteractiveTabindex/invalid.jsx.snap
  crates/rome_js_analyze/tests/specs/nursery/noNoninteractiveTabindex/valid.jsx
  crates/rome_js_analyze/tests/specs/nursery/noNoninteractiveTabindex/valid.jsx.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noNoninteractiveTabindex.md
Labels: A-Linter, A-Project, A-Diagnostic
