Repository rome/tools, pull requests merged in 2023-07, with the labels that each got.

#4644 refactor(rome_js_analyze): add new TypeSCript globals
  CHANGELOG.md
  crates/rome_js_analyze/src/globals/typescript.rs
Labels: A-Linter

#4645 fix(rome_js_analyze): suppress useHookAtTopLevel's false positive when accessing properties directly from a hook
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_hook_at_top_level.rs
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useHookAtTopLevel/valid.js.snap
Labels: A-Linter

#4651 refactor(rome_cli): format file in different flow
  .editorconfig
  crates/rome_cli/src/execute/mod.rs
  crates/rome_cli/src/execute/process_file.rs
  crates/rome_cli/src/execute/process_file/format_file.rs
  crates/rome_cli/src/execute/process_file/lint_file.rs
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_format/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/file_too_large_config_limit.snap
Labels: A-CLI

#4654 refactor(rome_js_analyze): improve consistency of rules that concern globals
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/complexity/use_flat_map.rs
  crates/rome_js_analyze/src/analyzers/complexity/use_optional_chain.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_invalid_constructor_super.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_string_case_mismatch.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_for_each.rs
  crates/rome_js_analyze/src/analyzers/style/use_exponentiation_operator.rs
  crates/rome_js_analyze/src/analyzers/style/use_numeric_literals.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_prototype_builtins.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_global_object_calls.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_accumulating_spread.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_console_log.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_global_is_finite.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_global_is_nan.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_is_nan.rs
  crates/rome_js_analyze/src/semantic_analyzers/suspicious/no_array_index_key.rs
  crates/rome_js_analyze/tests/specs/correctness/noGlobalObjectCalls/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noGlobalIsFinite/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noGlobalIsFinite/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noGlobalIsNan/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noGlobalIsNan/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useIsNan/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useIsNan/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useIsNan/valid.js.snap
  crates/rome_js_analyze/tests/specs/style/useNumericLiterals/invalid.js
  crates/rome_js_analyze/tests/specs/style/useNumericLiterals/invalid.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/static_value.rs
  website/src/pages/lint/rules/noGlobalObjectCalls.md
Labels: A-Linter, A-Parser

#4652 feat(rome_js_parser): Implement option-passing mechanism for parser test #4631
  Cargo.lock
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_parser/src/lexer/buffered_lexer.rs
  crates/rome_js_parser/src/lib.rs
  crates/rome_js_parser/src/syntax/assignment.rs
  crates/rome_js_parser/src/syntax/auxiliary.rs
  crates/rome_js_parser/src/syntax/binding.rs
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/src/syntax/jsx/mod.rs
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/src/syntax/object.rs
  crates/rome_js_parser/src/syntax/pattern.rs
  crates/rome_js_parser/src/syntax/program.rs
  crates/rome_js_parser/src/syntax/stmt.rs
  crates/rome_js_parser/src/syntax/typescript.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
  crates/rome_js_parser/src/tests.rs
  crates/rome_js_parser/test_data/inline/err/ts_decorator_constructor.rast
  crates/rome_js_parser/test_data/inline/err/ts_decorator_constructor.ts
  crates/rome_js_parser/test_data/inline/err/ts_decorator_object.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_ambient_function.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_arrow_function.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_class_method.rast
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_class_method.ts
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_class_setter.rast
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_class_setter.ts
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_constructor_type.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_function.rast
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_function.ts
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_function_declaration.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_function_expression.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_function_type.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_on_signature_member.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_this_parameter.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_this_parameter_option.options.json
  crates/rome_js_parser/test_data/inline/err/ts_decorator_this_parameter_option.rast
  crates/rome_js_parser/test_data/inline/err/ts_decorator_this_parameter_option.ts
  crates/rome_js_parser/test_data/inline/err/ts_definite_variable_with_initializer.rast
  crates/rome_js_parser/test_data/inline/err/ts_definite_variable_with_initializer.ts
  crates/rome_js_parser/test_data/inline/err/ts_formal_parameter_decorator.options.json
  crates/rome_js_parser/test_data/inline/err/ts_formal_parameter_decorator_option.rast
  crates/rome_js_parser/test_data/inline/err/ts_formal_parameter_decorator_option.ts
  crates/rome_js_parser/test_data/inline/ok/ts_decorator_constructor.options.json
  crates/rome_js_parser/test_data/inline/ok/ts_decorator_on_class_method.options.json
  crates/rome_js_parser/test_data/inline/ok/ts_decorator_on_class_setter.options.json
  crates/rome_js_parser/test_data/inline/ok/ts_formal_parameter_decorator.options.json
  xtask/bench/src/language.rs
  xtask/codegen/src/parser_tests.rs
Labels: A-Parser, A-Tooling

#4659 chore: upgrade `bpaf`
  Cargo.lock
  Cargo.toml
  crates/rome_cli/src/commands/mod.rs
  crates/rome_cli/src/lib.rs
  crates/rome_cli/src/main.rs
  crates/rome_cli/tests/cases/config_extends.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/commands/ci.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/commands/init.rs
  crates/rome_cli/tests/commands/lint.rs
  crates/rome_cli/tests/commands/lsp_proxy.rs
  crates/rome_cli/tests/commands/migrate.rs
  crates/rome_cli/tests/commands/rage.rs
  crates/rome_cli/tests/commands/version.rs
  crates/rome_cli/tests/main.rs
  crates/rome_cli/tests/snapshots/main_commands_check/check_help.snap
  crates/rome_cli/tests/snapshots/main_commands_check/files_max_size_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/ci_help.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/files_max_size_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_format/files_max_size_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_format/format_help.snap
  crates/rome_cli/tests/snapshots/main_commands_format/indent_size_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/main_commands_format/indent_size_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/main_commands_format/indent_style_parse_errors.snap
  crates/rome_cli/tests/snapshots/main_commands_format/line_width_parse_errors_negative.snap
  crates/rome_cli/tests/snapshots/main_commands_format/line_width_parse_errors_overflow.snap
  crates/rome_cli/tests/snapshots/main_commands_format/quote_properties_parse_errors_letter_case.snap
  crates/rome_cli/tests/snapshots/main_commands_format/trailing_comma_parse_errors.snap
  crates/rome_cli/tests/snapshots/main_commands_format/with_invalid_semicolons_option.snap
  crates/rome_cli/tests/snapshots/main_commands_init/init_help.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/check_help.snap
  crates/rome_cli/tests/snapshots/main_commands_lint/files_max_size_parse_error.snap
  crates/rome_cli/tests/snapshots/main_commands_lsp_proxy/lsp_proxy_help.snap
  crates/rome_cli/tests/snapshots/main_commands_migrate/migrate_help.snap
  crates/rome_cli/tests/snapshots/main_commands_version/version_ok.snap
Labels: A-CLI

#4657 feat(rome_js_analyze): new lint rule `noExcessiveComplexity`
  crates/rome_analyze/CONTRIBUTING.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/correctness/use_yield.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_excessive_complexity.rs
  crates/rome_js_analyze/src/options.rs
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/booleanOperators.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/booleanOperators.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/booleanOperators.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/booleanOperators2.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/booleanOperators2.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/booleanOperators2.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/complexEventHandler.ts
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/complexEventHandler.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/excessiveNesting.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/excessiveNesting.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/functionalChain.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/functionalChain.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/functionalChain.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/getWords.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/getWords.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/getWords.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/invalidConfig.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/invalidConfig.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/invalidConfig.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/lambdas.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/lambdas.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/lambdas.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/nestedControlFlowStructures.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/nestedControlFlowStructures.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/nestedControlFlowStructures.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/simpleBranches.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/simpleBranches.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/simpleBranches.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/simpleBranches2.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/simpleBranches2.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/simpleBranches2.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/sumOfPrimes.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/sumOfPrimes.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/sumOfPrimes.options.json
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noExcessiveComplexity/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/malformedOptions.js.snap
  crates/rome_js_parser/Cargo.toml
  crates/rome_js_syntax/src/function_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noExcessiveComplexity.md
Labels: A-Linter, A-Parser, A-Project, A-Diagnostic

#4661 refactor(rome_service): better messaging for rule options
  crates/rome_js_analyze/src/analyzers/nursery/no_nonoctal_decimal_escape.rs
  crates/rome_js_analyze/src/options.rs
  crates/rome_js_analyze/tests/specs/nursery/useExhaustiveDependencies/malformedOptions.js.snap
  crates/rome_service/src/configuration/parse/json/linter.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  crates/rome_service/tests/invalid/hooks_incorrect_options.json
  crates/rome_service/tests/invalid/hooks_incorrect_options.json.snap
  crates/rome_service/tests/invalid/naming_convention_incorrect_options.json
  crates/rome_service/tests/invalid/naming_convention_incorrect_options.json.snap
  website/src/pages/lint/rules/noNonoctalDecimalEscape.md
  xtask/codegen/src/generate_configuration.rs
  xtask/lintdoc/src/main.rs
Labels: A-Linter, A-Tooling, A-Project

#4662 fix(rome_js_analyze): noUselessFragments use JsxString node when replacing JsxText
  CHANGELOG.md
  crates/rome_js_analyze/src/semantic_analyzers/complexity/no_useless_fragments.rs
  crates/rome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4639.jsx
  crates/rome_js_analyze/tests/specs/complexity/noUselessFragments/issue_4639.jsx.snap
Labels: A-Linter

#4626 feat(rome_js_analyze): noFallthroughSwitchClause
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_fallthrough_switch_clause.rs
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noFallthroughSwitchClause.md
Labels: A-Linter, A-CLI, A-Project, A-Diagnostic

#4663 fix(rome_js_analyze): noNonoctalDecimalEscape returns single diagnostic
  crates/rome_js_analyze/src/analyzers/nursery/no_nonoctal_decimal_escape.rs
  crates/rome_js_analyze/tests/specs/nursery/noNonoctalDecimalEscape/invalid.js.snap
  website/src/pages/lint/rules/noNonoctalDecimalEscape.md
Labels: A-Linter

#4672 chore: add more cases to `noSelfAssign`
  crates/rome_js_analyze/src/analyzers/nursery/no_self_assign.rs
  crates/rome_js_analyze/src/lib.rs
  crates/rome_js_analyze/tests/specs/nursery/noSelfAssign/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noSelfAssign/invalid.js.snap
  website/src/pages/lint/rules/noSelfAssign.md
Labels: A-Linter

#4665 chore(new-lintrule): improve category generation to avoid git conflicts
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/a11y.rs
  crates/rome_js_analyze/src/analyzers/complexity.rs
  crates/rome_js_analyze/src/analyzers/correctness.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/performance.rs
  crates/rome_js_analyze/src/analyzers/style.rs
  crates/rome_js_analyze/src/analyzers/suspicious.rs
  crates/rome_js_analyze/src/aria_analyzers/a11y.rs
  crates/rome_js_analyze/src/aria_analyzers/nursery.rs
  crates/rome_js_analyze/src/assists/correctness.rs
  crates/rome_js_analyze/src/semantic_analyzers/a11y.rs
  crates/rome_js_analyze/src/semantic_analyzers/complexity.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/security.rs
  crates/rome_js_analyze/src/semantic_analyzers/style.rs
  crates/rome_js_analyze/src/semantic_analyzers/suspicious.rs
  crates/rome_js_analyze/src/syntax/nursery.rs
  crates/rome_json_analyze/src/analyzers/nursery.rs
  npm/backend-jsonrpc/src/workspace.ts
  xtask/codegen/src/generate_analyzer.rs
  xtask/codegen/src/generate_new_lintrule.rs
Labels: A-Linter, A-Tooling, A-Diagnostic

#4675 fix(rome_js_analyze): skip `this` reference identifier in the semantic analyzer
  CHANGELOG.md
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariables.ts
  crates/rome_js_analyze/tests/specs/correctness/noUndeclaredVariables/noUndeclaredVariables.ts.snap
  crates/rome_js_semantic/src/events.rs
Labels: A-Linter

#4680 fix(rome_js_parser): Crash at empty default export #4670
  CHANGELOG.md
  crates/rome_js_parser/src/syntax/module.rs
  crates/rome_js_parser/test_data/inline/err/export_default_expression_broken.js
  crates/rome_js_parser/test_data/inline/err/export_default_expression_broken.rast
Labels: A-Parser

#4692 feat(rome_js_analyze): `useLiteralKeys` handle string literal properties
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_keys.rs
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/valid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralKeys/valid.ts.snap
  crates/rome_js_formatter/src/js/assignments/computed_member_assignment.rs
  crates/rome_js_formatter/src/js/expressions/computed_member_expression.rs
  crates/rome_js_formatter/src/js/expressions/static_member_expression.rs
  crates/rome_js_syntax/src/expr_ext.rs
  website/src/pages/lint/rules/useLiteralKeys.md
Labels: A-Linter, A-Formatter, A-Parser

#4694 fix(rome_js_analtzer): semantic analyzer handles ts export declaration clause correctly
  CHANGELOG.md
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/validExport.ts
  crates/rome_js_analyze/tests/specs/correctness/noUnusedVariables/validExport.ts.snap
  crates/rome_js_semantic/src/events.rs
Labels: A-Linter

#4696 feat: transformations
  Cargo.lock
  crates/rome_analyze/src/categories.rs
  crates/rome_analyze/src/rule.rs
  crates/rome_analyze/src/services.rs
  crates/rome_analyze/src/signals.rs
  crates/rome_js_formatter/src/utils/string_utils.rs
  crates/rome_js_syntax/Cargo.toml
  crates/rome_js_transform/Cargo.toml
  crates/rome_js_transform/src/declare_transformation.rs
  crates/rome_js_transform/src/lib.rs
  crates/rome_js_transform/src/registry.rs
  crates/rome_js_transform/src/transformers/mod.rs
  crates/rome_js_transform/src/transformers/ts_enum.rs
  crates/rome_parser/src/lib.rs
  crates/rome_rowan/src/file_source.rs
  npm/backend-jsonrpc/src/workspace.ts
Labels: A-Linter, A-Core, A-Formatter, A-Parser

#4693 feat(rome_js_analyze): noUselessEmptyExport
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_useless_empty_export.rs
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_default_export.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_default_export.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_empty_export.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_empty_export.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_export.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_export.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_export_from.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_export_from.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_import.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_import.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_sideeffect_import.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/invalid_with_sideeffect_import.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/valid_empty_export.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/valid_empty_export.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/valid_export.js
  crates/rome_js_analyze/tests/specs/nursery/noUselessEmptyExport/valid_export.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/frontend-scripts/mobile.ts
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noUselessEmptyExport.md
Labels: A-Linter, A-Project, A-Diagnostic

#4695 refactor(rome_js_analyze): noFallthroughSwitchClause handle block statements
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/nursery/no_fallthrough_switch_clause.rs
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noFallthroughSwitchClause/valid.js.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noFallthroughSwitchClause.md
Labels: A-Linter, A-Project

#4698 refactor(rome_js_analyze): handle string literal names in useNamingCo…
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_keys.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_analyze/tests/specs/nursery/useNamingConvention/invalidClassProperty.js
  crates/rome_js_analyze/tests/specs/nursery/useNamingConvention/invalidClassProperty.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useNamingConvention/validClassProperty.js
  crates/rome_js_analyze/tests/specs/nursery/useNamingConvention/validClassProperty.js.snap
  crates/rome_js_unicode_table/src/lib.rs
Labels: A-Linter

#4656 feat(rome_js_analyze): noControlCharactersInRegex
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/analyzers/nursery.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_control_characters_in_regex.rs
  crates/rome_js_analyze/tests/specs/nursery/noControlCharactersInRegex/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/noControlCharactersInRegex/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/noControlCharactersInRegex/valid.js
  crates/rome_js_analyze/tests/specs/nursery/noControlCharactersInRegex/valid.js.snap
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noControlCharactersInRegex.md
Labels: A-Linter, A-Parser, A-Project, A-Diagnostic

#4705 chore: revert the `cli.mdx`
  website/src/pages/cli.mdx
  xtask/codegen/src/generate_website.rs
Labels: A-Tooling

#4701 feat(rome_js_analyze): useIsArray
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_formatter/src/comments/builder.rs
  crates/rome_js_analyze/src/analyzers/a11y/no_auto_focus.rs
  crates/rome_js_analyze/src/analyzers/complexity/no_useless_label.rs
  crates/rome_js_analyze/src/analyzers/complexity/no_useless_rename.rs
  crates/rome_js_analyze/src/analyzers/complexity/no_useless_switch_case.rs
  crates/rome_js_analyze/src/analyzers/complexity/use_optional_chain.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_new_symbol.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_switch_declarations.rs
  crates/rome_js_analyze/src/analyzers/correctness/no_unnecessary_continue.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_grouped_type_import.rs
  crates/rome_js_analyze/src/analyzers/style/no_implicit_boolean.rs
  crates/rome_js_analyze/src/analyzers/style/no_inferrable_types.rs
  crates/rome_js_analyze/src/analyzers/style/use_block_statements.rs
  crates/rome_js_analyze/src/analyzers/style/use_default_parameter_last.rs
  crates/rome_js_analyze/src/analyzers/style/use_self_closing_elements.rs
  crates/rome_js_analyze/src/analyzers/style/use_shorthand_array_type.rs
  crates/rome_js_analyze/src/analyzers/style/use_single_case_statement.rs
  crates/rome_js_analyze/src/analyzers/style/use_single_var_declarator.rs
  crates/rome_js_analyze/src/analyzers/style/use_template.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_assign_in_expressions.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_comment_text.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_const_enum.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_sparse_array.rs
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_is_array.rs
  crates/rome_js_analyze/tests/specs/nursery/useIsArray/invalid.js
  crates/rome_js_analyze/tests/specs/nursery/useIsArray/invalid.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useIsArray/valid-shadowing.js
  crates/rome_js_analyze/tests/specs/nursery/useIsArray/valid-shadowing.js.snap
  crates/rome_js_analyze/tests/specs/nursery/useIsArray/valid.js
  crates/rome_js_analyze/tests/specs/nursery/useIsArray/valid.js.snap
  crates/rome_js_formatter/src/syntax_rewriter.rs
  crates/rome_js_syntax/src/binding_ext.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/parameter_ext.rs
  crates/rome_js_transform/src/transformers/ts_enum.rs
  crates/rome_rowan/src/ast/batch.rs
  crates/rome_rowan/src/ast/mod.rs
  crates/rome_rowan/src/green/trivia.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax.rs
  crates/rome_rowan/src/syntax/node.rs
  crates/rome_rowan/src/syntax/rewriter.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/syntax/trivia.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/useIsArray.md
  xtask/codegen/src/generate_bindings.rs
  xtask/codegen/src/parser_tests.rs
Labels: A-Linter, A-Core, A-Formatter, A-Parser, A-Tooling, A-Project, A-Diagnostic

#4707 refactor(rome_js_analyze): handle globalThis for `noNewSymbol`
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/correctness.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_new_symbol.rs
  crates/rome_js_analyze/tests/specs/correctness/noNewSymbol/invalid.jsonc
  crates/rome_js_analyze/tests/specs/correctness/noNewSymbol/invalid.jsonc.snap
  crates/rome_service/src/configuration/linter/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noNewSymbol.md
Labels: A-Linter, A-Project

#4704 fix(rome_js_formatter): improve handling of arrow parentheses
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
  crates/rome_js_formatter/tests/quick_test.rs
  crates/rome_js_formatter/tests/specs/ts/arrow/arrow_parentheses.ts
  crates/rome_js_formatter/tests/specs/ts/arrow/arrow_parentheses.ts.snap
  crates/rome_js_formatter/tests/specs/ts/arrow/options.json
Labels: A-Formatter

#4709 fix(rome_js_analyze): fix a false positive for `noDuplicateCase`
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateCase/valid.js
  crates/rome_js_analyze/tests/specs/suspicious/noDuplicateCase/valid.js.snap
  crates/rome_js_syntax/src/lib.rs
Labels: A-Linter, A-Parser

#4715 fix(rome_cli): correctly check for organize imports support
  crates/rome_cli/src/execute/traverse.rs
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/applies_organize_imports_from_cli.snap
Labels: A-CLI

#4714 feat: 🎸 allow comments in json file
  Cargo.toml
  crates/rome_cli/src/execute/migrate.rs
  crates/rome_cli/src/execute/traverse.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/commands/init.rs
  crates/rome_cli/tests/snap_test.rs
  crates/rome_cli/tests/snapshots/main_commands_format/ignore_comments_error_when_allow_comments.snap
  crates/rome_css_parser/Cargo.toml
  crates/rome_deserialize/src/json.rs
  crates/rome_json_analyze/src/lib.rs
  crates/rome_json_analyze/tests/spec_tests.rs
  crates/rome_json_formatter/src/lib.rs
  crates/rome_json_formatter/tests/language.rs
  crates/rome_json_formatter/tests/quick_test.rs
  crates/rome_json_parser/src/lexer/mod.rs
  crates/rome_json_parser/src/lib.rs
  crates/rome_json_parser/src/parser.rs
  crates/rome_json_parser/src/token_source.rs
  crates/rome_json_parser/tests/json_test_suite/allow_comments/basic.json
  crates/rome_json_parser/tests/json_test_suite/allow_comments/basic.json.snap
  crates/rome_json_parser/tests/spec_test.rs
  crates/rome_json_parser/tests/spec_tests.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_migrate/src/lib.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/json.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/configuration/parse/json/configuration.rs
  crates/rome_service/src/configuration/parse/json/javascript.rs
  crates/rome_service/src/configuration/parse/json/json_configuration.rs
  crates/rome_service/src/configuration/parse/json/mod.rs
  crates/rome_service/src/configuration/string_set.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/settings.rs
  crates/rome_service/tests/invalid/top_level_extraneous_field.json.snap
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  xtask/bench/src/language.rs
  xtask/codegen/src/generate_schema.rs
  xtask/lintdoc/src/main.rs
Labels: A-Linter, A-Formatter, A-CLI, A-Parser, A-Tooling, A-Project

#4716 fix(rome_js_formatter): properly retain parentheses in body
  crates/rome_js_formatter/src/js/expressions/arrow_function_expression.rs
Labels: A-Formatter

#4718 feat(rome_formatter): add support to format comments
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/rome_cli/tests/snapshots/main_commands_format/ignore_comments_error_when_allow_comments.snap
  crates/rome_formatter/src/comments.rs
  crates/rome_formatter_test/src/check_reformat.rs
  crates/rome_js_formatter/src/comments.rs
  crates/rome_js_formatter/src/lib.rs
  crates/rome_js_formatter/tests/quick_test.rs
  crates/rome_json_formatter/Cargo.toml
  crates/rome_json_formatter/src/comments.rs
  crates/rome_json_formatter/src/context.rs
  crates/rome_json_formatter/src/json/value/object_value.rs
  crates/rome_json_formatter/src/lib.rs
  crates/rome_json_formatter/tests/language.rs
  crates/rome_json_formatter/tests/quick_test.rs
  crates/rome_json_formatter/tests/specs/json/comments/multiline.json
  crates/rome_json_formatter/tests/specs/json/comments/multiline.json.snap
  crates/rome_json_formatter/tests/specs/prettier/json/with-comment/block-comment.json.snap
  crates/rome_json_formatter/tests/specs/prettier/json/with-comment/line-comment.json.snap
  crates/rome_json_formatter/tests/specs/prettier/json/with-comment/top-block-comment.json.snap
  crates/rome_json_parser/src/parser.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_suppression/Cargo.toml
  crates/rome_suppression/README.md
  crates/rome_suppression/src/lib.rs
  justfile
  website/package.json
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/types.ts
  website/src/playground/workers/romeWorker.ts
Labels: A-Website, A-Core, A-Formatter, A-CLI, L-JavaScript, A-Parser, A-Project, L-JSON

#4712 feat(rome_css_parser): CSS lexer number and ident #4682
  crates/rome_css_parser/src/lexer/mod.rs
  crates/rome_css_parser/src/lexer/tests.rs
  crates/rome_css_syntax/src/generated/kind.rs
  xtask/codegen/src/css_kinds_src.rs
Labels: L-CSS, A-Parser, A-Tooling

#4719 chore: test infra for transformations
  Cargo.lock
  Cargo.toml
  crates/rome_analyze/src/lib.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/tests/spec_tests.rs
  crates/rome_js_syntax/src/file_source.rs
  crates/rome_js_transform/Cargo.toml
  crates/rome_js_transform/src/declare_transformation.rs
  crates/rome_js_transform/src/lib.rs
  crates/rome_js_transform/src/transformers/ts_enum.rs
  crates/rome_js_transform/tests/spec_tests.rs
  crates/rome_js_transform/tests/specs/transformEnum/index.ts
  crates/rome_js_transform/tests/specs/transformEnum/index.ts.snap
  crates/rome_json_analyze/Cargo.toml
  crates/rome_json_analyze/tests/spec_tests.rs
  crates/rome_test_utils/Cargo.toml
  crates/rome_test_utils/src/lib.rs
  justfile
Labels: A-Linter, L-JavaScript, A-Parser, L-JSON

#4720 feat(rome_js_analyze): relax `useLiteralEnumMembers`
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_enum_members.rs
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/useLiteralEnumMembers/valid.ts.snap
  crates/rome_js_syntax/src/expr_ext.rs
  website/src/pages/lint/rules/useLiteralEnumMembers.md
Labels: A-Website, A-Linter, L-JavaScript, A-Parser

#4723 feat(rome_js_analyze): add options to `noRestrictedGlobals`
  Cargo.lock
  crates/rome_cli/src/vcs.rs
  crates/rome_deserialize/Cargo.toml
  crates/rome_deserialize/src/json.rs
  crates/rome_deserialize/src/lib.rs
  crates/rome_deserialize/src/string_set.rs
  crates/rome_diagnostics/src/adapters.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_analyze/src/analyzers/nursery/no_excessive_complexity.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_import_restrictions.rs
  crates/rome_js_analyze/src/options.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_restricted_globals.rs
  crates/rome_js_analyze/tests/specs/style/noRestrictedGlobals/additionalGlobal.js
  crates/rome_js_analyze/tests/specs/style/noRestrictedGlobals/additionalGlobal.js.snap
  crates/rome_js_analyze/tests/specs/style/noRestrictedGlobals/additionalGlobal.options.json
  crates/rome_service/Cargo.toml
  crates/rome_service/src/configuration/formatter.rs
  crates/rome_service/src/configuration/javascript.rs
  crates/rome_service/src/configuration/json.rs
  crates/rome_service/src/configuration/linter/mod.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/configuration/organize_imports.rs
  crates/rome_service/src/configuration/parse/json/configuration.rs
  crates/rome_service/src/configuration/parse/json/files.rs
  crates/rome_service/src/configuration/parse/json/formatter.rs
  crates/rome_service/src/configuration/parse/json/javascript.rs
  crates/rome_service/src/configuration/parse/json/linter.rs
  crates/rome_service/src/configuration/parse/json/organize_imports.rs
  crates/rome_service/src/configuration/vcs.rs
  crates/rome_service/src/file_handlers/javascript.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/src/lib.rs
  crates/rome_service/src/workspace.rs
  crates/rome_wasm/Cargo.toml
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/pages/lint/rules/noRestrictedGlobals.md
  website/src/pages/lint/rules/useImportRestrictions.md
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_configuration.rs
Labels: A-Website, A-Linter, A-CLI, L-JavaScript, A-Tooling, A-Project, A-Diagnostic

#4726 refactor(rome_rowan): rework SyntaxTokenText into TokenText
  crates/rome_deserialize/src/json.rs
  crates/rome_formatter/src/builders.rs
  crates/rome_formatter/src/format_element.rs
  crates/rome_formatter/src/format_element/document.rs
  crates/rome_formatter/src/printer/mod.rs
  crates/rome_formatter/src/source_map.rs
  crates/rome_formatter/src/trivia.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_import_restrictions.rs
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/rome_js_formatter/src/utils/jsx.rs
  crates/rome_js_formatter/src/utils/test_call.rs
  crates/rome_js_semantic/src/events.rs
  crates/rome_js_semantic/src/semantic_model/scope.rs
  crates/rome_js_syntax/src/directive_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_json_syntax/src/member_ext.rs
  crates/rome_json_syntax/src/string_ext.rs
  crates/rome_rowan/src/cursor/token.rs
  crates/rome_rowan/src/lib.rs
  crates/rome_rowan/src/syntax/token.rs
  crates/rome_rowan/src/token_text.rs
Labels: A-Linter, A-Core, A-Formatter, L-JavaScript, A-Parser, L-JSON

#4730 feat(rome_lsp): send message to the client
  CHANGELOG.md
  crates/rome_lsp/src/diagnostics.rs
  crates/rome_lsp/src/handlers/formatting.rs
  crates/rome_lsp/src/lib.rs
  crates/rome_lsp/src/server.rs
  crates/rome_service/src/diagnostics.rs
  crates/rome_service/src/snapshots/file_ignored.snap
Labels: A-LSP, A-Project

#4731 refactor(rome_syntax): improve `inner_string_text`
  crates/rome_js_analyze/src/analyzers/a11y/no_blank_target.rs
  crates/rome_js_analyze/src/analyzers/a11y/use_alt_text.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_control_characters_in_regex.rs
  crates/rome_js_analyze/src/analyzers/nursery/no_self_assign.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_enum_members.rs
  crates/rome_js_analyze/src/analyzers/nursery/use_literal_keys.rs
  crates/rome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_class_members.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_duplicate_object_keys.rs
  crates/rome_js_analyze/src/analyzers/suspicious/no_prototype_builtins.rs
  crates/rome_js_analyze/src/aria_services.rs
  crates/rome_js_analyze/src/react.rs
  crates/rome_js_analyze/src/react/hooks.rs
  crates/rome_js_analyze/src/semantic_analyzers/correctness/no_global_object_calls.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_analyze/src/semantic_analyzers/style/no_shouty_constants.rs
  crates/rome_js_analyze/src/utils.rs
  crates/rome_js_factory/src/make.rs
  crates/rome_js_formatter/src/js/expressions/call_arguments.rs
  crates/rome_js_syntax/src/directive_ext.rs
  crates/rome_js_syntax/src/expr_ext.rs
  crates/rome_js_syntax/src/import_ext.rs
  crates/rome_js_syntax/src/jsx_ext.rs
  crates/rome_js_syntax/src/lib.rs
  crates/rome_js_syntax/src/static_value.rs
  crates/rome_json_syntax/src/lib.rs
  crates/rome_json_syntax/src/member_ext.rs
  crates/rome_json_syntax/src/string_ext.rs
Labels: A-Linter, A-Formatter, L-JavaScript, A-Parser, L-JSON

#4735 fix: image urls are broken in meta tags
  website/src/layouts/BaseLayout.astro
Labels: A-Website

#4736 feat(rome_js_analyze): noUnsafeDeclarationMerging
  CHANGELOG.md
  crates/rome_diagnostics_categories/src/categories.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/no_unsafe_declaration_merging.rs
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/invalid.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/valid.ts
  crates/rome_js_analyze/tests/specs/nursery/noUnsafeDeclarationMerging/valid.ts.snap
  crates/rome_js_semantic/src/events.rs
  crates/rome_service/src/configuration/linter/rules.rs
  crates/rome_service/src/configuration/parse/json/rules.rs
  editors/vscode/configuration_schema.json
  npm/backend-jsonrpc/src/workspace.ts
  npm/rome/configuration_schema.json
  website/src/components/generated/NumberOfRules.astro
  website/src/pages/lint/rules/index.mdx
  website/src/pages/lint/rules/noUnsafeDeclarationMerging.md
Labels: A-Website, A-Linter, L-JavaScript, A-Project, A-Diagnostic

#4738 refactor(rome_js_semantic): deduplicate code
  crates/rome_js_semantic/src/events.rs
Labels: L-JavaScript

#4734 feat: add support for `.jsonc` files
  .github/workflows/pull_request.yml
  Cargo.toml
  crates/rome_cli/src/configuration.rs
  crates/rome_cli/tests/commands/format.rs
  crates/rome_cli/tests/snapshots/main_commands_format/format_jsonc_files.snap
  crates/rome_cli/tests/snapshots/main_commands_format/treat_known_json_files_as_jsonc_files.snap
  crates/rome_cli/tests/snapshots/main_commands_format/treats_typescript_json_like_jsonc.snap
  crates/rome_css_parser/Cargo.toml
  crates/rome_deserialize/src/json.rs
  crates/rome_js_analyze/Cargo.toml
  crates/rome_js_transform/Cargo.toml
  crates/rome_json_analyze/Cargo.toml
  crates/rome_json_syntax/src/file_source.rs
  crates/rome_service/src/configuration/diagnostics.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/json.rs
  crates/rome_service/src/file_handlers/mod.rs
  crates/rome_service/tests/spec_tests.rs
  crates/rome_test_utils/Cargo.toml
  crates/rome_test_utils/src/lib.rs
  justfile
Labels: A-Linter, A-CLI, L-JavaScript, L-CSS, A-Parser, A-Project, L-JSON

#4733 refactor(rome_js_analyze): improve `useEnumInitializers`
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/style/use_enum_initializers.rs
  crates/rome_js_analyze/tests/specs/style/useEnumInitializers/invalid.ts
  crates/rome_js_analyze/tests/specs/style/useEnumInitializers/invalid.ts.snap
  crates/rome_js_analyze/tests/specs/style/useEnumInitializers/valid.ts
  crates/rome_js_analyze/tests/specs/style/useEnumInitializers/valid.ts.snap
  website/src/pages/lint/rules/useEnumInitializers.md
Labels: A-Website, A-Linter, L-JavaScript

#4725 Group organized imports by distance
  crates/rome_cli/tests/commands/check.rs
  crates/rome_cli/tests/snapshots/main_commands_check/applies_organize_imports.snap
  crates/rome_cli/tests/snapshots/main_commands_check/applies_organize_imports_from_cli.snap
  crates/rome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check.snap
  crates/rome_cli/tests/snapshots/main_commands_check/shows_organize_imports_diff_on_check_apply.snap
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/groups.js
  crates/rome_js_analyze/tests/specs/correctness/organizeImports/groups.js.snap
  editors/vscode/src/commands/syntaxTree.ts
  editors/vscode/src/main.ts
  editors/vscode/src/session.ts
  editors/vscode/src/statusBar.ts
  npm/js-api/src/index.ts
  npm/js-api/tests/formatContent.test.ts
  npm/js-api/tests/lintContent.test.ts
  npm/js-api/tests/printDiagnostics.test.ts
  website/astro.config.ts
  website/src/frontend-scripts/docsearch.ts
  website/src/playground/CodeMirror.tsx
  website/src/playground/Collapsible.tsx
  website/src/playground/Playground.tsx
  website/src/playground/PlaygroundLoader.tsx
  website/src/playground/components/DiagnosticsPane.tsx
  website/src/playground/components/Resizable.tsx
  website/src/playground/components/SettingsPanel.tsx
  website/src/playground/components/Tabs.tsx
  website/src/playground/main.tsx
  website/src/playground/tabs/ControlFlowTab.tsx
  website/src/playground/tabs/DiagnosticsListTab.tsx
  website/src/playground/tabs/FormatterCodeTab.tsx
  website/src/playground/tabs/FormatterIrTab.tsx
  website/src/playground/tabs/SettingsTab.tsx
  website/src/playground/tabs/SyntaxTab.tsx
  website/src/playground/utils.ts
  website/src/playground/workers/prettierWorker.ts
  website/src/playground/workers/romeWorker.ts
Labels: A-Website, A-Linter, A-CLI, L-JavaScript, L-JSON

#4744 refactor(rome_js_analyze): handle ambient declarations in noInnerDecl…
  CHANGELOG.md
  crates/rome_js_analyze/src/analyzers/correctness/no_inner_declarations.rs
  crates/rome_js_analyze/tests/specs/correctness/noInnerDeclarations/valid-moduke.ts
  crates/rome_js_analyze/tests/specs/correctness/noInnerDeclarations/valid-moduke.ts.snap
Labels: A-Linter, L-JavaScript
