Repository rome/tools, pull requests merged in 2023-01, with the labels that each got.

#4123 refactor(rome_js_parser): Inroduce TypeContext
  crates/rome_js_parser/src/state.rs
  crates/rome_js_parser/src/syntax/class.rs
  crates/rome_js_parser/src/syntax/expr.rs
  crates/rome_js_parser/src/syntax/function.rs
  crates/rome_js_parser/src/syntax/object.rs
  crates/rome_js_parser/src/syntax/stmt.rs
  crates/rome_js_parser/src/syntax/typescript.rs
  crates/rome_js_parser/src/syntax/typescript/statement.rs
  crates/rome_js_parser/src/syntax/typescript/types.rs
Labels: L-JavaScript, A-parser

#4088 docs(useIsNan): promote `Number.isNaN` instead of `isNaN`
  crates/rome_js_analyze/src/analyzers/nursery/use_is_nan.rs
  crates/rome_js_analyze/tests/specs/nursery/useIsNan/invalid.js.snap
  website/src/pages/lint/rules/useIsNan.md
Labels: S-Stale

#4133 feat(rome_cli): Enable JSON formatting
  Cargo.lock
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_init/creates_config_file.snap
  crates/rome_cli/tests/snapshots/main_commands_init/creates_config_file_when_rome_installed_via_package_manager.snap
  crates/rome_fs/src/fs/os.rs
  crates/rome_service/src/configuration/mod.rs
  crates/rome_service/src/file_handlers/json.rs
  editors/vscode/configuration_schema.json
  editors/vscode/rome_syntax_tree.tmGrammar.json
  editors/vscode/src/main.ts
  npm/rome/configuration_schema.json
  npm/rome/scripts/generate-packages.mjs
  rome.json
  website/src/navigation.json
  website/src/pages/internals/language_support.mdx
  xtask/codegen/Cargo.toml
  xtask/codegen/src/generate_schema.rs
Labels: A-Formatter, A-CLI, L-JSON, A-Editors

#4146 feat(vscode): enable JSON formatting
  crates/rome_fs/src/fs/os.rs
  editors/vscode/package-lock.json
  editors/vscode/package.json
  npm/js-api/tests/formatContent.test.ts
  npm/js-api/tsconfig.json
Labels: E-VScode, A-Editors
