Repository rome/tools, pull requests merged in 2023-08, with the labels that each got.

#4749 Generate new lintrule
  xtask/codegen/src/generate_new_lintrule.rs
Labels: L-JavaScript, A-Tooling

#4754 feat: enable organize imports by default
  crates/rome_cli/tests/configs.rs
  crates/rome_cli/tests/snapshots/main_commands_check/deprecated_suppression_comment.snap
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_check/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large_cli_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_ci/file_too_large_config_limit.snap
  crates/rome_cli/tests/snapshots/main_commands_init/creates_config_file.snap
  crates/rome_cli/tests/snapshots/main_commands_init/creates_config_file_when_rome_installed_via_package_manager.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_configuration.snap
  crates/rome_cli/tests/snapshots/main_commands_rage/with_malformed_configuration.snap
  crates/rome_service/src/configuration/organize_imports.rs
  editors/vscode/configuration_schema.json
  npm/rome/configuration_schema.json
Labels: A-CLI, A-Project, PR-Needs documentation, PR-Needs changelog line

#4759 feat(rome_js_analyze): update linter logic for using declaration
  crates/rome_js_analyze/src/analyzers/style/use_single_var_declarator.rs
  crates/rome_js_analyze/src/semantic_analyzers/nursery/use_naming_convention.rs
  crates/rome_js_formatter/src/js/declarations/for_variable_declaration.rs
  crates/rome_js_formatter/src/js/declarations/variable_declaration.rs
  crates/rome_js_syntax/src/stmt_ext.rs
Labels: A-Linter, A-Formatter, L-JavaScript, A-Parser

#4770 fix(docs): fix typo
  crates/rome_js_analyze/src/assists/correctness/organize_imports.rs
Labels: A-Linter, L-JavaScript

#4772 fix(noRedeclare): allow merging namespace + variable
  crates/rome_js_analyze/tests/specs/suspicious/noRedeclare/valid-declaration-merging.ts
  crates/rome_js_analyze/tests/specs/suspicious/noRedeclare/valid-declaration-merging.ts.snap
  crates/rome_js_syntax/src/binding_ext.rs
Labels: A-Linter, L-JavaScript, A-Parser

#4768 docs: fix typo
  website/src/pages/internals/versioning.mdx
Labels: A-Website
