Repository rome/tools, changes with the owners that CODEOWNERS names for each.
All owners: @rome/staff, @sebmck, @ematipico, @jer3m01, @bitpshr, @yassere, @yeonjuan, @EduardoLopes

feat(projecti, cli): remove .config folder
  internal/core/server/ServerRequest.test.ts
  internal/core/server/commands/init.ts
  internal/core/server/fs/MemoryFileSystem.ts
  internal/core/server/project/ProjectManager.test.ts
  internal/core/server/project/ProjectManager.ts
  internal/diagnostics/descriptions/projectManager.ts
  internal/project/constants.ts
  internal/project/utils.ts
Owners: @sebmck, @ematipico

feat(project, cli): remove .config folder (#1655)
  internal/core/server/ServerRequest.test.ts
  internal/core/server/commands/init.ts
  internal/core/server/fs/MemoryFileSystem.ts
  internal/core/server/project/ProjectManager.test.ts
  internal/core/server/project/ProjectManager.ts
  internal/diagnostics/descriptions/projectManager.ts
  internal/project/constants.ts
  internal/project/utils.ts
Owners: @sebmck, @ematipico

test: enabled integration tests
  internal/core/client/Client.test.md
  internal/core/server/ServerRequest.test.md
  internal/core/server/ServerRequest.test.ts
  internal/core/server/WorkerQueue.test.md
  internal/core/server/commands/check.test.md
  internal/core/server/commands/init.test.md
  internal/core/server/commands/init.test.ts
  internal/core/server/fs/RecoveryStore.test.md
  internal/core/server/fs/Resolver.test.md
  internal/core/server/lsp/LSPServer.test.md
  internal/core/server/lsp/LSPServer.test.ts
  internal/core/server/project/ProjectManager.test.md
  internal/core/server/project/ProjectManager.test.ts
  internal/core/server/project/ProjectManager.ts
  internal/diagnostics/descriptions/projectManager.ts
  internal/test-helpers/integration.ts
  internal/virtual-packages/rome/test.ts
Owners: @sebmck, @ematipico

chore: generated files
  internal/core/common/virtual-modules.ts
Owners: @sebmck, @ematipico

fix(project): remove old diagnostic, not needed anymore
  internal/core/server/project/ProjectManager.ts
  internal/diagnostics/descriptions/projectManager.ts
Owners: @sebmck, @ematipico

docs: remove .config folder from website
  internal/diagnostics/descriptions/projectManager.ts
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/project-config.md
Owners: @sebmck, @ematipico

fix(project): remove old diagnostic, not needed anymore (#1657)
  internal/core/server/project/ProjectManager.ts
  internal/diagnostics/descriptions/projectManager.ts
  website/src/_includes/docs/getting-started.md
  website/src/_includes/docs/project-config.md
Owners: @sebmck, @ematipico

test: teardown server before remove directories
  internal/test-helpers/integration.ts
Owners: @sebmck, @ematipico

test: enabled integration tests (#1656)
  internal/core/client/Client.test.md
  internal/core/common/virtual-modules.ts
  internal/core/server/ServerRequest.test.md
  internal/core/server/ServerRequest.test.ts
  internal/core/server/WorkerQueue.test.md
  internal/core/server/commands/check.test.md
  internal/core/server/commands/init.test.md
  internal/core/server/commands/init.test.ts
  internal/core/server/fs/RecoveryStore.test.md
  internal/core/server/fs/Resolver.test.md
  internal/core/server/lsp/LSPServer.test.md
  internal/core/server/lsp/LSPServer.test.ts
  internal/core/server/project/ProjectManager.test.md
  internal/core/server/project/ProjectManager.test.ts
  internal/test-helpers/integration.ts
  internal/virtual-packages/rome/test.ts
Owners: @sebmck, @ematipico

feat(css-prefix): add font support
  internal/compiler/transforms/compile/css-handler/prefix/index.ts
  internal/compiler/transforms/compile/css-handler/prefix/prefixes/font.ts
  internal/compiler/transforms/compile/test-fixtures/css-handler/prefix/font/input.css
  internal/compiler/transforms/compile/test-fixtures/css-handler/prefix/font/input.test.md
  website/src/docs/css-handler/prefix/font.md
Owners: @jer3m01, @sebmck, @ematipico

test: config command tests
  internal/core/common/bridges/ServerBridge.ts
  internal/core/server/commands/config.test.md
  internal/core/server/commands/config.test.ts
  internal/core/server/commands/config.ts
Owners: @sebmck, @ematipico

feat(css-prefix): rebase and run generate-all-files
  internal/compiler/transforms/compile/css-handler/prefix/index.ts
  internal/compiler/transforms/compile/css-handler/prefix/prefixes/font.ts
Owners: @jer3m01, @sebmck, @ematipico

fix(cli): handle push value to number values inside configuration
  internal/core/common/bridges/ServerBridge.ts
  internal/core/server/commands/config.test.md
  internal/core/server/commands/config.test.ts
  internal/core/server/commands/config.ts
Owners: @sebmck, @ematipico

test: config command tests
  internal/core/server/commands/config.test.ts
Owners: @ematipico

test: longer timeout
  internal/core/server/commands/config.test.md
  internal/core/server/commands/config.test.ts
  internal/test-helpers/integration.ts
Owners: @ematipico, @sebmck

test: config command tests (#1658)
  internal/core/common/bridges/ServerBridge.ts
  internal/core/server/commands/config.test.md
  internal/core/server/commands/config.test.ts
  internal/core/server/commands/config.ts
  internal/test-helpers/integration.ts
Owners: @sebmck, @ematipico

fix(integrations): use formatted content instead of content from file
  internal/core/worker/integrations/prettier.ts
  internal/core/worker/workerLint.ts
Owners: @sebmck, @ematipico

chore: lint
  internal/core/worker/integrations/prettier.ts
  internal/core/worker/workerLint.ts
Owners: @sebmck, @ematipico

fix(integrations): use formatted content instead of content from file (#1659)
  internal/core/worker/integrations/prettier.ts
  internal/core/worker/workerLint.ts
Owners: @sebmck, @ematipico

feat(js-parser): enable declare TypeScript modifier on a class's field
  internal/ast/js/classes/JSClassPropertyMeta.ts
  internal/ast/js/constants.ts
  internal/ast/js/typescript/TSPropertySignature.ts
  internal/diagnostics/descriptions/parsers/jsParser.ts
  internal/formatter/builders/js/classes/JSClassPropertyMeta.ts
  internal/js-parser/parser/classes.ts
  internal/js-parser/parser/lval.ts
  internal/js-parser/parser/typescript.ts
Owners: @sebmck, @ematipico

confirmation
  internal/core/client/commands.ts
  internal/core/client/commands/config.ts
  internal/core/server/commands/config.ts
Owners: @sebmck, @ematipico

Update website/src/_includes/docs/cli-commands.md
  website/src/_includes/docs/cli-commands.md
Owners: @sebmck, @ematipico

config pop/remove commands
  internal/core/common/commands.ts
  internal/core/server/commands.ts
  internal/core/server/commands/config.ts
Owners: @sebmck, @ematipico

Update internal/core/server/commands/config.ts
  internal/core/server/commands/config.ts
Owners: @ematipico

fix pop
  internal/core/server/commands/config.ts
  website/src/_includes/docs/cli-commands.md
Owners: @ematipico, @sebmck

docs
  website/src/_includes/docs/cli-commands.md
Owners: @sebmck, @ematipico

Update internal/core/client/commands/config.ts
  internal/core/client/commands/config.ts
Owners: @ematipico

add some examples and escape markups
  internal/core/client/commands/config.ts
  internal/core/server/commands/config.ts
  website/src/_includes/docs/cli-commands.md
Owners: @ematipico, @sebmck

lint
  internal/core/client/commands/config.ts
Owners: @ematipico

tests
  internal/core/server/commands/config.test.ts
Owners: @ematipico

Update internal/core/server/commands/config.ts
  internal/core/server/commands/config.ts
Owners: @ematipico

lint
  internal/core/server/commands/config.test.ts
Owners: @ematipico

fix(compiler): fix regex parsing of back reference characters (#1537)
  internal/codec-js-regexp/index.test.md
  internal/codec-js-regexp/index.test.ts
  internal/codec-js-regexp/index.ts
Owners: @sebmck, @ematipico

Address code review comments
  internal/codec-js-regexp/index.test.md
  internal/codec-js-regexp/index.test.ts
  internal/codec-js-regexp/index.ts
  internal/compiler/lint/rules/index.ts
  internal/compiler/lint/rules/regex/noDuplicateGroupNamesInRegularExpressions.test.md
  internal/compiler/lint/rules/regex/noReferenceToNonExistingGroup.test.md
  internal/compiler/lint/rules/regex/noReferenceToNonExistingGroup.test.ts
  internal/compiler/lint/rules/regex/noReferenceToNonExistingGroup.ts
  internal/diagnostics/categories.ts
  internal/diagnostics/descriptions/lint.ts
  internal/diagnostics/descriptions/parsers/regexp.ts
  website/src/docs/lint/rules/regex/noDuplicateGroupNamesInRegularExpressions.md
  website/src/docs/lint/rules/regex/noReferenceToNonExistingGroup.md
Owners: @sebmck, @ematipico

fix(compiler): fix regex parsing of back reference characters (#1537) (#1661)
  internal/codec-js-regexp/index.test.md
  internal/codec-js-regexp/index.test.ts
  internal/codec-js-regexp/index.ts
  internal/compiler/lint/rules/index.ts
  internal/compiler/lint/rules/regex/noDuplicateGroupNamesInRegularExpressions.test.md
  internal/compiler/lint/rules/regex/noReferenceToNonExistingGroup.test.md
  internal/compiler/lint/rules/regex/noReferenceToNonExistingGroup.test.ts
  internal/compiler/lint/rules/regex/noReferenceToNonExistingGroup.ts
  internal/diagnostics/categories.ts
  internal/diagnostics/descriptions/lint.ts
  internal/diagnostics/descriptions/parsers/regexp.ts
  website/src/docs/lint/rules/regex/noDuplicateGroupNamesInRegularExpressions.md
  website/src/docs/lint/rules/regex/noReferenceToNonExistingGroup.md
Owners: @sebmck, @ematipico

CODEOWNERS:

# The entire project is managed by the team

* @rome/staff

# The next sections address specific people that help to maintain particular packages inside the project

* @sebmck @ematipico

/internal/browser-features/* @jer3m01
/internal/browser-db/* @jer3m01
/internal/commit-parser/* @ematipico
/internal/compiler/lint/* @ematipico @bitpshr
/internal/compiler/transforms/compile/css-handler/prefix/* @jer3m01
/internal/codec-browsers/* @jer3m01
/internal/codec-js-manifest/* @ematipico
/internal/core/client/commands/* @ematipico
/internal/core/* @yassere
/internal/core/server/commands/* @ematipico
/internal/css-parser/* @ematipico @yeonjuan @bitpshr
/internal/html-parser/* @ematipico
/internal/markdown-parser/* @ematipico
/website/* @EduardoLopes
